<ng-template #passengerInfo>
    <ng-container *ngIf="updatePermission">
        <form
            [appPermission]="updatePermission"
            [formGroup]="passengerInfoForm"
            class="passenger-info-container"
        >
            <!-- first row -->
            <div class="row-container">
                <!-- first name  -->
                <div class="input-container">
                    <label htmlFor="firstName">First Name</label>
                    <input
                        pInputText
                        name="firstName"
                        label="First Name"
                        formControlName="firstName"
                    />
                </div>

                <!-- last name  -->
                <div class="input-container">
                    <label htmlFor="lastName">Last Name</label>
                    <input
                        pInputText
                        name="lastName"
                        label="Last Name"
                        formControlName="lastName"
                    />
                </div>
            </div>

            <!-- second row -->
            <div class="row-container">
                <!-- email -->
                <div class="input-container">
                    <label htmlFor="email">Guest Email</label>
                    <input
                        pInputText
                        name="email"
                        label="Email"
                        formControlName="email"
                    />
                </div>

                <!-- Phone -->
                <div class="input-container">
                    <label htmlFor="phone">Phone</label>
                    <p-inputMask
                        [mask]="masks.phoneNumber.mask"
                        [unmask]="true"
                        [autoClear]="false"
                        formControlName="phoneNumber"
                        id="phone"
                        name="phone"
                        type="text"
                        class="form-control form-control-custom"
                        autocomplete="off"
                    ></p-inputMask>
                </div>
            </div>
        </form>
    </ng-container>
</ng-template>

<div class="desktop">
    <ng-container *ngTemplateOutlet="passengerInfo"></ng-container>
</div>
<div class="mobile-passenger-info">
    <ng-container *ngIf="updatePermission">
        <button [appPermission]="updatePermission" (click)="showEditDialog()">
            <svg
                width="16"
                height="16"
                viewBox="0 0 16 16"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
            >
                <path
                    d="M13.5833 5.43758L10.0417 1.93758L11.2083 0.770915C11.5278 0.45147 11.9203 0.291748 12.3858 0.291748C12.8508 0.291748 13.2431 0.45147 13.5625 0.770915L14.7292 1.93758C15.0486 2.25703 15.2153 2.64258 15.2292 3.09425C15.2431 3.54536 15.0903 3.93064 14.7708 4.25008L13.5833 5.43758ZM12.375 6.66675L3.54167 15.5001H0V11.9584L8.83333 3.12508L12.375 6.66675Z"
                    fill="#053654"
                />
            </svg>
            <span>Edit Passenger Information</span>
        </button>
    </ng-container>

    <p-dialog
        [(visible)]="displayEditDialog"
        [modal]="true"
        [style]="{ width: '60vw', height: 'auto' }"
        styleClass="update-passenger-info-dialog"
        [breakpoints]="{ '720px': '95vw' }"
        [showHeader]="false"
        [draggable]="false"
        [resizable]="false"
        [dismissableMask]="true"
        position="center"
        appendTo="body"
    >
        <div class="modal-innter-container">
            <h2>Passenger Information</h2>

            <ng-container *ngTemplateOutlet="passengerInfo"></ng-container>
        </div>
    </p-dialog>
</div>
