<div class="table-container prime-table">
    <ng-container
        *ngIf="{
            bookings: bookings$ | async
        } as config"
    >
        <p-table
            #bookingTable
            [value]="config.bookings || []"
            [scrollable]="true"
            [tableStyle]="{ width: '100%' }"
            dataKey="bookingID"
            [rows]="50"
            [rowsPerPageOptions]="[50, 100, 200]"
            [paginator]="true"
            [showCurrentPageReport]="true"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [globalFilterFields]="[
                'orderID',
                'bookingNumber',
                'firstName',
                'lastName',
                'phoneNumber',
                'bookingEmail',
                'bookingDateString',
                'purchaseDateString',
                'agentsGuestEmail'
            ]"
            styleClass="booking-table"
            (sortFunction)="customSort($event)"
            [customSort]="true"
        >
            <ng-template pTemplate="header">
                <tr>
                    <th>Order ID</th>
                    <th>Booking Number</th>
                    <th pSortableColumn="purchaseDateString">
                        Purchase Date
                        <p-sortIcon field="purchaseDateString"></p-sortIcon>
                    </th>
                    <th pSortableColumn="bookingDateString">
                        Booking Date
                        <p-sortIcon field="bookingDateString"></p-sortIcon>
                    </th>
                    <th>Tour</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Guest Email</th>
                    <th>Phone Number</th>
                    <th>Adults</th>
                    <th>Kids</th>
                    <th alignFrozen="right" pFrozenColumn>Action</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-booking let-index="rowIndex">
                <tr
                    [class.inactive-booking]="
                        (booking | bookingIsActive) === false
                    "
                >
                    <td>{{ booking.orderID | slice : -12 }}</td>
                    <td>
                        {{ booking.bookingNumber }}
                    </td>
                    <td>
                        {{
                            booking.purchaseDateString
                                ? (booking.purchaseDateString
                                  | date : 'MM/dd/yyyy')
                                : '-'
                        }}
                    </td>
                    <td>
                        {{ booking.bookingDateString | date : 'MM/dd/yyyy' }}
                    </td>
                    <td>{{ booking.tourName }}</td>
                    <td>{{ booking.firstName }}</td>
                    <td>{{ booking.lastName }}</td>
                    <td>
                        {{ booking.agentsGuestEmail || booking.bookingEmail }}
                    </td>
                    <td>{{ booking.phoneNumber }}</td>
                    <td>{{ booking.adults }}</td>
                    <td>{{ booking.children }}</td>
                    <td alignFrozen="right" pFrozenColumn>
                        <ng-container *ngIf="managePermission">
                            <a
                                class="link-manage"
                                [routerLink]="[booking.orderID]"
                                [appPermission]="managePermission"
                            >
                                <span>Manage</span>
                                <svg
                                    width="16"
                                    height="16"
                                    viewBox="0 0 16 16"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg"
                                >
                                    <path
                                        d="M13.5833 5.43752L10.0417 1.93752L11.2083 0.770854C11.5278 0.451409 11.9203 0.291687 12.3858 0.291687C12.8508 0.291687 13.2431 0.451409 13.5625 0.770854L14.7292 1.93752C15.0486 2.25696 15.2153 2.64252 15.2292 3.09419C15.2431 3.5453 15.0903 3.93058 14.7708 4.25002L13.5833 5.43752ZM12.375 6.66669L3.54167 15.5H0V11.9584L8.83333 3.12502L12.375 6.66669Z"
                                        fill="#053654"
                                    />
                                </svg>
                            </a>
                        </ng-container>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="12">No Booking found.</td>
                </tr>
            </ng-template>
        </p-table>
    </ng-container>
</div>
