<div class="container">
    <div class="calendar-header-container">
        <h1 class="current">Cruise Calendar</h1>
        <ng-container *ngIf="ports$ | async as ports">
            <ng-container *ngIf="ports && ports.length > 0">
                <p-dropdown
                    [options]="ports"
                    optionLabel="portName"
                    optionValue="portId"
                    placeholder="Select a Port"
                    [autoDisplayFirst]="false"
                    appendTo="body"
                    (onChange)="updatePort()"
                    [(ngModel)]="selectedPort"
                ></p-dropdown>
            </ng-container>
        </ng-container>
    </div>
    <div class="calendar-container">
        <!-- calendar controls -->
        <div class="controls-container">
            <div class="navigation-controls-container">
                <button
                    pButton
                    class="p-button-text btn-text"
                    mwlCalendarPreviousView
                    [view]="view"
                    [(viewDate)]="viewDate"
                    icon="pi pi-angle-left"
                ></button>
                <button
                    pButton
                    class="p-button-text btn-text"
                    mwlCalendarToday
                    [(viewDate)]="viewDate"
                >
                    Today
                </button>
                <button
                    pButton
                    class="p-button-text btn-text"
                    mwlCalendarNextView
                    [view]="view"
                    [(viewDate)]="viewDate"
                    icon="pi pi-angle-right"
                ></button>
            </div>
            <div class="calendar-title-container">
                <h3>
                    {{ viewDate | calendarDate : view + 'ViewTitle' : 'en' }}
                </h3>
            </div>
            <div class="view-controls-container">
                <button
                    pButton
                    class="btn-primary-inverse"
                    (click)="setView(CalendarView.Month)"
                    [class.active]="view === CalendarView.Month"
                >
                    Month
                </button>
                <button
                    pButton
                    class="btn-primary-inverse"
                    (click)="setView(CalendarView.Week)"
                    [class.active]="view === CalendarView.Week"
                >
                    Week
                </button>
                <button
                    pButton
                    class="btn-primary-inverse"
                    (click)="setView(CalendarView.Day)"
                    [class.active]="view === CalendarView.Day"
                >
                    Day
                </button>
            </div>
        </div>

        <!-- calendar content -->
        <ng-container *ngIf="calendarEvents$ | async as events">
            <!-- {{events | json}} -->
            <div [ngSwitch]="view">
                <mwl-calendar-month-view
                    *ngSwitchCase="CalendarView.Month"
                    [viewDate]="viewDate"
                    [events]="events"
                    [cellTemplate]="monthEvent"
                    [headerTemplate]="monthHeaderTemplate"
                >
                </mwl-calendar-month-view>
                <mwl-calendar-week-view
                    *ngSwitchCase="CalendarView.Week"
                    [viewDate]="viewDate"
                    [events]="events"
                    [eventTemplate]="weekEvent"
                    [headerTemplate]="weekHeaderTemplate"
                    [weekStartsOn]="0"
                >
                </mwl-calendar-week-view>
                <mwl-calendar-week-view
                    *ngSwitchCase="CalendarView.Day"
                    [viewDate]="viewDate"
                    [events]="events"
                    [eventTemplate]="dayEvent"
                    [daysInWeek]="1"
                    class="dayview"
                >
                </mwl-calendar-week-view>
            </div>

            <ng-template
                #monthHeaderTemplate
                let-days="days"
                let-locale="locale"
            >
                <div class="calendar-view-header-container">
                    <ng-container *ngFor="let day of days">
                        <div class="day-indicator">
                            <span
                                class="desktop"
                                [class.weekend]="day.isWeekend"
                                >{{ day.date | date : 'EEEE' }}</span
                            >
                            <span
                                class="mobile"
                                [class.weekend]="day.isWeekend"
                                >{{ day.date | date : 'E' }}</span
                            >
                        </div>
                    </ng-container>
                </div>
            </ng-template>

            <ng-template
                #weekHeaderTemplate
                let-days="days"
                let-locale="locale"
            >
                <div class="calendar-view-header-container week-view-header">
                    <ng-container *ngFor="let day of days">
                        <div class="day-indicator">
                            <span
                                class="desktop"
                                [class.weekend]="day.isWeekend"
                                >{{ day.date | date : 'EEEE' }}</span
                            >
                            <span
                                class="mobile"
                                [class.weekend]="day.isWeekend"
                                >{{ day.date | date : 'E' }}</span
                            >
                            <div
                                class="date-container"
                                [class.today]="day.isToday"
                            >
                                <span>
                                    {{ day.date | date : 'dd' }}
                                </span>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </ng-template>

            <ng-template #monthEvent let-day="day" let-locale="locale">
                <div class="date-number">
                    <span> {{ day.date | date : 'dd' }}</span>
                </div>

                <ng-container *ngFor="let event of day.events">
                    <div
                        [pTooltip]="event.title"
                        class="event-container"
                        (click)="openEventModal(event)"
                        [appPermission]="{
                            features: [
                                {
                                    feature: features.cruiseCalendar.name,
                                    page: features.cruiseCalendar.pages
                                        .cruiseCalendar.name,
                                    pageFeature: [
                                        features.cruiseCalendar.pages
                                            .cruiseCalendar.features.assignDock
                                            .name
                                    ]
                                }
                            ],
                            mode: 'disabled'
                        }"
                    >
                        <div
                            class="month-event-container"
                            [style.background]="event.color.secondary"
                            [style.borderColor]="event.color.primary"
                            [style.color]="event.color.primary"
                        >
                            <div
                                class="event-dot"
                                [style.background]="event.color.primary"
                            ></div>
                            <div class="event-info mobile">
                                <span>{{ event.title.slice(0, 2) }}...</span>
                            </div>
                            <div class="event-info desktop">
                                <span>{{ event.meta.cruiseLine }}</span>
                                <ng-container *ngIf="event.meta.dockAssignment"
                                    >Dock:
                                    {{
                                        event.meta.dockAssignment
                                    }}</ng-container
                                >
                                <span>{{ event.meta.cruiseTime }}</span>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </ng-template>

            <ng-template #weekEvent let-weekEvent="weekEvent">
                <div
                    class="event-container week-event-container"
                    [pTooltip]="weekEvent.event.title"
                    (click)="openEventModal(weekEvent.event)"
                    [style.background]="weekEvent.event.color.secondary"
                    [style.borderColor]="weekEvent.event.color.primary"
                    [style.color]="weekEvent.event.color.primary"
                    [appPermission]="{
                        features: [
                            {
                                feature: features.cruiseCalendar.name,
                                page: features.cruiseCalendar.pages
                                    .cruiseCalendar.name,
                                pageFeature: [
                                    features.cruiseCalendar.pages.cruiseCalendar
                                        .features.assignDock.name
                                ]
                            }
                        ],
                        mode: 'disabled'
                    }"
                >
                    <div
                        class="event-dot"
                        [style.background]="weekEvent.event.color.primary"
                    ></div>
                    <div class="event-info mobile">
                        <span>{{ weekEvent.event.title }}</span>
                    </div>
                    <div class="event-info desktop">
                        <span>{{ weekEvent.event.meta.cruiseLine }}</span>
                        <ng-container
                            *ngIf="weekEvent.event.meta.dockAssignment"
                            >Dock:
                            {{
                                weekEvent.event.meta.dockAssignment
                            }}</ng-container
                        >
                        <span>{{ weekEvent.event.meta.cruiseTime }}</span>
                    </div>
                </div>
            </ng-template>

            <ng-template #dayEvent let-weekEvent="weekEvent">
                <div
                    class="event-container day-event-container"
                    [pTooltip]="weekEvent.event.title"
                    (click)="openEventModal(weekEvent.event)"
                    [appPermission]="{
                        features: [{
                            feature: features.cruiseCalendar.name,
                            page: features.cruiseCalendar.pages.cruiseCalendar.name,
                            pageFeature: [
                                features.cruiseCalendar.pages.cruiseCalendar
                                    .features.assignDock.name
                            ],
                        }],
                        mode: 'disabled'
                    }"
                    [style.background]="weekEvent.event.color.secondary"
                    [style.borderColor]="weekEvent.event.color.primary"
                    [style.color]="weekEvent.event.color.primary"
                >
                    <div
                        class="event-dot"
                        [style.background]="weekEvent.event.color.primary"
                    ></div>
                    <div class="event-info mobile">
                        <span>{{ weekEvent.event.title }}</span>
                    </div>
                    <div class="event-info desktop">
                        <span>{{ weekEvent.event.meta.cruiseLine }}</span>
                        <ng-container
                            *ngIf="weekEvent.event.meta.dockAssignment"
                            >Dock:
                            {{
                                weekEvent.event.meta.dockAssignment
                            }}</ng-container
                        >
                        <span>{{ weekEvent.event.meta.cruiseTime }}</span>
                    </div>
                </div>
            </ng-template>
        </ng-container>
        <ng-container *ngIf="(isLoading$ | async) === true">
            <div class="loader-container">
                <div class="loader-inner-container">
                    <app-loader-embed [isDisplayed]="true"></app-loader-embed>
                </div>
            </div>
        </ng-container>
    </div>
</div>

<app-dock-assignment-modal></app-dock-assignment-modal>
