.calendar-header-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    h1 {
        margin: 0;
    }
}

.calendar-container {
    display: flex;
    flex-direction: column;
    position: relative;

    .loader-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--color-white);
        .loader-inner-container {
            display: flex;
            flex-direction: column;
            padding-top: var(--spacing-md);
        }
    }

    .controls-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: var(--spacing-xs);

        .navigation-controls-container {
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        .view-controls-container {
            display: flex;
            flex-direction: row;
            align-items: center;

            button {
                border-radius: 0 !important;
                box-shadow: none !important;

                &:not(:first-child):not(:last-child) {
                    border-left: none !important;
                    border-right: none !important;
                }

                &.active {
                    background-color: var(--color-blue-500) !important;
                    color: var(--color-white) !important;
                }

                &:first-child {
                    border-radius: 6px 0 0 6px !important;
                }

                &:last-child {
                    border-radius: 0 6px 6px 0 !important;
                }
            }
        }
    }
}

::ng-deep .cal-month-view .cal-day-badge {
    background-color: var(--color-blue-500);
}

::ng-deep .cal-month-view .cal-events {
    flex-direction: column;
    align-items: flex-start;

    div {
        background-color: aquamarine;
    }
}

::ng-deep .cal-month-view .cal-day-cell.cal-weekend .cal-day-number {
    color: var(--color-blue-500);
}

.calendar-view-header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    &.week-view-header {
        padding-left: 70px; // account for hour segments
        border: thin solid #e1e1e1;
        .day-indicator {
            border-left: thin solid #e1e1e1;
            .date-container {
                width: 35px;
                height: 35px;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                border-radius: 50%;

                &.today {
                    background-color: #e8fde7;
                }
            }
        }
    }
    .day-indicator {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        span {
            &.weekend {
                color: var(--color-error);
            }
        }
    }
}

// month event block
.month-event-container {
    border: 1px solid var(--color-blue-500);
    width: 100%;
    padding: var(--spacing-3xs) var(--spacing-2xs);
    display: flex;
    border-radius: var(--border-radius-base);
    align-items: baseline;
    background-color: var(--color-white);
    gap: var(--gap-xs);
    margin-bottom: var(--spacing-3xs);

    .event-dot {
        flex-shrink: 0;
        height: 13px;
        width: 13px;
        background-color: var(--color-blue-500);
        border-radius: 50%;
    }

    .event-info {
        display: flex;
        flex-direction: column;
    }
}

// week event block
.week-event-container {
    border: 1px solid var(--color-blue-500);
    width: 100%;
    height: 100%;
    padding: var(--spacing-3xs) var(--spacing-2xs);
    display: flex;
    border-radius: var(--border-radius-base);
    align-items: baseline;
    background-color: var(--color-white);
    gap: var(--gap-xs);
    overflow: hidden;

    .event-dot {
        flex-shrink: 0;
        height: 13px;
        width: 13px;
        background-color: var(--color-blue-500);
        border-radius: 50%;
    }

    .event-info {
        display: flex;
        flex-direction: column;
    }
}

// day event block
::ng-deep .dayview {
    .cal-event-container {
        &:first-child {
            padding-left: 70px;
        }
    }
}
.day-event-container {
    border: 1px solid var(--color-blue-500);
    width: 100%;
    height: 100%;
    padding: var(--spacing-3xs) var(--spacing-2xs);
    display: flex;
    border-radius: var(--border-radius-base);
    align-items: baseline;
    background-color: var(--color-white);
    gap: var(--gap-xs);
    overflow: hidden;

    .event-dot {
        flex-shrink: 0;
        height: 13px;
        width: 13px;
        background-color: var(--color-blue-500);
        border-radius: 50%;
    }

    .event-info {
        display: flex;
        flex-direction: column;
    }
}

.dock-container {
    display: flex;
    width: 100%;
    gap: var(--gap-sm);
    flex-wrap: wrap;

    .dock-column {
        width: calc(50% - var(--gap-xs));
        display: flex;
        gap: var(--gap-xs);

        .textfield-container {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            gap: var(--spacing-xs);
        }

        .textfield-container-alt {
            display: flex;
            flex-grow: 1;
            gap: var(--spacing-xs);

            div {
                width: calc(50% - var(--spacing-xs));
            }
        }
    }
}

.date-number {
    display: flex;
    justify-content: flex-end;
    padding: var(--gap-xs);
}

.mobile {
    display: none !important;
}

::ng-deep .event-container {
    &.p-disabled {
        opacity: unset;
    }
}
@media (max-width: 1024px) {
    .event-container {
        .event-dot {
            display: none;
        }

        .event-info {
            span:nth-child(2) {
                display: none;
            }
        }
    }

    .dock-container {
        display: flex;
        width: 100%;
        gap: var(--gap-sm);
        flex-wrap: wrap;
        flex-direction: column;

        .dock-column {
            width: 100%;
            display: flex;
            gap: var(--gap-xs);
            flex-direction: column;

            .textfield-container {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                gap: var(--spacing-xs);
                width: 100%;
                flex-wrap: wrap;
            }

            .textfield-container-alt {
                display: flex;
                flex-grow: 1;
                gap: var(--spacing-xs);

                div {
                    width: calc(50% - var(--spacing-xs));
                }
            }
        }
    }

    ::ng-deep .p-dialog {
        width: 80vw;
    }
}

@media (max-width: 768px) {
    .container {
        gap: 0 !important;
    }

    .calendar-container {
        .controls-container {
            margin-bottom: var(--spacing-2xs);
            flex-wrap: wrap;

            .calendar-title-container {
                width: 100%;
            }

            .navigation-controls-container,
            .view-controls-container {
                order: 1;

                ::ng-deep .p-button {
                    padding: var(--spacing-2xs) var(--spacing-3xs);
                }
            }
        }
    }

    .mobile {
        display: block !important;
    }

    .desktop {
        display: none !important;
    }
}
