<div class="container">
    <div class="header-container">
        <h1 class="current">Tours And Services</h1>
    </div>

    <div class="main-content-container">
        <div
            class="nav-container"
            [appPermission]="{
            features: displayNavPermission,
            featureCheck: 'atleastOne',
                    mode: 'none',
        }"
        >
            <ng-container
                *ngIf="
                    toursAndServicesNavOptions$
                        | async as toursAndServicesNavOptions
                "
            >
                <ng-container *ngFor="let option of toursAndServicesNavOptions">
                    <a
                        routerLinkActive="active"
                        #rla="routerLinkActive"
                        [routerLink]="option.path"
                    >
                        <span>{{ option.displayName }}</span>
                    </a>
                </ng-container>
            </ng-container>
        </div>
        <router-outlet></router-outlet>
    </div>
</div>
