<ng-container
    *ngIf="{
        isOpen: (isOpen$ | async) || false,
        context: context$ | async,
        status: status$ | async
    } as data"
>
    <p-dialog
        [(visible)]="data.isOpen"
        (onHide)="close()"
        [modal]="true"
        [style]="{ width: '60vw', height: 'auto' }"
        styleClass="restore-tour-dialog"
        [breakpoints]="{ '768px': '95vw' }"
        [showHeader]="false"
        [draggable]="false"
        [resizable]="false"
        [dismissableMask]="true"
        appendTo="body"
    >
        <ng-container *ngIf="data.context">
            <div class="modal-confirmation-container">
                <div class="modal-header">
                    <h2>Are you sure you want to restore this tour?</h2>
                </div>
                <p-divider></p-divider>
                <div class="tour-details-container">
                    <div class="row-container">
                        <div class="cell-container">
                            <span class="h4">Tour Name</span>
                            <span>
                                {{ data.context.tourName }}
                            </span>
                        </div>
                        <p-divider layout="vertical"></p-divider>
                        <div class="cell-container">
                            <span class="h4">Description</span>
                            <span class="tour-description">
                                {{ data.context.description }}
                            </span>
                        </div>
                        <p-divider layout="vertical"></p-divider>
                        <div class="cell-container">
                            <span class="h4">Port Name</span>
                            <span>
                                {{ data.context.portName }}
                            </span>
                        </div>
                        <p-divider layout="vertical"></p-divider>
                        <div class="cell-container">
                            <span class="h4">Adult Price</span>
                            <span>
                                {{ data.context.adultPrice }}
                            </span>
                        </div>
                        <p-divider layout="vertical"></p-divider>
                        <div class="cell-container">
                            <span class="h4">Child Price</span>
                            <span>
                                {{ data.context.childPrice }}
                            </span>
                        </div>
                    </div>
                </div>
                <div class="button-container">
                    <ng-container *ngIf="data.status === 'error'">
                        <span class="text-error">Unable to restore tour</span>
                    </ng-container>
                    <button
                        pButton
                        class="btn btn-primary-inverse"
                        [disabled]="data.status === 'loading'"
                        (click)="close()"
                    >
                        Cancel
                    </button>
                    <button
                        pButton
                        class="btn btn-primary"
                        [disabled]="data.status === 'loading'"
                        [loading]="data.status === 'loading'"
                        (click)="restore(data.context)"
                    >
                        Restore Tour
                    </button>
                </div>
            </div>
        </ng-container>
    </p-dialog>
</ng-container>
