<ng-container
    *ngIf="{
        isOpen: (isOpen$ | async) || false,
        context: context$ | async,
        status: status$ | async
    } as data"
>
    <p-dialog
        [(visible)]="data.isOpen"
        (onHide)="close()"
        [modal]="true"
        [style]="{ width: '50vw', height: 'auto' }"
        styleClass="remove-cruise-line-modal"
        [breakpoints]="{ '768px': '95vw' }"
        [showHeader]="false"
        [draggable]="false"
        [resizable]="false"
        [dismissableMask]="true"
        appendTo="body"
    >
        <ng-container *ngIf="data.context">
            <div class="modal-confirmation-container">
                <div class="modal-header">
                    <h2>Would you like to Delete this Ship Schedule?</h2>
                </div>
                <p-divider></p-divider>
                <div class="button-container">
                    <ng-container *ngIf="data.status === 'error'">
                        <span class="text-error"
                            >Unable to delete Ship Schedule</span
                        >
                    </ng-container>

                    <button
                        pButton
                        class="btn btn-primary-inverse"
                        [disabled]="data.status === 'loading'"
                        (click)="close()"
                    >
                        Cancel
                    </button>
                    <button
                        pButton
                        class="btn btn-primary"
                        [disabled]="data.status === 'loading'"
                        [loading]="data.status === 'loading'"
                        (click)="remove(data.context)"
                    >
                        Delete
                    </button>
                </div>
            </div>
        </ng-container>
    </p-dialog>
</ng-container>
