<ng-container
    *ngIf="{   
        manageAllocationInventories: manageAllocationInventories$ | async,
} as config"
>
    <div class="inventory-list-container">
        <ng-container *ngIf="config.manageAllocationInventories as inventories">
            <p-dataView
                [value]="inventories || []"
                [rows]="20"
                [paginator]="true"
            >
                <ng-template let-inventories pTemplate="list">
                    <ng-container *ngFor="let item of inventories">
                        <div class="item-content-container">
                            <div class="header-container">
                                <span class="h4">{{ item.tourName }}</span>
                                <app-inventory-status-chip
                                    [tourInventory]="item"
                                ></app-inventory-status-chip>
                            </div>

                            <div class="field-container">
                                <span class="font-medium">
                                    <ng-container
                                        *ngIf="
                                            item.isReleased === false &&
                                                item.shipId === null;
                                            else cruiseInfo
                                        "
                                    >
                                        <!-- unallocated -->
                                        Unallocated
                                    </ng-container>
                                    <ng-template #cruiseInfo>
                                        {{ item.cruiseShipName }}
                                    </ng-template>
                                </span>
                            </div>

                            <div class="field-container">
                                <i class="pi pi-map-marker"></i>
                                <span>{{ item.portName }}</span>
                            </div>
                            <div class="field-container">
                                <i class="pi pi-calendar"></i>
                                <span
                                    >{{ item.start | date : 'MM/dd/yyyy' }}
                                    {{ item.start | date : 'hh:mm a' }}
                                </span>
                            </div>

                            <div class="field-container">
                                <i class="pi pi-users"></i>
                                <span>Capacity:</span>
                                <span>{{ item.capacity }}</span>
                            </div>

                            <p-divider></p-divider>
                        </div>
                    </ng-container>
                </ng-template>
            </p-dataView>
        </ng-container>
    </div>
</ng-container>
