<ng-container
    *ngIf="{
        isOpen: (isOpen$ | async) || false,
        context: context$ | async,
        status: status$ | async,
        notes: notes$ | async,
        editNotesStatus: editNotesStatus$ | async
    } as config"
>
    <p-dialog
        header="Edit Notes"
        [(visible)]="config.isOpen"
        (onHide)="close()"
        [modal]="true"
        [style]="{ width: '40vw', height: 'auto' }"
        [breakpoints]="{ '700px': '100vw' }"
        [draggable]="false"
        [resizable]="false"
        [dismissableMask]="true"
        appendTo="body"
    >
        <form
            class="modal-body"
            [formGroup]="editNotesForm"
            (ngSubmit)="saveUserNote()"
        >
            <div class="note-textarea">
                <label>Notes*</label>
                <textarea
                    rows="8"
                    pInputTextarea
                    formControlName="note"
                    class="notes-textarea"
                ></textarea>
            </div>
            <input type="hidden" id="userNoteId" formControlName="userNoteId" />
            <br />
            <div class="btn-group">
                <button
                    pButton
                    class="btn btn-primary-inverse"
                    type="button"
                    (click)="close()"
                >
                    Cancel
                </button>
                <button
                    type="submit"
                    pButton
                    class="btn btn-primary"
                    [loading]="config.editNotesStatus === 'loading'"
                    [disabled]="
                        config.status?.load === 'loading' ||
                        editNotesForm.invalid
                    "
                >
                    Save
                </button>
            </div>
        </form>
    </p-dialog>
</ng-container>
