<div class="container">
    <div class="header-container">
        <h1 class="current">Booking Management</h1>
    </div>

    <div class="main-content-container">
        <div
            class="nav-container"
            [appPermission]="{
                features: [
                    {
                        feature: features.bookingManagement.name,
                        page: features.bookingManagement.pages.agents.name,
                    },
                    {
                        feature: features.bookingManagement.name,
                        page: features.bookingManagement.pages.bookings.name,
                    },
                    {
                        feature: features.bookingManagement.name,
                        page: features.bookingManagement.pages.cruiseLines.name,
                    },
                    {
                        feature: features.bookingManagement.name,
                        page: features.bookingManagement.pages.dashboard.name,
                    },
                    {
                        feature: features.bookingManagement.name,
                        page: features.bookingManagement.pages.tourInventory.name,
                    },
                ],
                featureCheck: 'atleastOne',
                mode: 'none'
            }"
        >
            <ng-container
                *ngIf="
                    bookingManagementNavOptions$
                        | async as bookingManagementNavOptions
                "
            >
                <ng-container
                    *ngFor="let option of bookingManagementNavOptions"
                >
                    <a
                        routerLinkActive="active"
                        #rla="routerLinkActive"
                        [routerLink]="option.path"
                    >
                        <span>{{ option.displayName }}</span>
                    </a>
                </ng-container>
            </ng-container>
        </div>
        <router-outlet></router-outlet>
    </div>
</div>
