<ng-container
    *ngIf="{
        statuses: statuses$ | async,
        locationType: locationType$ | async,
        locationList: locationList$ | async,
    } as data"
>
    <div class="container">
        <div class="header-container">
            <h2>Locations</h2>
        </div>
        <div class="content-container">
            <div class="content-header-container">
                <div class="location-type">
                    <label>Location Type</label>
                    <p-dropdown
                        name="stepOrder"
                        appendTo="body"
                        autocomplete="off"
                        styleClass="full-width"
                        [autoDisplayFirst]="false"
                        [options]="data.locationType || []"
                        [(ngModel)]="selectedLocationType"
                        (ngModelChange)="changeLocationType()"
                        [showClear]="true"
                        appendTo="body"
                    >
                    </p-dropdown>
                </div>
                <div class="additional-controls-container">
                    <div class="search-container">
                        <input
                            type="text"
                            autocomplete="off"
                            pInputText
                            placeholder="Search ..."
                            [(ngModel)]="keyword"
                            (ngModelChange)="search()"
                        />
                    </div>
                    <button
                        pButton
                        class="btn btn-primary"
                        (click)="openAddNewLocationModal()"
                    >
                        <i class="pi pi-plus"></i>
                        Add New Location
                    </button>
                </div>
            </div>
            <ng-container [ngSwitch]="data.statuses?.loadCompanyLocationList">
                <ng-container *ngSwitchCase="'loading'">
                    <app-loader-embed [isDisplayed]="true"></app-loader-embed>
                </ng-container>
                <ng-container *ngSwitchCase="'error'">
                    <div class="error-state">
                        <span>Error loading Company Locations</span>
                        <button pButton>Retry</button>
                    </div>
                </ng-container>
                <ng-container *ngSwitchCase="'success'">
                    <ng-container
                        *ngIf="
                            data.locationList && data.locationList.length > 0;
                            noTours
                        "
                    >
                        <div class="table-container">
                            <p-table
                                #companyLocationsTable
                                [value]="data.locationList || []"
                                [scrollable]="true"
                                dataKey="locationId"
                                [tableStyle]="{ width: '100%' }"
                                [rows]="20"
                                [rowsPerPageOptions]="[20, 50, 100]"
                                [paginator]="true"
                                [showCurrentPageReport]="true"
                                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                                [globalFilterFields]="[
                                    'locationName',
                                    'locationType',
                                    'latitude',
                                    'longitude'
                                ]"
                            >
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>Name</th>
                                        <th>Type</th>
                                        <th>Latitude</th>
                                        <th>Longitude</th>
                                        <th alignFrozen="right" pFrozenColumn>
                                            Action
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-item>
                                    <tr>
                                        <td>{{ item.locationName }}</td>
                                        <td>{{ item.locationType }}</td>
                                        <td>{{ item.latitude }}</td>
                                        <td>{{ item.longitude }}</td>
                                        <td alignFrozen="right" pFrozenColumn>
                                            <div class="actions-container">
                                                <button
                                                    pButton
                                                    icon="pi pi-pencil"
                                                    class="p-button-text edit"
                                                    pTooltip="Edit"
                                                    tooltipPosition="left"
                                                ></button>
                                                <button
                                                    pButton
                                                    icon="pi pi-trash"
                                                    class="p-button-text delete"
                                                    pTooltip="Delete"
                                                    tooltipPosition="left"
                                                ></button>
                                            </div>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </ng-container>
                    <ng-template #noUsers>
                        <div class="empty-state">
                            <span>You don't have any Company Location.</span>
                        </div>
                    </ng-template>
                </ng-container>
            </ng-container>
        </div>
    </div>
</ng-container>
<app-add-new-location-modal></app-add-new-location-modal>
