<ng-container
    *ngIf="{
        isOpen: (isOpen$ | async) === true,
        context: context$ | async,
        status: status$ | async
    } as data"
>
    <p-dialog
        [(visible)]="data.isOpen"
        (onHide)="close()"
        [modal]="true"
        [style]="{ width: '60vw', height: 'auto' }"
        styleClass="modify-time-dialog"
        [breakpoints]="{ '720px': '95vw' }"
        [showHeader]="false"
        [draggable]="false"
        [resizable]="false"
        [dismissableMask]="true"
        position="center"
        appendTo="body"
    >
        <div class="modal-header">
            <h2>
                Change time for
                {{ data.context?.bookingDetails?.tourName }}
            </h2>
        </div>
        <ng-container *ngIf="data.context">
            <div class="modify-time-modal-container">
                <ng-container
                    *ngIf="
                        availableTimes && availableTimes.length > 0;
                        else noTimeAvailable
                    "
                >
                    <div class="time-options-container">
                        <span class="h3">Available Times</span>
                        <p-selectButton
                            [options]="availableTimes"
                            [(ngModel)]="selectedTourInventoryId"
                            optionValue="tourInventoryId"
                            styleClass="options-container"
                            optionDisabled="disabled"
                        >
                            <ng-template let-item pTemplate>
                                <app-time-slot
                                    [timeSlot]="item"
                                    [bookedSeats]="totalParticipants"
                                ></app-time-slot>
                            </ng-template>
                        </p-selectButton>
                        <div class="action-buttons-container">
                            <ng-container *ngIf="data.status === 'success'">
                                <span class="body-m font-medium success-text"
                                    >Booking updated!</span
                                >
                            </ng-container>
                            <ng-container *ngIf="data.status === 'error'">
                                <span class="body-m font-medium error-text"
                                    >Failed to update booking</span
                                >
                            </ng-container>
                            <button
                                pButton
                                [disabled]="data.status === 'loading'"
                                class="btn btn-primary-inverse"
                                (click)="close()"
                            >
                                Close
                            </button>
                            <button
                                pButton
                                [loading]="data.status === 'loading'"
                                class="btn btn-primary"
                                (click)="updateTime()"
                            >
                                Change Departure Time
                            </button>
                        </div>
                    </div>
                    <div class="img-container">
                        <img
                            [src]="
                                data.context.bookingDetails.bookingAmountDetail
                                    .shoppingCartImagePath
                            "
                            alt="tour image"
                        />
                    </div>
                </ng-container>
                <ng-template #noTimeAvailable>
                    <span class="body time-empty-state">
                        No Available Times based off criteria
                    </span>
                </ng-template>
            </div>
        </ng-container>
    </p-dialog>
</ng-container>
