<div class="outer-container">
    <div class="header-container">
        <h2>Tour List</h2>
    </div>

    <div class="content-container">
        <ng-container
            *ngIf="{
                tours: tourList$ | async,
                status: status$ | async
            } as config"
        >
            <div class="content-header-container">
                <div class="search-container">
                    <input
                        type="text"
                        autocomplete="off"
                        pInputText
                        placeholder="Search ..."
                        [(ngModel)]="keyword"
                        (ngModelChange)="search()"
                    />
                </div>
                <div class="additional-controls-container">
                    <div class="show-inactive">
                        <p-inputSwitch
                            name="showInactive"
                            [(ngModel)]="showInactive"
                            (ngModelChange)="showInactiveChange()"
                        ></p-inputSwitch>
                        <label for="showInactive">Show Inactive</label>
                    </div>
                    <button
                        pButton
                        class="btn btn-primary"
                        (click)="openAddNewTourModal()"
                    >
                        <i class="pi pi-plus"></i>
                        Add New Tour
                    </button>
                </div>
            </div>
            <ng-container [ngSwitch]="config.status">
                <ng-container *ngSwitchCase="'loading'">
                    <app-loader-embed [isDisplayed]="true"></app-loader-embed>
                </ng-container>
                <ng-container *ngSwitchCase="'error'">
                    <div class="error-state">
                        <span>Error loading tours</span>
                        <button pButton>Retry</button>
                    </div>
                </ng-container>
                <ng-container *ngSwitchCase="'success'">
                    <ng-container
                        *ngIf="config.tours && config.tours.length > 0; noTours"
                    >
                        <div class="tour-table-container">
                            <p-table
                                #tourTable
                                [value]="config.tours"
                                [scrollable]="true"
                                dataKey="tourInventoryId"
                                [tableStyle]="{ width: '100%' }"
                                [rows]="50"
                                [rowsPerPageOptions]="[50, 100, 200]"
                                [paginator]="true"
                                [showCurrentPageReport]="true"
                                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                                [globalFilterFields]="['tourName']"
                            >
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>Tour name</th>
                                        <th>Description</th>
                                        <th>Port Name</th>
                                        <th>Adult Price</th>
                                        <th>Child Price</th>
                                        <th alignFrozen="right" pFrozenColumn>
                                            Actions
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-tour>
                                    <tr>
                                        <td>{{ tour.tourName }}</td>
                                        <td class="tour-description">
                                            {{ tour.description }}
                                        </td>
                                        <td>{{ tour.portName }}</td>
                                        <td>
                                            {{
                                                tour.adultPrice
                                                    | currency : 'USD'
                                            }}
                                        </td>
                                        <td>
                                            {{
                                                tour.childPrice
                                                    | currency : 'USD'
                                            }}
                                        </td>
                                        <td alignFrozen="right" pFrozenColumn>
                                            <div class="actions-container">
                                                <button
                                                    pButton
                                                    class="edit"
                                                    [routerLink]="[
                                                        '/operator/tours-and-services/tour/',
                                                        tour.tourId
                                                    ]"
                                                >
                                                    <i class="pi pi-pencil"></i>
                                                </button>
                                                <ng-container
                                                    *ngIf="
                                                        !showInactive;
                                                        else restoreTem
                                                    "
                                                >
                                                    <button
                                                        pButton
                                                        class="delete"
                                                        (click)="
                                                            openDeleteTourModal(
                                                                tour
                                                            )
                                                        "
                                                    >
                                                        <i
                                                            class="pi pi-trash"
                                                        ></i>
                                                    </button>
                                                </ng-container>
                                                <ng-template #restoreTem>
                                                    <button
                                                        pButton
                                                        class="delete"
                                                        (click)="
                                                            openRestoreTourModal(
                                                                tour
                                                            )
                                                        "
                                                    >
                                                        <i
                                                            class="pi pi-replay"
                                                        ></i>
                                                    </button>
                                                </ng-template>
                                            </div>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </ng-container>
                    <ng-template #noUsers>
                        <div class="empty-state">
                            <span>You don't have any tours.</span>
                        </div>
                    </ng-template>
                </ng-container>
            </ng-container>
        </ng-container>
    </div>
</div>

<!-- modals -->
<app-add-new-tour-modal></app-add-new-tour-modal>
<app-remove-tour-modal></app-remove-tour-modal>
<app-restore-tour-modal></app-restore-tour-modal>
