<div class="modal-inner-container">
    <div class="modal-header">
        <h2>
            Confirm Guests that Actually Participated with
            Cruise-Line-Issued-Tickets
        </h2>
    </div>
    <ng-container *ngIf="selectedAssignment">
        <app-modal-tour-details
            [assignment]="selectedAssignment"
            [tourDate]="tourDate"
        ></app-modal-tour-details>
    </ng-container>
    <form [formGroup]="confirmGuestsForm" (ngSubmit)="save()">
        <div class="participant-fields-container">
            <!-- Adults -->
            <div class="field-container">
                <label htmlFor="actualAdults">Actual Adults</label>
                <input
                    pInputText
                    name="actualAdults"
                    label="actualAdults"
                    formControlName="actualAdults"
                    type="number"
                />
            </div>
            <!-- Children  -->
            <div class="field-container">
                <label htmlFor="actualChildren">Actual Children</label>
                <input
                    pInputText
                    name="actualChildren"
                    label="actualChildren"
                    formControlName="actualChildren"
                    type="number"
                />
            </div>
        </div>
        <div class="field-row-container">
            <!-- Cruise Line Escorts -->
            <div class="field-container">
                <label htmlFor="cruiseLineEscorts">Cruise Line Escorts</label>
                <input
                    pInputText
                    name="cruiseLineEscorts"
                    label="cruiseLineEscorts"
                    formControlName="cruiseLineEscorts"
                    type="number"
                />
            </div>
            <!-- Additional Guests -->
            <div class="field-container">
                <label htmlFor="payingAdditionalGuests"
                    >Paying for additional guests to meet minimum</label
                >
                <input
                    pInputText
                    name="payingAdditionalGuests"
                    label="payingAdditionalGuests"
                    formControlName="payingAdditionalGuests"
                    type="number"
                />
            </div>
        </div>
        <ng-container *ngTemplateOutlet="notesForm"></ng-container>

        <div class="action-container">
            <!-- <ng-container *ngIf="data.status === 'error'">
                    <span class="text-error"
                        >Failed to confirm participants</span
                    >
                </ng-container> -->
            <button
                pButton
                class="btn btn-primary-inverse"
                type="button"
                (click)="onCancel()"
            >
                Cancel
            </button>
            <button pButton class="btn btn-primary" type="submit">Next</button>
        </div>
    </form>

    <ng-template #notesForm>
        <ng-container *ngIf="selectedAssignment && displayNotesSection">
            <div class="notes-container">
                <p-divider></p-divider>
                <div class="field-container">
                    <label htmlFor="notes">Notes</label>
                    <textarea
                        rows="5"
                        pInputTextarea
                        [(ngModel)]="specialNotes"
                        class="notes-textarea"
                    ></textarea>
                </div>
                <div class="button-container">
                    <ng-container
                        *ngIf="{
                            saveNotesStatus: saveNotesStatus$ | async
                        } as notesConfig"
                    >
                        <ng-container [ngSwitch]="notesConfig.saveNotesStatus">
                            <ng-container *ngSwitchCase="'success'">
                                <span class="text-success">Notes updated</span>
                            </ng-container>
                            <ng-container *ngSwitchCase="'error'">
                                <span class="text-error"
                                    >Failed to update notes</span
                                >
                            </ng-container>
                        </ng-container>

                        <button
                            pButton
                            type="button"
                            class="btn btn-primary"
                            [loading]="
                                notesConfig.saveNotesStatus === 'loading'
                            "
                            (click)="saveNotes()"
                        >
                            Save Notes
                        </button>
                    </ng-container>
                </div>
                <p-divider></p-divider>
            </div>
        </ng-container>
    </ng-template>
</div>
