<div class="content-container">
    <div class="header-action-container">
        <div class="search-container">
            <input
                type="text"
                autocomplete="off"
                pInputText
                placeholder="Search ..."
                (input)="dt1.filterGlobal($event.target.value, 'contains')"
            />
            <button pButton class="btn-primary" icon="pi pi-search"></button>
        </div>
    </div>
    <p-table
        #dt1
        [value]="equipmentTypeList || []"
        styleClass="forms-table"
        [scrollable]="true"
        dataKey="userEmail"
        [tableStyle]="{ width: '100%' }"
        [rows]="20"
        [rowsPerPageOptions]="[50, 100, 200]"
        [paginator]="true"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [globalFilterFields]="['']"
    >
        <ng-template pTemplate="header">
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Classification</th>
                <th alignFrozen="right" pFrozenColumn>Action</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
            <tr>
                <td>{{ item.name }}</td>
                <td>{{ item.type }}</td>
                <td>{{ item.classification }}</td>
                <td alignFrozen="right" pFrozenColumn>
                    <div class="actions-container">
                        <button
                            pButton
                            icon="pi pi-pencil"
                            class="p-button-text edit"
                            pTooltip="Edit"
                            tooltipPosition="left"
                        ></button>
                        <button
                            pButton
                            icon="pi pi-trash"
                            class="p-button-text delete"
                            pTooltip="Delete"
                            tooltipPosition="left"
                        ></button>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
