<ng-container
    *ngIf="{
        isOpen: (isOpen$ | async) || false,
        tour: tour$ | async,
        tours: tours$ | async,
        submitStatus: submitStatus$ | async,
    } as data"
>
    <p-dialog
        [(visible)]="data.isOpen"
        (onHide)="close()"
        [modal]="true"
        [style]="{ width: '60vw', height: 'auto' }"
        styleClass="edit-selected-inventory-modal"
        [breakpoints]="{ '768px': '100vw' }"
        [showHeader]="false"
        [draggable]="false"
        [resizable]="false"
        [dismissableMask]="true"
        appendTo="body"
    >
        <div class="modal-inner-container">
            <div class="modal-header">
                <h2>Edit Unallocated Inventory</h2>
            </div>
            <div class="content-container">
                <ng-container *ngIf="data.tour as tour">
                    <span class="h4">
                        {{ tour.description }}
                    </span>
                    <div class="row-container">
                        <i class="pi pi-calendar"></i>
                        <span class="body">{{
                            tour.start | date : 'MM/dd/yyyy'
                        }}</span>
                    </div>

                    <div class="row-container">
                        <form [formGroup]="editUnallocatedInventoryForm">
                            <div class="form-item">
                                <label for="tour">Select Tour</label>
                                <p-dropdown
                                    styleClass="tour-dropdown"
                                    formControlName="tour"
                                    optionLabel="tourName"
                                    placeholder="Select Tour"
                                    optionValue="tourId"
                                    [options]="data.tours || []"
                                    appendTo="body"
                                ></p-dropdown>
                            </div>
                            <div class="form-item">
                                <label for="seats">Seats per Tour</label>
                                <p-inputNumber
                                    formControlName="seats"
                                    placeholder="Seats per Tour"
                                />
                            </div>
                            <div class="form-item">
                                <label for="fromTime">Departure Time</label>
                                <p-calendar
                                    [defaultDate]="defaultTime"
                                    [showIcon]="true"
                                    [timeOnly]="true"
                                    styleClass="p-calendar-timeonly"
                                    formControlName="fromTime"
                                    appendTo="body"
                                    hourFormat="12"
                                    [stepMinute]="5"
                                    [selectOtherMonths]="true"
                                    (onFocus)="focusFromTime()"
                                ></p-calendar>
                            </div>
                        </form>
                    </div>
                </ng-container>
            </div>
            <ng-container *ngIf="data.submitStatus?.update === 'error'">
                <div>
                    <span class="text-error">Failed to update inventory</span>
                </div>
            </ng-container>
            <ng-container *ngIf="data.tour">
                <div class="edit-unallocated-action">
                    <button
                        pButton
                        class="btn btn-primary-inverse"
                        [disabled]="data.submitStatus?.update === 'loading'"
                        (click)="close()"
                    >
                        Cancel
                    </button>
                    <button
                        pButton
                        class="btn btn-primary"
                        [loading]="data.submitStatus?.update === 'loading'"
                        (click)="onUpdateInventory(data.tour)"
                    >
                        Update
                    </button>
                </div>
            </ng-container>
        </div>
    </p-dialog>
</ng-container>
