<ng-container
    *ngIf="{
        isOpen: (isOpen$ | async) || false,
        context: context$ | async,
        status: status$ | async,
        orderOptions: orderOptions$ | async
    } as data"
>
    <p-dialog
        [(visible)]="data.isOpen"
        (onHide)="close()"
        [modal]="true"
        [style]="{ width: '60vw', height: 'auto' }"
        styleClass="edit-tour-itinerary-modal"
        [breakpoints]="{ '720px': '95vw' }"
        [showHeader]="false"
        [draggable]="false"
        [resizable]="false"
        [dismissableMask]="true"
        appendTo="body"
    >
        <div class="modal-inner-container">
            <div class="modal-header">
                <h2>Edit itinerary</h2>
            </div>
            <p-divider></p-divider>
            <form class="modal-body" [formGroup]="editTourItineraryForm">
                <div class="tour-itinerary-items">
                    <div class="tour-itinerary-item full-width">
                        <label for="description">Description</label>
                        <textarea
                            rows="5"
                            pInputTextarea
                            formControlName="description"
                        ></textarea>
                    </div>

                    <div class="tour-itinerary-item third-width">
                        <label for="hours">Time</label>
                        <div class="two-inputs">
                            <div>
                                <p-iconField iconPosition="right">
                                    <p-inputIcon> h </p-inputIcon>
                                    <input
                                        type="number"
                                        min="0"
                                        pInputText
                                        formControlName="hours"
                                    />
                                </p-iconField>
                            </div>
                            <div>
                                <p-iconField iconPosition="right">
                                    <p-inputIcon> min </p-inputIcon>
                                    <input
                                        type="number"
                                        min="0"
                                        pInputText
                                        formControlName="minutes"
                                    />
                                </p-iconField>
                            </div>
                        </div>
                        <div
                            *ngIf="
                                editTourItineraryForm.hasError(
                                    'atLeastOneRequired'
                                )
                            "
                            class="col-container"
                        >
                            <span class="error-message">
                                Itinerary duration is required.
                            </span>
                        </div>
                    </div>

                    <div class="tour-itinerary-item third-width">
                        <label for="transportation">Transportation</label>
                        <div class="p-element p-inputgroup">
                            <input
                                type="text"
                                id="transportation"
                                formControlName="transportation"
                                pInputText
                            />
                        </div>
                    </div>

                    <div class="tour-itinerary-item third-width">
                        <label for="stepOrder">Step order</label>
                        <p-dropdown
                            id="stepOrder"
                            name="stepOrder"
                            appendTo="body"
                            formControlName="stepOrder"
                            autocomplete="off"
                            optionLabel="label"
                            optionValue="value"
                            styleClass="full-width"
                            [autoDisplayFirst]="false"
                            [options]="data.orderOptions || []"
                            [showClear]="true"
                            appendTo="body"
                        >
                        </p-dropdown>
                    </div>
                </div>
                <div class="btn-container">
                    <ng-container *ngIf="data.status === 'error'">
                        <div>
                            <span class="text-error"
                                >Failed to save tour itinerary</span
                            >
                        </div>
                    </ng-container>

                    <button
                        pButton
                        class="btn btn-primary"
                        class="btn btn-primary-inverse"
                        [disabled]="data.status === 'loading'"
                        (click)="close()"
                    >
                        Cancel
                    </button>
                    <button
                        pButton
                        class="btn btn-primary"
                        [loading]="data.status === 'loading'"
                        [disabled]="
                            editTourItineraryForm.invalid ||
                            data.status === 'loading'
                        "
                        (click)="editTourItinerary()"
                    >
                        Save
                    </button>
                </div>
            </form>
        </div>
    </p-dialog>
</ng-container>
