<div class="container">
    <div class="header-container">
        <h2>Roles</h2>
        <button
            pButton
            class="btn btn-primary"
            (click)="addNewRole()"
            [appPermission]="{
                features: [{

                    feature: appFeatures.userManagement.name,
                    page: appFeatures.userManagement.pages
                        .userRoles.name,
                    pageFeature: [
                        appFeatures.userManagement.pages
                            .userRoles.features
                            .roleCreate.name,
                    ],
                    pageFeatureCheck: 'or',
                }],
            mode: 'none',
        }"
        >
            <i class="pi pi-plus"></i>
            Add New Role
        </button>
    </div>
    <div class="content-container">
        <p>
            Enable and disable CruiseCode features per role.
            <br />
            If you want to add a new feature or page, you'll have to add them
            globally first then enable/disable them for each role.
        </p>
        <div class="main-content-container">
            <div class="roles-container">
                <ng-container *ngIf="roles$ | async as roles">
                    <ng-container *ngFor="let role of roles">
                        <a
                            class="nav-options"
                            routerLinkActive="active"
                            [routerLinkActiveOptions]="{ exact: true }"
                            #rla="routerLinkActive"
                            [routerLink]="'./'"
                            [queryParams]="{ role: role.id }"
                        >
                            {{ role.name | titlecase }}</a
                        >
                    </ng-container>
                </ng-container>
            </div>
            <div class="route-container">
                <div class="role-header-container">
                    <ng-container *ngIf="role">
                        <div class="rolename-container">
                            <h3>{{ role.name | titlecase }}</h3>
                            <ng-container
                                *ngIf="role.isActive; else inactiveChip"
                            >
                                <div class="status-chip active">
                                    <span class="body-m">Active</span>
                                </div>
                            </ng-container>
                            <ng-template #inactiveChip>
                                <div class="status-chip inactive">
                                    <span class="body-m">Inactive</span>
                                </div>
                            </ng-template>
                        </div>
                        <div class="buttons-container">
                            <button
                                pButton
                                class="btn btn-primary-inverse"
                                (click)="editRole()"
                                [appPermission]="{
                                    features: [{
                                        feature: appFeatures.userManagement.name,
                                        page: appFeatures.userManagement.pages
                                            .userRoles.name,
                                        pageFeature: [
                                            appFeatures.userManagement.pages
                                                .userRoles.features
                                                .roleUpdate.name,
                                        ],
                                        pageFeatureCheck: 'or',
                                    }],
                                    mode: 'none',
                                }"
                            >
                                <i class="pi pi-pencil"></i>
                                Edit
                            </button>
                            <button
                                pButton
                                class="btn btn-danger"
                                (click)="deleteRole()"
                                [appPermission]="{
                                    features: [{
                                        feature: appFeatures.userManagement.name,
                                        page: appFeatures.userManagement.pages
                                            .userRoles.name,
                                        pageFeature: [
                                            appFeatures.userManagement.pages
                                                .userRoles.features
                                                .roleDelete.name,
                                        ],
                                        pageFeatureCheck: 'or',
                                    }],
                                    mode: 'none',
                                }"
                            >
                                <i class="pi pi-trash"></i>
                                Delete
                            </button>
                        </div>
                    </ng-container>
                </div>
                <ng-container *ngIf="features$ | async as features">
                    <p-accordion styleClass="features-accordion">
                        <ng-container
                            *ngFor="
                                let category of features | keyvalue;
                                trackBy: featureFlagsTrackBy
                            "
                        >
                            <p-accordionTab>
                                <ng-template pTemplate="header">
                                    <div
                                        class="category-container"
                                        [class.p-disabled]="
                                            role?.isActive === false
                                        "
                                        [appPermission]="{
                                features: [{
                                    feature: appFeatures.userManagement.name,
                                    page: appFeatures.userManagement.pages
                                        .userRoles.name,
                                    pageFeature: [
                                        appFeatures.userManagement.pages
                                            .userRoles.features
                                            .rolePermissionUpdate.name,
                                    ],
                                    pageFeatureCheck: 'or',
                                }],
                                mode: 'childDisabled',
                            }"
                                    >
                                        <div class="category-header-container">
                                            <div class="header-inner-container">
                                                <h4>
                                                    {{ category.key }}
                                                    Feature
                                                </h4>
                                            </div>
                                            <div class="row-action-container">
                                                <button
                                                    pButton
                                                    (click)="
                                                        toggleCategory(
                                                            category.value[
                                                                'id'
                                                            ],
                                                            !category.value[
                                                                'isActive'
                                                            ],
                                                            $event
                                                        )
                                                    "
                                                    [class.btn-primary]="
                                                        category.value[
                                                            'isActive'
                                                        ]
                                                    "
                                                    [class.btn-primary-inverse]="
                                                        !category.value[
                                                            'isActive'
                                                        ]
                                                    "
                                                    [disabled]="
                                                        category.value[
                                                            'disabledGlobally'
                                                        ]
                                                    "
                                                    [pTooltip]="
                                                        category.value[
                                                            'disabledGlobally'
                                                        ]
                                                            ? 'Feature is disabled globally. You have to enable the feature globally to modify the permissions for each role.'
                                                            : ''
                                                    "
                                                >
                                                    {{
                                                        category.value[
                                                            'isActive'
                                                        ]
                                                            ? 'Enabled'
                                                            : 'Disabled'
                                                    }}
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                                <div
                                    [class.p-disabled]="
                                        role?.isActive === false
                                    "
                                >
                                    <ng-container
                                        *ngFor="
                                            let page of category.value['pages']
                                                | keyvalue;
                                            trackBy: featureFlagsTrackBy
                                        "
                                    >
                                        <div class="page-container">
                                            <div class="page-header-container">
                                                <div
                                                    class="header-inner-container"
                                                >
                                                    <h5>
                                                        {{ page.key }}
                                                        Page
                                                    </h5>
                                                </div>
                                                <div
                                                    class="row-action-container"
                                                >
                                                    <button
                                                        pButton
                                                        (click)="
                                                            togglePage(
                                                                page.value[
                                                                    'id'
                                                                ],
                                                                !page.value[
                                                                    'isActive'
                                                                ]
                                                            )
                                                        "
                                                        [class.btn-primary]="
                                                            page.value[
                                                                'isActive'
                                                            ] &&
                                                            category.value[
                                                                'isActive'
                                                            ]
                                                        "
                                                        [class.btn-primary-inverse]="
                                                            !page.value[
                                                                'isActive'
                                                            ] ||
                                                            !category.value[
                                                                'isActive'
                                                            ]
                                                        "
                                                        [disabled]="
                                                            !category.value[
                                                                'isActive'
                                                            ] ||
                                                            page.value[
                                                                'disabledGlobally'
                                                            ]
                                                        "
                                                        [pTooltip]="
                                                            page.value[
                                                                'disabledGlobally'
                                                            ]
                                                                ? 'Page is disabled globally. You have to enable the page globally to modify the permissions for each role.'
                                                                : ''
                                                        "
                                                    >
                                                        {{
                                                            page.value[
                                                                'isActive'
                                                            ] &&
                                                            category.value[
                                                                'isActive'
                                                            ]
                                                                ? 'Enabled'
                                                                : 'Disabled'
                                                        }}
                                                    </button>
                                                </div>
                                            </div>
                                            <ng-container
                                                *ngFor="
                                                    let feature of page.value[
                                                        'pageFeatures'
                                                    ] | keyvalue;
                                                    trackBy: featureFlagsTrackBy
                                                "
                                            >
                                                <div class="feature-container">
                                                    <span>{{
                                                        feature.key
                                                    }}</span>
                                                    <div
                                                        class="row-action-container"
                                                    >
                                                        <button
                                                            pButton
                                                            (click)="
                                                                toggleFeature(
                                                                    feature
                                                                        .value[
                                                                        'id'
                                                                    ],
                                                                    !feature
                                                                        .value[
                                                                        'isActive'
                                                                    ]
                                                                )
                                                            "
                                                            [class.btn-primary]="
                                                                feature.value[
                                                                    'isActive'
                                                                ] &&
                                                                category.value[
                                                                    'isActive'
                                                                ] &&
                                                                page.value[
                                                                    'isActive'
                                                                ]
                                                            "
                                                            [class.btn-primary-inverse]="
                                                                !feature.value[
                                                                    'isActive'
                                                                ] ||
                                                                !category.value[
                                                                    'isActive'
                                                                ] ||
                                                                !page.value[
                                                                    'isActive'
                                                                ]
                                                            "
                                                            [disabled]="
                                                                !category.value[
                                                                    'isActive'
                                                                ] ||
                                                                !page.value[
                                                                    'isActive'
                                                                ] ||
                                                                feature.value[
                                                                    'disabledGlobally'
                                                                ]
                                                            "
                                                            [pTooltip]="
                                                                feature.value[
                                                                    'disabledGlobally'
                                                                ]
                                                                    ? 'Feature is disabled globally. You have to enable the feature globally to modify the permissions for each role.'
                                                                    : ''
                                                            "
                                                        >
                                                            {{
                                                                feature.value[
                                                                    'isActive'
                                                                ] &&
                                                                category.value[
                                                                    'isActive'
                                                                ] &&
                                                                page.value[
                                                                    'isActive'
                                                                ]
                                                                    ? 'Enabled'
                                                                    : 'Disabled'
                                                            }}
                                                        </button>
                                                    </div>
                                                </div>
                                            </ng-container>
                                        </div>
                                    </ng-container>
                                </div>
                            </p-accordionTab>
                        </ng-container>
                    </p-accordion>
                </ng-container>
            </div>
        </div>
    </div>
</div>

<!-- modals -->
<app-create-role-modal></app-create-role-modal>
<app-update-role-modal></app-update-role-modal>
