<ng-container
    *ngIf="{
        isOpen: (isOpen$ | async) || false,
        context: context$ | async
    } as data"
>
    <p-dialog
        [(visible)]="data.isOpen"
        (onHide)="close()"
        [modal]="true"
        [style]="{ width: '60vw', height: 'auto' }"
        styleClass="reminder-modal"
        [breakpoints]="{ '768px': '100vw' }"
        [showHeader]="false"
        [draggable]="false"
        [resizable]="false"
        [dismissableMask]="true"
        appendTo="body"
    >
        <div class="modal-inner-container">
            <div class="modal-header">
                <h2>Set a Reminder</h2>
            </div>
            <p-divider></p-divider>
            <ng-container *ngIf="data.context">
                <div class="modal-body">
                    <div class="reminder-info">
                        <div class="reminder-text">
                            <span>
                                <i class="pi pi-calendar"></i>
                                {{ data.context.tourInventoryDateString }}</span
                            >
                            <span class="h3">
                                {{ data.context.tourName }}
                            </span>
                            <span>
                                {{ data.context.shipName }}
                            </span>
                            <span>
                                {{ data.context.seatSold }} out of
                                {{ data.context.seatAllocated }} seats sold
                            </span>
                            <span>
                                Threshold at
                                {{ data.context.threshold }}%
                            </span>
                        </div>
                        <div class="reminder-img">
                            <ng-container *ngIf="tourImage">
                                <img [src]="tourImage" alt="Tour Image" />
                            </ng-container>
                        </div>
                    </div>
                    <p-divider></p-divider>
                    <div class="reminder-options">
                        <span class="h3">Remind me after:</span>

                        <ng-container *ngFor="let option of reminderOptions">
                            <div class="option-item">
                                <p-radioButton
                                    [name]="option.label"
                                    [value]="option.value"
                                    inputId="reminderOption"
                                    [(ngModel)]="optionRadio"
                                ></p-radioButton>
                                <label for="option" class="ml-2">{{
                                    option.label
                                }}</label>
                            </div>
                        </ng-container>
                        <div class="date-container">
                            <label>From</label>
                            <p-calendar
                                appendTo="body"
                                [showIcon]="true"
                                styleClass="calendar-icon"
                                dateFormat="mm/dd/yy"
                                placeholder="Date"
                                [(ngModel)]="reminderDate"
                                [selectOtherMonths]="true"
                            ></p-calendar>
                        </div>
                        <div class="btn-container">
                            <button
                                pButton
                                class="btn btn-primary-inverse"
                                (click)="close()"
                            >
                                Cancel
                            </button>
                            <button
                                pButton
                                type="submit"
                                class="btn btn btn-primary"
                                (click)="save(data.context)"
                            >
                                Save Reminder
                            </button>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </p-dialog>
</ng-container>
