<div class="notes-container">
    <ng-container
        *ngIf="{
            status: status$ | async,
            notes: notes$ | async,
        } as config"
    >
        <h2>Notes</h2>
        <form
            [formGroup]="notesForm"
            class="notes-form"
            (ngSubmit)="saveNotes()"
            [appPermission]="{
                features: [{

                    feature: features.userManagementEdit.name,
                    page: features.userManagementEdit.pages.notes.name,
                    pageFeature: [
                        features.userManagementEdit.pages.notes.features.notesCreate
                            .name
                    ],
                    pageFeatureCheck: 'or',
                }],
                mode: 'childDisabled'
            }"
        >
            <textarea
                rows="5"
                pInputTextarea
                formControlName="notes"
                class="notes-textarea"
            ></textarea>
            <div class="btn-group">
                <button
                    pButton
                    class="btn btn-primary-inverse"
                    type="button"
                    [disabled]="config.status?.save === 'loading'"
                    (click)="clear()"
                >
                    Clear
                </button>
                <button
                    type="submit"
                    pButton
                    class="btn btn-primary"
                    [loading]="config.status?.save === 'loading'"
                    [disabled]="notesForm.invalid"
                >
                    Add
                </button>
                <ng-container *ngIf="config.status?.save === 'error'">
                    <span class="text-error">Failed to Save Note</span>
                </ng-container>
                <ng-container *ngIf="config.status?.save === 'success'">
                    <span class="text-success">Note saved successfully!</span>
                </ng-container>
            </div>
        </form>

        <ng-container [ngSwitch]="config.status?.load">
            <ng-container *ngSwitchCase="'loading'">
                <app-loader-embed [isDisplayed]="true"></app-loader-embed>
            </ng-container>
            <ng-container *ngSwitchCase="'error'">
                <div class="error-state">
                    <span>Error loading inventories</span>
                    <button pButton (click)="refresh()">Retry</button>
                </div>
            </ng-container>
            <ng-container *ngSwitchCase="'success'">
                <ng-container *ngIf="config.notes; else emptyNotes">
                    <app-user-notes-table
                        [userNotes]="config.notes"
                    ></app-user-notes-table>
                </ng-container>
                <ng-template #emptyNotes>
                    <div>
                        <span
                            >User has no notes. Fill in the form above to add
                            user notes.</span
                        >
                    </div>
                </ng-template>
            </ng-container>
        </ng-container>
    </ng-container>
</div>
<app-edit-notes-modal></app-edit-notes-modal>
<app-delete-notes-modal></app-delete-notes-modal>
