<div class="main-content">
    <ng-container
        *ngIf="{
            status: status$ | async,
            evaluations: evaluations$ | async,
        } as data"
    >
        <div class="header-row">
            <h2>Evaluations</h2>
            <button
                (click)="openAddEvaluationModal()"
                pButton
                class="btn btn-primary"
                [appPermission]="{
                    features: [{
                        feature: features.profile.name,
                        page: features.profile.pages.evaluations.name,
                        pageFeature: [
                            features.profile.pages.evaluations.features
                                .evaluationsCreate.name
                        ],
                        pageFeatureCheck: 'or',
                    }],
                    mode: 'none'
                }"
            >
                <i class="pi pi-plus"></i>
                Add New
            </button>
        </div>

        <ng-container [ngSwitch]="data.status">
            <ng-container *ngSwitchCase="'loading'">
                <app-loader-embed [isDisplayed]="true"></app-loader-embed>
            </ng-container>
            <ng-container *ngSwitchCase="'error'">
                <div class="error-state">
                    <span>Error loading inventories</span>
                    <button pButton (click)="refresh()">Retry</button>
                </div>
            </ng-container>
            <ng-container *ngSwitchCase="'success'">
                <ng-container *ngIf="data.evaluations; else emptyEvaluations">
                    <app-user-evaluations-table
                        [userEvaluations]="data.evaluations"
                    ></app-user-evaluations-table>
                </ng-container>
                <ng-template #emptyEvaluations>
                    <div>
                        <span
                            >User has no evaluations. Fill in the form above to
                            add user evaluations.</span
                        >
                    </div>
                </ng-template>
            </ng-container>
        </ng-container>
    </ng-container>
</div>
<app-add-evaluation-modal></app-add-evaluation-modal>
<app-edit-evaluation-modal></app-edit-evaluation-modal>
<app-remove-evaluation-modal></app-remove-evaluation-modal>
