<div class="container needing-allocation-container">
    <div class="header-container">
        <h2>Cruise Ships At or Reaching Capacity</h2>
        <button
            pButton
            class="btn btn-primary btn-filter"
            (click)="toggleFilterDrawer()"
        >
            <i class="pi pi-sliders-v"></i>
        </button>
    </div>

    <p-accordion (onClose)="closeFilterDrawer()">
        <p-accordionTab [selected]="(filterIsOpen$ | async) === true">
            <ng-template pTemplate="header"> </ng-template>
            <div class="accordion-content-container">
                <app-table-controls></app-table-controls>
                <p-divider></p-divider>
            </div>
        </p-accordionTab>
    </p-accordion>

    <ng-container [ngSwitch]="allocationDataLoading$ | async">
        <ng-container *ngSwitchCase="'loading'">
            <app-loader-embed [isDisplayed]="true"></app-loader-embed>
        </ng-container>
        <ng-container *ngSwitchCase="'error'">
            <div class="error-state">
                <i class="pi pi-exclamation-circle"></i>
                <span class="body-xl font-medium"
                    >Error loading inventories</span
                >
                <span class="body"
                    >Try setting different search parameters.</span
                >
            </div>
        </ng-container>
        <ng-container *ngSwitchCase="'success'">
            <div class="allocation-list-container">
                <app-allocation-list></app-allocation-list>
            </div>
            <div class="allocation-table-container">
                <app-allocation-table></app-allocation-table>
            </div>
        </ng-container>
    </ng-container>
</div>

<app-allocation-reminder-modal></app-allocation-reminder-modal>
