<ng-container
    *ngIf="{
        isOpen: (isOpen$ | async) || false,
        licenseOptions: licenseOptions$ | async,
        status: status$ | async,
    } as data"
>
    <p-dialog
        [(visible)]="data.isOpen"
        (onHide)="close()"
        [modal]="true"
        [style]="{ width: '60vw', height: 'auto' }"
        styleClass="add-user-license"
        [breakpoints]="{ '768px': '100vw' }"
        [showHeader]="false"
        [draggable]="false"
        [resizable]="false"
        [dismissableMask]="true"
        appendTo="body"
    >
        <div class="modal-inner-container">
            <div class="modal-header">
                <h2>Add Special License</h2>
            </div>
            <p-divider></p-divider>
            <form [formGroup]="addSpecialLicenseForm" (ngSubmit)="save()">
                <div class="license-container">
                    <div class="license-item">
                        <label for="license-type">License Type</label>
                        <p-dropdown
                            id="license-type"
                            name="license-type"
                            formControlName="licenseType"
                            autocomplete="off"
                            optionLabel="specialLicense"
                            optionValue="specialLicenseId"
                            styleClass="full-width"
                            [autoDisplayFirst]="false"
                            [options]="data.licenseOptions || []"
                            [showClear]="true"
                            placeholder="Select License Type"
                        >
                        </p-dropdown>
                    </div>
                    <div class="license-item">
                        <label for="start-date">Valid from Date</label>
                        <p-calendar
                            #startDate
                            appendTo="body"
                            [readonlyInput]="true"
                            [showIcon]="true"
                            styleClass="calendar-icon"
                            dateFormat="mm/dd/yy"
                            placeholder="Select Dates"
                            formControlName="fromDate"
                            [selectOtherMonths]="true"
                        >
                        </p-calendar>
                    </div>
                    <div class="license-item">
                        <label for="expiryDate">Expiry Date</label>
                        <p-calendar
                            id="expiryDate"
                            dateFormat="mm/dd/yy"
                            placeholder="Select Dates"
                            formControlName="expiryDate"
                            appendTo="body"
                            [showIcon]="true"
                            styleClass="calendar-icon"
                            [selectOtherMonths]="true"
                        >
                        </p-calendar>
                    </div>
                </div>
                <div class="noexpiry-container">
                    <p-checkbox
                        [binary]="true"
                        inputId="noExpiryDate"
                        formControlName="noExpiryDate"
                    ></p-checkbox>
                    <label for="noExpiryDate">No expiry date</label>
                </div>
                <div class="file-upload-container">
                    <label for="tour-date">Document</label>
                    <p-fileUpload
                        mode="basic"
                        [showUploadButton]="false"
                        styleClass="full-width btn-primary"
                        chooseLabel="Choose Files"
                        #fileUploadComponent
                        [multiple]="false"
                        (onSelect)="onFileSelect($event)"
                    >
                    </p-fileUpload>
                </div>
                <div class="footer-container">
                    <ng-container *ngIf="data.status === 'error'">
                        <span class="text-error">Failed to Add License</span>
                    </ng-container>
                    <div class="btn-container">
                        <button
                            pButton
                            class="btn btn-primary-inverse"
                            type="button"
                            (click)="close()"
                        >
                            Cancel
                        </button>
                        <button
                            pButton
                            class="btn btn-primary"
                            type="submit"
                            [loading]="data.status === 'loading'"
                            [disabled]="
                                !fileToUpload || addSpecialLicenseForm.invalid
                            "
                        >
                            Add
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </p-dialog>
</ng-container>
