<ng-container
    *ngIf="{
        isOpen: (isOpen$ | async) || false,
        context: context$ | async,
        status: status$ | async
    } as data"
>
    <p-dialog
        [(visible)]="data.isOpen"
        (onHide)="close()"
        [modal]="true"
        [style]="{ width: '60vw', height: 'auto' }"
        styleClass="restore-user-modal"
        [breakpoints]="{ '768px': '95vw' }"
        [showHeader]="false"
        [draggable]="false"
        [resizable]="false"
        [dismissableMask]="true"
        appendTo="body"
    >
        <ng-container *ngIf="data.context">
            <div class="modal-inner-container">
                <div class="modal-header">
                    <h2>Would you like to Restore this user?</h2>
                </div>
                <p-divider></p-divider>
                <div class="user-details-container">
                    <div class="row-container">
                        <div class="cell-container">
                            <span class="h4">Name</span>
                            <span>
                                <ng-container *ngIf="data.context">
                                    {{ data.context.firstName }}
                                    {{ data.context.lastName }}
                                </ng-container>
                            </span>
                        </div>
                        <p-divider layout="vertical"></p-divider>
                        <div class="cell-container">
                            <span class="h4">Role</span>
                            <span>
                                <ng-container *ngIf="data.context">
                                    {{ data.context.userRole }}
                                </ng-container>
                            </span>
                        </div>
                        <p-divider layout="vertical"></p-divider>
                        <div class="cell-container">
                            <span class="h4">Email</span>
                            <span>
                                <ng-container *ngIf="data.context">
                                    {{ data.context.email }}
                                </ng-container>
                            </span>
                        </div>
                        <p-divider layout="vertical"></p-divider>
                        <div class="cell-container">
                            <span class="h4">Phone Number</span>
                            <span>
                                <ng-container *ngIf="data.context">
                                    {{ data.context.phoneNumber }}
                                </ng-container>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="btn-container">
                    <ng-container *ngIf="data.status === 'error'">
                        <div class="error-message">
                            <span class="text-error"
                                >Failed to restore user</span
                            >
                        </div>
                    </ng-container>
                    <button
                        pButton
                        class="btn btn-primary-inverse"
                        type="button"
                        (click)="close()"
                        [disabled]="data.status === 'loading'"
                    >
                        Cancel
                    </button>
                    <button
                        pButton
                        class="btn btn-danger"
                        (click)="restore(data.context.userId)"
                        [loading]="data.status === 'loading'"
                    >
                        Restore
                    </button>
                </div>
            </div>
        </ng-container>
    </p-dialog>
</ng-container>
