<ng-container
    *ngIf="{
        events: cEvents$ | async,
        emptyCells: emptyCells$ | async
    } as calendarData"
>
    <div>
        <div class="calendar-container">
            <!-- calendar controls -->
            <ng-container *ngIf="displayControls">
                <div class="controls-container">
                    <div class="navigation-controls-container">
                        <button
                            pButton
                            class="p-button-text btn-text"
                            mwlCalendarPreviousView
                            [view]="view"
                            [viewDate]="viewDate"
                            (viewDateChange)="onViewDateChange($event)"
                            icon="pi pi-angle-left"
                        ></button>
                        <button
                            pButton
                            class="p-button-text btn-text"
                            mwlCalendarToday
                            [(viewDate)]="viewDate"
                            (viewDateChange)="onViewDateChange($event)"
                        >
                            Today
                        </button>
                        <button
                            pButton
                            class="p-button-text btn-text"
                            mwlCalendarNextView
                            [view]="view"
                            [viewDate]="viewDate"
                            (viewDateChange)="onViewDateChange($event)"
                            icon="pi pi-angle-right"
                        ></button>
                    </div>
                    <div class="calendar-title-container">
                        <h3>
                            {{
                                viewDate
                                    | calendarDate : view + 'ViewTitle' : 'en'
                            }}
                        </h3>
                    </div>
                    <div class="view-controls-container">
                        <button
                            pButton
                            class="btn-primary-inverse"
                            (click)="setView(CalendarView.Month)"
                            [class.active]="view === CalendarView.Month"
                        >
                            Month
                        </button>
                        <button
                            pButton
                            class="btn-primary-inverse"
                            (click)="setView(CalendarView.Week)"
                            [class.active]="view === CalendarView.Week"
                        >
                            Week
                        </button>
                        <button
                            pButton
                            class="btn-primary-inverse"
                            (click)="setView(CalendarView.Day)"
                            [class.active]="view === CalendarView.Day"
                        >
                            Day
                        </button>
                    </div>
                </div>
            </ng-container>

            <!-- calendar content -->
            <ng-container *ngIf="calendarEvents$ | async as events">
                <div [ngSwitch]="view">
                    <mwl-calendar-month-view
                        *ngSwitchCase="CalendarView.Month"
                        [viewDate]="viewDate"
                        [events]="events"
                        [cellTemplate]="monthEvent"
                        [headerTemplate]="monthHeaderTemplate"
                    >
                    </mwl-calendar-month-view>
                    <mwl-calendar-week-view
                        *ngSwitchCase="CalendarView.Week"
                        [viewDate]="viewDate"
                        [events]="calendarData.emptyCells || []"
                        [eventTemplate]="weekEvent"
                        [headerTemplate]="weekHeaderTemplate"
                        [dayStartHour]="5"
                        [weekStartsOn]="0"
                    >
                    </mwl-calendar-week-view>
                    <mwl-calendar-week-view
                        *ngSwitchCase="CalendarView.Day"
                        [viewDate]="viewDate"
                        [events]="calendarData.emptyCells || []"
                        [eventTemplate]="dayEvent"
                        [daysInWeek]="1"
                        [dayStartHour]="5"
                        class="dayview"
                    >
                    </mwl-calendar-week-view>
                </div>

                <!-- month header -->
                <ng-template
                    #monthHeaderTemplate
                    let-days="days"
                    let-locale="locale"
                >
                    <app-month-header [days]="days"></app-month-header>
                </ng-template>

                <!-- month view -->
                <ng-template #monthEvent let-day="day" let-locale="locale">
                    <app-month-view
                        [day]="day"
                        [displayAddUnallocatedButton]="
                            displayAddUnallocatedButton
                        "
                        [addUnallocatedPermission]="addUnallocatedPermission"
                        (addClicked)="onAddClicked()"
                    ></app-month-view>
                </ng-template>

                <!-- week header -->
                <ng-template
                    #weekHeaderTemplate
                    let-days="days"
                    let-locale="locale"
                >
                    <app-week-header [days]="days"></app-week-header>
                </ng-template>

                <!-- Week View -->
                <ng-template #weekEvent let-weekEvent="weekEvent">
                    <app-week-view
                        [id]="weekEvent.event.id"
                        [calendarData]="calendarData.events"
                        [displayQuickActions]="displayQuickActions"
                        [allowModifyReleaseInv]="allowModifyReleaseInv"
                        [allowDrag]="allowDrag"
                        [editPermission]="editPermission"
                        [allocatePermission]="allocatePermission"
                        [releasePermission]="releasePermission"
                        [deletePermission]="deletePermission"
                        (allocateInventory)="allocateInventory.emit($event)"
                        (releaseInventory)="releaseInventory.emit($event)"
                        (deleteInventory)="deleteInventory.emit($event)"
                        (editInventory)="editInventory.emit($event)"
                        (dragInventory)="onWeekViewDragStart($event)"
                        (dropInventory)="onWeekViewDrop($event)"
                    ></app-week-view>
                </ng-template>

                <!-- Day View -->
                <ng-template #dayEvent let-weekEvent="weekEvent">
                    <app-day-view
                        [id]="weekEvent.event.id"
                        [calendarData]="calendarData.events"
                        [displayQuickActions]="displayQuickActions"
                        [allowModifyReleaseInv]="allowModifyReleaseInv"
                        [allowDrag]="allowDrag"
                        [editPermission]="editPermission"
                        [allocatePermission]="allocatePermission"
                        [releasePermission]="releasePermission"
                        [deletePermission]="deletePermission"
                        (allocateInventory)="allocateInventory.emit($event)"
                        (releaseInventory)="releaseInventory.emit($event)"
                        (deleteInventory)="deleteInventory.emit($event)"
                        (editInventory)="editInventory.emit($event)"
                        (moveInventory)="moveInventory.emit($event)"
                    ></app-day-view>
                </ng-template>
            </ng-container>
        </div>
    </div>
</ng-container>
