<ng-container
    *ngIf="{
        isOpen: (isOpen$ | async) || false,
        status: status$ | async,
        cruiseShipList: cruiseShipList$ | async,
        ports: ports$ | async,
    } as data"
>
    <p-dialog
        [(visible)]="data.isOpen"
        (onHide)="close()"
        [modal]="true"
        [style]="{ width: '50vw', height: 'auto' }"
        styleClass="add-new-ship-schedule-modal"
        [breakpoints]="{ '700px': '100vw' }"
        [showHeader]="false"
        [draggable]="false"
        [resizable]="false"
        [dismissableMask]="true"
        appendTo="body"
    >
        <div class="modal-inner-container">
            <div class="modal-header">
                <h2>Edit Ship Schedule</h2>
            </div>
            <p-divider></p-divider>
            <form class="modal-body" [formGroup]="editShipScheduleForm">
                <div class="row-container">
                    <div class="cell-container">
                        <label for="portId">Port</label>
                        <p-dropdown
                            formControlName="portId"
                            autocomplete="off"
                            [options]="data.ports || []"
                            optionLabel="portName"
                            optionValue="portId"
                            [showClear]="true"
                            appendTo="body"
                        ></p-dropdown>
                    </div>
                    <div class="cell-container">
                        <label for="isActive">Status</label>
                        <p-dropdown
                            formControlName="isActive"
                            autocomplete="off"
                            optionLabel="label"
                            optionValue="value"
                            [options]="statusOption || []"
                            [autoDisplayFirst]="false"
                            appendTo="body"
                            [showClear]="true"
                        ></p-dropdown>
                    </div>
                    <div class="cell-container">
                        <label for="arrivalDate">Arrival Date</label>
                        <p-calendar
                            dateFormat="mm/dd/yy"
                            formControlName="arrivalDate"
                            appendTo="body"
                            [showIcon]="true"
                            styleClass="calendar-icon"
                        >
                        </p-calendar>
                    </div>
                    <div class="cell-container">
                        <label for="arrivalTime">Arrival Time</label>
                        <p-calendar
                            [showIcon]="true"
                            [timeOnly]="true"
                            styleClass="p-calendar-timeonly"
                            formControlName="arrivalTime"
                            appendTo="body"
                            hourFormat="24"
                            [stepMinute]="5"
                            [selectOtherMonths]="true"
                        ></p-calendar>
                    </div>
                    <div class="cell-container">
                        <label for="departureDate">Departure Date</label>
                        <p-calendar
                            dateFormat="mm/dd/yy"
                            formControlName="departureDate"
                            appendTo="body"
                            [showIcon]="true"
                            styleClass="calendar-icon"
                        >
                        </p-calendar>
                    </div>
                    <div class="cell-container">
                        <label for="departureTime">Departure Time</label>
                        <p-calendar
                            [showIcon]="true"
                            [timeOnly]="true"
                            styleClass="p-calendar-timeonly"
                            formControlName="departureTime"
                            appendTo="body"
                            hourFormat="24"
                            [stepMinute]="5"
                            [selectOtherMonths]="true"
                        ></p-calendar>
                    </div>
                </div>
                <div class="btn-container">
                    <ng-container *ngIf="data.status === 'error'">
                        <div>
                            <span class="text-error"
                                >Failed to add Ship Schedule</span
                            >
                        </div>
                    </ng-container>

                    <button
                        pButton
                        class="btn btn-primary"
                        class="btn btn-primary-inverse"
                        [disabled]="data.status === 'loading'"
                        (click)="close()"
                    >
                        Cancel
                    </button>
                    <button
                        pButton
                        class="btn btn-primary"
                        [loading]="data.status === 'loading'"
                        [disabled]="
                            data.status === 'loading' ||
                            editShipScheduleForm.invalid
                        "
                        (click)="save()"
                    >
                        Save
                    </button>
                </div>
            </form>
        </div>
    </p-dialog>
</ng-container>
