<div class="main-content">
    <ng-container
        *ngIf="{
            status: status$ | async,
            trainingData: trainingData$ | async,
        } as data"
    >
        <div class="header-row">
            <h2>Training</h2>
            <button
                (click)="openAddTrainingModal()"
                pButton
                class="btn btn-primary"
                [appPermission]="{
                    features: [{

                        feature: features.profile.name,
                        page: features.profile.pages.training.name,
                        pageFeature: [
                            features.profile.pages.training.features
                                .trainingCreate.name
                        ],
                        pageFeatureCheck: 'or',
                    }],
                    mode: 'none'
                }"
            >
                <i class="pi pi-plus"></i>
                Add New
            </button>
        </div>

        <ng-container [ngSwitch]="data.status">
            <ng-container *ngSwitchCase="'loading'">
                <app-loader-embed [isDisplayed]="true"></app-loader-embed>
            </ng-container>
            <ng-container *ngSwitchCase="'error'">
                <div class="error-state">
                    <span>Error loading inventories</span>
                    <button pButton (click)="refresh()">Retry</button>
                </div>
            </ng-container>
            <ng-container *ngSwitchCase="'success'">
                <ng-container *ngIf="data.trainingData; else emptyTrainingData">
                    <app-user-training-table
                        [userTraining]="data.trainingData"
                    ></app-user-training-table>
                </ng-container>
                <ng-template #emptyTrainingData>
                    <div>
                        <span
                            >User has no training. Fill in the form above to add
                            user training.</span
                        >
                    </div>
                </ng-template>
            </ng-container>
        </ng-container>
    </ng-container>
</div>
<app-add-training-modal></app-add-training-modal>
<app-edit-training-modal></app-edit-training-modal>
<app-remove-training-modal></app-remove-training-modal>
