<ng-container *ngIf="{ isScrolling: isScrolling$ | async } as config">
    <div
        class="grid-container"
        [class.hide]="!isVisible && !config.isScrolling"
    >
        <ng-container *ngIf="assignments$ | async as assignments">
            <ng-container
                *ngFor="
                    let assignment of assignments;
                    let i = index;
                    trackBy: assignmentsTrackBy
                "
            >
                <div
                    [id]="'assignment-' + i"
                    class="assignment-container"
                    [ngClass]="{
                        'cancelled-assignment': assignment.isCancelled,
                        'open-assignment':
                            assignment.isOpen && !assignment.isCancelled,
                        'closed-assignment':
                            assignment.isClosed && !assignment.isCancelled,
                        'confirmed-assignment':
                            (assignment.actualTotal !== null &&
                                !assignment.isOpen) ||
                            (assignment.actualTotal !== null &&
                                assignment.isClosed) ||
                            (assignment.actualTotal !== null &&
                                assignment.isCancelled)
                    }"
                >
                    <div class="assignment-info-container">
                        <div class="important-info-container">
                            <span class="body-xl font-medium time">
                                {{
                                    assignment.tourInventoryTime
                                        | tourInventoryTime
                                }}
                                <ng-container
                                    *ngIf="assignment.tourInventoryEndTime"
                                >
                                    -
                                    {{
                                        assignment.tourInventoryEndTime
                                            | tourInventoryTime
                                    }}
                                </ng-container>
                            </span>
                            <div class="v-divider"></div>
                            <span class="body-xl font-medium tourname">
                                {{ assignment.tourName }}</span
                            >
                            <span class="body-xl font-medium tourshortname">
                                {{
                                    assignment.tourShortName ||
                                        assignment.tourName
                                }}
                            </span>

                            <!-- <div class="desktop"> -->
                            <!-- max capacity -->
                            <ng-container
                                *ngIf="assignment.tourInventoryAllocatedSeats"
                            >
                                <div
                                    class="capacity-chip"
                                    [pTooltip]="
                                        'Max Capacity: ' +
                                        assignment.tourInventoryAllocatedSeats
                                    "
                                >
                                    <span>
                                        Max:
                                        {{
                                            assignment.tourInventoryAllocatedSeats
                                        }}
                                    </span>
                                </div>
                            </ng-container>
                            <!-- </div> -->

                            <!-- status chip -->
                            <ng-container
                                *ngTemplateOutlet="statusChip"
                            ></ng-container>
                        </div>

                        <div class="mobile actions-container">
                            <button
                                pButton
                                icon="pi pi-ellipsis-h"
                                aria-label="Assignment Options"
                                (click)="
                                    activeMenuAssignment$.next(assignment);
                                    menu.toggle($event)
                                "
                            >
                                <ng-container *ngIf="assignment.specialNotes">
                                    <div class="indicator"></div>
                                </ng-container>
                            </button>
                        </div>
                        <div class="actions-container desktop">
                            <div
                                class="primary-actions"
                                [appPermission]="{
                            features: [{
                                feature: features.dailyTourDispatch.name,
                            page: features.dailyTourDispatch.pages
                                .dailyTourDispatch.name,
                            pageFeature: [
                                features.dailyTourDispatch.pages
                                    .dailyTourDispatch.features
                                    .statusUpdate.name,
                                    features.dailyTourDispatch.pages
                                    .dailyTourDispatch.features
                                    .confirmGuests.name,
                                    features.dailyTourDispatch.pages
                                    .dailyTourDispatch.features
                                    .addOtcBooking.name,
                                    features.dailyTourDispatch.pages
                                    .dailyTourDispatch.features
                                    .notesView.name,
                            ],
                            pageFeatureCheck: 'or',
                            }],
                            mode: 'none',
                        }"
                            >
                                <!-- <ng-container
                                *ngIf="assignment.shipName !== 'Book Direct'"
                            >
                                <button
                                    pButton
                                    icon="pi pi-list-check"
                                    aria-label="Update Prelims"
                                    pTooltip="Update Prelims"
                                    tooltipPosition="left"
                                    (click)="openUpdatePrelimsModal(assignment)"
                                    [appPermission]="{
                                   features: [{
                                    feature: features.dailyTourDispatch.name,
                                    page: features.dailyTourDispatch.pages
                                        .dailyTourDispatch.name,
                                    pageFeature: [
                                        features.dailyTourDispatch.pages
                                            .dailyTourDispatch.features
                                            .preLimUpdate.name,
                                    ],
                                    pageFeatureCheck: 'or',
                                   }],
                                    mode: 'none',
                                }"
                                >
                                    <ng-container
                                        *ngIf="assignment.preLim !== null"
                                    >
                                        <div class="indicator"></div>
                                    </ng-container>
                                </button>
                            </ng-container> -->
                                <button
                                    pButton
                                    icon="pi pi-plus"
                                    aria-label="Add OTC Booking"
                                    pTooltip="Add OTC Booking"
                                    tooltipPosition="left"
                                    (click)="openAddOtcModal(assignment)"
                                    [appPermission]="{
                                       features: [{
                                        feature: features.dailyTourDispatch.name,
                                        page: features.dailyTourDispatch.pages
                                            .dailyTourDispatch.name,
                                        pageFeature: [
                                            features.dailyTourDispatch.pages
                                                .dailyTourDispatch.features
                                                .addOtcBooking.name,
                                        ],
                                        pageFeatureCheck: 'or',
                                       }],
                                        mode: 'none',
                                    }"
                                ></button>
                                <button
                                    pButton
                                    icon="pi pi-comment"
                                    aria-label="Notes"
                                    [pTooltip]="
                                        assignment.specialNotes || 'Add Notes'
                                    "
                                    tooltipPosition="left"
                                    (click)="openAssignmentNotes(assignment)"
                                    [appPermission]="{
                                   features: [{
                                    feature: features.dailyTourDispatch.name,
                                    page: features.dailyTourDispatch.pages
                                        .dailyTourDispatch.name,
                                    pageFeature: [
                                        features.dailyTourDispatch.pages
                                            .dailyTourDispatch.features
                                            .notesView.name,
                                    ],
                                    pageFeatureCheck: 'or',
                                   }],
                                    mode: 'none',
                                }"
                                >
                                    <ng-container
                                        *ngIf="assignment.specialNotes"
                                    >
                                        <div class="indicator"></div>
                                    </ng-container>
                                </button>
                                <button
                                    pButton
                                    icon="pi pi-user-edit"
                                    aria-label="Confirm Guests"
                                    pTooltip="Confirm Guests"
                                    tooltipPosition="left"
                                    (click)="openConfirmGuests(assignment)"
                                    [appPermission]="{
                                        features: [{
                                            feature: features.dailyTourDispatch.name,
                                        page: features.dailyTourDispatch.pages
                                            .dailyTourDispatch.name,
                                        pageFeature: [
                                            features.dailyTourDispatch.pages
                                                .dailyTourDispatch.features
                                                .confirmGuests.name,
                                        ],
                                        pageFeatureCheck: 'or',
                                        }],
                                        mode: 'none',
                                    }"
                                ></button>
                                <button
                                    pButton
                                    icon="pi pi-folder-open"
                                    aria-label="Update Status"
                                    pTooltip="Update Status"
                                    tooltipPosition="left"
                                    (click)="openUpdateStatusModal(assignment)"
                                    [appPermission]="{
                                        features: [{
                                            feature: features.dailyTourDispatch.name,
                                        page: features.dailyTourDispatch.pages
                                            .dailyTourDispatch.name,
                                        pageFeature: [
                                            features.dailyTourDispatch.pages
                                                .dailyTourDispatch.features
                                                .statusUpdate.name,
                                        ],
                                        pageFeatureCheck: 'or',
                                        }],
                                        mode: 'none',
                                    }"
                                ></button>

                                <button
                                    pButton
                                    aria-label="Move to Alternate Time"
                                    pTooltip="Move to Alternate Time"
                                    tooltipPosition="left"
                                    (click)="
                                        openJoinDeparturesModal(assignment)
                                    "
                                    [appPermission]="{
                                    features: [{
                                        feature: features.dailyTourDispatch.name,
                                    page: features.dailyTourDispatch.pages
                                        .dailyTourDispatch.name,
                                    pageFeature: [
                                        features.dailyTourDispatch.pages
                                            .dailyTourDispatch.features
                                            .addJointDeparture.name,
                                    ],
                                    pageFeatureCheck: 'or',
                                    }],
                                    mode: 'none',
                                }"
                                >
                                    <app-icon-add-joint-departure
                                        [height]="20"
                                        [width]="20"
                                        color="#000"
                                    ></app-icon-add-joint-departure>
                                </button>
                            </div>

                            <button
                                pButton
                                icon="pi pi-receipt"
                                (click)="openBookingListModal(assignment)"
                                aria-label="View Bookings"
                                pTooltip="View Bookings"
                                tooltipPosition="left"
                            ></button>

                            <!-- for accordion style bookings -->
                            <!-- <button
                                pButton
                                (click)="toggleShowBooking(assignment)"
                                pTooltip="Display Bookings"
                                tooltipPosition="left"
                            >
                                <ng-container
                                    *ngIf="
                                        assignment.displayBookings;
                                        else collapse
                                    "
                                >
                                    <i class="pi pi-angle-up"></i>
                                </ng-container>
                                <ng-template #collapse>
                                    <i class="pi pi-angle-down"></i>
                                </ng-template>
                            </button> -->
                        </div>
                    </div>
                    <div class="info-cards-container">
                        <!-- allocation -->
                        <div class="logistic-cards-container">
                            <div class="info-card allocation">
                                <div class="title-container">
                                    <div class="info-title">
                                        <app-icon-cruise
                                            [width]="16"
                                            [color]="'#000'"
                                        ></app-icon-cruise>
                                        <span>Allocated To</span>
                                    </div>
                                    <ng-container
                                        *ngIf="
                                            (assignment.tourInventoryFromId ||
                                                assignment.tourInventoryToId) &&
                                            assignment.jointDepartureIndicatorColor
                                        "
                                    >
                                        <app-icon-joint-departure
                                            [color]="
                                                assignment.jointDepartureIndicatorColor
                                            "
                                            [width]="35"
                                            [height]="35"
                                        ></app-icon-joint-departure>
                                    </ng-container>
                                    <!-- <ng-container
                                        *ngIf="
                                            assignment.tourInventoryAllocatedSeats
                                        "
                                    >
                                        <div
                                            class="capacity-chip"
                                            [pTooltip]="
                                                'Max Capacity: ' +
                                                assignment.tourInventoryAllocatedSeats
                                            "
                                        >
                                            <span>
                                                Max:
                                                {{
                                                    assignment.tourInventoryAllocatedSeats
                                                }}
                                            </span>
                                        </div>
                                    </ng-container> -->
                                </div>
                                <div class="allocation-info">
                                    <span class="info-value">{{
                                        assignment.shipName
                                    }}</span>
                                    <span class="info-subtext">
                                        Dock:
                                        {{
                                            assignment.dockName
                                                ? assignment.dockName
                                                : 'Unassigned'
                                        }}
                                    </span>
                                </div>
                            </div>

                            <!-- transportation -->
                            <div class="info-card transportation">
                                <div class="title-container">
                                    <div class="info-title">
                                        <app-icon-transport
                                            [width]="14"
                                            [color]="'#000'"
                                        ></app-icon-transport>
                                        <span>Transportation</span>
                                    </div>
                                    <button
                                        pButton
                                        class="btn btn-text btn-edit"
                                        (click)="
                                            openUpdateTransportationModal(
                                                assignment
                                            )
                                        "
                                        [appPermission]="{
                                        features: [{
                                            feature: features.dailyTourDispatch.name,
                                        page: features.dailyTourDispatch.pages
                                            .dailyTourDispatch.name,
                                        pageFeature: [
                                            features.dailyTourDispatch.pages
                                                .dailyTourDispatch.features
                                                .dockDriverUpdate.name,
                                                features.dailyTourDispatch.pages
                                                .dailyTourDispatch.features
                                                .transportationUpdate.name,
                                        ],
                                        pageFeatureCheck: 'or',
                                        }],
                                        mode: 'none',
                                    }"
                                    >
                                        <i class="pi pi-pencil"></i>
                                    </button>
                                </div>
                                <div class="transportation-info">
                                    <span class="info-value">{{
                                        assignment.guideFirstNameNickname
                                            ? assignment.guideFirstNameNickname
                                            : 'No Driver Assigned'
                                    }}</span>
                                    <span class="info-subtext">
                                        {{
                                            assignment.equipmentName
                                                ? assignment.equipmentName
                                                : 'No Transportation Assigned'
                                        }}
                                        <ng-container
                                            *ngIf="assignment.equipmentName"
                                        >
                                            ({{ assignment.maxCapacity }} pax)
                                        </ng-container>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="count-cards-container">
                            <!-- final -->
                            <div class="info-card count">
                                <div class="title-container">
                                    <div class="info-title">
                                        <span>Final</span>
                                    </div>
                                    <ng-container
                                        *ngIf="
                                            assignment.shipName !==
                                            'Book Direct'
                                        "
                                    >
                                        <button
                                            pButton
                                            class="btn btn-text btn-edit"
                                            aria-label="Update Prelims"
                                            pTooltip="Update Prelims"
                                            tooltipPosition="left"
                                            (click)="
                                                openUpdatePrelimsModal(
                                                    assignment
                                                )
                                            "
                                            [appPermission]="{
                                       features: [{
                                        feature: features.dailyTourDispatch.name,
                                        page: features.dailyTourDispatch.pages
                                            .dailyTourDispatch.name,
                                        pageFeature: [
                                            features.dailyTourDispatch.pages
                                                .dailyTourDispatch.features
                                                .preLimUpdate.name,
                                        ],
                                        pageFeatureCheck: 'or',
                                       }],
                                        mode: 'none',
                                    }"
                                        >
                                            <i class="pi pi-list-check"></i>
                                        </button>
                                    </ng-container>
                                </div>
                                <div>
                                    <ng-container
                                        *ngIf="
                                            assignment.shipName ===
                                                'Book Direct';
                                            else editableFinal
                                        "
                                    >
                                        <span class="info-value">
                                            {{
                                                assignment.final !== null &&
                                                assignment.final >= 0
                                                    ? assignment.final
                                                    : '-'
                                            }}
                                        </span>
                                    </ng-container>

                                    <ng-template #editableFinal>
                                        <input
                                            pInputText
                                            type="number"
                                            class="dtd-gridview-count-input"
                                            [ngModel]="assignment.final"
                                            (ngModelChange)="
                                                updateFinal(assignment, $event)
                                            "
                                            [appPermission]="{
                                        features: [{
                                            feature: features.dailyTourDispatch.name,
                                        page: features.dailyTourDispatch.pages
                                            .dailyTourDispatch.name,
                                        pageFeature: [
                                            features.dailyTourDispatch.pages
                                                .dailyTourDispatch.features
                                                .finalUpdate.name,
                                        ],
                                        pageFeatureCheck: 'or',
                                        }],
                                        mode: 'disabled',
                                    }"
                                        />
                                    </ng-template>
                                </div>
                            </div>

                            <!-- otc -->
                            <div class="info-card count">
                                <div class="info-title">
                                    <span>OTC</span>
                                </div>
                                <div class="">
                                    <span class="info-value">{{
                                        assignment.totalBooked
                                    }}</span>
                                </div>
                            </div>

                            <!-- total -->
                            <div class="info-card count">
                                <div class="info-title">
                                    <span>Total</span>
                                </div>
                                <div class="">
                                    <span
                                        class="info-value"
                                        [class.final]="
                                            assignment.final !== null &&
                                            assignment.final >= 0
                                        "
                                    >
                                        <ng-container
                                            *ngIf="
                                                assignment.final !== null &&
                                                    assignment.final >= 0;
                                                else prelim
                                            "
                                        >
                                            {{
                                                (assignment.totalBooked || 0) +
                                                    assignment.final
                                            }}
                                        </ng-container>
                                        <ng-template #prelim>
                                            <span class="info-value">
                                                {{
                                                    (assignment.totalBooked ||
                                                        0) +
                                                        (assignment.preLim || 0)
                                                }}
                                            </span>
                                        </ng-template></span
                                    >
                                </div>
                            </div>

                            <!-- actual -->
                            <div class="info-card count">
                                <div class="info-title">
                                    <span class="desktop">Actual Total</span>
                                    <span class="mobile">Actual</span>
                                </div>
                                <div class="">
                                    <span class="info-value actual">
                                        <ng-container
                                            *ngIf="
                                                !assignment.isOpen &&
                                                    !assignment.isClosed &&
                                                    assignment.actualTotal !==
                                                        null &&
                                                    assignment.actualTotal >= 0;
                                                else noActuals
                                            "
                                        >
                                            {{ assignment.actualTotal }}
                                        </ng-container>
                                        <ng-template #noActuals>
                                            -
                                        </ng-template>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- chip template -->
                    <ng-template #statusChip>
                        <ng-container
                            *ngIf="
                                assignment.isOpen ||
                                assignment.isClosed ||
                                assignment.isCancelled ||
                                (assignment.actualTotal !== null &&
                                    !assignment.isOpen) ||
                                (assignment.actualTotal !== null &&
                                    assignment.isClosed)
                            "
                        >
                            <div class="status-chip">
                                <ng-container
                                    *ngIf="assignment.isCancelled; else isOpen"
                                >
                                    <span>Cancelled</span>
                                </ng-container>
                                <ng-template #isOpen>
                                    <ng-container
                                        *ngIf="assignment.isOpen; else isClosed"
                                    >
                                        <span>Open</span>
                                    </ng-container>
                                    <ng-template #isClosed>
                                        <ng-container
                                            *ngIf="
                                                assignment.isClosed;
                                                else isConfirmed
                                            "
                                        >
                                            <span>Closed</span>
                                        </ng-container>
                                        <ng-template #isConfirmed>
                                            <ng-container
                                                *ngIf="
                                                    (assignment.actualTotal !==
                                                        null &&
                                                        !assignment.isOpen) ||
                                                    (assignment.actualTotal !==
                                                        null &&
                                                        assignment.isClosed) ||
                                                    (assignment.actualTotal !==
                                                        null &&
                                                        assignment.isCancelled)
                                                "
                                            >
                                                <ng-container
                                                    *ngIf="
                                                        assignment.adjustedDepartureTime;
                                                        else noActualDepartureTime
                                                    "
                                                >
                                                    <app-icon-departed
                                                        [width]="16"
                                                        [color]="'#000'"
                                                    ></app-icon-departed>
                                                    <span
                                                        class="pointer"
                                                        (click)="
                                                            openUpdateDepartureTimeModal(
                                                                assignment
                                                            )
                                                        "
                                                        [appPermission]="{
                                                        features: [{
                                                            feature: features.dailyTourDispatch.name,
                                                        page: features.dailyTourDispatch.pages
                                                            .dailyTourDispatch.name,
                                                        pageFeature: [
                                                            features.dailyTourDispatch.pages
                                                                .dailyTourDispatch.features
                                                                .departureTimeUpdate.name,
                                                        ],
                                                        pageFeatureCheck: 'or',
                                                        }],
                                                        mode: 'disabledNoStyling',
                                                    }"
                                                    >
                                                        {{
                                                            assignment.adjustedDepartureTime
                                                                | date : 'H:mm'
                                                        }}
                                                    </span>
                                                </ng-container>
                                                <ng-template
                                                    #noActualDepartureTime
                                                >
                                                    <span>Confirmed</span>
                                                </ng-template>
                                            </ng-container>
                                        </ng-template>
                                    </ng-template>
                                </ng-template>
                            </div>
                        </ng-container>
                    </ng-template>

                    <div class="info-cards-container">
                        <div class="info-card bookings-container">
                            <app-booking-list
                                [assignment]="assignment"
                                [(isDisplayed)]="assignment.displayBookings"
                            ></app-booking-list>
                        </div>
                    </div>
                </div>
            </ng-container>
        </ng-container>
    </div>

    <p-menu
        #menu
        appendTo="body"
        [model]="(dataOptions$ | async) || []"
        [popup]="true"
    >
        <ng-template pTemplate="item" let-item>
            <a
                *ngIf="!item?.url"
                [attr.tabindex]="-1"
                class="dtd-grid-menu-option"
                (click)="item.command()"
            >
                <div class="menu-option-inner-container">
                    <ng-container *ngIf="item.icon">
                        <i [class]="item.icon"></i>
                    </ng-container>
                    <span>
                        {{ item.label }}
                        <ng-container *ngIf="item.displayIndicator">
                            <div class="indicator"></div>
                        </ng-container>
                    </span>
                </div>
            </a>
        </ng-template>
    </p-menu>
</ng-container>
