<ng-container
    *ngIf="{
        status: status$ | async,
        isLoadingBookings: isLoadingBookings$ | async,
        editBookingPanelOpen: editBookingPanelOpen$ | async
    } as data"
>
    <div class="modal-inner-container confirm-guests-booking-list">
        <div class="modal-header">
            <h2>
                Confirm Guests that Actually Participated with OTC or Book
                Direct Tickets
            </h2>
        </div>
        <ng-container *ngIf="context">
            <app-modal-tour-details
                [assignment]="context"
                [tourDate]="tourDate"
            ></app-modal-tour-details>

            <ng-container
                *ngIf="!!data.editBookingPanelOpen; else bookingTable"
            >
                <app-dtd-edit-booking
                    [booking]="data.editBookingPanelOpen"
                    [assignment]="context"
                    (closePanel)="onCloseEditPanel()"
                    (reloadBookings)="onReloadBookings()"
                ></app-dtd-edit-booking>
            </ng-container>
            <ng-template #bookingTable>
                <ng-container *ngIf="data.isLoadingBookings; else table">
                    <app-loader-embed [isDisplayed]="true"></app-loader-embed>
                </ng-container>

                <ng-template #table>
                    <div class="table-container">
                        <ng-container
                            *ngIf="context && bookings.length; else noBookings"
                        >
                            <p-table
                                #bookingTable
                                [value]="bookings || []"
                                [scrollable]="true"
                                [tableStyle]="{ width: '100%' }"
                                dataKey="bookingId"
                                appendTo="body"
                                class="booking-table-container"
                                [rows]="bookings.length"
                            >
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th class="w-md">Name</th>
                                        <th class="w-sm">Total Booked</th>
                                        <th class="w-md">Total</th>
                                        <th>Notes</th>

                                        <th
                                            class="w-md"
                                            alignFrozen="right"
                                            pFrozenColumn
                                        >
                                            Action
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template
                                    pTemplate="body"
                                    let-booking
                                    let-index="rowIndex"
                                >
                                    <tr>
                                        <td class="w-md">
                                            {{
                                                booking.leadFirstName
                                                    | titlecase
                                            }}
                                            {{
                                                booking.leadLastName | titlecase
                                            }}
                                        </td>

                                        <td class="w-sm">
                                            {{ booking.totalBooked }}
                                        </td>
                                        <td class="w-md">
                                            <p-inputNumber
                                                name="total"
                                                label="total"
                                                [(ngModel)]="booking.showCount"
                                                (ngModelChange)="
                                                    recalculateActualsBooked()
                                                "
                                            >
                                            </p-inputNumber>
                                        </td>
                                        <td>
                                            <textarea
                                                pInputTextarea
                                                name="notes"
                                                label="notes"
                                                [(ngModel)]="
                                                    booking.noShowComment
                                                "
                                            ></textarea>
                                        </td>
                                        <td
                                            class="w-md"
                                            alignFrozen="right"
                                            pFrozenColumn
                                        >
                                            <div class="actions-row">
                                                <button
                                                    pButton
                                                    aria-label="Confirm Guests"
                                                    pTooltip="Confirm Guests"
                                                    tooltipPosition="left"
                                                    class="btn"
                                                    (click)="
                                                        editBooking(booking)
                                                    "
                                                >
                                                    <i
                                                        class="pi pi-user-edit"
                                                    ></i>
                                                </button>
                                                <button
                                                    pButton
                                                    aria-label="Delete Booking"
                                                    pTooltip="Delete Booking"
                                                    tooltipPosition="left"
                                                    class="btn"
                                                    (click)="
                                                        deleteBooking(booking)
                                                    "
                                                >
                                                    <i class="pi pi-trash"></i>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="footer">
                                    <tr>
                                        <td class="w-md"></td>

                                        <td class="w-sm">
                                            {{ totalBooked }}
                                        </td>
                                        <td class="w-sm" colspan="3">
                                            Actuals: {{ actualsBooked }}
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </ng-container>
                    </div>
                    <ng-template #noBookings>
                        <div class="empty-container">
                            <div class="icon-container">
                                <app-icon-booking-search
                                    [width]="50"
                                    [height]="50"
                                    color="#676767"
                                ></app-icon-booking-search>
                            </div>
                            <span class="body font-medium"
                                >No bookings found</span
                            >
                        </div>
                    </ng-template>
                </ng-template>
            </ng-template>
        </ng-container>

        <ng-container *ngIf="!data.editBookingPanelOpen">
            <div class="action-container">
                <ng-container *ngIf="data.status === 'error'">
                    <span class="text-error">Failed to update bookings</span>
                </ng-container>
                <button
                    pButton
                    class="btn btn-primary-inverse"
                    type="button"
                    [disabled]="data.status === 'loading'"
                    (click)="onBack()"
                >
                    Back
                </button>
                <button
                    pButton
                    class="btn btn-primary"
                    [loading]="data.status === 'loading'"
                    (click)="save()"
                >
                    Save
                </button>
            </div>
        </ng-container>
    </div>
</ng-container>
