<ng-container
    *ngIf="{
        isOpen: (isOpen$ | async) || false,
        context: context$ | async,
    } as data"
>
    <p-dialog
        [(visible)]="data.isOpen"
        (onHide)="close()"
        [modal]="true"
        styleClass="ticket-camera-dialog"
        [showHeader]="false"
        [draggable]="false"
        [resizable]="false"
        [dismissableMask]="false"
        [maximizable]="true"
        appendTo="body"
    >
        <div class="modal-inner-container">
            <ng-container *ngIf="data.isOpen">
                <ng-container *ngIf="data.context?.booking as booking">
                    <div class="booking-info-container">
                        <div class="content-container">
                            <span class="h4">Upload Ticket</span>

                            <div class="infos-container">
                                <div class="info-container">
                                    <i class="pi pi-user"></i>
                                    <span class="body font-medium"
                                        >{{ booking.firstName }}
                                        {{ booking.lastName }}</span
                                    >
                                </div>

                                <div class="info-container">
                                    <i class="pi pi-users"></i>
                                    <ng-container *ngIf="booking.adults > 0">
                                        <span class="body"
                                            >{{ booking.adults }} Adults</span
                                        >
                                    </ng-container>
                                    <ng-container *ngIf="booking.children > 0">
                                        <span class="body"
                                            >{{
                                                booking.children
                                            }}
                                            Children</span
                                        >
                                    </ng-container>
                                </div>
                                <div class="info-container">
                                    <i class="pi pi-tag"></i>
                                    <ng-container *ngIf="booking.partnerName">
                                        <span class="body"
                                            >Agent:
                                            {{ booking.partnerName }}</span
                                        >
                                    </ng-container>
                                </div>
                                <span class="body">
                                    Take a picture of the ticket or
                                    <span
                                        class="font-medium link"
                                        (click)="fileInput.click()"
                                        >select an image from your device</span
                                    >.
                                    <input
                                        class="file-input"
                                        #fileInput
                                        accept="image/*"
                                        type="file"
                                        (change)="onImageSelect($event)"
                                    />
                                </span>
                            </div>
                        </div>
                        <button pButton class="btn btn-text" (click)="close()">
                            <i class="pi pi-times"></i>
                        </button>
                    </div>
                </ng-container>
                <div class="camera-container">
                    <app-camera
                        (upload)="uploadPhoto($event)"
                        [uploadStatus]="(uploadStatus$ | async) || 'idle'"
                    ></app-camera>
                </div>
            </ng-container>
        </div>
    </p-dialog>
</ng-container>
