<ng-container
    *ngIf="{
        isOpen: (isOpen$ | async) || false,
        context: context$ | async,
        status: status$ | async
    } as data"
>
    <p-dialog
        [(visible)]="data.isOpen"
        (onHide)="close()"
        [modal]="true"
        [style]="{ width: '60vw', height: 'auto' }"
        styleClass="remove-equipment-modal"
        [breakpoints]="{ '768px': '95vw' }"
        [showHeader]="false"
        [draggable]="false"
        [resizable]="false"
        [dismissableMask]="true"
        appendTo="body"
    >
        <ng-container *ngIf="data.context">
            <div class="modal-confirmation-container">
                <div class="modal-header">
                    <h2>Would you like to Delete this equipment?</h2>
                </div>
                <p-divider></p-divider>
                <div class="details-container">
                    <div class="row-container">
                        <div class="cell-container">
                            <span class="h4">Type</span>
                            <span>
                                {{ data.context.equipmentType }}
                            </span>
                        </div>
                        <p-divider layout="vertical"></p-divider>
                        <div class="cell-container">
                            <span class="h4">Description</span>
                            <span class="description">
                                {{ data.context.equipmentDescription }}
                            </span>
                        </div>
                        <p-divider layout="vertical"></p-divider>
                        <div class="cell-container">
                            <span class="h4">License No.</span>
                            <span>
                                {{ data.context.licensePlate }}
                            </span>
                        </div>
                        <p-divider layout="vertical"></p-divider>
                        <div class="cell-container">
                            <span class="h4">Serial No.</span>
                            <span>
                                {{ data.context.serialNo }}
                            </span>
                        </div>
                        <p-divider layout="vertical"></p-divider>
                        <div class="cell-container">
                            <span class="h4">Odometer/Hours</span>
                            <span>
                                {{ data.context.odometerMileageHours }}
                            </span>
                        </div>
                    </div>
                </div>
                <div class="button-container">
                    <ng-container *ngIf="data.status === 'error'">
                        <span class="text-error"
                            >Unable to delete equipment</span
                        >
                    </ng-container>

                    <button
                        pButton
                        class="btn btn-primary-inverse"
                        [disabled]="data.status === 'loading'"
                        (click)="close()"
                    >
                        Cancel
                    </button>
                    <button
                        pButton
                        class="btn btn-primary"
                        [disabled]="data.status === 'loading'"
                        [loading]="data.status === 'loading'"
                        (click)="remove(data.context)"
                    >
                        Delete
                    </button>
                </div>
            </div>
        </ng-container>
    </p-dialog>
</ng-container>
