<ng-container *ngIf="manageAllocationInventories$ | async as data">
    <div class="table-container">
        <ng-container *ngIf="data && data.length > 0; else emptyState">
            <p-table
                [value]="data"
                styleClass="available-inventory-table"
                [scrollable]="true"
                [tableStyle]="{ width: '100%', 'min-width': '50rem' }"
                dataKey="bookingId"
                [rows]="50"
                [rowsPerPageOptions]="[50, 100, 200]"
                [paginator]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            >
                <ng-template pTemplate="header">
                    <tr>
                        <th>Ship</th>
                        <th>Port</th>
                        <th>Tour</th>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Sold</th>
                        <th>Max Capacity</th>
                        <th>Capacity</th>
                        <th
                            alignFrozen="right"
                            pFrozenColumn
                            [appPermission]="{
                            features: [
                            {

                                feature: features.bookingManagement.name,
                                page: features.bookingManagement.pages
                                    .tourInventory.name,
                                pageFeature: [
                                features.bookingManagement.pages
                                .tourInventory.features.tourInventoryEdit.name,
                                features.bookingManagement.pages
                                .tourInventory.features.tourInventoryDelete.name
                                ],
                                pageFeatureCheck: 'or',
                            }],
                            mode: 'none',
                        }"
                        >
                            Action
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item>
                    <tr>
                        <td>
                            <ng-container
                                *ngIf="item.shipId === null; else cruiseInfo"
                            >
                                {{ item.cruiseLineName }}
                            </ng-container>
                            <ng-template #cruiseInfo>
                                {{ item.cruiseShipName }}
                            </ng-template>
                        </td>
                        <td>{{ item.portName || '-' }}</td>
                        <td>{{ item.tourName }}</td>
                        <td>{{ item.tourInventoryDateString }}</td>
                        <td>{{ item.tourInventoryTimeString }}</td>
                        <td>{{ item.passengerSold }}</td>
                        <td>{{ item.tourInventoryAllocatedSeats }}</td>
                        <td>
                            <div>
                                {{ item.percentageSold }}%
                                <p-progressBar
                                    [showValue]="false"
                                    color="#053654"
                                    styleClass="percentsold-progressbar"
                                    [value]="item.percentageSold"
                                ></p-progressBar>
                            </div>
                        </td>
                        <td
                            alignFrozen="right"
                            pFrozenColumn
                            [appPermission]="{
                            features: [
                            {

                                feature: features.bookingManagement.name,
                                page: features.bookingManagement.pages
                                    .tourInventory.name,
                                pageFeature: [
                                features.bookingManagement.pages
                                .tourInventory.features.tourInventoryEdit.name,
                                features.bookingManagement.pages
                                .tourInventory.features.tourInventoryDelete.name
                                ],
                                pageFeatureCheck: 'or',
                            }],
                            mode: 'none',
                        }"
                        >
                            <div class="actions-container">
                                <button
                                    pButton
                                    class="edit"
                                    (click)="openEditTourInventoryModal(item)"
                                    [appPermission]="{
                                        features: [
                                        {
            
                                            feature: features.bookingManagement.name,
                                            page: features.bookingManagement.pages
                                                .tourInventory.name,
                                            pageFeature: [
                                            features.bookingManagement.pages
                                            .tourInventory.features.tourInventoryEdit.name
                                            ],
                                            pageFeatureCheck: 'or',
                                        }],
                                        mode: 'none',
                                    }"
                                >
                                    <i class="pi pi-pencil"></i>
                                </button>
                                <button
                                    pButton
                                    class="delete"
                                    (click)="openDeleteTourInventoryModal(item)"
                                    [appPermission]="{
                                        features: [
                                        {
            
                                            feature: features.bookingManagement.name,
                                            page: features.bookingManagement.pages
                                                .tourInventory.name,
                                            pageFeature: [
                                            features.bookingManagement.pages
                                            .tourInventory.features.tourInventoryDelete.name
                                            ],
                                            pageFeatureCheck: 'or',
                                        }],
                                        mode: 'none',
                                    }"
                                >
                                    <i class="pi pi-trash"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </ng-container>
        <ng-template #emptyState>
            <div class="empty-state-container">
                <h3>No Available Inventories</h3>
                <span>Try a different search</span>
            </div>
        </ng-template>
    </div>
</ng-container>
