<ng-container
    *ngIf="{
        isOpen: (isOpen$ | async) || false,
        status: status$ | async,
    } as data"
>
    <p-dialog
        [(visible)]="data.isOpen"
        (onHide)="close()"
        [modal]="true"
        [style]="{ width: '55vw', height: 'auto' }"
        [breakpoints]="{ '720px': '95vw' }"
        styleClass="add-new-pay-rate-modal"
        [showHeader]="false"
        [draggable]="false"
        [resizable]="false"
        [dismissableMask]="true"
        appendTo="body"
    >
        <div class="modal-inner-container">
            <div class="modal-header">
                <h2>Add New Pay Rate</h2>
            </div>
            <p-divider></p-divider>
            <form [formGroup]="addNewPayRateForm">
                <div class="row-container">
                    <div class="col-container full-width">
                        <label for="payrateYear">Year</label>
                        <input
                            pInputText
                            name="payrateYear"
                            formControlName="payrateYear"
                        />
                    </div>
                    <div class="col-container">
                        <label for="payRateAmount">Base Pay Rate ($)</label>
                        <input
                            type="number"
                            pInputText
                            name="payRateAmount"
                            formControlName="payRateAmount"
                        />
                    </div>
                    <div class="col-container">
                        <label for="payType">Pay Type</label>
                        <p-dropdown
                            name="payType"
                            formControlName="payType"
                            [options]="payType || []"
                            styleClass="full-width"
                            autocomplete="off"
                            appendTo="body"
                            [autoDisplayFirst]="false"
                            [showClear]="true"
                        >
                        </p-dropdown>
                    </div>
                    <div class="col-container">
                        <label for="maxPayRateAmount">Max Pay Rate ($)</label>
                        <input
                            type="number"
                            pInputText
                            name="maxPayRateAmount"
                            formControlName="maxPayRateAmount"
                        />
                    </div>
                    <div class="col-container">
                        <label for="maxPayType">Max Pay Type</label>
                        <p-dropdown
                            name="maxPayType"
                            formControlName="maxPayType"
                            [options]="payType || []"
                            styleClass="full-width"
                            autocomplete="off"
                            appendTo="body"
                            [autoDisplayFirst]="false"
                            [showClear]="true"
                        >
                        </p-dropdown>
                    </div>
                </div>
                <div class="btn-container">
                    <ng-container *ngIf="data.status === 'error'">
                        <div>
                            <span class="text-error"
                                >Failed to add Pay Rate</span
                            >
                        </div>
                    </ng-container>
                    <button
                        pButton
                        class="btn btn-primary"
                        class="btn btn-primary-inverse"
                        [disabled]="data.status === 'loading'"
                        (click)="close()"
                    >
                        Cancel
                    </button>
                    <button
                        pButton
                        class="btn btn-primary"
                        [loading]="data.status === 'loading'"
                        [disabled]="data.status === 'loading'"
                        (click)="add()"
                    >
                        Add
                    </button>
                </div>
            </form>
        </div>
    </p-dialog>
</ng-container>
