.modal-inner-container {
    .modal-header {
        position: sticky;
        top: 0;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        gap: var(--spacing-2xs);
        background-color: var(--color-white);
        padding-bottom: var(--spacing-xs);
        padding-top: var(--spacing-sm);
    }
    form {
        .row-container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: var(--spacing-2xs);
            width: 100%;
            .col-container {
                display: flex;
                flex-grow: 1;
                flex-direction: column;
                align-items: left;
                width: calc(50% - var(--spacing-2xs));
                &.full-width {
                    width: 100%;
                }
            }
        }
        .btn-container {
            margin-top: 20px;
            display: flex;
            flex-direction: row;
            gap: var(--spacing-2xs);
            align-items: center;
            justify-content: flex-end;
        }
    }
}
::ng-deep .add-new-pay-rate-modal > .p-dialog-content {
    border-top: 5px solid var(--color-blue-300);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

@media screen and (max-width: 768px) {
    .modal-inner-container {
        form {
            .row-container {
                flex-direction: column;
                .col-container {
                    width: 100%;
                }
            }
        }
    }
}
