<div class="container">
    <div class="outer-container">
        <div class="header-container">
            <h1><a [routerLink]="['../']">User Management</a></h1>
            <i class="pi pi-angle-right" style="font-size: 2rem"></i>
            <h1 class="current">
                <ng-container *ngIf="userDetails$ | async as user">
                    {{ user.firstName || '' }} {{ user.lastName || '' }}
                </ng-container>
            </h1>
        </div>

        <div class="main-content-container">
            <div
                class="nav-container"
                [appPermission]="{
                    features: editUserFeatures,
                    featureCheck: 'atleastOne',
                    mode: 'none'
                }"
            >
                <ng-container
                    *ngIf="inventoryNavOptions$ | async as navOptions"
                >
                    <ng-container *ngFor="let option of navOptions">
                        <a
                            routerLinkActive="active"
                            #rla="routerLinkActive"
                            [routerLink]="option.path"
                        >
                            <span>{{ option.displayName }}</span>
                        </a>
                    </ng-container>
                </ng-container>
            </div>

            <ng-container *ngIf="isLoadingUserDetails$ | async; else content">
                <app-loader-embed [isDisplayed]="true"></app-loader-embed>
            </ng-container>
            <ng-template #content>
                <div class="sub-pages-container">
                    <router-outlet></router-outlet>
                </div>
            </ng-template>
        </div>
    </div>
</div>
