<div class="outer-container">
    <ng-container
        *ngIf="{
            statements: viewStatements$ | async,
            details: statementSummary$ | async,
            status: status$ | async
        } as config"
    >
        <div class="inner-container">
            <div class="header">
                <h2>View Statements</h2>
                <div class="button-container">
                    <button
                        pButton
                        class="btn btn-primary"
                        (click)="
                            config.statements?.config != null &&
                                onExport(config.statements?.config)
                        "
                        [disabled]="!config.statements?.config"
                        [appPermission]="{features: [{
                            feature: features.bookingManagementAgentEdit.name,
                            page: features.bookingManagementAgentEdit.pages
                                .statementDetails.name,
                            pageFeature: [
                                features.bookingManagementAgentEdit.pages
                                    .statementDetails.features
                                    .exportToExcel.name
                            ],
                            pageFeatureCheck: 'and',
                        }], mode: 'none',}"
                    >
                        Export to excel
                    </button>
                    <button
                        pButton
                        class="btn btn-primary"
                        [routerLink]="['../../payments']"
                        [appPermission]="{features: [{
                            feature: features.bookingManagementAgentEdit.name,
                            page: features.bookingManagementAgentEdit.pages
                                .statementDetails.name,
                            pageFeature: [
                                features.bookingManagementAgentEdit.pages
                                    .statementDetails.features
                                    .addPayment.name
                            ],
                            pageFeatureCheck: 'and',
                        }], mode: 'none',}"
                    >
                        Add a Payment
                    </button>
                </div>
            </div>
            <ng-container [ngSwitch]="config.status">
                <ng-container *ngSwitchCase="'loading'">
                    <app-loader-embed [isDisplayed]="true"></app-loader-embed>
                </ng-container>
                <ng-container *ngSwitchCase="'error'">
                    <div class="error-state">
                        <span>Error loading Statements</span>
                        <button pButton>Retry</button>
                    </div>
                </ng-container>
                <ng-container *ngSwitchCase="'success'">
                    <ng-container
                        *ngIf="
                            config.statements &&
                                config.statements.data.length > 0;
                            noUsers
                        "
                    >
                        <div class="summary-container">
                            <div class="card">
                                <span class="h3">Total Previous Balance: </span>
                                <span class="text-details">{{
                                    config.details?.previousBalance
                                        | currency : 'USD'
                                }}</span>
                            </div>
                            <div class="card">
                                <span class="h3">Total Net Sales: </span>
                                <span class="text-details">{{
                                    config.details?.totalSales
                                        | currency : 'USD'
                                }}</span>
                            </div>
                            <div class="card">
                                <span class="h3">Taxes & Fees: </span>
                                <span class="text-details">{{
                                    config.details?.fees | currency : 'USD'
                                }}</span>
                            </div>
                            <div class="card">
                                <span class="h3">Total Payments: </span>
                                <span class="text-details" style="color: red">{{
                                    config.details?.totalPayments
                                        | currency : 'USD'
                                }}</span>
                            </div>
                            <div class="card">
                                <span class="h3">Amount Due: </span>
                                <span class="text-details">{{
                                    config.details?.totalDue | currency : 'USD'
                                }}</span>
                            </div>
                        </div>
                        <div class="table-container">
                            <p-table
                                #dt1
                                [value]="config.statements.data"
                                styleClass="statement-list-table"
                                [scrollable]="true"
                                dataKey="month"
                                [tableStyle]="{ width: '100%' }"
                                [rows]="50"
                                [rowsPerPageOptions]="[50, 100, 200]"
                                [paginator]="true"
                                [showCurrentPageReport]="true"
                                [showPageLinks]="false"
                                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                            >
                                <ng-template pTemplate="caption">
                                    {{
                                        config.statements.config?.month +
                                            ' ' +
                                            config.statements.config?.year || ''
                                    }}
                                </ng-template>
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>Booking Date</th>
                                        <th>Order ID</th>
                                        <th>Booking Number</th>
                                        <th>Name</th>
                                        <th>Tour</th>
                                        <th>Invoice Total</th>
                                        <th>Net Rate</th>
                                        <th>Taxes | Fees</th>
                                        <th>Payment Type</th>
                                        <th>Due</th>
                                        <th>Credit</th>
                                        <th>Open Balance</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-item>
                                    <tr
                                        [ngClass]="{
                                            'cancelled-row':
                                                item.isActive == false
                                        }"
                                        (click)="
                                            viewBooking(
                                                item.reservationBookingId
                                            )
                                        "
                                        class="pointer"
                                    >
                                        <td>
                                            {{
                                                item.bookingDateString
                                                    | date : 'MM/dd/yyyy' || ''
                                            }}
                                        </td>
                                        <td>
                                            {{
                                                item.reservationBookingId ||
                                                    item.bookingNumber ||
                                                    ''
                                            }}
                                        </td>
                                        <td>
                                            {{
                                                item.bookingNumber ==
                                                    'PAYMENT' ||
                                                item.bookingNumber == 'PAST DUE'
                                                    ? ''
                                                    : item.bookingNumber
                                            }}
                                        </td>
                                        <td>
                                            {{
                                                item.firstName != null
                                                    ? item.firstName +
                                                      ' ' +
                                                      item.lastName
                                                    : ''
                                            }}
                                        </td>
                                        <td>{{ item.tourName || '' }}</td>
                                        <td>
                                            {{
                                                item.bookingNumber ==
                                                    'PAYMENT' ||
                                                item.bookingNumber == 'PAST DUE'
                                                    ? ''
                                                    : item.totalSalesAmount
                                                    ? (item.totalSalesAmount +
                                                          item.salesTax +
                                                          item.fee
                                                      | currency : 'USD')
                                                    : ''
                                            }}
                                        </td>
                                        <td>
                                            {{
                                                item.bookingNumber ==
                                                    'PAYMENT' ||
                                                item.bookingNumber == 'PAST DUE'
                                                    ? ''
                                                    : item.netAmount
                                                    ? (item.netAmount
                                                      | currency : 'USD')
                                                    : ''
                                            }}
                                        </td>
                                        <td>
                                            {{
                                                item.bookingNumber ==
                                                    'PAYMENT' ||
                                                item.bookingNumber == 'PAST DUE'
                                                    ? ''
                                                    : item.paymentType !=
                                                          'InvoiceLater' &&
                                                      item.paymentType != null
                                                    ? (item.salesTaxOnNet
                                                      | currency : 'USD')
                                                    : (item.salesTaxOnNet
                                                      | currency : 'USD')
                                            }}
                                            {{
                                                item.bookingNumber ==
                                                    'PAYMENT' ||
                                                item.bookingNumber == 'PAST DUE'
                                                    ? ''
                                                    : ' | '
                                            }}
                                            {{
                                                item.bookingNumber ==
                                                    'PAYMENT' ||
                                                item.bookingNumber == 'PAST DUE'
                                                    ? ''
                                                    : item.paymentType !=
                                                          'InvoiceLater' &&
                                                      item.paymentType != null
                                                    ? (item.feeOnNet
                                                      | currency : 'USD')
                                                    : (item.feeOnNet
                                                      | currency : 'USD')
                                            }}
                                        </td>
                                        <td>{{ item.paymentType || '' }}</td>
                                        <td>
                                            {{
                                                item.bookingNumber == 'PAYMENT'
                                                    ? ''
                                                    : (item.netAmount +
                                                          item.salesTaxOnNet +
                                                          item.feeOnNet
                                                      | currency : 'USD')
                                            }}
                                        </td>
                                        <td
                                            [ngClass]="{
                                                'highlight-red':
                                                    item.bookingNumber ==
                                                        'PAYMENT' ||
                                                    (item.paymentType !=
                                                        'InvoiceLater' &&
                                                        item.paymentType !=
                                                            null)
                                            }"
                                        >
                                            {{
                                                item.paymentType !=
                                                    'InvoiceLater' &&
                                                item.paymentType != null
                                                    ? item.bookingNumber ==
                                                      'PAYMENT'
                                                        ? '(' +
                                                          (item.netAmount
                                                              | currency
                                                                  : 'USD') +
                                                          ')'
                                                        : '(' +
                                                          (item.totalSalesAmount +
                                                              item.salesTax +
                                                              item.fee
                                                              | currency
                                                                  : 'USD') +
                                                          ')'
                                                    : ''
                                            }}
                                        </td>
                                        <td>
                                            {{
                                                item.totalOpenBalance
                                                    | currency : 'USD' || ''
                                            }}
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </ng-container>
                    <ng-template #noUsers>
                        <div class="empty-state">
                            <span>No associated statements.</span>
                        </div>
                    </ng-template>
                </ng-container>
            </ng-container>
        </div>
    </ng-container>
</div>
