<div class="container">
    <div class="outer-container">
        <div class="header-container-desktop">
            <h1><a [routerLink]="['../']">Tours And Services</a></h1>
            <i class="pi pi-angle-right" style="font-size: 2rem"></i>
            <h1 class="current">
                <ng-container *ngIf="tourDetails$ | async as tourDetails">
                    {{ tourDetails.tourName }}
                </ng-container>
            </h1>
        </div>
        <div class="header-container-mobile">
            <a [routerLink]="['../']">Tours And Services</a>
            <h1>
                <ng-container *ngIf="tourDetails$ | async as tourDetails">
                    {{ tourDetails.tourName }}
                </ng-container>
            </h1>
        </div>

        <div class="main-content-container">
            <div
                class="nav-container"
                [appPermission]="{
                    features: tourEditFeatures,
                    featureCheck: 'atleastOne',
                    mode: 'none'
                }"
            >
                <ng-container
                    *ngIf="tourEditNavOptions$ | async as tourEditNavOptions"
                >
                    <ng-container *ngFor="let option of tourEditNavOptions">
                        <a
                            routerLinkActive="active"
                            #rla="routerLinkActive"
                            [routerLink]="option.path"
                        >
                            <span>{{ option.displayName }}</span>
                        </a>
                    </ng-container>
                </ng-container>
            </div>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
