<div class="container">
    <ng-container
        *ngIf="{
            isRefreshing: isRefreshing$ | async,
            dataDescription: dataDescription$ | async,
            viewMode: viewMode$ | async
        } as config"
    >
        <div class="header-container">
            <h1 class="current">Daily Tour Dispatch</h1>
        </div>

        <div class="card bg-white">
            <app-dtd-table-controls></app-dtd-table-controls>
            <p-divider></p-divider>
            <ng-container
                *ngIf="!config.isRefreshing && config.dataDescription"
            >
                <div class="data-description-container">
                    <span class="body-s">{{ config.dataDescription }}</span>
                    <div class="view-controls-container">
                        <button
                            pButton
                            class="btn btn-primary-inverse"
                            [class.active]="config.viewMode === 'table'"
                            (click)="selectViewOption('table')"
                        >
                            <i class="pi pi-list"></i>
                            Table
                        </button>
                        <button
                            pButton
                            class="btn btn-primary-inverse"
                            [class.active]="config.viewMode === 'grid'"
                            (click)="selectViewOption('grid')"
                        >
                            <i class="pi pi-objects-column"></i>
                            Grid
                        </button>
                    </div>
                </div>
            </ng-container>

            <div class="assignments-container">
                <ng-container *ngIf="!config.isRefreshing; else loader">
                    <ng-container [ngSwitch]="config.viewMode">
                        <ng-container *ngSwitchCase="'grid'">
                            <app-dtd-grid-view></app-dtd-grid-view>
                        </ng-container>
                        <ng-container *ngSwitchCase="'table'">
                            <app-dtd-table-condensed></app-dtd-table-condensed>
                        </ng-container>
                    </ng-container>
                </ng-container>
                <ng-template #loader>
                    <app-loader-embed [isDisplayed]="true"></app-loader-embed>
                </ng-template>
            </div>
        </div>
    </ng-container>

    <button
        class="btn btn-primary btn-fab"
        (click)="openCheckInModal()"
        [appPermission]="{
        features: [{
            feature: features.dailyTourDispatch.name,
        page: features.dailyTourDispatch.pages
            .dailyTourDispatch.name,
        pageFeature: [
            features.dailyTourDispatch.pages
                .dailyTourDispatch.features
                .qrcodeCheckin.name,
        ],
        pageFeatureCheck: 'or',
        }],
        mode: 'none',
    }"
    >
        <i class="pi pi-camera"></i>
    </button>
</div>

<!-- modals -->
<app-add-otc-modal></app-add-otc-modal>
<app-confirm-guests-modal></app-confirm-guests-modal>
<app-update-status-modal></app-update-status-modal>
<app-share-pdf></app-share-pdf>
<app-delete-otc-booking></app-delete-otc-booking>
<app-booking-list-modal></app-booking-list-modal>
<app-update-transportation-modal></app-update-transportation-modal>
<app-edit-booking-modal></app-edit-booking-modal>
<app-assignment-notes-modal></app-assignment-notes-modal>
<app-notification-banner></app-notification-banner>
<app-update-prelims-modal></app-update-prelims-modal>
<app-update-departure-time-modal></app-update-departure-time-modal>
<app-check-in-modal></app-check-in-modal>
<app-join-departures-modal></app-join-departures-modal>
<app-ticket-camera-modal></app-ticket-camera-modal>
