<!-- <div class="d-flex" style="justify-content: space-between">
    <div class="d-flex" style="align-items: center">
      <p-inputSwitch label="Show Cancelled" (click)="clear(dt1)"></p-inputSwitch>
      <p style="margin: 0 0 4px 6px">Show Cancelled</p>
    </div>
    <div>
      <span class="p-input-icon-right">
        <i class="pi pi-search"></i>
        <input pInputText type="text" (input)="
            dt1.filterGlobal($event.target.value, 'contains')
          " placeholder="Quick Search" />
      </span>
    </div>
  </div> -->

<div class="quick-actions-container">
    <!-- show canceled -->
    <div class="cancel-toggle-container" (click)="toggleDisplayIsActive()">
        <p-inputSwitch [ngModel]="(displayIsActive$ | async) === false">
        </p-inputSwitch>
        <label>Show Past/Canceled</label>
    </div>

    <!-- quick search -->
    <div class="quick-actions-right">
        <ng-container *ngIf="exportPermission">
            <button
                [appPermission]="exportPermission"
                (click)="onExport()"
                class="btn-primary"
                pButton
            >
                Export to Excel
            </button>
        </ng-container>
        <span class="p-input-icon-right">
            <i class="pi pi-search"></i>
            <input
                pInputText
                name="quickSearch"
                [ngModel]="quickSearchText"
                (ngModelChange)="onSearchTextChange($event)"
                type="text"
                placeholder="Quick Search"
            />
        </span>
    </div>
</div>
