<div class="container">
    <ng-container
        *ngIf="{
            data: needingAllocationData$ | async,
            allocationConfig: allocationConfig$ | async,
            dataIsLoading: dataIsLoading$ | async,
            submitIsLoading: submitIsLoading$ | async
        } as config"
    >
        <div class="details-container">
            <button
                pButton
                class="btn btn-text-primary"
                icon="pi pi-angle-left"
                (click)="back()"
            >
                <span class="h5">Back</span>
            </button>
            <span class="h2">Allocate and Release Inventory</span>
        </div>
        <p-divider styleClass="divider"></p-divider>
        <ng-container
            *ngIf="config.allocationConfig?.selectedItem as selectedItem"
        >
            <app-allocation-info
                [tour]="selectedItem"
                [tourImage]="tourImage"
            ></app-allocation-info>
        </ng-container>
        <ng-container *ngIf="config.dataIsLoading">
            <app-loader-embed [isDisplayed]="true"></app-loader-embed>
        </ng-container>
        <ng-container *ngIf="!config.dataIsLoading">
            <ng-container
                *ngIf="config.data?.data as inventoryData; else noData"
            >
                <ng-container *ngIf="inventoryData.length > 0; else noData">
                    <app-allocation-table
                        [detailsInventory]="inventoryData || []"
                        (selectedInventory)="selectedInventory($event)"
                        (backClicked)="back()"
                    ></app-allocation-table>
                    <div class="button-container">
                        <button
                            pButton
                            class="btn btn-primary-inverse"
                            (click)="back()"
                            [disabled]="config.submitIsLoading === true"
                        >
                            Cancel
                        </button>
                        <button
                            pButton
                            class="btn btn-primary"
                            [loading]="config.submitIsLoading === true"
                            [disabled]="inventorySelected.length === 0"
                            (click)="
                                saveReleaseInventory(
                                    config.data?.config?.shipId || '',
                                    config.allocationConfig?.selectedItem
                                        ?.shipCompanyId || 0
                                )
                            "
                        >
                            Allocate & Release Inventory
                        </button>
                    </div>
                </ng-container>
            </ng-container>
        </ng-container>
        <ng-template #noData>
            <div class="empty-state-container">
                <h3>No Available Inventories</h3>
                <span>Try a different search</span>
            </div>
        </ng-template>
        <ng-container *ngIf="!config.dataIsLoading">
            <ng-container *ngIf="calendar$ | async as calendar">
                <app-inventory-calendar
                    [config]="calendar"
                    [displayControls]="false"
                    [displayQuickActions]="false"
                    defaultView="day"
                ></app-inventory-calendar>
            </ng-container>
        </ng-container>
    </ng-container>
</div>
