<div class="edit-booking-container">
    <ng-container *ngIf="{ status: status$ | async } as data">
        <ng-container
            *ngIf="{
            agentUsers: agentUsers$ | async,
            pickupLocations: pickupLocations$ | async,
            shipsInPort: shipsInPort$ | async,
                    } as formDropdowns"
        >
            <ng-container
                *ngIf="
                    formDropdowns.agentUsers && formDropdowns.pickupLocations
                "
            >
                <form [formGroup]="updateBookingForm" (ngSubmit)="save()">
                    <div class="booking-info-banner">
                        <i class="pi pi-exclamation-circle"></i>
                        <span>
                            Some fields are not editable for non-OTC bookings
                        </span>
                    </div>
                    <!-- agent -->
                    <div class="field-row-container">
                        <div class="field-container">
                            <label htmlFor="agent">Agent</label>
                            <p-dropdown
                                [options]="
                                    formDropdowns.agentUsers.length > 0
                                        ? formDropdowns.agentUsers
                                        : []
                                "
                                placeholder="Select Agent"
                                formControlName="agent"
                                [autoDisplayFirst]="false"
                                [showClear]="true"
                                appendTo="body"
                            >
                                <ng-template pTemplate="item" let-agentOption>
                                    <span>
                                        {{ agentOption.uniqueName }}
                                    </span>
                                </ng-template>
                                <ng-template pTemplate="selectedItem">
                                    <span>
                                        {{
                                            updateBookingForm.controls.agent
                                                .value?.uniqueName
                                        }}:
                                        {{
                                            updateBookingForm.controls.agent
                                                .value?.contactPersonFirstName
                                        }}
                                        {{
                                            updateBookingForm.controls.agent
                                                .value?.contactPersonLastName
                                        }}</span
                                    >
                                </ng-template>
                            </p-dropdown>
                        </div>
                    </div>
                    <div class="field-row-container">
                        <div class="field-container checkbox-container">
                            <p-checkbox
                                formControlName="isComplimentary"
                                inputId="isComplimentary"
                                [binary]="true"
                            ></p-checkbox>
                            <label htmlFor="isComplimentary"
                                >Is Complimentary?</label
                            >
                        </div>
                    </div>
                    <ng-container *ngIf="tourTimes.length > 0">
                        <div
                            class="field-row-container"
                            [appPermission]="{
                            features: [{
                                feature: features.dailyTourDispatch.name,
                            page: features.dailyTourDispatch.pages
                                .dailyTourDispatch.name,
                            pageFeature: [
                                    features.dailyTourDispatch.pages
                                    .dailyTourDispatch.features
                                    .bookingTimeUpdate.name,
                            ],
                            pageFeatureCheck: 'or',
                            }],
                            mode: 'none',
                        }"
                        >
                            <div class="field-container">
                                <label htmlFor="tourInventoryId"
                                    >Booking Time</label
                                >
                                <p-selectButton
                                    [options]="tourTimes"
                                    formControlName="tourInventoryId"
                                    optionValue="tourInventoryId"
                                    [allowEmpty]="false"
                                >
                                    <ng-template let-item pTemplate>
                                        <div
                                            class="timeslot-container"
                                            [pTooltip]="item.tooltipText"
                                        >
                                            <ng-container *ngIf="item.shipId">
                                                <app-icon-cruise
                                                    [height]="16"
                                                    [width]="16"
                                                    [color]="
                                                        updateBookingForm
                                                            .controls
                                                            .tourInventoryId
                                                            .value ===
                                                        item.tourInventoryId
                                                            ? '#fff'
                                                            : '#03273d'
                                                    "
                                                ></app-icon-cruise>
                                            </ng-container>
                                            <span class="font-medium">
                                                {{
                                                    item.tourInventoryTime
                                                        | tourInventoryTime
                                                }}
                                            </span>
                                            <ng-container
                                                *ngIf="
                                                    item.availableSeats >= 0;
                                                    else overbooked
                                                "
                                            >
                                                (
                                                {{ item.availableSeats }}
                                                available seats)
                                            </ng-container>
                                            <ng-template #overbooked>
                                                (overbooked by
                                                {{ -item.availableSeats }})
                                            </ng-template>
                                        </div>
                                    </ng-template>
                                </p-selectButton>
                            </div>
                        </div>
                    </ng-container>
                    <!-- <h3>Traveler Information</h3> -->
                    <div class="field-row-container">
                        <!-- first name -->
                        <div class="field-container">
                            <label htmlFor="firstName">First Name</label>
                            <input
                                pInputText
                                name="firstName"
                                label="firstName"
                                formControlName="firstName"
                            />
                        </div>

                        <!-- last name -->
                        <div class="field-container">
                            <label htmlFor="lastName">Last Name</label>
                            <input
                                pInputText
                                name="lastName"
                                label="lastName"
                                formControlName="lastName"
                            />
                        </div>
                    </div>

                    <div class="field-row-container">
                        <!-- phone number -->
                        <div class="field-container">
                            <label htmlFor="phoneNumber">Phone Number</label>
                            <app-phone-number
                                formControlName="phoneNumber"
                            ></app-phone-number>
                        </div>

                        <!-- email -->
                        <div class="field-container">
                            <label htmlFor="email">Email</label>
                            <input
                                pInputText
                                name="email"
                                label="email"
                                formControlName="email"
                            />
                        </div>
                    </div>

                    <!-- <h3>Participants</h3> -->
                    <div class="participant-fields-container">
                        <div class="row-container">
                            <!-- adults -->
                            <div class="field-container">
                                <label htmlFor="adults">Adults</label>
                                <input
                                    pInputText
                                    name="adults"
                                    label="adults"
                                    type="number"
                                    formControlName="adults"
                                />
                            </div>

                            <!-- children -->
                            <div class="field-container">
                                <label htmlFor="children">Children</label>
                                <input
                                    pInputText
                                    name="children"
                                    label="children"
                                    type="number"
                                    formControlName="children"
                                />
                            </div>

                            <!-- infants -->
                            <div class="field-container">
                                <label htmlFor="infants">Infants</label>
                                <input
                                    pInputText
                                    name="infants"
                                    label="infants"
                                    type="number"
                                    formControlName="infants"
                                />
                            </div>

                            <div class="field-container">
                                <label htmlFor="total-particpants">Total</label>
                                <input
                                    pInputText
                                    name="total-particpants"
                                    label="Total Participants"
                                    type="number"
                                    [disabled]="true"
                                    [value]="
                                        (updateBookingForm.controls.adults
                                            .value || 0) +
                                        (updateBookingForm.controls.children
                                            .value || 0) +
                                        (updateBookingForm.controls.infants
                                            .value || 0)
                                    "
                                />
                            </div>
                        </div>

                        <ng-container *ngIf="displayOverbookWarning$ | async">
                            <div class="participant-notice-container warning">
                                <i class="pi pi-exclamation-circle"></i>
                                <span class="body-m"
                                    >You have exceeded the maximum number of
                                    seats available on this departure</span
                                >
                            </div>
                        </ng-container>
                        <ng-container
                            *ngIf="
                                (updateBookingForm.controls.adults.dirty ||
                                    updateBookingForm.controls.children
                                        .dirty) &&
                                updateBookingForm.controls.adults
                                    .errors as participantErrors
                            "
                        >
                            <ng-container
                                *ngIf="
                                    participantErrors['totalPassengersIsZero']
                                "
                            >
                                <div class="participant-notice-container error">
                                    <i class="pi pi-exclamation-circle"></i>
                                    <span class="body-m">
                                        Atleast 1 adult/children is
                                        required</span
                                    >
                                </div>
                            </ng-container>
                            <ng-container
                                *ngIf="participantErrors['overbooked']"
                            >
                                <div class="participant-notice-container error">
                                    <i class="pi pi-exclamation-circle"></i>
                                    <span class="body-m"
                                        >You have exceeded the maximum number of
                                        seats available on this departure</span
                                    >
                                </div>
                            </ng-container>
                        </ng-container>
                    </div>

                    <!-- <h3>Additional Information</h3> -->

                    <div class="field-row-container">
                        <!-- cruise ship -->
                        <!-- <div class="field-container">
                            <label htmlFor="cruiseLine">Cruise Line</label>
                            <p-dropdown
                                autocomplete="off"
                                optionLabel="shipCompanyName"
                                optionValue="shipCompanyId"
                                [autoDisplayFirst]="false"
                                placeholder="Select Cruise Line"
                                [options]="formDropdowns.cruiseLines || []"
                                [showClear]="true"
                                formControlName="cruiseLine"
                                [autoDisplayFirst]="false"
                                appendTo="body"
                            >
                            </p-dropdown>
                        </div> -->

                        <div class="field-container">
                            <label htmlFor="ship">Cruise Ship</label>
                            <p-dropdown
                                id="ship"
                                name="ship"
                                formControlName="ship"
                                autocomplete="off"
                                optionLabel="shipName"
                                optionValue="shipId"
                                placeholder="Select Cruise Ship"
                                [autoDisplayFirst]="false"
                                [options]="formDropdowns.shipsInPort || []"
                                [showClear]="true"
                                formControlName="shipId"
                                appendTo="body"
                            >
                            </p-dropdown>
                        </div>
                    </div>
                    <div class="field-row-container">
                        <!-- pickup location -->
                        <div class="field-container">
                            <label htmlFor="pickupLocation"
                                >Pickup Location</label
                            >
                            <p-dropdown
                                [options]="
                                    formDropdowns.pickupLocations &&
                                    formDropdowns.pickupLocations.length > 0
                                        ? formDropdowns.pickupLocations
                                        : []
                                "
                                placeholder="Select Pickup Location"
                                optionLabel="pickupLocationName"
                                optionValue="pickupLocationID"
                                formControlName="pickupLocationId"
                                [autoDisplayFirst]="false"
                                [showClear]="true"
                                appendTo="body"
                            >
                            </p-dropdown>
                        </div>
                    </div>

                    <!-- notes -->
                    <div class="field-container">
                        <label htmlFor="notes">Notes</label>
                        <textarea
                            pInputTextarea
                            name="notes"
                            label="notes"
                            formControlName="notes"
                        ></textarea>
                    </div>

                    <div class="actions-container">
                        <ng-container *ngIf="data.status === 'error'">
                            <span class="text-error"
                                >Failed to update booking</span
                            >
                        </ng-container>
                        <button
                            pButton
                            type="button"
                            class="btn btn-primary-inverse"
                            [disabled]="data.status === 'loading'"
                            (click)="onExit()"
                        >
                            {{ exitText }}
                        </button>
                        <ng-container *ngIf="(isOTC$ | async) === true">
                            <button
                                pButton
                                type="button"
                                class="btn btn-danger"
                                [disabled]="data.status === 'loading'"
                                (click)="deleteBooking()"
                                [appPermission]="{
                                    features: [{
                                        feature: features.dailyTourDispatch.name,
                                    page: features.dailyTourDispatch.pages
                                        .dailyTourDispatch.name,
                                    pageFeature: [
                                            features.dailyTourDispatch.pages
                                            .dailyTourDispatch.features
                                            .bookingDelete.name,
                                    ],
                                    pageFeatureCheck: 'or',
                                    }],
                                    mode: 'none',
                                }"
                            >
                                Cancel Booking
                            </button>
                        </ng-container>
                        <button
                            pButton
                            class="btn btn-primary"
                            [loading]="data.status === 'loading'"
                            type="submit"
                            [appPermission]="{
                                features: [{
                                    feature: features.dailyTourDispatch.name,
                                page: features.dailyTourDispatch.pages
                                    .dailyTourDispatch.name,
                                pageFeature: [
                                        features.dailyTourDispatch.pages
                                        .dailyTourDispatch.features
                                        .bookingUpdate.name,
                                ],
                                pageFeatureCheck: 'or',
                                }],
                                mode: 'none',
                            }"
                        >
                            Save
                        </button>
                    </div>
                </form>
            </ng-container>
        </ng-container>
    </ng-container>
</div>
