<ng-template #advancedSearch>
    <div class="advanced-search-container">
        <!-- first row -->
        <div class="row-container">
            <!-- dates -->
            <div class="dates-container">
                <div class="input-container">
                    <label htmlFor="fromDate">Date</label>
                    <p-calendar
                        #fromDate
                        appendTo="body"
                        [readonlyInput]="false"
                        [showIcon]="true"
                        styleClass="calendar-icon"
                        dateFormat="mm/dd/yy"
                        placeholder="Start date"
                        [(ngModel)]="searchFields.fromDate"
                        (onSelect)="onFromDateChange($event.toDateString())"
                    ></p-calendar>
                </div>

                <svg
                    width="24"
                    height="24"
                    viewBox="0 0 16 16"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        d="M6.6 1.4L12.2 7H0V9H12.2L6.6 14.6L8 16L16 8L8 0L6.6 1.4Z"
                        fill="black"
                    />
                </svg>

                <div class="input-container">
                    <p-calendar
                        #toDate
                        [readonlyInput]="false"
                        [showIcon]="true"
                        styleClass="calendar-icon"
                        dateFormat="mm/dd/yy"
                        placeholder="End date"
                        [(ngModel)]="searchFields.toDate"
                        (onSelect)="onToDateChange($event.toDateString())"
                    ></p-calendar>
                </div>
            </div>

            <!-- first name  -->
            <div class="input-container">
                <label htmlFor="firstName">First Name</label>
                <input
                    pInputText
                    name="firstName"
                    label="First Name"
                    [(ngModel)]="searchFields.firstName"
                />
            </div>

            <!-- last name  -->
            <div class="input-container">
                <label htmlFor="lastName">Last Name</label>
                <input
                    pInputText
                    name="lastName"
                    label="Last Name"
                    [(ngModel)]="searchFields.lastName"
                />
            </div>

            <!-- email -->
            <div class="input-container">
                <label htmlFor="email">Guest Email</label>
                <input
                    pInputText
                    name="email"
                    label="Email"
                    [(ngModel)]="searchFields.email"
                />
            </div>
        </div>

        <!-- second row -->
        <div class="row-container">
            <!-- Phone -->
            <div class="input-container">
                <label htmlFor="phone">Phone</label>
                <input
                    pInputText
                    name="phone"
                    label="Phone"
                    [(ngModel)]="searchFields.phone"
                />
            </div>

            <!-- Booking Number  -->
            <div class="input-container">
                <label htmlFor="bookingNumber">Booking Number</label>
                <input
                    pInputText
                    name="bookingNumber"
                    label="Booking Number"
                    [(ngModel)]="searchFields.bookingNumber"
                />
            </div>

            <!-- Order ID -->
            <div class="input-container">
                <label htmlFor="orderId">Order ID</label>
                <input
                    pInputText
                    name="orderId"
                    label="Order ID"
                    [(ngModel)]="searchFields.orderId"
                />
            </div>
            <button
                pButton
                class="btn-primary search-button"
                (click)="submit()"
            >
                Search
            </button>
        </div>
    </div>
</ng-template>

<div class="desktop">
    <ng-container *ngTemplateOutlet="advancedSearch"></ng-container>
</div>

<div class="mobile-advanced-search">
    <button (click)="showAdvancedSearchDialog()">
        <svg
            width="16"
            height="16"
            viewBox="0 0 16 16"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
        >
            <path
                d="M5.96667 7.86667L4.35 6.26667L5.05 5.56667L5.95 6.46667L7.61667 4.8L8.31667 5.5L5.96667 7.86667ZM13.0667 14L8.86667 9.8C8.53333 10.0667 8.15 10.2778 7.71667 10.4333C7.28333 10.5889 6.82222 10.6667 6.33333 10.6667C5.12222 10.6667 4.09733 10.2473 3.25867 9.40867C2.41956 8.56956 2 7.54444 2 6.33333C2 5.12222 2.41956 4.09711 3.25867 3.258C4.09733 2.41933 5.12222 2 6.33333 2C7.54444 2 8.56956 2.41933 9.40867 3.258C10.2473 4.09711 10.6667 5.12222 10.6667 6.33333C10.6667 6.82222 10.5889 7.28333 10.4333 7.71667C10.2778 8.15 10.0667 8.53333 9.8 8.86667L14 13.0667L13.0667 14ZM6.33333 9.33333C7.16667 9.33333 7.87511 9.04178 8.45867 8.45867C9.04178 7.87511 9.33333 7.16667 9.33333 6.33333C9.33333 5.5 9.04178 4.79156 8.45867 4.208C7.87511 3.62489 7.16667 3.33333 6.33333 3.33333C5.5 3.33333 4.79156 3.62489 4.208 4.208C3.62489 4.79156 3.33333 5.5 3.33333 6.33333C3.33333 7.16667 3.62489 7.87511 4.208 8.45867C4.79156 9.04178 5.5 9.33333 6.33333 9.33333Z"
                fill="#053654"
            />
        </svg>
        <span>Advanced Search</span>
    </button>

    <p-dialog
        header="Header"
        [(visible)]="displayAdvancedSearchDialog"
        [style]="{ width: '80vw' }"
        [modal]="true"
    >
        <ng-template pTemplate="header">
            <span class="dialog-header">Advanced Search</span>
        </ng-template>

        <ng-container *ngTemplateOutlet="advancedSearch"></ng-container>
    </p-dialog>
</div>
