<ng-container
    *ngIf="{
        isOpen: (isOpen$ | async) || false,
        status: status$ | async,
        companyLocationList: companyLocationList$ | async,
        departments: departments$ | async,
        reportToList: reportToList$ | async,
    } as data"
>
    <p-dialog
        [(visible)]="data.isOpen"
        (onHide)="close()"
        [modal]="true"
        [style]="{ width: '70vw', height: 'auto' }"
        [breakpoints]="{ '720px': '100vw' }"
        styleClass="add-new-position-modal"
        [showHeader]="false"
        [draggable]="false"
        [resizable]="false"
        [dismissableMask]="true"
        appendTo="body"
    >
        <div class="modal-inner-container">
            <div class="modal-header">
                <h2>Add New Position</h2>
            </div>
            <p-divider></p-divider>
            <form [formGroup]="addNewPositionForm">
                <div class="row-container">
                    <div class="col-container">
                        <label for="positionName">Position Name</label>
                        <input
                            pInputText
                            name="positionName"
                            formControlName="positionName"
                        />
                    </div>
                    <div class="col-container">
                        <label for="basePayRate">Base Pay Rate</label>
                        <input
                            pInputText
                            name="basePayRate"
                            formControlName="basePayRate"
                        />
                    </div>
                    <div class="col-container">
                        <label for="positionType">Position Type</label>
                        <p-dropdown
                            name="positionType"
                            formControlName="positionType"
                            [options]="positionTypeList || []"
                            styleClass="full-width"
                            autocomplete="off"
                            appendTo="body"
                            [autoDisplayFirst]="false"
                        >
                        </p-dropdown>
                    </div>
                    <div class="col-container">
                        <label for="locationID">Location</label>
                        <p-dropdown
                            name="locationID"
                            formControlName="locationID"
                            [options]="data.companyLocationList || []"
                            optionLabel="locationName"
                            optionValue="locationId"
                            styleClass="full-width"
                            autocomplete="off"
                            appendTo="body"
                            [autoDisplayFirst]="false"
                        >
                        </p-dropdown>
                    </div>
                    <div class="col-container">
                        <label for="departmentId">Department</label>
                        <p-dropdown
                            formControlName="departmentId"
                            autocomplete="off"
                            optionLabel="departmentName"
                            optionValue="departmentId"
                            styleClass="full-width"
                            [autoDisplayFirst]="false"
                            [options]="data.departments || []"
                            [showClear]="true"
                            appendTo="body"
                        >
                            <ng-template let-department pTemplate="item">
                                <div
                                    class="department-option"
                                    [ngClass]="{
                                        first: department.tier === 'first',
                                        second: department.tier === 'second',
                                        third: department.tier === 'third',
                                        fourth: department.tier === 'fourth'
                                    }"
                                >
                                    <span>{{ department.departmentName }}</span>
                                </div>
                            </ng-template></p-dropdown
                        >
                    </div>
                    <div class="col-container">
                        <label for="managerPositionId">Report To</label>
                        <p-dropdown
                            name="managerPositionId"
                            formControlName="managerPositionId"
                            optionLabel="positionName"
                            optionValue="positionId"
                            styleClass="full-width"
                            autocomplete="off"
                            [options]="data.reportToList || []"
                            appendTo="body"
                            [autoDisplayFirst]="false"
                        >
                        </p-dropdown>
                    </div>
                    <div class="col-container">
                        <label for="numberofStaffNeeded"
                            >No. of Positions Needed</label
                        >
                        <input
                            type="number"
                            pInputText
                            name="numberofStaffNeeded"
                            formControlName="numberofStaffNeeded"
                        />
                    </div>
                    <div class="col-container">
                        <label for=""
                            >Number of Positions Currently Hired</label
                        >
                        <input pInputText name="" formControlName="" />
                    </div>
                    <div class="col-container full-width">
                        <label for="shortDesc">Short Description</label>
                        <textarea
                            rows="3"
                            formControlName="shortDesc"
                            pInputTextarea
                        >
                        </textarea>
                    </div>
                    <div class="col-container full-width">
                        <label for="longDesc">Long Description</label>
                        <textarea
                            rows="5"
                            formControlName="longDesc"
                            pInputTextarea
                        >
                        </textarea>
                    </div>
                    <div class="col-container full-width">
                        <label for="requirements">Requirements</label>
                        <textarea
                            rows="3"
                            formControlName="requirements"
                            pInputTextarea
                        >
                        </textarea>
                    </div>
                </div>
                <div class="checkbox-container">
                    <div class="col-container">
                        <p-checkbox
                            [binary]="true"
                            formControlName="isRootLevel"
                        ></p-checkbox>
                        <label for="isRootLevel">Is Root Level?</label>
                    </div>
                    <div class="col-container">
                        <p-checkbox
                            [binary]="true"
                            formControlName="isManager"
                        ></p-checkbox>
                        <label for="isManager">Is Manager?</label>
                    </div>
                </div>
                <div class="btn-container">
                    <ng-container *ngIf="data.status === 'error'">
                        <div>
                            <span class="text-error"
                                >Failed to add Position</span
                            >
                        </div>
                    </ng-container>
                    <button
                        pButton
                        class="btn btn-primary"
                        class="btn btn-primary-inverse"
                        [disabled]="data.status === 'loading'"
                        (click)="close()"
                    >
                        Cancel
                    </button>
                    <button
                        pButton
                        class="btn btn-primary"
                        [loading]="data.status === 'loading'"
                        [disabled]="data.status === 'loading'"
                        (click)="add()"
                    >
                        Add
                    </button>
                </div>
            </form>
        </div>
    </p-dialog>
</ng-container>
