<div class="footer-container">
    <div class="booking-info-container">
        <ng-container *ngIf="bookingGeneralInfo$ | async as data">
            <!-- order id -->
            <div class="info-container">
                <span class="field-name">Order ID:</span>
                <span>{{ data.reservationBookingId | slice : -12 }} </span>
            </div>

            <!-- purchase date -->
            <div class="info-container">
                <span class="field-name">Purchase Date:</span>
                <span>{{ data.purchaseDate | date : 'MM/dd/yy' }}</span>
            </div>
        </ng-container>
    </div>

    <div class="buttons-container">
        <button pButton class="btn-primary-inverse" (click)="cancel()">
            Cancel Order
        </button>
        <button pButton class="btn-primary" (click)="save()">
            Save Changes
        </button>
    </div>
</div>
