<ng-container
    *ngIf="{
        isOpen: (isOpen$ | async) || false,
        context: context$ | async,
        department: department$ | async,
        status: status$ | async
    } as data"
>
    <p-dialog
        [(visible)]="data.isOpen"
        (onHide)="close()"
        [modal]="true"
        [style]="{ width: '60vw', height: 'auto' }"
        styleClass="view-job-form-dialog"
        [breakpoints]="{ '720px': '100vw' }"
        [showHeader]="false"
        [draggable]="false"
        [resizable]="false"
        [dismissableMask]="true"
        appendTo="body"
    >
        <div class="modal-inner-container">
            <div class="modal-header">
                <ng-container *ngIf="data.context">
                    <span class="h2">
                        {{ data.context.jobTitle || '' }}
                    </span>
                </ng-container>
            </div>
            <ng-container *ngIf="data.context">
                <div class="view-job-container">
                    <span class="h3">Job Description</span>
                    <p-scrollPanel [style]="{ width: '100%', height: '150px' }">
                        <div
                            [innerHTML]="
                                data.context.jobDescription || 'No Description'
                            "
                        ></div>
                    </p-scrollPanel>

                    <span class="h3">Short Job Description</span>
                    <div
                        [innerHTML]="data.context.shortDesc || 'No Description'"
                    ></div>

                    <span class="h3">Job Type</span>
                    <div>{{ data.context.jobType || '' }}</div>

                    <ng-container *ngIf="data.department">
                        <span class="h3">Department</span>
                        <div>{{ data.department.departmentName || '' }}</div>
                    </ng-container>

                    <span class="h3">Location</span>
                    <div>{{ data.context.locationName || '' }}</div>

                    <span class="h3">Salary</span>
                    <div>
                        {{
                            (data.context.salary | currency : 'USD') +
                                ' ' +
                                (data.context.payType || '/ hour') || '-'
                        }}
                    </div>

                    <span class="h3">Requirements</span>
                    <div
                        [innerHTML]="
                            data.context.requirements || 'No Requirements'
                        "
                    ></div>
                </div>
            </ng-container>
            <div class="action-container">
                <button pButton class="btn-primary" (click)="close()">
                    Close
                </button>
            </div>
        </div>
    </p-dialog>
</ng-container>
