<div class="outer-container">
    <h2>Agents</h2>

    <div class="main-content-container">
        <ng-container
            *ngIf="{
                agents: agents$ | async,
                status: status$ | async
            } as config"
        >
            <ng-container [ngSwitch]="config.status">
                <ng-container *ngSwitchCase="'loading'">
                    <app-loader-embed [isDisplayed]="true"></app-loader-embed>
                </ng-container>
                <ng-container *ngSwitchCase="'error'">
                    <div class="error-state">
                        <span>Error loading agents</span>
                        <button pButton>Retry</button>
                    </div>
                </ng-container>
                <ng-container *ngSwitchCase="'success'">
                    <div class="content-header-container">
                        <div class="left-container">
                            <div class="search-container">
                                <input
                                    type="text"
                                    autocomplete="off"
                                    pInputText
                                    placeholder="Search ..."
                                    [(ngModel)]="keyword"
                                    (ngModelChange)="search()"
                                />
                            </div>
                            <div class="isactive-switch-container">
                                <p-inputSwitch
                                    name="isActive"
                                    [(ngModel)]="isActive"
                                    (ngModelChange)="isActiveChange()"
                                ></p-inputSwitch>
                                <label for="isActive">Show Inactive</label>
                            </div>
                        </div>
                        <button
                            pButton
                            class="btn btn-primary add"
                            icon="pi pi-plus"
                            (click)="openAddNewAgentModal()"
                            [appPermission]="{
                                features: [{
                                    feature:
                                    features
                                        .bookingManagement
                                        .name,
                                page: features
                                    .bookingManagement
                                    .pages.agents
                                    .name,
                                pageFeature: [
                                    features
                                        .bookingManagement
                                        .pages.agents
                                        .features
                                        .agentCreate.name
                                ],
                                pageFeatureCheck: 'or',
                                }],
                                mode: 'none'
                            }"
                        >
                            Add New Agent
                        </button>
                    </div>
                    <ng-container
                        *ngIf="
                            config.agents && config.agents.length > 0;
                            noUsers
                        "
                    >
                        <div class="table-container">
                            <p-table
                                #agentsTable
                                [value]="config.agents"
                                styleClass="agent-list-table"
                                [scrollable]="true"
                                dataKey="uniqueName"
                                [tableStyle]="{ width: '100%' }"
                                [rows]="50"
                                [rowsPerPageOptions]="[50, 100, 200]"
                                [paginator]="true"
                                [showCurrentPageReport]="true"
                                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                                [globalFilterFields]="[
                                    'partnerName',
                                    'uniqueName',
                                    'email',
                                    'contactPersonFirstName',
                                    'contactPersonLastName'
                                ]"
                            >
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>Company Name</th>
                                        <th>Unique Name</th>
                                        <th>Website</th>
                                        <th>Contact: First Name</th>
                                        <th>Contact: Last Name</th>
                                        <th>Email</th>
                                        <th>Phone</th>
                                        <th>Allow Invoicing</th>
                                        <th>Commission Rate</th>
                                        <th
                                            alignFrozen="right"
                                            pFrozenColumn
                                            [appPermission]="{
                                                features: displayActionColumn,
                                                featureCheck: 'or',
                                                mode: 'none'
                                            }"
                                        >
                                            Actions
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-item>
                                    <tr>
                                        <td>{{ item.partnerName || '-' }}</td>
                                        <td>{{ item.uniqueName || '-' }}</td>
                                        <td>{{ item.website || '-' }}</td>
                                        <td>
                                            {{
                                                item.contactPersonFirstName ||
                                                    '-'
                                            }}
                                        </td>
                                        <td>
                                            {{
                                                item.contactPersonLastName ||
                                                    '-'
                                            }}
                                        </td>
                                        <td>{{ item.email || '-' }}</td>
                                        <td>{{ item.phoneNumber || '-' }}</td>
                                        <td>
                                            {{
                                                item.allowInvoice
                                                    ? 'yes'
                                                    : 'no' || '-'
                                            }}
                                        </td>
                                        <td>
                                            {{ item.commission + '%' || '-' }}
                                        </td>
                                        <td
                                            alignFrozen="right"
                                            pFrozenColumn
                                            [appPermission]="{
                                                features: displayActionColumn,
                                                featureCheck: 'or',
                                                mode: 'none'
                                            }"
                                        >
                                            <div class="actions-container">
                                                <button
                                                    pButton
                                                    [routerLink]="[
                                                        '/operator/booking-management/agent/',
                                                        item.partnerId
                                                    ]"
                                                    class="p-button-text edit"
                                                    icon="pi pi-user-edit"
                                                    [appPermission]="{
                                                        features:
                                                            editUserFeatures,
                                                        featureCheck: 'or',
                                                        mode: 'none'
                                                    }"
                                                ></button>
                                                <button
                                                    *ngIf="item.isActive"
                                                    pButton
                                                    class="p-button-text delete"
                                                    icon="pi pi-trash"
                                                    (click)="
                                                        openSetAgentInactiveModal(
                                                            item
                                                        )
                                                    "
                                                    [appPermission]="{
                                                        features: [{
                                                            feature:
                                                            features
                                                                .bookingManagement
                                                                .name,
                                                        page: features
                                                            .bookingManagement
                                                            .pages.agents
                                                            .name,
                                                        pageFeature: [
                                                            features
                                                                .bookingManagement
                                                                .pages.agents
                                                                .features
                                                                .agentDelete.name
                                                        ],
                                                        pageFeatureCheck: 'or',
                                                        }],
                                                        mode: 'none'
                                                    }"
                                                ></button>
                                            </div>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </ng-container>
                    <ng-template #noUsers>
                        <div class="empty-state">
                            <span>You don't have any agents.</span>
                        </div>
                    </ng-template>
                </ng-container>
            </ng-container>
        </ng-container>
    </div>
</div>
<app-disable-agent-modal></app-disable-agent-modal>
