<app-booking-overview
    [managePermission]="{features: [{
    feature: features.bookingManagementAgentEdit.name,
    page: features.bookingManagementAgentEdit.pages
        .bookings.name,
    pageFeature: [
        features.bookingManagementAgentEdit.pages
            .bookings.features
            .bookingEdit.name
    ],
    pageFeatureCheck: 'and',
}], mode: 'none',}"
    [exportPermission]="{features: [{
    feature: features.bookingManagementAgentEdit.name,
    page: features.bookingManagementAgentEdit.pages
        .bookings.name,
    pageFeature: [
        features.bookingManagementAgentEdit.pages
            .bookings.features
            .exportToExcel.name
    ],
    pageFeatureCheck: 'and',
}], mode: 'none',}"
    [createPermission]="{features: [{
    feature: features.bookingManagementAgentEdit.name,
    page: features.bookingManagementAgentEdit.pages
        .bookings.name,
    pageFeature: [
        features.bookingManagementAgentEdit.pages
            .bookings.features
            .bookingCreate.name
    ],
    pageFeatureCheck: 'and',
}], mode: 'none',}"
    [isLoading]="(isLoading$ | async) === true"
    [bookings]="(bookings$ | async) || []"
></app-booking-overview>
