<ng-container
    *ngIf="{
        isOpen: (isOpen$ | async) || false,
        context: context$ | async,
        status: status$ | async,
        qualifications: qualifications$ | async,
    } as data"
>
    <p-dialog
        [(visible)]="data.isOpen"
        (onHide)="close()"
        [modal]="true"
        [style]="{ width: '60vw', height: 'auto' }"
        styleClass="edit-certifications-modal"
        [breakpoints]="{ '700px': '100vw' }"
        [showHeader]="false"
        [draggable]="false"
        [resizable]="false"
        [dismissableMask]="true"
        appendTo="body"
    >
        <div class="modal-inner-container">
            <div class="modal-header">
                <h2>Edit Qualification</h2>
            </div>
            <p-divider></p-divider>
            <h4>Qualifications Information</h4>
            <form class="modal-body" [formGroup]="certificationsStatusForm">
                <div class="certifications-items">
                    <div class="certifications-item">
                        <label for="certification">Type</label>
                        <p-dropdown
                            id="certification"
                            name="certification"
                            formControlName="certificationType"
                            autocomplete="off"
                            optionLabel="qualificationName"
                            [options]="data.qualifications || []"
                            placeholder="Select Qualification"
                            [autoDisplayFirst]="false"
                            [showClear]="true"
                        ></p-dropdown>
                    </div>
                    <div class="certifications-item">
                        <label for="startDate">Start Date</label>
                        <p-calendar
                            id="startDate"
                            dateFormat="mm/dd/yy"
                            placeholder="Select Dates"
                            formControlName="startDate"
                            appendTo="body"
                            [showIcon]="true"
                            styleClass="calendar-icon"
                        >
                        </p-calendar>
                    </div>
                    <div class="certifications-item">
                        <label for="expiryDate">Expiry Date</label>
                        <p-calendar
                            id="expiryDate"
                            dateFormat="mm/dd/yy"
                            placeholder="Select Dates"
                            formControlName="expiryDate"
                            appendTo="body"
                            [showIcon]="true"
                            styleClass="calendar-icon"
                            [selectOtherMonths]="true"
                        >
                        </p-calendar>
                    </div>
                </div>
                <br />
                <div class="noexpiry-container">
                    <p-checkbox
                        [binary]="true"
                        inputId="noExpiryDate"
                        formControlName="noExpiryDate"
                    ></p-checkbox>
                    <label for="noExpiryDate">No expiry date</label>
                </div>
                <div class="file-upload-container">
                    <div class="current-file">
                        <ng-container
                            *ngIf="
                                data.context?.documentPath as documentPath;
                                else noPreviousFile
                            "
                        >
                            <div class="text-container">
                                <a [href]="documentPath">{{
                                    documentPath.split('\/').pop()
                                }}</a>
                            </div>
                        </ng-container>
                        <ng-template #noPreviousFile>
                            <span>No File Uploaded</span>
                        </ng-template>
                    </div>
                    <p-divider layout="vertical"></p-divider>
                    <div class="upload-btn-container">
                        <p-fileUpload
                            mode="basic"
                            #fileUploadComponent
                            chooseIcon="pi pi-upload"
                            styleClass="btn-primary-inverse"
                            chooseLabel="Choose File"
                            [multiple]="false"
                            name="file"
                            id="file"
                            (onSelect)="onFileSelect($event)"
                        ></p-fileUpload>
                    </div>
                </div>
                <div class="btn-container">
                    <ng-container *ngIf="data.status === 'error'">
                        <div>
                            <span class="text-error"
                                >Failed to update qualification</span
                            >
                        </div>
                    </ng-container>

                    <button
                        pButton
                        class="btn btn-primary-inverse"
                        [disabled]="data.status === 'loading'"
                        (click)="close()"
                    >
                        Cancel
                    </button>
                    <button
                        pButton
                        class="btn btn-primary"
                        [loading]="data.status === 'loading'"
                        (click)="updateCertification()"
                    >
                        Save
                    </button>
                </div>
            </form>
        </div>
    </p-dialog>
</ng-container>
