<h2>User Information</h2>
<ng-container
    *ngIf="{
        status: status$ | async,
        userRoles: userRoles$ | async,
        associatedAgents: associatedAgents$ | async,
        profilePictureUrl: profilePictureUrl$ | async,
        isPrimaryAgent: primaryAgent$ | async
    } as config"
>
    <ng-container *ngIf="config.isPrimaryAgent != undefined">
        <div class="main-content">
            <form
                [formGroup]="userContactForm"
                (ngSubmit)="submitContactForm()"
                [appPermission]="{
                features: [{

                    feature: features.userManagementEdit.name,
                    page: features.userManagementEdit.pages.userInformation.name,
                    pageFeature: [
                        features.userManagementEdit.pages.userInformation.features
                            .informationUpdate.name
                    ],
                    pageFeatureCheck: 'or',
                }],
                mode: 'childDisabled'
            }"
                [ngClass]="{
                    'p-disabled': config.isPrimaryAgent == true
                }"
            >
                <div *ngIf="config.isPrimaryAgent == true" style="color: red">
                    This is the primary agent, update this user in the agents
                    tab.
                </div>
                <div class="section-container">
                    <div class="img-container">
                        <ng-container
                            *ngIf="
                                config.profilePictureUrl != null &&
                                    config.profilePictureUrl !== '';
                                else defaultImage
                            "
                        >
                            <img [src]="config.profilePictureUrl" />
                        </ng-container>
                        <ng-template #defaultImage>
                            <img src="assets/icons/ic_agent_profile.svg" />
                        </ng-template>
                        <p-divider
                            layout="vertical"
                            class="desktop"
                        ></p-divider>
                        <div class="file-upload-container">
                            <p-fileUpload
                                mode="basic"
                                name="photo"
                                id="photo"
                                [showUploadButton]="false"
                                styleClass="btn-primary-inverse upload-btn"
                                #fileUploadComponent
                                [multiple]="false"
                                chooseLabel="Select Photo"
                                accept="image/*"
                                [disabled]="
                                    config.status?.uploadProfilePhoto ===
                                    'loading'
                                "
                                (onSelect)="onFileSelect($event)"
                                [appPermission]="{
                                features: [{

                                    feature: features.userManagementEdit.name,
                                    page: features.userManagementEdit.pages
                                        .userInformation.name,
                                    pageFeature: [
                                        features.userManagementEdit.pages
                                            .userInformation.features.photoUpdate.name
                                    ],
                                    pageFeatureCheck: 'or',
                                }],
                                mode: 'childDisabled'
                            }"
                            >
                            </p-fileUpload>
                            <ng-container
                                *ngIf="
                                    config.status?.uploadProfilePhoto ===
                                    'loading'
                                "
                            >
                                <span class="body-m status-text">
                                    Uploading...
                                </span>
                            </ng-container>
                        </div>
                    </div>
                </div>
                <div class="section-container">
                    <div class="textfield-container-third">
                        <label for="firstName" class="form-control-label"
                            >First Name</label
                        >
                        <input
                            formControlName="firstName"
                            id="firstName"
                            name="firstName"
                            type="text"
                            class="form-control form-control-custom"
                            autocomplete="off"
                            pInputText
                        />
                    </div>
                    <div class="textfield-container-third">
                        <label for="lastName" class="form-control-label"
                            >Last Name</label
                        >
                        <input
                            formControlName="lastName"
                            id="lastName"
                            name="lastName"
                            type="text"
                            class="form-control form-control-custom"
                            autocomplete="off"
                            pInputText
                        />
                    </div>
                    <div class="textfield-container-third">
                        <label for="nickName" class="form-control-label"
                            >Nickname</label
                        >
                        <input
                            formControlName="nickName"
                            id="nickName"
                            name="nickName"
                            type="text"
                            class="form-control form-control-custom"
                            autocomplete="off"
                            pInputText
                        />
                    </div>
                </div>
                <div class="section-container">
                    <div
                        class="textfield-container-third"
                        [appPermission]="{
                    features: [{

                        feature: features.userManagementEdit.name,
                        page: features.userManagementEdit.pages.userInformation.name,
                        pageFeature: [
                            features.userManagementEdit.pages.userInformation.features
                                .roleUpdate.name
                        ],
                        pageFeatureCheck: 'or',
                    }],
                    mode: 'childDisabled'
                }"
                    >
                        <label for="roleId" class="form-control-label"
                            >User Role</label
                        >

                        <ng-container
                            *ngIf="
                                config.userRoles && config.userRoles.length > 0
                            "
                        >
                            <p-dropdown
                                id="roleId"
                                name="roleId"
                                [options]="config.userRoles"
                                optionLabel="name"
                                optionValue="id"
                                [autoDisplayFirst]="false"
                                placeholder="Select a Role"
                                formControlName="roleId"
                                appendTo="body"
                            >
                            </p-dropdown>
                        </ng-container>
                    </div>
                    <div
                        class="textfield-container-third"
                        [appPermission]="{
                    features: [{

                        feature: features.userManagementEdit.name,
                        page: features.userManagementEdit.pages.userInformation.name,
                        pageFeature: [
                            features.userManagementEdit.pages.userInformation.features
                                .agentUpdate.name
                        ],
                        pageFeatureCheck: 'or',
                    }],
                    mode: 'childDisabled'
                }"
                    >
                        <label for="partnerId" class="form-control-label"
                            >Agent</label
                        >

                        <ng-container
                            *ngIf="
                                config.associatedAgents &&
                                config.associatedAgents.length > 0
                            "
                        >
                            <p-dropdown
                                id="partnerId"
                                name="partnerId"
                                [options]="config.associatedAgents"
                                optionLabel="uniqueName"
                                optionValue="partnerId"
                                [autoDisplayFirst]="false"
                                placeholder="Select an Agent"
                                formControlName="partnerId"
                                appendTo="body"
                            >
                            </p-dropdown>
                        </ng-container>
                    </div>
                    <div class="textfield-container-third">
                        <label for="email" class="form-control-label"
                            >Email</label
                        >
                        <input
                            formControlName="email"
                            id="email"
                            name="email"
                            type="text"
                            class="form-control form-control-custom"
                            autocomplete="off"
                            pInputText
                        />
                    </div>
                    <div class="textfield-container-third">
                        <label for="phoneNumber" class="form-control-label"
                            >Phone Number</label
                        >
                        <!-- <input
                        formControlName="phoneNumber"
                        id="email"
                        name="email"
                        type="text"
                        class="form-control form-control-custom"
                        autocomplete="off"
                        pInputText
                    /> -->
                        <app-phone-number
                            [required]="true"
                            formControlName="phoneNumber"
                        ></app-phone-number>
                    </div>
                </div>
                <div class="section-container">
                    <h4>Address</h4>
                    <div class="textfield-container-third">
                        <label for="address" class="form-control-label"
                            >Address Line 1</label
                        >
                        <input
                            formControlName="address"
                            id="address"
                            name="address"
                            type="text"
                            class="form-control form-control-custom"
                            autocomplete="off"
                            pInputText
                        />
                    </div>
                    <div class="textfield-container-third">
                        <label for="address2" class="form-control-label"
                            >Address Line 2</label
                        >
                        <input
                            formControlName="address2"
                            id="address2"
                            name="address2"
                            type="text"
                            class="form-control form-control-custom"
                            autocomplete="off"
                            pInputText
                        />
                    </div>
                    <div class="textfield-container-third">
                        <label for="city" class="form-control-label"
                            >City</label
                        >
                        <input
                            formControlName="city"
                            id="city"
                            name="city"
                            type="text"
                            class="form-control form-control-custom"
                            autocomplete="off"
                            pInputText
                        />
                    </div>
                    <div class="textfield-container-third">
                        <label for="countryId" class="form-control-label"
                            >Country</label
                        >
                        <p-dropdown
                            id="countryId"
                            [options]="countries.length > 0 ? countries : []"
                            optionLabel="countryName"
                            optionValue="countryId"
                            placeholder="Select a Country"
                            formControlName="countryId"
                            [autoDisplayFirst]="false"
                        >
                        </p-dropdown>
                    </div>
                    <div class="textfield-container-third">
                        <label for="stateId" class="form-control-label"
                            >State</label
                        >
                        <p-dropdown
                            id="stateId"
                            [options]="states.length > 0 ? states : []"
                            optionLabel="stateName"
                            optionValue="stateId"
                            placeholder="Select a State"
                            formControlName="stateId"
                            [autoDisplayFirst]="false"
                        ></p-dropdown>
                    </div>
                    <div class="textfield-container-third">
                        <label for="zipcode" class="form-control-label"
                            >Zip/Postal Code</label
                        >
                        <input
                            formControlName="zipcode"
                            id="zipcode"
                            name="zipcode"
                            type="text"
                            class="form-control form-control-custom"
                            autocomplete="off"
                            pInputText
                        />
                    </div>
                </div>

                <div class="isemployee-checkbox-container">
                    <p-checkbox
                        [binary]="true"
                        inputId="isEmployee"
                        formControlName="isEmployee"
                    ></p-checkbox>
                    <label for="isEmployee">Is an employee</label>
                </div>
                <div class="button-container">
                    <button
                        pButton
                        class="btn btn-primary"
                        type="submit"
                        [loading]="config.status?.saveProfile === 'loading'"
                    >
                        Save Changes
                    </button>

                    <ng-container
                        *ngIf="config.status?.saveProfile === 'success'"
                    >
                        <span class="text-success"
                            >User Information Saved!</span
                        >
                    </ng-container>
                </div>
            </form>
            <!-- disabling as there isn't a good way to handle this currently -->
            <!-- <h2>Update Password</h2>
        <div class="button-container">
            <button
                pButton
                class="btn btn-primary"
                (click)="resetPassword()"
                [appPermission]="{
                    feature: features.userManagementEdit.name,
                    page: features.userManagementEdit.pages.userInformation
                        .name,
                    pageFeature: [
                        features.userManagementEdit.pages.userInformation
                            .features.updatePassword.name
                    ],
                    pageFeatureCheck: 'or',
                    mode: 'disabled'
                }"
                [loading]="config.resetPasswordStatus === 'loading'"
            >
                Update Password
            </button>

            <ng-container *ngIf="config.resetPasswordStatus === 'error'">
                <span class="text-error">Failed to Send Email</span>
            </ng-container>
            <ng-container *ngIf="config.resetPasswordStatus === 'success'">
                <span class="text-success">Email sent successfully!</span>
            </ng-container>
        </div> -->
        </div>
    </ng-container>
</ng-container>
