<ng-container
    *ngIf="{
        orgChart: orgChart$ | async,
        status: status$ | async,
        isExpanded: isExpanded$ | async
    } as data"
>
    <div class="container">
        <div class="header-container">
            <h2>Organization Chart</h2>
            <button
                pButton
                class="btn btn-primary-inverse"
                (click)="toggleExpandAll()"
            >
                {{ data.isExpanded ? 'Collapse All' : 'Expand All' }}
            </button>
        </div>
        <div class="content-container">
            <ng-container *ngIf="data.status === 'loading'">
                <app-loader-embed [isDisplayed]="true"></app-loader-embed>
            </ng-container>
            <ng-container *ngIf="data.status === 'error'">
                <div class="error-container">
                    <i class="pi pi-exclamation-circle"></i>
                    <span class="body-xl"
                        >Unable to load Organization Chart</span
                    >
                    <button
                        pButton
                        class="btn btn-primary-inverse"
                        (click)="refresh()"
                    >
                        Try again
                    </button>
                </div>
            </ng-container>
            <ng-container *ngIf="data.status === 'success'">
                <ng-container *ngIf="data.orgChart">
                    <div class="organization-chart-container">
                        <p-organizationChart
                            [value]="data.orgChart"
                            [collapsible]="true"
                            [preserveSpace]="false"
                            (onNodeExpand)="onNodeExpand(data.orgChart)"
                            (onNodeCollapse)="onNodeCollapse()"
                        >
                            <ng-template let-node pTemplate="default">
                                <div class="org-card-container">
                                    <span class="font-medium">{{
                                        node.label
                                    }}</span>
                                    <ng-container *ngIf="node.data as depInfo">
                                        <!-- overall stats -->
                                        <div class="stats-container">
                                            <div
                                                class="stat-container pointer"
                                                (click)="
                                                    viewDepartmentUsers(
                                                        depInfo,
                                                        'all'
                                                    )
                                                "
                                            >
                                                <span class="body-s description"
                                                    >Total Staff</span
                                                >
                                                <span
                                                    class="font-medium stat"
                                                    [class.alert]="
                                                        node.data?.totalHired <
                                                        node.data?.totalNeeded
                                                    "
                                                >
                                                    {{ depInfo.totalHired }}/{{
                                                        depInfo.totalNeeded
                                                    }}
                                                </span>
                                            </div>
                                            <div
                                                class="stat-container pointer"
                                                (click)="
                                                    viewDepartmentUsers(
                                                        depInfo,
                                                        'department'
                                                    )
                                                "
                                            >
                                                <span class="body-s description"
                                                    >Dept. Staff
                                                </span>
                                                <span
                                                    class="font-medium stat"
                                                    [class.alert]="
                                                        node.data?.staffHired <
                                                        node.data
                                                            ?.totalStaffNeeded
                                                    "
                                                >
                                                    {{ depInfo.staffHired }}/{{
                                                        depInfo.totalStaffNeeded
                                                    }}
                                                </span>
                                            </div>
                                        </div>

                                        <!-- managerial position -->
                                        <div class="positions-container">
                                            <ng-container
                                                *ngIf="
                                                    depInfo.listManagerPosition &&
                                                        depInfo
                                                            .listManagerPosition
                                                            .length > 0;
                                                    else managerEmptyState
                                                "
                                            >
                                                <ng-container
                                                    *ngFor="
                                                        let managerPosition of depInfo.listManagerPosition
                                                    "
                                                >
                                                    <span
                                                        class="body-s font-medium pointer"
                                                        [class.alert]="
                                                            managerPosition.hiredStaffCount <
                                                            managerPosition.staffCount
                                                        "
                                                        (click)="
                                                            viewPositionUsers(
                                                                managerPosition
                                                            )
                                                        "
                                                        >{{
                                                            managerPosition.positionName
                                                        }}
                                                        ({{
                                                            managerPosition.hiredStaffCount
                                                        }}/{{
                                                            managerPosition.staffCount
                                                        }})</span
                                                    >
                                                </ng-container>
                                            </ng-container>
                                            <ng-template #managerEmptyState>
                                                <span
                                                    class="body-s font-medium"
                                                >
                                                    No Manager Positions
                                                </span>
                                            </ng-template>
                                        </div>

                                        <!-- staff position -->
                                        <div class="positions-container">
                                            <ng-container
                                                *ngIf="
                                                    depInfo.listStaffPosition &&
                                                        depInfo
                                                            .listStaffPosition
                                                            .length > 0;
                                                    else staffEmptyState
                                                "
                                            >
                                                <ng-container
                                                    *ngFor="
                                                        let staffPosition of depInfo.listStaffPosition
                                                    "
                                                >
                                                    <span
                                                        class="body-s pointer"
                                                        [class.alert]="
                                                            staffPosition.hiredStaffCount <
                                                            staffPosition.staffCount
                                                        "
                                                        (click)="
                                                            viewPositionUsers(
                                                                staffPosition
                                                            )
                                                        "
                                                        >{{
                                                            staffPosition.positionName
                                                        }}
                                                        ({{
                                                            staffPosition.hiredStaffCount
                                                        }}/{{
                                                            staffPosition.staffCount
                                                        }})</span
                                                    >
                                                </ng-container>
                                            </ng-container>
                                            <ng-template #staffEmptyState>
                                                <span class="body-s">
                                                    No Staff Positions
                                                </span>
                                            </ng-template>
                                        </div>
                                    </ng-container>
                                </div>
                            </ng-template>
                        </p-organizationChart>
                    </div>
                </ng-container>
            </ng-container>
        </div>
    </div>
</ng-container>

<!-- modals -->
<app-org-users-modal></app-org-users-modal>
