<ng-container *ngIf="tour">
    <div class="tour-overlay-container">
        <span class="body">{{ tour.start | date : 'hh:mm a' }}</span>
        <span class="body-xl font-medium">{{ tour.description }}</span>
        <div
            class="allocation-container"
            [style.backgroundColor]="
                tour.isReleased === true ? tour.background : ''
            "
            [style.borderColor]="tour.color"
            [style.color]="tour.color"
            [class.unallocated]="tour.isUnallocated"
        >
            <ng-container *ngIf="tour.isReleased; else notReleased">
                <ng-container
                    *ngIf="tour.shipId !== null; else bookDirectReleased"
                >
                    <span class="body"
                        >Released to
                        {{ tour.cruiseShipName }}
                        <ng-container
                            *ngTemplateOutlet="seatsAllocation"
                        ></ng-container
                    ></span>
                </ng-container>
                <ng-template #bookDirectReleased>
                    <span class="body"
                        >Released to Book Direct
                        <ng-container
                            *ngTemplateOutlet="seatsAllocation"
                        ></ng-container>
                    </span>
                </ng-template>
            </ng-container>
            <ng-template #notReleased>
                <ng-container *ngIf="tour.shipId === null">
                    <span class="body"
                        >Unallocated
                        <ng-container
                            *ngTemplateOutlet="maxCapacity"
                        ></ng-container>
                    </span>
                </ng-container>
                <ng-container *ngIf="tour.shipId !== null && tour.shipId >= 1">
                    <span class="body"
                        >Allocated to {{ tour.cruiseShipName }}
                        <ng-container
                            *ngTemplateOutlet="maxCapacity"
                        ></ng-container
                    ></span>
                </ng-container>
                <ng-container *ngIf="tour.shipId !== null && tour.shipId < 1">
                    <span class="body"
                        >Allocated to Book Direct
                        <ng-container
                            *ngTemplateOutlet="maxCapacity"
                        ></ng-container>
                    </span>
                </ng-container>
            </ng-template>
        </div>

        <!-- actions -->
        <ng-container *ngIf="displayQuickActions">
            <div class="actions-container">
                <ng-container *ngIf="!tour.isReleased">
                    <ng-container *ngIf="deletePermission">
                        <button
                            pButton
                            class="btn btn-danger"
                            (click)="onDeleteInventory()"
                            [appPermission]="deletePermission"
                        >
                            Delete
                        </button>
                    </ng-container>
                    <ng-container
                        *ngIf="tour.shipId === null; else allocatedActions"
                    >
                        <ng-container *ngIf="allocatePermission">
                            <button
                                pButton
                                class="btn btn-primary"
                                (click)="onAllocateInventory()"
                                [appPermission]="allocatePermission"
                            >
                                Allocate
                            </button>
                        </ng-container>
                    </ng-container>
                    <ng-template #allocatedActions>
                        <ng-container *ngIf="releasePermission">
                            <button
                                pButton
                                class="btn btn-primary"
                                (click)="onReleaseInventory()"
                                [appPermission]="releasePermission"
                            >
                                Release
                            </button>
                        </ng-container>
                    </ng-template>
                    <ng-container *ngIf="editPermission">
                        <button
                            pButton
                            class="btn btn-primary-inverse"
                            (click)="onEditInventory()"
                            [appPermission]="editPermission"
                        >
                            Edit
                        </button>
                    </ng-container>
                </ng-container>
                <ng-container *ngIf="tour.isReleased && allowModifyReleaseInv">
                    <ng-container *ngIf="editPermission">
                        <button
                            pButton
                            class="btn btn-primary-inverse"
                            (click)="onEditInventory()"
                            [appPermission]="editPermission"
                        >
                            Edit
                        </button>
                    </ng-container>
                    <ng-container *ngIf="deletePermission">
                        <button
                            pButton
                            class="btn btn-danger"
                            (click)="onDeleteInventory()"
                            [appPermission]="deletePermission"
                        >
                            Delete
                        </button>
                    </ng-container>
                </ng-container>
            </div>
        </ng-container>
    </div>
    <ng-template #seatsAllocation>
        <ng-container *ngIf="tour.isReleased && tour.extras">
            -
            {{ tour.extras.seatsSold || '0' }}/{{
                tour.extras.seatsAllocated || '0'
            }}
            Sold
        </ng-container>
    </ng-template>

    <ng-template #maxCapacity>
        <ng-container *ngIf="tour.extras">
            (Max:
            {{ tour.extras.seatsAllocated || '0' }})
        </ng-container>
    </ng-template>
</ng-container>
