<ng-container *ngIf="timeSlot">
    <div class="time-option-container">
        <ng-container [ngSwitch]="timeType">
            <!-- soldout -->
            <ng-container *ngSwitchCase="'soldout'">
                <div>
                    <span class="time-and-seats">{{
                        timeSlot.tourInventoryTime | timeFormat
                    }}</span>
                    <p-tag
                        value="Sold Out"
                        [rounded]="true"
                        styleClass="soldout-seat-tag"
                    ></p-tag>
                </div>
            </ng-container>

            <!-- limited seat -->
            <ng-container *ngSwitchCase="'limitedSeat'">
                <div>
                    <span class="time-and-seats">{{
                        timeSlot.tourInventoryTime | timeFormat
                    }}</span>
                    <p-tag
                        [value]="'Seats Left:' + timeSlot.availableSeats"
                        [rounded]="true"
                        styleClass="seat-tag"
                    ></p-tag>
                </div>
            </ng-container>

            <!-- limited seat disabled -->
            <ng-container *ngSwitchCase="'limitedSeatDisabled'">
                <div>
                    <span class="time-and-seats">{{
                        timeSlot.tourInventoryTime | timeFormat
                    }}</span>
                    <p-tag
                        [value]="'Seats Left:' + timeSlot.availableSeats"
                        [rounded]="true"
                        styleClass="notimes-seat-tag"
                    ></p-tag>
                </div>
            </ng-container>

            <!-- default -->
            <ng-container *ngSwitchDefault>
                <div>
                    <span>{{ timeSlot.tourInventoryTime | timeFormat }}</span>
                </div>
            </ng-container>
        </ng-container>
    </div></ng-container
>
