<ng-container
    *ngIf="{
        isOpen: (isOpen$ | async) || false,
        context: context$ | async,
    } as data"
>
    <p-dialog
        [(visible)]="data.isOpen"
        (onHide)="close()"
        [modal]="true"
        [style]="{
            'box-shadow': 'none'
        }"
        styleClass="image-lightbox"
        [showHeader]="false"
        [draggable]="false"
        [resizable]="false"
        [dismissableMask]="true"
        appendTo="body"
    >
        <div class="img-container" (click)="close()">
            <ng-container *ngIf="data.context">
                <img [src]="data.context.image" />
            </ng-container>
        </div>
    </p-dialog>
</ng-container>
