<ng-container *ngIf="userTraining">
    <div class="user-training-container">
        <p-table
            [value]="userTraining || []"
            styleClass="user-training-table"
            [tableStyle]="{ 'min-width': '50rem' }"
            [paginator]="true"
            [rows]="20"
            [rowsPerPageOptions]="[10, 20, 50]"
            [scrollable]="true"
            [showCurrentPageReport]="true"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        >
            <ng-template pTemplate="header">
                <tr>
                    <th>Training Name</th>
                    <th>Complete Date</th>
                    <th>Training Complete</th>
                    <th
                        alignFrozen="right"
                        pFrozenColumn
                        [appPermission]="{
                            features: [{

                                feature: features.profile.name,
                                page: features.profile.pages.training
                                    .name,
                                pageFeature: [
                                    features.profile.pages.training
                                        .features.trainingUpdate.name,
                                    features.profile.pages.training
                                        .features.trainingDelete.name
                                ],
                                pageFeatureCheck: 'or',
                            }],
                            mode: 'none'
                        }"
                    >
                        Action
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item>
                <tr>
                    <td>{{ item.trainingName }}</td>
                    <td>{{ item.completionDate | date : "dd'/'MM'/'yyyy" }}</td>
                    <td>
                        <span class="training-type">{{
                            item.trainingCompleted
                        }}</span>
                    </td>
                    <td
                        alignFrozen="right"
                        pFrozenColumn
                        [appPermission]="{
                            features: [{

                                feature: features.profile.name,
                                page: features.profile.pages.training
                                    .name,
                                pageFeature: [
                                    features.profile.pages.training
                                        .features.trainingUpdate.name,
                                    features.profile.pages.training
                                        .features.trainingDelete.name
                                ],
                                pageFeatureCheck: 'or',
                            }],
                            mode: 'none'
                        }"
                    >
                        <div class="action-column">
                            <button
                                pButton
                                icon="pi pi-pencil"
                                class="p-button-text edit"
                                pTooltip="Edit"
                                tooltipPosition="left"
                                (click)="openEditTrainingModal(item)"
                                [appPermission]="{
                                features: [{

                                    feature: features.profile.name,
                                    page: features.profile.pages.training
                                        .name,
                                    pageFeature: [
                                        features.profile.pages.training
                                            .features.trainingUpdate.name
                                    ],
                                    pageFeatureCheck: 'or',
                                }],
                                mode: 'none'
                            }"
                            ></button>
                            <button
                                pButton
                                icon="pi pi-trash"
                                class="p-button-text delete"
                                pTooltip="Delete"
                                tooltipPosition="left"
                                (click)="openRemoveTrainingModal(item)"
                                [appPermission]="{
                                features: [{

                                    feature: features.profile.name,
                                    page: features.profile.pages.training
                                        .name,
                                    pageFeature: [
                                        features.profile.pages.training
                                            .features.trainingDelete.name
                                    ],
                                    pageFeatureCheck: 'or',
                                }],
                                mode: 'none'
                            }"
                            ></button>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</ng-container>
