<div class="container">
    <ng-container
        *ngIf="{
        status: status$ | async,
    } as data"
    >
        <ng-container *ngIf="data.status === 'loading'; else content">
            <app-loader-embed [isDisplayed]="true"></app-loader-embed>
        </ng-container>
        <ng-template #content>
            <div class="main-container">
                <div class="section-header-container">
                    <h2>CruiseCode Images</h2>
                    <button
                        pButton
                        class="btn btn-primary"
                        (click)="openUploadImageModal()"
                        [appPermission]="{
                            features: [{
                                feature:
                                    features.toursAndServicesEdit.name,
                                page: features.toursAndServicesEdit.pages
                                    .gallery.name,
                                pageFeature: [
                                    features.toursAndServicesEdit.pages
                                        .gallery
                                        .features.uploadImage.name,
                                ],
                            }],
                            mode: 'none'
                        }"
                    >
                        <i class="pi pi-plus"></i>
                        Add Image
                    </button>
                </div>
                <div class="tour-images-container">
                    <ng-container
                        *ngIf="
                            cruiseCodeImages$ | async as tourImages;
                            else emptyTourImages
                        "
                    >
                        <ng-container
                            *ngFor="let tourImage of tourImages; let i = index"
                        >
                            <div
                                class="img-container"
                                [class.shopping-cart]="
                                    tourImage.displayShoppingCartBadge
                                "
                            >
                                <button
                                    class="delete-btn"
                                    (click)="openDeleteImageModal(tourImage)"
                                    [appPermission]="{
                                        features: [{
                                            feature:
                                                features.toursAndServicesEdit.name,
                                            page: features.toursAndServicesEdit.pages
                                                .gallery.name,
                                            pageFeature: [
                                                features.toursAndServicesEdit.pages
                                                    .gallery
                                                    .features.deleteImage.name,
                                            ],
                                        }],
                                        mode: 'none'
                                    }"
                                >
                                    <i class="pi pi-times"></i>
                                </button>
                                <ng-container
                                    *ngIf="tourImage.displayShoppingCartBadge"
                                >
                                    <div class="shopping-cart-badge">
                                        <span>Shopping Cart Image</span>
                                    </div>
                                </ng-container>
                                <div class="img-action-container">
                                    <button
                                        pButton
                                        (click)="viewImage(tourImage)"
                                    >
                                        <i class="pi pi-eye"></i>
                                        View
                                    </button>
                                </div>
                                <img
                                    [src]="
                                        tourImage.isShoppingCart
                                            ? tourImage.shoppingCartImagePath
                                            : tourImage.imagePath
                                    "
                                />
                            </div>
                        </ng-container>
                    </ng-container>
                    <ng-template #emptyTourImages>
                        <div class="empty-tour-images-container">
                            <span>Tour has no gallery images.</span>
                        </div>
                    </ng-template>
                </div>

                <!-- uncomment the following if we want to display AlaskaX images here -->
                <!-- <p-divider></p-divider>
                <h2>AlaskaX Images</h2>
                <p>
                    These images are managed in the CMS. Use the CMS to make any
                    modifications to the images below.
                </p>
                <div class="tour-images-container">
                    <ng-container
                        *ngIf="
                            alaskaxImages$ | async as tourImages;
                            else emptyTourImages
                        "
                    >
                        <ng-container
                            *ngFor="let tourImage of tourImages; let i = index"
                        >
                            <div class="img-container">
                                <div class="img-action-container">
                                    <button
                                        pButton
                                        (click)="viewImage(tourImage)"
                                    >
                                        <i class="pi pi-eye"></i>
                                        View
                                    </button>
                                </div>
                                <img [src]="tourImage.imagePath" />
                            </div>
                        </ng-container>
                    </ng-container>
                    <ng-template #emptyTourImages>
                        <div class="empty-tour-images-container">
                            <span>Tour has no gallery images.</span>
                        </div>
                    </ng-template>
                </div> -->
            </div>
        </ng-template>
    </ng-container>
</div>

<!-- modals -->
<app-remove-image-modal></app-remove-image-modal>
<app-upload-image-modal></app-upload-image-modal>
