<ng-container
    *ngIf="{
        status: status$ | async
    } as data"
>
    <div class="booking-info-container">
        <div class="info-row-container">
            <ng-container *ngIf="bookingGeneralInfo$ | async as data">
                <!-- order id -->
                <div class="info-container">
                    <span class="field-name">Order ID:</span>
                    <span>{{ data.reservationBookingId | slice : -12 }} </span>
                </div>

                <!-- purchase date -->
                <div class="info-container">
                    <!-- TODO: this will be replaced with purchaseDate once that is being returned by the API
                since booking date could be different for each tour in a single booking -->
                    <span class="field-name">Purchase Date:</span>
                    <span>{{ data.purchaseDate | date : 'MM/dd/yy' }}</span>
                </div>
            </ng-container>
        </div>
        <div class="resend-email-container">
            <button
                pButton
                class="btn btn-primary"
                (click)="resendEmail()"
                [loading]="data.status === 'loading'"
            >
                Resend order confirmation
            </button>
        </div>
    </div>
</ng-container>
