<app-booking-overview
    [managePermission]="{features: [{
        feature: features.bookingManagement.name,
        page: features.bookingManagement.pages
            .bookings.name,
        pageFeature: [
            features.bookingManagement.pages
                .bookings.features
                .bookingEdit.name
        ],
        pageFeatureCheck: 'and',
    }], mode: 'none',}"
    [exportPermission]="{features: [{
        feature: features.bookingManagement.name,
        page: features.bookingManagement.pages
            .bookings.name,
        pageFeature: [
            features.bookingManagement.pages
                .bookings.features
                .exportToExcel.name
        ],
        pageFeatureCheck: 'and',
    }], mode: 'none',}"
    [createPermission]="{features: [{
        feature: features.bookingManagement.name,
        page: features.bookingManagement.pages
            .bookings.name,
        pageFeature: [
            features.bookingManagement.pages
                .bookings.features
                .bookingCreate.name
        ],
        pageFeatureCheck: 'and',
    }], mode: 'none',}"
    [isLoading]="(isLoading$ | async) === true"
    [bookings]="(bookings$ | async) || []"
></app-booking-overview>
