<ng-container
    *ngIf="{
        isActive: (isActive$ | async) === true,
        isLoading: (isLoading$ | async) === true,
        bookingDateIsInThePast: (bookingDateIsInThePast$ | async),
        hasUnsavedChanges: (hasUnsavedChanges$ | async)
    } as data"
>
    <div class="container">
        <div class="outer-heading-container">
            <div class="header-container">
                <h1><a [routerLink]="['../']"> Bookings </a></h1>
                <i class="pi pi-angle-right" style="font-size: 2rem"></i>
                <h1 class="current">Manage booking</h1>
            </div>

            <div
                class="buttons-container"
                [class.p-disabled]="
                    data.isActive === false ||
                    data.bookingDateIsInThePast === true
                "
            >
                <ng-container *ngIf="!data.isLoading">
                    <ng-container
                        *ngIf="data.isActive === true; else notActive"
                    >
                        <ng-container *ngIf="deletePermission">
                            <button
                                [appPermission]="deletePermission"
                                pButton
                                class="btn btn-primary-inverse"
                                (click)="cancel()"
                            >
                                Cancel Order
                            </button>
                        </ng-container>
                        <ng-container *ngIf="updatePermission">
                            <button
                                [appPermission]="updatePermission"
                                pButton
                                class="btn btn-primary"
                                (click)="save()"
                            >
                                Save Changes
                            </button>
                        </ng-container>
                    </ng-container>
                    <ng-template #notActive>
                        <button pButton class="canceled-tag">Canceled</button>
                    </ng-template>
                </ng-container>
            </div>
        </div>
        <div
            [class.p-disabled]="
                data.isActive === false || data.bookingDateIsInThePast === true
            "
        >
            <ng-container *ngIf="tourList$ | async as tourList">
                <app-booking-information></app-booking-information>
                <app-passenger-information
                    [updatePermission]="updatePermission"
                ></app-passenger-information>

                <p-divider></p-divider>

                <app-agent-information
                    [updatePermission]="updatePermission"
                ></app-agent-information>

                <ng-container *ngFor="let tour of tourList; let i = index">
                    <div
                        [class.p-disabled]="
                            tour.bookingDetails.bookingDateIsInThePast === true
                        "
                    >
                        <app-tour-card
                            [updatePermission]="updatePermission"
                            [tour]="tour"
                            [index]="i + 1"
                        ></app-tour-card>

                        <div class="notes-outer-container">
                            <div class="notes-container">
                                <h2>Departure Notes</h2>
                                <div class="notes-inner-container">
                                    <ng-container
                                        *ngIf="tour.tourDetails.specialNotes"
                                    >
                                        {{ tour.tourDetails.specialNotes }}
                                    </ng-container>
                                </div>
                            </div>

                            <div class="notes-container">
                                <h2>Participation Notes</h2>
                                <div class="notes-inner-container">
                                    <ng-container
                                        *ngIf="tour.tourDetails.specialNotes"
                                    >
                                        {{
                                            tour.originalBookingDetails
                                                .noShowComment
                                        }}
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>

                <p-divider></p-divider>

                <app-price-summary></app-price-summary>
                <app-notes [updatePermission]="updatePermission"></app-notes>
            </ng-container>
        </div>

        <div class="status-banner" [class.display]="data.hasUnsavedChanges">
            <span
                >You have unsaved changes. Make sure to save your changes before
                you leave the page.</span
            >
        </div>
    </div>

    <!-- modals -->
    <app-cancel-booking-modal></app-cancel-booking-modal>
    <app-credit-card-info-modal></app-credit-card-info-modal>
    <app-modify-cruise-modal></app-modify-cruise-modal>
    <app-modify-time-modal></app-modify-time-modal>
</ng-container>
