<div class="container">
    <h2>Refund Policy</h2>
    <p>
        You can choose one of the five predefined cancellation policies and
        associate it with any tour or service you would like.
    </p>
    <ng-container *ngIf="refundPolicies$ | async as refundPolicies">
        <div class="refund-container">
            <div
                *ngFor="let policy of refundPolicies"
                class="option-outer-container"
            >
                <p-radioButton
                    [inputId]="policy.refundPolicyName"
                    name="category"
                    [value]="policy.tourServiceRefundPolicyId"
                    [(ngModel)]="refundPolicySelected"
                    class="refund-radio"
                    [appPermission]="{
                        features: [{

                            feature:
                                features.toursAndServicesEdit.name,
                            page: features.toursAndServicesEdit.pages
                                .refundPolicy.name,
                            pageFeature: [
                                features.toursAndServicesEdit.pages
                                    .refundPolicy
                                    .features.editRefundPolicy.name
                            ],
                        }],
                        mode: 'childDisabled'
                    }"
                />
                <div class="option-container">
                    <label
                        [for]="policy.tourServiceRefundPolicyId"
                        class="font-medium policyname"
                        >{{ policy.refundPolicyName }}</label
                    >
                    <span>{{ policy.description }}</span>
                </div>
            </div>
            <div class="btn-wrapper">
                <button
                    pButton
                    class="btn-primary"
                    (click)="updateRefundPolicy()"
                    [appPermission]="{
                        features: [{

                            feature:
                                features.toursAndServicesEdit.name,
                            page: features.toursAndServicesEdit.pages
                                .refundPolicy.name,
                            pageFeature: [
                                features.toursAndServicesEdit.pages
                                    .refundPolicy
                                    .features.editRefundPolicy.name
                            ],
                        }],
                        mode: 'none'
                    }"
                >
                    Save Changes
                </button>
            </div>
        </div>
    </ng-container>
</div>
<app-save-refund-policy-modal></app-save-refund-policy-modal>
