<ng-container
    *ngIf="{
        isOpen: (isOpen$ | async) || false,
        context: context$ | async,
        trainingList: trainingList$ | async,
        status: status$ | async,
    } as data"
>
    <p-dialog
        [(visible)]="data.isOpen"
        (onHide)="close()"
        [modal]="true"
        [style]="{ width: '60vw', height: 'auto' }"
        styleClass="add-user-training"
        [breakpoints]="{ '768px': '100vw' }"
        [showHeader]="false"
        [draggable]="false"
        [resizable]="false"
        [dismissableMask]="true"
        appendTo="body"
    >
        <div class="modal-inner-container">
            <div class="modal-header">
                <h2>Add User Training</h2>
            </div>
            <p-divider></p-divider>
            <form [formGroup]="addUserTrainingForm" (ngSubmit)="save()">
                <div class="info-container">
                    <div class="info-item">
                        <label for="training-name">Training Name</label>
                        <p-dropdown
                            id="training-name"
                            name="training-name"
                            formControlName="trainingName"
                            autocomplete="off"
                            optionLabel="training"
                            optionValue="trainingId"
                            styleClass="full-width"
                            [autoDisplayFirst]="false"
                            [options]="data.trainingList || []"
                            [showClear]="true"
                            appendTo="body"
                        >
                        </p-dropdown>
                    </div>
                    <div class="date-item">
                        <label for="completion-date">Complete Date</label>
                        <p-calendar
                            #startDate
                            appendTo="body"
                            [readonlyInput]="true"
                            [showIcon]="true"
                            styleClass="calendar-icon"
                            dateFormat="mm/dd/yy"
                            placeholder="Date"
                            formControlName="completionDate"
                            [selectOtherMonths]="true"
                        >
                        </p-calendar>
                    </div>
                    <div class="info-item">
                        <label for="completed">Training Complete</label>
                        <p-dropdown
                            id="completed"
                            name="completed"
                            appendTo="body"
                            formControlName="trainingCompleted"
                            autocomplete="off"
                            optionLabel="active"
                            optionValue="value"
                            styleClass="full-width"
                            [autoDisplayFirst]="false"
                            [options]="trainingCompletedOptions || []"
                            [showClear]="true"
                            appendTo="body"
                        >
                        </p-dropdown>
                    </div>
                </div>
                <div class="btn-container">
                    <button
                        pButton
                        class="btn btn-primary-inverse"
                        type="button"
                        (click)="close()"
                    >
                        Cancel
                    </button>
                    <button
                        pButton
                        class="btn btn-primary"
                        type="submit"
                        [loading]="data.status === 'loading'"
                        [disabled]="
                            data.status === 'loading' ||
                            addUserTrainingForm.invalid
                        "
                    >
                        Add
                    </button>
                    <ng-container *ngIf="data.status === 'error'">
                        <span class="text-error">Failed to Add Training</span>
                    </ng-container>
                </div>
            </form>
        </div>
    </p-dialog>
</ng-container>
