.pickup-container {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    padding-bottom: 2rem;
    width: 70%;
    margin-top: var(--spacing-xs);
    h2 {
        margin: 0 0 var(--spacing-sm) 0;
    }
    ::ng-deep .p-dropdown {
        width: 100%;
        max-width: 400px !important;
    }
    .contents-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap-reverse;
        gap: 2rem;
        justify-items: flex-start;
        margin-top: 1rem;

        .text-outer-container {
            width: 40%;
            flex-grow: 1;
            flex-shrink: 1;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            gap: 0.5rem;

            .text-container {
                display: flex;
                flex-direction: column;
            }
        }
        .map-container {
            width: 55%;
            flex-grow: 1;
            max-width: 600px;
        }
    }
}

@media (max-width: 1024px) {
    .pickup-container {
        width: 100%;
        .contents-container {
            .map-container {
                width: 100%;
            }
            .text-outer-container {
                width: 100%;
            }
        }
    }
}
