<div class="container">
    <div class="header-container">
        <h1 class="current">Install the Mobile App</h1>
    </div>

    <div class="content-container">
        <img src="/assets/images/dtd-mobile-app.png" />
        <div class="text-content-container">
            <p class="h4">
                The Mobile Operator app helps you stay on top of your operations
                from almost anywhere.
            </p>
            <div class="download-buttons-container">
                <button
                    pButton
                    class="btn btn-primary"
                    (click)="installApp()"
                    [disabled]="!installationViaButtonSupported"
                    [appPermission]="{
                        features: [{
                            feature: features.download.name,
                            page: features.download.pages.install.name,
                            pageFeature: [
                                features.download.pages.install.features
                                    .installApplication.name
                            ],
                            pageFeatureCheck: 'or',
                        }],
                        mode: 'disabled'
                    }"
                >
                    Install Application
                </button>
            </div>
            <ng-container *ngIf="!installationViaButtonSupported">
                <p class="body-m">
                    Unable to install the app. Follow the steps under
                    "Troubleshooting" to manually install the app.
                </p>
            </ng-container>
        </div>
    </div>
    <p-divider></p-divider>
    <div class="additional-notes-container">
        <h2>Troubleshooting</h2>

        <p>If the button above doesn't work, follow the steps below.</p>

        <h3>Android Users</h3>
        <p>
            On Android, the app can only be installed with Firefox, Chrome,
            Edge, Opera, and Samsung Internet Browser
            <br />
            <i
                >Make sure you're <b>not</b> using private/incognito mode in the
                browser.</i
            >
            <br />
            Open the app in one of the supported browsers and click on the
            "Options" button (usually this is the button with the 3 dots icon)
            and click on "Add to Home Screen".
            <br />
            Once the browser is done installing the app, you then see a new app
            icon on your home screen for CruiseCode Operator.
        </p>

        <h3>iOS Users</h3>
        <p>
            On iOS 16.3 and earlier, the app can only be installed with Safari.
            <br />
            On iOS 16.4 and later, the app can be installed from the Share menu
            in Safari, Chrome, Edge, Firefox, and Orion.
            <br />
            <i
                >Make sure you're <b>not</b> using private/incognito mode in the
                browser.</i
            >
            <br />
            Open the app in one of the supported browsers and click on the
            "Share" option and click on "Add to Home Screen".
            <br />
            Once the browser is done installing the app, you then see a new app
            icon on your home screen for CruiseCode Operator.
        </p>
    </div>
</div>
