<ng-container
    *ngIf="{
        isOpen: (isOpen$ | async) || false,
        context: context$ | async,
    } as data"
>
    <p-dialog
        [(visible)]="data.isOpen"
        (onHide)="close()"
        [modal]="true"
        [style]="{ width: '60vw', height: 'auto' }"
        styleClass="remove-user-training"
        [breakpoints]="{ '768px': '100vw' }"
        [showHeader]="false"
        [draggable]="false"
        [resizable]="false"
        [dismissableMask]="true"
        appendTo="body"
    >
        <ng-container *ngIf="data.context">
            <div class="modal-inner-container">
                <div class="modal-header">
                    <h2>Would you like to Delete this Training?</h2>
                </div>
                <p-divider></p-divider>
                <div class="btn-container">
                    <button
                        pButton
                        class="btn btn-primary-inverse"
                        type="button"
                        (click)="close()"
                    >
                        No
                    </button>
                    <button
                        pButton
                        class="btn-primary"
                        (click)="delete(data.context)"
                    >
                        Yes
                    </button>
                </div>
            </div>
        </ng-container>
    </p-dialog>
</ng-container>
