<div class="tickets-container">
    <span class="h4">Uploaded Tickets</span>
    <ng-container *ngIf="{ status: status$ | async } as data">
        <ng-container *ngIf="data.status === 'loading'; else tickets">
            <app-loader-embed [isDisplayed]="true"></app-loader-embed>
        </ng-container>
        <ng-template #tickets>
            <div class="ticket-images-container">
                <ng-container *ngFor="let bookingImage of bookingImages">
                    <div class="image-container">
                        <img [src]="bookingImage.imagePath" />
                        <button
                            class="delete-btn"
                            (click)="deleteImage(bookingImage)"
                        >
                            <i class="pi pi-times"></i>
                        </button>
                        <div class="img-action-container">
                            <button
                                pButton
                                (click)="viewImage(bookingImage.imagePath)"
                            >
                                <i class="pi pi-eye"></i>
                                View
                            </button>
                        </div>
                    </div>
                </ng-container>
                <div
                    class="upload-image-container"
                    (click)="
                        allowEmbeddedCamera
                            ? openEmbeddedCamera()
                            : fileInput.click()
                    "
                >
                    <i class="pi pi-camera"></i>
                    <span class="body">Upload Image</span>
                </div>
                <input
                    class="file-input"
                    #fileInput
                    accept="image/*"
                    type="file"
                    (change)="onImageSelect($event)"
                />
            </div>
        </ng-template>
    </ng-container>

    <div class="actions-container">
        <button pButton class="btn btn-primary-inverse" (click)="back()">
            Back
        </button>
    </div>
</div>
