<ng-container
    *ngIf="{
        isOpen: (isOpen$ | async) || false,
        context: context$ | async,
        status: status$ | async
    } as data"
>
    <p-dialog
        [(visible)]="data.isOpen"
        (onHide)="close()"
        [modal]="true"
        [style]="{ width: '60vw', height: 'auto' }"
        [breakpoints]="{ '768px': '100vw' }"
        appendTo="body"
        [draggable]="false"
        [resizable]="false"
    >
        <ng-template pTemplate="header">
            <h2>Dock Assignment</h2>
        </ng-template>
        <ng-container *ngIf="data.context">
            <form
                [formGroup]="dockAssignmemtForm"
                (ngSubmit)="updateAssignment(data.context)"
            >
                <div class="dock-container">
                    <div class="dock-column">
                        <div class="textfield-container">
                            <label for="shipName" class="form-control-label"
                                >Ship Name</label
                            >
                            <input
                                id="shipName"
                                name="shipName"
                                type="text"
                                class="form-control form-control-custom p-disabled"
                                autocomplete="off"
                                pInputText
                                formControlName="shipName"
                            />
                        </div>
                    </div>
                    <div class="dock-column">
                        <div class="textfield-container">
                            <label class="form-control-label">Port Name</label>
                            <input
                                id="contactPersonFirstName"
                                name="contactPersonFirstName"
                                type="text"
                                class="form-control form-control-custom p-disabled"
                                autocomplete="off"
                                pInputText
                                formControlName="portName"
                            />
                        </div>
                    </div>

                    <div class="dock-column">
                        <div class="textfield-container">
                            <label
                                for="assignmentDate"
                                class="form-control-label"
                                >Date</label
                            >
                            <input
                                id="assignmentDate"
                                name="assignmentDate"
                                type="text"
                                class="form-control form-control-custom p-disabled"
                                autocomplete="off"
                                pInputText
                                formControlName="assignmentDate"
                            />
                        </div>

                        <div class="textfield-container">
                            <label class="form-control-label" for="time"
                                >Time</label
                            >
                            <input
                                id="time"
                                name="time"
                                type="text"
                                class="form-control form-control-custom p-disabled"
                                autocomplete="off"
                                pInputText
                                formControlName="time"
                            />
                        </div>
                    </div>

                    <div class="dock-column full-width">
                        <div class="textfield-container">
                            <label class="form-control-label"
                                >Select Dock</label
                            >
                            <ng-container *ngIf="docks$ | async as docks">
                                <p-dropdown
                                    formControlName="dockId"
                                    id="dockId"
                                    [options]="docks"
                                    optionLabel="label"
                                    optionValue="dockId"
                                    placeholder="Select a Dock"
                                    [autoDisplayFirst]="false"
                                    appendTo="body"
                                >
                                </p-dropdown>
                            </ng-container>
                        </div>
                    </div>
                    <div class="dock-column full-width button-container">
                        <ng-container *ngIf="data.status === 'error'">
                            <span class="text-error"
                                >Unable to update dock</span
                            >
                        </ng-container>
                        <button
                            pButton
                            class="btn btn-primary"
                            [loading]="data.status === 'loading'"
                            type="submit"
                        >
                            Save Dock
                        </button>
                    </div>
                </div>
            </form>
        </ng-container>
    </p-dialog>
</ng-container>
