<ng-container
    *ngIf="{
        status: status$ | async,
    } as data"
>
    <div
        [appPermission]="{
            features: [{

                feature: features.userManagementEdit.name,
                page: features.userManagementEdit.pages.payroll.name,
                pageFeature: [
                    features.userManagementEdit.pages.payroll.features
                        .informationUpdate.name
                ],
                pageFeatureCheck: 'or',
            }],
            mode: 'childDisabled'
        }"
        class="payroll-container"
    >
        <h2>Payroll</h2>

        <ng-container
            *ngIf="data.status?.payrollDetails !== 'loading'; else loader"
        >
            <div class="payroll-content-container">
                <app-employment></app-employment>
                <app-position></app-position>

                <div class="action-container">
                    <button
                        (click)="save()"
                        class="btn btn-primary"
                        pButton
                        [loading]="data.status?.save === 'loading'"
                        [appPermission]="{
                            features: [{
                                feature: features.userManagementEdit.name,
                                page: features.userManagementEdit.pages.payroll.name,
                                pageFeature: [
                                    features.userManagementEdit.pages.payroll.features
                                        .informationUpdate.name
                                ],
                                pageFeatureCheck: 'or',
                            }],
                            mode: 'none'
                        }"
                    >
                        Save
                    </button>
                </div>
            </div>
        </ng-container>
        <ng-template #loader>
            <app-loader-embed [isDisplayed]="true"></app-loader-embed>
        </ng-template>
    </div>
</ng-container>
