<ng-container
    *ngIf="{
        isOpen: (isOpen$ | async) || false,
        tour: tour$ | async,
        submitStatus: submitStatus$ | async,
    } as data"
>
    <p-dialog
        [(visible)]="data.isOpen"
        (onHide)="close()"
        [modal]="true"
        [style]="{ width: '60vw', height: 'auto' }"
        styleClass="delete-selected-inventory-modal"
        [breakpoints]="{ '768px': '100vw' }"
        [showHeader]="false"
        [draggable]="false"
        [resizable]="false"
        [dismissableMask]="true"
        appendTo="body"
    >
        <div class="modal-inner-container">
            <div class="modal-header">
                <h2>
                    Are you sure you want to delete the following inventory?
                </h2>
            </div>
            <div class="content-container">
                <ng-container *ngIf="data.tour as tour">
                    <span class="h4">
                        {{ tour.description }}
                    </span>
                    <div class="row-container">
                        <ng-container *ngIf="tour.shipId === null">
                            <span class="body">Unallocated</span>
                        </ng-container>
                        <ng-container
                            *ngIf="tour.shipId !== null && tour.shipId >= 1"
                        >
                            <span class="body"
                                >Allocated to {{ tour.cruiseShipName }}</span
                            >
                        </ng-container>
                        <ng-container
                            *ngIf="tour.shipId !== null && tour.shipId < 1"
                        >
                            <span class="body">Allocated to Book Direct</span>
                        </ng-container>
                    </div>
                    <div class="row-container">
                        <i class="pi pi-calendar"></i>
                        <span class="body">{{
                            tour.start | date : 'MM/dd/yyyy'
                        }}</span>
                    </div>
                    <div class="row-container">
                        <i class="pi pi-clock"></i>
                        <span class="body">{{
                            tour.start | date : 'hh:mm a'
                        }}</span>
                    </div>
                    <div class="row-container">
                        <span><i class="pi pi-users"></i></span>
                        <span
                            >{{ tour.extras?.seatsAllocated || '-' }} Seats
                            Allocated</span
                        >
                    </div>
                </ng-container>
            </div>
            <ng-container *ngIf="data.submitStatus === 'error'">
                <div>
                    <span class="text-error">Failed to delete inventory</span>
                </div>
            </ng-container>
            <ng-container *ngIf="data.tour">
                <div class="delete-allocated-action">
                    <button
                        pButton
                        class="btn btn-primary-inverse"
                        [disabled]="data.submitStatus === 'loading'"
                        (click)="close()"
                    >
                        Cancel
                    </button>
                    <button
                        pButton
                        class="btn btn-primary"
                        [loading]="data.submitStatus === 'loading'"
                        (click)="deleteInventory(data.tour)"
                    >
                        Delete Inventory
                    </button>
                </div>
            </ng-container>
        </div>
    </p-dialog>
</ng-container>
