<div class="container">
    <div class="header-container">
        <h1 class="current">Bookings</h1>
        <ng-container *ngIf="createPermission">
            <button
                [appPermission]="createPermission"
                pButton
                [routerLink]="['/']"
                class="btn-add"
            >
                Add Booking
                <img src="/assets/icons/ic_plus_blue.svg" alt="add icon" />
            </button>
        </ng-container>
    </div>
    <app-advanced-search></app-advanced-search>
    <p-divider></p-divider>
    <app-quick-actions></app-quick-actions>

    <div class="booking-table-container">
        <ng-container *ngIf="isLoading; else bookingTable">
            <app-loader-embed [isDisplayed]="true"></app-loader-embed>
        </ng-container>
        <ng-template #bookingTable>
            <app-booking-table
                [managePermission]="managePermission"
                [bookings]="bookings"
            ></app-booking-table>
        </ng-template>
    </div>
</div>
