<div class="accordion-container">
    <p-accordion>
        <p-accordionTab [selected]="isDisplayed === true">
            <ng-template pTemplate="header"> </ng-template>
            <div class="accordion-content-container">
                <ng-container
                    *ngIf="{
                        isLoading: isLoading$ | async,
                        bookings: bookings$ | async,
                        editBookingPanelOpen: editBookingPanelOpen$ | async
                    } as config"
                >
                    <ng-container *ngIf="config.isLoading; else table">
                        <app-loader-embed
                            [isDisplayed]="true"
                        ></app-loader-embed>
                    </ng-container>
                    <ng-template #table>
                        <p-table
                            #bookingTable
                            [value]="config.bookings || []"
                            [scrollable]="true"
                            [tableStyle]="{ width: '100%' }"
                            dataKey="bookingId"
                            [rows]="20"
                            [rowsPerPageOptions]="[5, 10, 20]"
                            [paginator]="true"
                            [showCurrentPageReport]="true"
                            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                        >
                            <ng-template pTemplate="header">
                                <tr>
                                    <th pSortableColumn="firstName">
                                        Name
                                        <p-sortIcon
                                            field="firstName"
                                        ></p-sortIcon>
                                    </th>
                                    <th pSortableColumn="shipName">
                                        Ship
                                        <p-sortIcon
                                            field="shipName"
                                        ></p-sortIcon>
                                    </th>
                                    <th pSortableColumn="tourTime">
                                        Agent
                                        <p-sortIcon
                                            field="tourTime"
                                        ></p-sortIcon>
                                    </th>
                                    <th pSortableColumn="pickUp">
                                        Pick up Location
                                        <p-sortIcon field="pickUp"></p-sortIcon>
                                    </th>
                                    <th>Counts A/C/I</th>
                                    <th pSortableColumn="totalBooked">
                                        Total Booked
                                        <p-sortIcon
                                            field="tottotalBookedal"
                                        ></p-sortIcon>
                                    </th>
                                    <th pSortableColumn="primaryPhoneNumber">
                                        Phone Number
                                        <p-sortIcon
                                            field="primaryPhoneNumber"
                                        ></p-sortIcon>
                                    </th>

                                    <th
                                        alignFrozen="right"
                                        pFrozenColumn
                                        [appPermission]="{
                                        features: [{
                                            feature: features.dailyTourDispatch.name,
                                        page: features.dailyTourDispatch.pages
                                            .dailyTourDispatch.name,
                                        pageFeature: [
                                                features.dailyTourDispatch.pages
                                                .dailyTourDispatch.features
                                                .bookingUpdate.name,
                                                features.dailyTourDispatch.pages
                                                .dailyTourDispatch.features
                                                .bookingDelete.name,
                                        ],
                                        pageFeatureCheck: 'or',
                                        }],
                                        mode: 'none',
                                    }"
                                    >
                                        Action
                                    </th>
                                </tr>
                            </ng-template>

                            <ng-template
                                pTemplate="body"
                                let-booking
                                let-index="rowIndex"
                            >
                                <tr>
                                    <td>
                                        {{ booking.leadFirstName | titlecase }}
                                        {{ booking.leadLastName | titlecase }}
                                    </td>
                                    <td>{{ booking.shipName }}</td>
                                    <td>
                                        {{ booking.partnerName }}
                                        <ng-container *ngIf="booking.agentName"
                                            >-
                                            {{
                                                booking.agentName
                                            }}</ng-container
                                        >
                                    </td>
                                    <td>
                                        {{ booking.pickupLocationName }}
                                    </td>
                                    <td>
                                        {{ booking.adults || 0 }}/{{
                                            booking.children || 0
                                        }}/{{ booking.infants || 0 }}
                                    </td>
                                    <td>{{ booking.totalBooked }}</td>
                                    <td>{{ booking.phoneNumber }}</td>
                                    <td
                                        alignFrozen="right"
                                        pFrozenColumn
                                        [appPermission]="{
                                        features: [{
                                            feature: features.dailyTourDispatch.name,
                                        page: features.dailyTourDispatch.pages
                                            .dailyTourDispatch.name,
                                        pageFeature: [
                                                features.dailyTourDispatch.pages
                                                .dailyTourDispatch.features
                                                .bookingUpdate.name,
                                                features.dailyTourDispatch.pages
                                                .dailyTourDispatch.features
                                                .bookingDelete.name,
                                        ],
                                        pageFeatureCheck: 'or',
                                        }],
                                        mode: 'none',
                                    }"
                                    >
                                        <div class="actions-row">
                                            <button
                                                pButton
                                                icon="pi pi-user-edit"
                                                aria-label="Edit Booking"
                                                pTooltip="Edit Booking"
                                                tooltipPosition="left"
                                                class="btn-light-gray edit-btn"
                                                (click)="
                                                    editBooking(
                                                        booking.bookingId
                                                    )
                                                "
                                                [appPermission]="{
                                                    features: [{
                                                        feature: features.dailyTourDispatch.name,
                                                    page: features.dailyTourDispatch.pages
                                                        .dailyTourDispatch.name,
                                                    pageFeature: [
                                                            features.dailyTourDispatch.pages
                                                            .dailyTourDispatch.features
                                                            .bookingUpdate.name,
                                                    ],
                                                    pageFeatureCheck: 'or',
                                                    }],
                                                    mode: 'none',
                                                }"
                                            >
                                                <ng-container
                                                    *ngIf="booking.notes"
                                                >
                                                    <div
                                                        class="filter-indicator"
                                                    ></div>
                                                </ng-container>
                                            </button>
                                            <button
                                                pButton
                                                icon="pi pi-trash"
                                                aria-label="Delete Booking"
                                                pTooltip="Delete Booking"
                                                tooltipPosition="left"
                                                class="btn-light-gray"
                                                [disabled]="!booking.isOTC"
                                                (click)="deleteBooking(booking)"
                                                [appPermission]="{
                                                    features: [{
                                                        feature: features.dailyTourDispatch.name,
                                                    page: features.dailyTourDispatch.pages
                                                        .dailyTourDispatch.name,
                                                    pageFeature: [
                                                            features.dailyTourDispatch.pages
                                                            .dailyTourDispatch.features
                                                            .bookingDelete.name,
                                                    ],
                                                    pageFeatureCheck: 'or',
                                                    }],
                                                    mode: 'none',
                                                }"
                                            ></button>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td
                                        colSpan="8"
                                        class="edit-booking-accordion-container"
                                        alignFrozen="right"
                                        pFrozenColumn
                                    >
                                        <p-accordion
                                            (onClose)="
                                                onCloseEditPanel(
                                                    booking.bookingId
                                                )
                                            "
                                        >
                                            <p-accordionTab
                                                [selected]="
                                            config.editBookingPanelOpen?.[
                                                booking.bookingId
                                            ] === true
                                        "
                                            >
                                                <ng-template pTemplate="header">
                                                </ng-template>
                                                <div
                                                    class="accordion-content-container"
                                                >
                                                    <app-dtd-edit-booking
                                                        [booking]="booking"
                                                        [assignment]="
                                                            assignment
                                                        "
                                                        (closePanel)="
                                                            onCloseEditPanel(
                                                                booking.bookingId
                                                            )
                                                        "
                                                    ></app-dtd-edit-booking>
                                                </div>
                                            </p-accordionTab>
                                        </p-accordion>
                                    </td>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="emptymessage">
                                <tr>
                                    <td colspan="8">No bookings found.</td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </ng-template>
                </ng-container>
            </div>
        </p-accordionTab>
    </p-accordion>
</div>
