<ng-container
    *ngIf="{
        isOpen: (isOpen$ | async) || false,
        context: context$ | async,
        status: status$ | async,
    } as data"
>
    <p-dialog
        [(visible)]="data.isOpen"
        (onHide)="close()"
        [modal]="true"
        [style]="{ width: '60vw', height: 'auto' }"
        styleClass="restore-equipment-type-modal"
        [breakpoints]="{ '768px': '100vw' }"
        [showHeader]="false"
        [draggable]="false"
        [resizable]="false"
        [dismissableMask]="true"
        appendTo="body"
    >
        <ng-container *ngIf="data.context">
            <div class="modal-inner-container">
                <div class="modal-header">
                    <h2>Would you like to Restore this equipment type?</h2>
                </div>
                <p-divider></p-divider>
                <div class="items-container">
                    <div class="row-container">
                        <div class="cell-container">
                            <span class="h4">Equipment Type Name</span>
                            <span>
                                <ng-container *ngIf="data.context">
                                    {{ data.context.equipmentName }}
                                </ng-container>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="btn-container">
                    <button
                        pButton
                        class="btn btn-primary-inverse"
                        type="button"
                        (click)="close()"
                        [disabled]="data.status === 'loading'"
                    >
                        Cancel
                    </button>
                    <button
                        pButton
                        class="btn btn-danger"
                        (click)="restore(data.context)"
                        [loading]="data.status === 'loading'"
                        [disabled]="data.status === 'loading'"
                    >
                        Restore
                    </button>
                </div>
            </div>
        </ng-container>
    </p-dialog>
</ng-container>
