<ng-container
    *ngIf="{
        statuses: statuses$ | async,
        departmentsTree: departmentsTree$ | async,
        positionsTree: positionsTree$ | async,
    } as data"
>
    <div class="container">
        <div class="header-container">
            <h2>Positions</h2>
        </div>
        <div class="content-container">
            <div class="content-header-container">
                <input
                    type="text"
                    autocomplete="off"
                    pInputText
                    placeholder="Search ..."
                    [(ngModel)]="keyword"
                    (ngModelChange)="search()"
                />
                <button
                    pButton
                    class="btn btn-primary"
                    (click)="openAddNewPositionModal()"
                >
                    <i class="pi pi-plus"></i>
                    Add New Position
                </button>
            </div>
            <div class="main-container">
                <div class="department-container">
                    <ng-container
                        [ngSwitch]="data.statuses?.loadCompanyDepartments"
                    >
                        <ng-container *ngSwitchCase="'loading'">
                            <app-loader-embed
                                [isDisplayed]="true"
                            ></app-loader-embed>
                        </ng-container>
                        <ng-container *ngSwitchCase="'error'">
                            <div class="error-state">
                                <span>Error loading Departments</span>
                                <button pButton (click)="refresh()">
                                    Retry
                                </button>
                            </div>
                        </ng-container>
                        <ng-container *ngSwitchCase="'success'">
                            <p-tree
                                [value]="data.departmentsTree"
                                scrollHeight="60vh"
                                scrollWidth="350px"
                                selectionMode="single"
                                [(selection)]="selectedNode"
                                (onNodeSelect)="onNodeSelect($event)"
                            />
                        </ng-container>
                    </ng-container>
                </div>
                <div class="position-container">
                    <p-treeTable
                        #qualificationTable
                        [value]="data.positionsTree || []"
                        [scrollable]="true"
                        scrollHeight="52vh"
                        [globalFilterFields]="[
                            'departmentName',
                            'positionName'
                        ]"
                    >
                        <ng-template pTemplate="header">
                            <tr>
                                <th>Department</th>
                                <th>Position</th>
                                <th>Is Manager</th>
                                <th>Number of Staff Needed</th>
                                <th>Number of Position Filled</th>
                                <th>Action</th>
                            </tr>
                        </ng-template>
                        <ng-template
                            pTemplate="body"
                            let-rowNode
                            let-rowData="rowData"
                        >
                            <tr [ttRow]="rowNode">
                                <td>
                                    <p-treeTableToggler [rowNode]="rowNode" />
                                    {{ rowData.departmentName }}
                                </td>
                                <td>{{ rowData.positionName }}</td>
                                <td>
                                    <ng-container *ngIf="rowData.isManager"
                                        >&#x2714;
                                    </ng-container>
                                </td>
                                <td>{{ rowData.numberofStaffNeeded }}</td>
                                <td>{{ rowData.numberofPositionFilled }}</td>
                                <td alignFrozen="right" pFrozenColumn>
                                    <div class="actions-container">
                                        <button
                                            pButton
                                            icon="pi pi-pencil"
                                            class="p-button-text edit"
                                            pTooltip="Edit"
                                            tooltipPosition="left"
                                            (click)="
                                                openEditPositionModal(
                                                    rowData.positionId
                                                )
                                            "
                                        ></button>
                                        <button
                                            pButton
                                            icon="pi pi-trash"
                                            class="p-button-text delete"
                                            pTooltip="Delete"
                                            tooltipPosition="left"
                                            (click)="
                                                openRemovePositionModal(
                                                    rowData.positionId
                                                )
                                            "
                                        ></button>
                                        <button
                                            pButton
                                            icon="pi pi-user"
                                            class="p-button-text edit"
                                            pTooltip="Post Job"
                                            tooltipPosition="left"
                                            (click)="
                                                openPostJobModal(
                                                    rowData.positionId
                                                )
                                            "
                                        ></button>
                                    </div>
                                </td>
                            </tr>
                        </ng-template>
                    </p-treeTable>
                </div>
            </div>
        </div>
    </div>
</ng-container>
<!-- modal -->
<app-add-new-position-modal></app-add-new-position-modal>
<app-edit-position-modal></app-edit-position-modal>
<app-remove-position-modal></app-remove-position-modal>
<app-post-job-modal></app-post-job-modal>
