<div class="inventory-container">
    <p-table
        [value]="inventories || []"
        styleClass="inventory-table"
        [scrollable]="true"
        [tableStyle]="{ width: '100%' }"
        [rows]="50"
        [rowsPerPageOptions]="[50, 100, 200]"
        [paginator]="true"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    >
        <ng-template pTemplate="header">
            <tr>
                <th
                    alignFrozen="left"
                    pFrozenColumn
                    [appPermission]="{
                        features: [{

                            feature: features.inventoryManagement.name,
                            page: features.inventoryManagement.pages
                                .recentlyReleasedInventories.name,
                            pageFeature: [
                                features.inventoryManagement.pages
                                    .recentlyReleasedInventories.features
                                    .sendNotification.name,
                                features.inventoryManagement.pages
                                    .recentlyReleasedInventories.features
                                    .dismissNotification.name
                            ],
                            pageFeatureCheck: 'or',
                        }],
                        mode: 'none'
                    }"
                >
                    <p-checkbox
                        [binary]="true"
                        (onChange)="onSelectAllChange()"
                        [(ngModel)]="selectAll"
                    ></p-checkbox>
                </th>
                <th pSortableColumn="tourName">
                    Tour Name
                    <p-sortIcon field="tourName"></p-sortIcon>
                </th>
                <th pSortableColumn="shipName">
                    Cruise Line <p-sortIcon field="shipName"></p-sortIcon>
                </th>
                <th pSortableColumn="shipName">
                    Ship <p-sortIcon field="shipName"></p-sortIcon>
                </th>
                <th pSortableColumn="portName">
                    Port <p-sortIcon field="portName"></p-sortIcon>
                </th>
                <th pSortableColumn="unallocatedTourInventoryDate">
                    Tour Date
                    <p-sortIcon
                        field="unallocatedTourInventoryDate"
                    ></p-sortIcon>
                </th>
                <th pSortableColumn="unallocatedTourInventoryTime">
                    Tour Time
                    <p-sortIcon
                        field="unallocatedTourInventoryTime"
                    ></p-sortIcon>
                </th>
                <th>Allocated Seats</th>
                <th
                    pFrozenColumn
                    alignFrozen="right"
                    [appPermission]="{
                        features: [{

                            feature: features.inventoryManagement.name,
                            page: features.inventoryManagement.pages
                                .recentlyReleasedInventories.name,
                            pageFeature: [
                                features.inventoryManagement.pages
                                    .recentlyReleasedInventories.features
                                    .sendNotification.name,
                                features.inventoryManagement.pages
                                    .recentlyReleasedInventories.features
                                    .dismissNotification.name
                            ],
                            pageFeatureCheck: 'or',
                        }],
                        mode: 'none',
                    }"
                >
                    Action
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
            <tr>
                <td
                    [appPermission]="{
                        features: [{

                            feature: features.inventoryManagement.name,
                            page: features.inventoryManagement.pages
                                .recentlyReleasedInventories.name,
                            pageFeature: [
                                features.inventoryManagement.pages
                                    .recentlyReleasedInventories.features
                                    .sendNotification.name,
                                features.inventoryManagement.pages
                                    .recentlyReleasedInventories.features
                                    .dismissNotification.name
                            ],
                            pageFeatureCheck: 'or',
                        }],
                        mode: 'none'
                    }"
                >
                    <p-checkbox
                        [value]="item.unallocatedTourInventoryID"
                        (onChange)="onCheckboxChange()"
                        [(ngModel)]="selectedInventoryItems"
                    ></p-checkbox>
                </td>
                <td>{{ item.tourName }}</td>
                <td>{{ item.shipCompanyName }}</td>
                <td>{{ item.shipName }}</td>
                <td>{{ item.portName }}</td>
                <td>
                    {{
                        item.unallocatedTourInventoryDate | date : 'MM/dd/yyyy'
                    }}
                </td>
                <td>{{ item.unallocatedTourInventoryTime }}</td>
                <td>{{ item.unallocatedTourInventoryAllocatedSeats }}</td>
                <td
                    pFrozenColumn
                    alignFrozen="right"
                    [appPermission]="{
                        features: [{

                            feature: features.inventoryManagement.name,
                            page: features.inventoryManagement.pages
                                .recentlyReleasedInventories.name,
                            pageFeature: [
                                features.inventoryManagement.pages
                                    .recentlyReleasedInventories.features
                                    .sendNotification.name,
                                features.inventoryManagement.pages
                                    .recentlyReleasedInventories.features
                                    .dismissNotification.name
                            ],
                            pageFeatureCheck: 'or',
                        }],
                        mode: 'none'
                    }"
                >
                    <div class="action-column">
                        <button
                            pButton
                            aria-label="notify"
                            pTooltip="Send notification"
                            tooltipPosition="left"
                            class="btn btn-light-gray"
                            (click)="onNotify(item)"
                            [appPermission]="{
                                features: [{

                                    feature: features.inventoryManagement.name,
                                    page: features.inventoryManagement.pages
                                        .recentlyReleasedInventories.name,
                                    pageFeature: [
                                        features.inventoryManagement.pages
                                            .recentlyReleasedInventories.features
                                            .sendNotification.name
                                    ],
                                }],
                                mode: 'none'
                            }"
                        >
                            <i class="pi pi-envelope"></i>
                        </button>
                        <button
                            pButton
                            aria-label="dismiss"
                            pTooltip="Dismiss"
                            tooltipPosition="left"
                            class="btn btn-red"
                            (click)="onDismiss(item)"
                            [appPermission]="{
                                features: [{

                                    feature: features.inventoryManagement.name,
                                    page: features.inventoryManagement.pages
                                        .recentlyReleasedInventories.name,
                                    pageFeature: [
                                        features.inventoryManagement.pages
                                            .recentlyReleasedInventories.features
                                            .dismissNotification.name
                                    ],
                                }],
                                mode: 'none'
                            }"
                        >
                            <i class="pi pi-trash"></i>
                        </button>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
