<ng-container
    *ngIf="{
        isOpen: (isOpen$ | async) || false,
        context: context$ | async,
        status: status$ | async,
    } as data"
>
    <p-dialog
        [(visible)]="data.isOpen"
        (onHide)="close()"
        [modal]="true"
        [style]="{ width: '60vw', height: 'auto' }"
        styleClass="update-prelim-dialog"
        [breakpoints]="{ '720px': '95vw' }"
        [showHeader]="false"
        [draggable]="false"
        [resizable]="false"
        [dismissableMask]="true"
        position="center"
        appendTo="body"
        [focusOnShow]="false"
    >
        <div class="modal-inner-container">
            <div class="modal-header">
                <h2>Update Departure</h2>
            </div>
            <ng-container *ngIf="data.context && data.context.assignment">
                <app-modal-tour-details
                    [assignment]="data.context.assignment"
                    [tourDate]="data.context.tourDate"
                ></app-modal-tour-details>
                <form
                    [formGroup]="departureForm"
                    (ngSubmit)="save(data.context.assignment)"
                >
                    <!-- prelim -->
                    <div
                        class="field-container"
                        [appPermission]="{
                        features: [{
                            feature: features.dailyTourDispatch.name,
                            page: features.dailyTourDispatch.pages
                                .dailyTourDispatch.name,
                            pageFeature: [
                                features.dailyTourDispatch.pages
                                    .dailyTourDispatch.features
                                    .preLimUpdate.name,
                            ],
                            pageFeatureCheck: 'or',
                        }],
                        mode: 'childDisabled',
                    }"
                    >
                        <label htmlFor="departureTime">Departure Time</label>
                        <p-calendar
                            [showIcon]="true"
                            [timeOnly]="true"
                            styleClass="p-calendar-timeonly"
                            formControlName="departureTime"
                            appendTo="body"
                            hourFormat="12"
                            [stepMinute]="5"
                        ></p-calendar>
                    </div>
                    <div class="action-container">
                        <ng-container *ngIf="data.status === 'error'">
                            <span class="text-error">
                                Unable to update departure time
                            </span>
                        </ng-container>
                        <button
                            pButton
                            type="button"
                            class="btn btn-primary-inverse"
                            (click)="close()"
                            [disabled]="data.status === 'loading'"
                        >
                            Cancel
                        </button>
                        <button
                            pButton
                            class="btn btn-primary"
                            type="submit"
                            [loading]="data.status === 'loading'"
                        >
                            Save
                        </button>
                    </div>
                </form>
            </ng-container>
        </div>
    </p-dialog>
</ng-container>
