.phonenumber-container {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;

    .p-dropdown {
        width: max-content;
    }
    input {
        flex-grow: 1;
        width: 100%;
    }
    .p-inputtext {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-left-width: 0.5px;
        &:hover {
            border-left-width: 1px;
        }
    }
    i {
        position: absolute;
        right: 1rem; // match padding
        align-self: center;
        font-size: 1rem;
        color: var(--color-success);
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type='number'] {
    -moz-appearance: textfield;
}
