<div class="container manage-allocation-container">
    <div class="manage-allocation-header-container">
        <span class="h2">Tour Inventory</span>
        <ng-container *ngIf="manageAllocationInventories$ | async as config">
            <div class="action-row">
                <button
                    pButton
                    [disabled]="config.status === 'loading'"
                    class="btn btn-primary-inverse"
                    (click)="exportExcel()"
                >
                    <i class="pi pi-download"></i>
                    Export Excel
                </button>
                <div class="view-controls-container">
                    <button
                        pButton
                        class="btn btn-primary-inverse"
                        [class.active]="selectedViewOption === 'table'"
                        (click)="selectViewOption('table')"
                    >
                        <i class="pi pi-table"></i>
                        Table
                    </button>
                    <button
                        pButton
                        class="btn btn-primary-inverse"
                        [class.active]="selectedViewOption === 'calendar'"
                        (click)="selectViewOption('calendar')"
                    >
                        <i class="pi pi-calendar"></i>
                        Calendar
                    </button>
                </div>
                <button
                    pButton
                    class="btn btn-primary btn-filter"
                    (click)="toggleFilterDrawer()"
                >
                    <i class="pi pi-sliders-v"></i>
                </button>
            </div>
        </ng-container>
    </div>

    <p-accordion (onClose)="closeFilterDrawer()">
        <p-accordionTab [selected]="(filterIsOpen$ | async) === true">
            <ng-template pTemplate="header"> </ng-template>
            <div class="accordion-content-container">
                <app-calendar-controls></app-calendar-controls>
                <p-divider></p-divider>
            </div>
        </p-accordionTab>
    </p-accordion>

    <div class="content-container">
        <ng-container *ngIf="manageAllocationInventories$ | async as config">
            <div [class.hidden]="config.status !== 'success'">
                <ng-container
                    *ngIf="
                        selectedViewOption === 'calendar';
                        else inventoryTable
                    "
                >
                    <ng-container
                        *ngIf="calendarConfig$ | async as calendarConfig"
                    >
                        <app-inventory-calendar
                            [config]="calendarConfig"
                            [defaultView]="defaultCalendarView"
                            [displayQuickActions]="true"
                            [allowModifyReleaseInv]="true"
                            (viewDateChange)="onViewDateChange($event)"
                            (editInventory)="onEditInventory($event)"
                            (deleteInventory)="onDeleteInventory($event)"
                            [deletePermission]="{features: [
                                {
        
                                    feature: features.bookingManagement.name,
                                    page: features.bookingManagement.pages
                                        .tourInventory.name,
                                    pageFeature: [
                                    features.bookingManagement.pages
                                    .tourInventory.features.tourInventoryDelete.name
                                    ],
                                    pageFeatureCheck: 'or',
                                }],
                                mode: 'none',
                            }"
                            [editPermission]="{
                                features: [
                                {
    
                                    feature: features.bookingManagement.name,
                                    page: features.bookingManagement.pages
                                        .tourInventory.name,
                                    pageFeature: [
                                    features.bookingManagement.pages
                                    .tourInventory.features.tourInventoryEdit.name
                                    ],
                                    pageFeatureCheck: 'or',
                                }],
                                mode: 'none',
                            }"
                        ></app-inventory-calendar>
                    </ng-container>
                </ng-container>
                <ng-template #inventoryTable>
                    <app-available-inventory-table></app-available-inventory-table>
                </ng-template>
            </div>
            <ng-container *ngIf="config.status === 'error'">
                <div class="error-state">
                    <i class="pi pi-exclamation-circle"></i>
                    <span class="body-xl font-medium">Error loading tours</span>
                    <span class="body"
                        >Try setting different search parameters.</span
                    >
                </div>
            </ng-container>
            <ng-container *ngIf="config.status === 'loading'">
                <div class="loader-container">
                    <div class="loader-inner-container">
                        <app-loader-embed
                            [isDisplayed]="true"
                        ></app-loader-embed>
                    </div>
                </div>
            </ng-container>
        </ng-container>
    </div>
</div>

<!-- modals -->
<app-delete-selected-released-inventory-modal></app-delete-selected-released-inventory-modal>
<app-edit-selected-released-inventory-modal></app-edit-selected-released-inventory-modal>
