<ng-container
    *ngIf="{
        isOpen: (isOpen$ | async) || false,
        context: context$ | async,
        submitStatus: submitStatus$ | async,
    } as data"
>
    <p-dialog
        [(visible)]="data.isOpen"
        (onHide)="close()"
        [modal]="true"
        [style]="{ width: '60vw', height: 'auto', 'max-width': '550px' }"
        styleClass="move-selected-inventory-modal"
        [breakpoints]="{ '768px': '95vw' }"
        [showHeader]="false"
        [draggable]="false"
        [resizable]="false"
        [dismissableMask]="true"
        appendTo="body"
    >
        <div class="modal-inner-container">
            <div class="modal-header">
                <h2>Move Tour Inventory</h2>
            </div>
            <div class="content-container">
                <ng-container *ngIf="data.context?.tour as tour">
                    <ng-container
                        *ngIf="
                            data.context?.proposedDateTime as proposedDateTime
                        "
                    >
                        <span
                            >Are you sure you want to move
                            <span class="font-medium">{{
                                tour.description
                            }}</span
                            >?</span
                        >
                        <div class="changes-container">
                            <div class="datetime-container previous">
                                <span class="body font-medium"
                                    >Current Tour Date and Time</span
                                >
                                <div class="row-container">
                                    <i class="pi pi-calendar"></i>
                                    <span class="body">{{
                                        tour.start | date : 'MM/dd/yyyy'
                                    }}</span>
                                </div>
                                <div class="row-container">
                                    <i class="pi pi-clock"></i>
                                    <span class="body">{{
                                        tour.start | date : 'HH:mm'
                                    }}</span>
                                </div>
                            </div>
                            <i class="pi pi-arrow-right"></i>
                            <div class="datetime-container">
                                <span class="body font-medium"
                                    >New Tour Date and Time</span
                                >
                                <div class="row-container">
                                    <i class="pi pi-calendar"></i>
                                    <span class="body">{{
                                        proposedDateTime | date : 'MM/dd/yyyy'
                                    }}</span>
                                </div>
                                <div class="row-container">
                                    <i class="pi pi-clock"></i>
                                    <span class="body">{{
                                        proposedDateTime | date : 'HH:mm'
                                    }}</span>
                                </div>
                            </div>
                        </div>

                        <ng-container
                            *ngIf="data.submitStatus?.update === 'error'"
                        >
                            <div>
                                <span class="text-error"
                                    >Failed to update inventory</span
                                >
                            </div>
                        </ng-container>
                        <div class="move-selected-action">
                            <button
                                pButton
                                class="btn btn-primary-inverse"
                                [disabled]="
                                    data.submitStatus?.update === 'loading'
                                "
                                (click)="close()"
                            >
                                Cancel
                            </button>
                            <button
                                pButton
                                class="btn btn-primary"
                                [loading]="
                                    data.submitStatus?.update === 'loading'
                                "
                                (click)="
                                    onUpdateInventory(tour, proposedDateTime)
                                "
                            >
                                Update
                            </button>
                        </div>
                    </ng-container>
                </ng-container>
            </div>
        </div>
    </p-dialog>
</ng-container>
