<ng-container
    *ngIf="{
        isRefreshing: isRefreshing$ | async,
        filterLoading: filterLoading$ | async,
        hasFiltersApplied: hasFiltersApplied$ | async,
        dailyCruiseSchedule: dailyCruiseSchedule$ | async,
        savingFilterPreferences: savingFilterPreferences$ | async,
        condensedView: condensedView$ | async,
        arrivingCruiseDescription: arrivingCruiseDescription$ | async
    } as data"
>
    <div class="dtd-table-control-container">
        <!-- disabling in favor of view mode switcher in tour-dispatch component -->
        <!-- <div class="condensedview-toggle-container">
            <p-inputSwitch
                name="condensedView"
                [(ngModel)]="condensedView"
                (ngModelChange)="condensedViewChange()"
            ></p-inputSwitch>
            <label for="condensedView">Condensed View</label>
        </div> -->
        <div class="top-container">
            <div class="dtd-date-picker-container">
                <button
                    pButton
                    icon="pi pi-angle-left"
                    class="btn-primary-inverse btn-arrow"
                    (click)="previousDay()"
                ></button>
                <p-calendar
                    [(ngModel)]="selectedDate"
                    (ngModelChange)="onSelectedDateChange($event)"
                    dateFormat="mm/dd/yy"
                    placeholder="Select Dates"
                    appendTo="body"
                    styleClass="input-calendar"
                    [selectOtherMonths]="true"
                    [selectOtherMonths]="true"
                >
                </p-calendar>
                <button
                    pButton
                    icon="pi pi-angle-right"
                    class="btn-primary-inverse btn-arrow"
                    (click)="nextDay()"
                ></button>
            </div>

            <!-- minimal filters -->
            <!-- <ng-container *ngIf="data.condensedView">
                <form class="condensed-filters" [formGroup]="tableFilterForm">
                    <ng-container *ngIf="tours$ | async as tours">
                        <div class="control-container">
                            <label for="tours">Select Tours</label>
                            <p-multiSelect
                                placeholder="Select all Tours"
                                name="tours"
                                [maxSelectedLabels]="50"
                                [options]="tours"
                                formControlName="tours"
                                placeholder="Select tours"
                                optionValue="tourId"
                                optionLabel="tourName"
                                display="chip"
                                [dropdownIcon]="
                                    data.filterLoading?.tours === true
                                        ? 'pi pi-spinner pi-spin'
                                        : 'pi pi-chevron-down'
                                "
                            >
                            </p-multiSelect>
                        </div>
                    </ng-container>
                </form>
            </ng-container> -->

            <div class="additional-controls-container">
                <div class="toggles-container-desktop">
                    <ng-container *ngTemplateOutlet="togglesControl">
                    </ng-container>
                </div>

                <div class="actions-row-container-desktop">
                    <ng-container *ngTemplateOutlet="actionsRow"></ng-container>
                </div>
            </div>
        </div>

        <div class="toggles-container-tablet">
            <span class="font-medium">Settings</span>
            <ng-container *ngTemplateOutlet="togglesControl"> </ng-container>
        </div>

        <!-- cruise schedules -->
        <ng-container *ngIf="!data.condensedView">
            <ng-container
                *ngIf="
                    data.arrivingCruiseDescription &&
                    data.dailyCruiseSchedule &&
                    data.dailyCruiseSchedule.length > 0
                "
            >
                <div class="cruise-arrivals-container">
                    <span class="font-medium">{{
                        data.arrivingCruiseDescription
                    }}</span>
                    <div class="daily-cruise-schedule">
                        <ng-container
                            *ngFor="let item of data.dailyCruiseSchedule"
                        >
                            <div
                                class="pointer arriving-cruise-container"
                                [style.backgroundColor]="item.backgroundColor"
                                [style.borderColor]="item.color"
                                [style.color]="item.color"
                                (click)="
                                    item.isSelected
                                        ? resetShipSelection()
                                        : selectShip(item)
                                "
                                [style.opacity]="item.opacity"
                            >
                                <app-icon-cruise
                                    [color]="item.color"
                                ></app-icon-cruise>
                                <div class="text-container">
                                    <span class="shipname">
                                        {{ item.description }}
                                        <ng-container
                                            *ngIf="item?.meta?.dockAssignment"
                                        >
                                            <span>
                                                ({{
                                                    item.meta?.dockAssignment
                                                }})
                                            </span>
                                        </ng-container>
                                    </span>
                                    <span
                                        >{{ item.start | date : 'h:mm a' }} -
                                        {{ item.end | date : 'h:mm a' }}
                                    </span>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </ng-container>
        </ng-container>
        <div class="actions-row-container-mobile">
            <ng-container *ngTemplateOutlet="actionsRow"></ng-container>
        </div>

        <p-accordion (onClose)="closeFilterDrawer()">
            <p-accordionTab [selected]="(filterIsOpen$ | async) === true">
                <ng-template pTemplate="header"> </ng-template>
                <div class="accordion-content-container">
                    <p-divider styleClass="divider"></p-divider>
                    <ng-container *ngTemplateOutlet="form"> </ng-container>
                </div>
            </p-accordionTab>
        </p-accordion>
        <ng-template #form>
            <form [formGroup]="tableFilterForm" (ngSubmit)="search()">
                <div class="row-container filter-additional-container">
                    <!-- filter config container -->
                    <div class="filter-config-container">
                        <button
                            pButton
                            type="button"
                            class="btn btn-text-primary"
                            (click)="clearFilters()"
                        >
                            Clear Filters
                        </button>
                        <div class="custom-divider"></div>
                        <button
                            pButton
                            type="button"
                            class="btn btn-text-primary"
                            (click)="saveFilters()"
                            [loading]="
                                data.savingFilterPreferences === 'loading'
                            "
                        >
                            Save Preferences
                        </button>
                        <ng-container
                            *ngIf="data.savingFilterPreferences === 'error'"
                        >
                            <span class="text-error"
                                >Failed to Save Preferences</span
                            >
                        </ng-container>
                        <ng-container
                            *ngIf="data.savingFilterPreferences === 'success'"
                        >
                            <span class="text-success">Preferences Saved!</span>
                        </ng-container>
                    </div>
                </div>

                <div class="row-container">
                    <ng-container *ngIf="tours$ | async as tours">
                        <div class="control-container">
                            <label for="tours">Select Tours</label>
                            <p-multiSelect
                                placeholder="Select all Tours"
                                name="tours"
                                [maxSelectedLabels]="50"
                                [options]="tours"
                                formControlName="tours"
                                placeholder="Select tours"
                                optionValue="tourId"
                                optionLabel="tourName"
                                display="chip"
                                [dropdownIcon]="
                                    data.filterLoading?.tours === true
                                        ? 'pi pi-spinner pi-spin'
                                        : 'pi pi-chevron-down'
                                "
                            >
                            </p-multiSelect>
                        </div>
                    </ng-container>

                    <ng-container *ngIf="ports$ | async as ports">
                        <div class="control-container">
                            <label for="ports">Select Ports</label>
                            <p-multiSelect
                                placeholder="Select all Ports"
                                name="ports"
                                [maxSelectedLabels]="50"
                                [options]="ports"
                                formControlName="ports"
                                placeholder="Select Ports"
                                optionValue="portId"
                                optionLabel="portName"
                                display="chip"
                                [dropdownIcon]="
                                    data.filterLoading?.ports === true
                                        ? 'pi pi-spinner pi-spin'
                                        : 'pi pi-chevron-down'
                                "
                            >
                            </p-multiSelect>
                        </div>
                    </ng-container>
                </div>

                <div class="row-container">
                    <ng-container *ngIf="guides$ | async as guides">
                        <div class="control-container">
                            <label htmlFor="guides">Select Driver</label>
                            <p-dropdown
                                id="guides"
                                name="guides"
                                formControlName="guide"
                                autocomplete="off"
                                placeholder="Select Driver/Guide"
                                [options]="(guides$ | async) || []"
                                optionLabel="guideFirstNameNickname"
                                optionValue="guideId"
                                [autoDisplayFirst]="false"
                                [dropdownIcon]="
                                    data.filterLoading?.guides === true
                                        ? 'pi pi-spinner pi-spin'
                                        : 'pi pi-chevron-down'
                                "
                            ></p-dropdown>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="docks$ | async as docks">
                        <div class="control-container">
                            <label htmlFor="docks">Select Dock</label>
                            <p-dropdown
                                id="docks"
                                name="docks"
                                placeholder="Select Dock"
                                autocomplete="off"
                                [options]="docks"
                                formControlName="dock"
                                optionValue="dockId"
                                [autoDisplayFirst]="false"
                                [dropdownIcon]="
                                    data.filterLoading?.docks === true
                                        ? 'pi pi-spinner pi-spin'
                                        : 'pi pi-chevron-down'
                                "
                            >
                                <ng-template pTemplate="item" let-dock>
                                    <span>
                                        {{ dock.dockName }}
                                        {{
                                            dock.portName
                                                ? ' - ' + dock.portName
                                                : ''
                                        }}
                                    </span>
                                </ng-template>
                                <ng-template pTemplate="selectedItem" let-dock>
                                    <span
                                        >{{ dock.dockName }}
                                        {{ dock.portName || '' }}</span
                                    >
                                </ng-template>
                            </p-dropdown>
                        </div>
                    </ng-container>
                </div>

                <div class="row-container">
                    <div class="control-container">
                        <label for="cruise">Select Cruise</label>
                        <p-dropdown
                            id="cruise"
                            name="cruise"
                            formControlName="cruiseLine"
                            autocomplete="off"
                            optionLabel="shipCompanyName"
                            optionValue="shipCompanyId"
                            [autoDisplayFirst]="false"
                            placeholder="Select Cruise Line"
                            [options]="(cruiseLines$ | async) || []"
                            [dropdownIcon]="
                                data.filterLoading?.cruiseLines === true
                                    ? 'pi pi-spinner pi-spin'
                                    : 'pi pi-chevron-down'
                            "
                        ></p-dropdown>
                    </div>
                    <div class="control-container">
                        <label for="ship">Select Ship</label>
                        <p-dropdown
                            id="ship"
                            name="ship"
                            formControlName="ship"
                            autocomplete="off"
                            optionLabel="shipName"
                            optionValue="shipId"
                            placeholder="Select Cruise Ship"
                            [autoDisplayFirst]="false"
                            [options]="(cruiseShips$ | async) || []"
                            [showClear]="true"
                            [dropdownIcon]="
                                data.filterLoading?.cruiseShips === true
                                    ? 'pi pi-spinner pi-spin'
                                    : 'pi pi-chevron-down'
                            "
                        ></p-dropdown>
                    </div>
                    <button pButton type="submit" class="btn btn-primary">
                        Search
                    </button>
                </div>
            </form>
        </ng-template>
    </div>
    <ng-template #togglesControl>
        <div class="toggles-container">
            <div class="switch-container">
                <p-inputSwitch
                    name="hideConfirmedAndCanceled"
                    [(ngModel)]="hideConfirmedAndCanceled"
                    (ngModelChange)="hideConfirmedAndCanceledChange()"
                ></p-inputSwitch>
                <label for="hideConfirmedAndCanceled"
                    >Hide Confirmed/Closed</label
                >
            </div>
            <!-- order by container -->
            <div class="switch-container">
                <p-inputSwitch
                    name="orderByTour"
                    [(ngModel)]="orderByTour"
                    (ngModelChange)="orderByTourChange()"
                ></p-inputSwitch>
                <label for="orderByTour">Order by Tour</label>
            </div>

            <div class="switch-container">
                <p-inputSwitch
                    name="autoRefresh"
                    [(ngModel)]="autoRefresh"
                    (ngModelChange)="autoRefreshChange()"
                ></p-inputSwitch>
                <label for="autoRefresh">Auto Refresh</label>
            </div>
        </div>
    </ng-template>

    <ng-template #actionsRow>
        <div class="buttons-container">
            <button
                (click)="downloadPdf()"
                class="btn btn-primary-inverse"
                pButton
                [appPermission]="{
            features: [{
                feature: features.dailyTourDispatch.name,
                page: features.dailyTourDispatch.pages.dailyTourDispatch
                    .name,
                pageFeature: [
                    features.dailyTourDispatch.pages.dailyTourDispatch
                        .features.sharePDF.name
                ],
                pageFeatureCheck: 'or',
            }],
            mode: 'none'
        }"
            >
                <i class="pi pi-download"></i>
                PDF
            </button>
            <!-- only display this in the mobile app, since browsers can use the browser's refresh button -->
            <ng-container *ngIf="isMobile">
                <button
                    pButton
                    class="btn btn-primary"
                    [disabled]="data.isRefreshing"
                    (click)="refresh()"
                >
                    <i
                        class="pi pi-sync"
                        [class.rotate]="data.isRefreshing"
                    ></i>
                    Refresh
                </button>
            </ng-container>
            <button
                pButton
                class="btn btn-primary btn-filter"
                (click)="toggleFilterDrawer()"
            >
                <i class="pi pi-sliders-v"></i>
                <ng-container *ngIf="data.hasFiltersApplied">
                    <div class="filter-indicator"></div>
                </ng-container>
            </button>
        </div>
    </ng-template>
</ng-container>
