<ng-container
    *ngIf="{
        isOpen: (isOpen$ | async) || false,
        status: status$ | async,
        tour: tour$ | async,
        agentUsers: agentUsers$ | async,
        shipsInPort: shipsInPort$ | async,
        loadingShipsInPort: loadingShipsInPort$ | async,
        view: view$ | async,
        bookings: bookings$ | async
    } as data"
>
    <p-dialog
        [(visible)]="data.isOpen"
        (onHide)="close()"
        [modal]="true"
        [style]="{ width: '60vw', height: 'auto', 'max-width': '640px' }"
        styleClass="update-selected-tour-inventory-modal"
        [breakpoints]="{ '768px': '95vw' }"
        [showHeader]="false"
        [draggable]="false"
        [resizable]="false"
        [dismissableMask]="true"
        [focusOnShow]="false"
        appendTo="body"
    >
        <div class="modal-inner-container">
            <div class="modal-header">
                <h2>Edit Tour Inventory</h2>

                <!-- only show the view bookings button when a booking exist -->
                <ng-container *ngIf="data.bookings && data.bookings.length > 0">
                    <ng-container
                        *ngIf="data.view === 'default'; else backButton"
                    >
                        <button
                            pButton
                            class="btn btn-primary-inverse"
                            (click)="setView('bookings')"
                            [appPermission]="{features: [
                                {
        
                                    feature: features.bookingManagement.name,
                                    page: features.bookingManagement.pages
                                        .tourInventory.name,
                                    pageFeature: [
                                    features.bookingManagement.pages
                                    .tourInventory.features.tourInventoryViewBookings.name
                                    ],
                                    pageFeatureCheck: 'or',
                                }],
                                mode: 'none',
                            }"
                        >
                            View Bookings
                        </button>
                    </ng-container>
                    <ng-template #backButton>
                        <button
                            pButton
                            class="btn btn-primary-inverse"
                            (click)="setView('default')"
                        >
                            Back
                        </button>
                    </ng-template>
                </ng-container>
            </div>
            <ng-container *ngIf="data.view === 'default'; else bookingList">
                <ng-container *ngIf="data.tour">
                    <form
                        class="content-container"
                        [formGroup]="editTourInventoryForm"
                        (ngSubmit)="saveTourInventory(data.tour)"
                    >
                        <ng-container *ngIf="data.tour as tour">
                            <span class="h4">
                                {{ tour.tourName }}
                            </span>
                            <ng-container *ngIf="data.tour.shipId === null">
                                <span class="body"
                                    >Allocated to Book Direct</span
                                >
                            </ng-container>
                            <ng-container
                                *ngIf="
                                    data.tour.shipId !== null &&
                                    data.tour.shipId >= 1
                                "
                            >
                                <span class="body"
                                    >Allocated to
                                    {{ data.tour.cruiseShipName }}</span
                                >
                            </ng-container>
                            <ng-container
                                *ngIf="
                                    data.tour.shipId !== null &&
                                    data.tour.shipId < 1
                                "
                            >
                                <span class="body"
                                    >Allocated to Book Direct</span
                                >
                            </ng-container>
                            <div class="tour-details-container">
                                <div class="detail-row-container">
                                    <div class="detail-container">
                                        <i class="pi pi-calendar"></i>
                                        <span class="body">{{
                                            tour.tourInventoryDateString
                                        }}</span>
                                    </div>
                                    <div class="detail-container">
                                        <i class="pi pi-clock"></i>
                                        <span class="body">{{
                                            tour.tourInventoryTimeString
                                        }}</span>
                                    </div>
                                </div>
                                <div class="detail-row-container">
                                    <div class="detail-container">
                                        <span><i class="pi pi-users"></i></span>
                                        <span
                                            >{{
                                                tour.tourInventoryAllocatedSeats ||
                                                    '-'
                                            }}
                                            Seats Allocated</span
                                        >
                                    </div>
                                    <div class="detail-container">
                                        <span
                                            ><i class="pi pi-receipt"></i
                                        ></span>
                                        <span
                                            >{{
                                                tour.passengerSold || '0'
                                            }}
                                            Seats Sold ({{
                                                tour.percentageSold
                                            }}%)</span
                                        >
                                    </div>
                                </div>
                            </div>
                            <p-divider></p-divider>
                            <div class="row-container">
                                <div class="field-container">
                                    <label for="tourDate">Tour Date</label>
                                    <p-calendar
                                        [showIcon]="true"
                                        formControlName="tourDate"
                                        appendTo="body"
                                        [selectOtherMonths]="true"
                                        [selectOtherMonths]="true"
                                    ></p-calendar>
                                </div>
                                <div class="field-container">
                                    <label for="tourTime">Departure Time</label>
                                    <p-calendar
                                        [defaultDate]="defaultTime"
                                        [showIcon]="true"
                                        [timeOnly]="true"
                                        styleClass="p-calendar-timeonly"
                                        formControlName="tourTime"
                                        appendTo="body"
                                        hourFormat="12"
                                        [stepMinute]="5"
                                        [selectOtherMonths]="true"
                                        [selectOtherMonths]="true"
                                        (onFocus)="focusFromTime()"
                                    ></p-calendar>
                                </div>
                            </div>

                            <div class="field-container">
                                <label htmlFor="ship">Cruise Ship</label>
                                <p-dropdown
                                    id="ship"
                                    name="ship"
                                    formControlName="ship"
                                    autocomplete="off"
                                    optionLabel="shipName"
                                    optionValue="shipId"
                                    placeholder="Select Cruise Ship"
                                    [autoDisplayFirst]="false"
                                    [options]="data.shipsInPort || []"
                                    formControlName="shipId"
                                    appendTo="body"
                                    [dropdownIcon]="
                                        data.loadingShipsInPort === true
                                            ? 'pi pi-spinner pi-spin'
                                            : 'pi pi-chevron-down'
                                    "
                                >
                                </p-dropdown>
                            </div>

                            <div class="field-container">
                                <label for="capacity">Capacity</label>
                                <p-inputNumber
                                    formControlName="capacity"
                                    placeholder="Seats per Tour"
                                />
                            </div>
                            <div class="field-container">
                                <label for="specialNotes">Special Notes</label>
                                <div
                                    class="textarea-container"
                                    [class.p-disabled]="
                                        data.loadingShipsInPort === true
                                    "
                                >
                                    <textarea
                                        formControlName="specialNotes"
                                        rows="5"
                                        cols="30"
                                        pInputTextarea
                                    >
                                    </textarea>
                                    <ng-container
                                        *ngIf="data.loadingShipsInPort === true"
                                    >
                                        <i class="pi pi-spinner pi-spin"></i>
                                    </ng-container>
                                </div>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="data.tour">
                            <div class="actions-container">
                                <ng-container
                                    *ngIf="
                                        data.status?.saveTourInventory ===
                                        'error'
                                    "
                                >
                                    <span class="text-error"
                                        >Failed to update tour</span
                                    >
                                </ng-container>
                                <button
                                    pButton
                                    type="button"
                                    class="btn btn-primary-inverse"
                                    [disabled]="
                                        data.status?.saveTourInventory ===
                                        'loading'
                                    "
                                    (click)="close()"
                                >
                                    Cancel
                                </button>
                                <button
                                    pButton
                                    type="submit"
                                    class="btn btn-primary"
                                    [loading]="
                                        data.status?.saveTourInventory ===
                                        'loading'
                                    "
                                >
                                    Update
                                </button>
                            </div>
                        </ng-container>
                    </form>
                </ng-container>
            </ng-container>
            <ng-template #bookingList>
                <app-booking-list
                    [bookings]="data.bookings || []"
                ></app-booking-list>
            </ng-template>
        </div>
    </p-dialog>
</ng-container>
