<ng-container
    *ngIf="{
        isOpen: (isOpen$ | async) === true,
        context: context$ | async,
        status: status$ | async
    } as data"
>
    <p-dialog
        [(visible)]="data.isOpen"
        (onHide)="close()"
        [modal]="true"
        [style]="{ width: '60vw', height: 'auto' }"
        styleClass="modify-cruise-dialog"
        [breakpoints]="{ '720px': '95vw' }"
        [showHeader]="false"
        [draggable]="false"
        [resizable]="false"
        [dismissableMask]="true"
        position="center"
        appendTo="body"
    >
        <ng-container *ngIf="data.context">
            <div class="modify-ship-modal-container">
                <div class="modal-header">
                    <h2>
                        Change arrival method for
                        {{ data.context.bookingDetails.tourName }}
                    </h2>
                </div>
                <span class="h4">Arrival Method</span>
                <p-dropdown
                    appendTo="body"
                    optionLabel="shipName"
                    optionValue="shipId"
                    placeholder="Select a Different Arrival Method"
                    [options]="data.context.shipList || []"
                    [(ngModel)]="selectedShipId"
                ></p-dropdown>
                <div class="action-buttons-container">
                    <ng-container *ngIf="data.status === 'success'">
                        <span class="body-m font-medium success-text"
                            >Booking updated!</span
                        >
                    </ng-container>
                    <ng-container *ngIf="data.status === 'error'">
                        <span class="body-m font-medium error-text"
                            >Failed to update booking</span
                        >
                    </ng-container>
                    <button
                        pButton
                        [disabled]="data.status === 'loading'"
                        class="btn btn-primary-inverse"
                        (click)="close()"
                    >
                        Close
                    </button>
                    <button
                        pButton
                        [loading]="data.status === 'loading'"
                        class="btn btn-primary"
                        (click)="updateCruise()"
                    >
                        Change Arrival Method
                    </button>
                </div>
            </div>
        </ng-container>
    </p-dialog>
</ng-container>
