<ng-container
    *ngIf="{
        isOpen: (isOpen$ | async) || false,
        licenseOptions: licenseOptions$ | async,
        status: status$ | async,
    } as data"
>
    <p-dialog
        [(visible)]="data.isOpen"
        (onHide)="close()"
        [modal]="true"
        [style]="{ width: '60vw', height: 'auto' }"
        styleClass="add-user-license"
        [breakpoints]="{ '768px': '100vw' }"
        [showHeader]="false"
        [draggable]="false"
        [resizable]="false"
        [dismissableMask]="true"
        appendTo="body"
    >
        <div class="modal-inner-container">
            <div class="modal-header">
                <h2>Add Special License</h2>
            </div>
            <p-divider></p-divider>
            <form [formGroup]="addSpecialLicenseForm" (ngSubmit)="save()">
                <div class="info-container">
                    <div class="info-item">
                        <label for="license-type">License Type</label>
                        <p-dropdown
                            id="license-type"
                            name="license-type"
                            formControlName="licenseTypeId"
                            autocomplete="off"
                            optionLabel="specialLicense"
                            optionValue="specialLicenseId"
                            styleClass="full-width"
                            [autoDisplayFirst]="false"
                            [options]="data.licenseOptions || []"
                            [showClear]="true"
                        >
                        </p-dropdown>
                    </div>
                    <div class="info-item">
                        <label for="active">Active</label>
                        <p-dropdown
                            id="active"
                            name="active"
                            appendTo="body"
                            formControlName="isActive"
                            autocomplete="off"
                            optionLabel="active"
                            optionValue="value"
                            styleClass="full-width"
                            [autoDisplayFirst]="false"
                            [options]="isActiveOptions"
                            [showClear]="true"
                        >
                        </p-dropdown>
                    </div>
                    <div class="info-item">
                        <label for="start-date">Valid from Date</label>
                        <p-calendar
                            #startDate
                            appendTo="body"
                            [readonlyInput]="true"
                            [showIcon]="true"
                            styleClass="calendar-icon"
                            dateFormat="mm/dd/yy"
                            placeholder="Date"
                            formControlName="fromDate"
                        >
                        </p-calendar>
                    </div>
                    <div class="info-item">
                        <label for="expiredate">Expiration Date</label>
                        <p-calendar
                            #expiredate
                            appendTo="body"
                            [readonlyInput]="true"
                            [showIcon]="true"
                            styleClass="calendar-icon"
                            dateFormat="mm/dd/yy"
                            placeholder="Date"
                            formControlName="expireDate"
                            [selectOtherMonths]="true"
                        >
                        </p-calendar>
                    </div>
                    <div class="info-item file">
                        <label for="tour-date">Document</label>
                        <p-fileUpload
                            mode="basic"
                            [showUploadButton]="false"
                            styleClass="full-width btn-primary"
                            chooseLabel="Choose Files"
                            #fileUploadComponent
                            [multiple]="false"
                            (onSelect)="onFileSelect($event)"
                        >
                        </p-fileUpload>
                    </div>
                </div>
                <div class="footer-container">
                    <ng-container *ngIf="data.status === 'error'">
                        <span class="text-error">Failed to Add License</span>
                    </ng-container>
                    <div class="btn-container">
                        <button
                            pButton
                            class="btn btn-primary-inverse"
                            type="button"
                            (click)="close()"
                        >
                            Cancel
                        </button>
                        <button
                            pButton
                            class="btn btn-primary"
                            type="submit"
                            [loading]="data.status === 'loading'"
                            [disabled]="
                                !fileToUpload || addSpecialLicenseForm.invalid
                            "
                        >
                            Add
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </p-dialog>
</ng-container>
