<div class="main-content">
    <ng-container
        *ngIf="{
            savingStatus: savingStatus$ | async,
            loadingStatus: loadingStatus$ | async
        } as data"
    >
        <h2>Account Details</h2>
        <ng-container
            *ngIf="data.loadingStatus === 'loading'; else mainContent"
        >
            <app-loader-embed [isDisplayed]="true"></app-loader-embed>
        </ng-container>
        <ng-template #mainContent>
            <form
                [formGroup]="agentInformationForm"
                (ngSubmit)="submitAgentInformationForm()"
                [appPermission]="{
                    features: [{
                        feature: features.bookingManagementAgentEdit.name,
                        page: features.bookingManagementAgentEdit.pages.account.name,
                        pageFeature: [
                            features.bookingManagementAgentEdit.pages.account.features
                                .accountUpdate.name
                        ],
                        pageFeatureCheck: 'or',
                    }],
                    mode: 'childDisabled'
                }"
            >
                <div class="section-container">
                    <div class="textfield-container-third">
                        <label for="companyName" class="form-control-label"
                            >Company Name</label
                        >
                        <input
                            formControlName="companyName"
                            id="companyName"
                            name="companyName"
                            type="text"
                            class="form-control form-control-custom"
                            autocomplete="off"
                            pInputText
                        />
                    </div>
                    <div class="textfield-container-third">
                        <label for="uniqueName" class="form-control-label"
                            >Unique Name</label
                        >
                        <input
                            formControlName="uniqueName"
                            id="uniqueName"
                            name="uniqueName"
                            type="text"
                            class="form-control form-control-custom"
                            autocomplete="off"
                            pInputText
                        />
                    </div>
                </div>
                <div class="section-container">
                    <div class="textfield-container-third">
                        <label
                            for="contactPersonFirstName"
                            class="form-control-label"
                            >Contact Person First Name</label
                        >
                        <input
                            formControlName="contactPersonFirstName"
                            id="contactPersonFirstName"
                            name="contactPersonFirstName"
                            type="text"
                            class="form-control form-control-custom"
                            autocomplete="off"
                            pInputText
                        />
                    </div>
                    <div class="textfield-container-third">
                        <label
                            for="contactPersonLastName"
                            class="form-control-label"
                            >Contact Person Last Name</label
                        >
                        <input
                            formControlName="contactPersonLastName"
                            id="contactPersonLastName"
                            name="contactPersonLastName"
                            type="text"
                            class="form-control form-control-custom"
                            autocomplete="off"
                            pInputText
                        />
                    </div>
                </div>
                <div class="section-container">
                    <div class="textfield-container-third">
                        <label for="phoneNumber" class="form-control-label"
                            >Phone Number</label
                        >
                        <input
                            formControlName="phoneNumber"
                            id="phoneNumber"
                            name="phoneNumber"
                            type="text"
                            class="form-control form-control-custom"
                            autocomplete="off"
                            pInputText
                        />
                    </div>
                    <div class="textfield-container-third">
                        <label for="website" class="form-control-label"
                            >Website</label
                        >
                        <input
                            formControlName="website"
                            id="website"
                            name="website"
                            type="text"
                            class="form-control form-control-custom"
                            autocomplete="off"
                            pInputText
                        />
                    </div>
                </div>
                <div class="section-container">
                    <div class="textfield-container-third">
                        <label for="email" class="form-control-label"
                            >Email</label
                        >
                        <input
                            formControlName="email"
                            id="email"
                            name="email"
                            type="text"
                            class="form-control form-control-custom"
                            autocomplete="off"
                            [appPermission]="{
                                features: [{
                                    feature: features.bookingManagementAgentEdit.name,
                                    page: features.bookingManagementAgentEdit.pages.account.name,
                                    pageFeature: [
                                        features.bookingManagementAgentEdit.pages.account.features
                                            .emailUpdate.name
                                    ],
                                    pageFeatureCheck: 'or',
                                }],
                                mode: 'disabled'
                            }"
                            pInputText
                        />
                    </div>
                    <div class="textfield-container-third">
                        <label for="commisionRate" class="form-control-label"
                            >Commision Rate</label
                        >
                        <input
                            formControlName="commissionRate"
                            id="commissionRate"
                            name="commissionRate"
                            type="text"
                            class="form-control form-control-custom"
                            autocomplete="off"
                            pInputText
                        />
                    </div>
                </div>
                <div class="section-container">
                    <div class="textfield-container-third">
                        <label for="address" class="form-control-label"
                            >Address 1</label
                        >
                        <input
                            formControlName="address"
                            id="address"
                            name="address"
                            type="text"
                            class="form-control form-control-custom"
                            autocomplete="off"
                            pInputText
                        />
                    </div>
                    <div class="textfield-container-third">
                        <label for="address2" class="form-control-label"
                            >Address 2</label
                        >
                        <input
                            formControlName="address2"
                            id="address2"
                            name="address2"
                            type="text"
                            class="form-control form-control-custom"
                            autocomplete="off"
                            pInputText
                        />
                    </div>
                </div>
                <div class="section-container">
                    <div class="textfield-container-third">
                        <label for="countryId" class="form-control-label"
                            >Country</label
                        >
                        <p-dropdown
                            id="countryId"
                            [options]="countries.length > 0 ? countries : []"
                            optionLabel="countryName"
                            optionValue="countryId"
                            placeholder="Select a Country"
                            formControlName="countryId"
                            [autoDisplayFirst]="false"
                        >
                        </p-dropdown>
                    </div>
                    <div class="textfield-container-third">
                        <label for="stateId" class="form-control-label"
                            >State</label
                        >
                        <p-dropdown
                            id="stateId"
                            [options]="states.length > 0 ? states : []"
                            optionLabel="stateName"
                            optionValue="stateId"
                            placeholder="Select a State"
                            formControlName="stateId"
                            [autoDisplayFirst]="false"
                        ></p-dropdown>
                    </div>
                </div>
                <div class="section-container">
                    <div class="textfield-container-third">
                        <label for="city" class="form-control-label"
                            >City</label
                        >
                        <input
                            formControlName="city"
                            id="city"
                            name="city"
                            type="text"
                            class="form-control form-control-custom"
                            autocomplete="off"
                            pInputText
                        />
                    </div>
                    <div class="textfield-container-third">
                        <label for="zipcode" class="form-control-label"
                            >Zip/Postal Code</label
                        >
                        <input
                            formControlName="zipcode"
                            id="zipcode"
                            name="zipcode"
                            type="text"
                            class="form-control form-control-custom"
                            autocomplete="off"
                            pInputText
                        />
                    </div>
                </div>
                <div class="section-container">
                    <p-checkbox
                        formControlName="isActive"
                        inputId="isActive"
                        [binary]="true"
                    ></p-checkbox>
                    <label htmlFor="isActive">Is Active</label>
                    <p-checkbox
                        formControlName="allowInvoice"
                        inputId="allowInvoice"
                        [binary]="true"
                    ></p-checkbox>
                    <label htmlFor="allowInvoice">Allow Invoice</label>
                    <p-checkbox
                        formControlName="allowOtc"
                        inputId="allowOtc"
                        [binary]="true"
                    ></p-checkbox>
                    <label htmlFor="allowOtc">Allow Otc</label>
                    <p-checkbox
                        formControlName="isCruiseLine"
                        inputId="isCruiseLine"
                        [binary]="true"
                    ></p-checkbox>
                    <label htmlFor="isCruiseLine">Is CruiseLine</label>
                    <p-checkbox
                        formControlName="isTaxable"
                        inputId="isTaxable"
                        [binary]="true"
                    ></p-checkbox>
                    <label htmlFor="isTaxable">Is Taxable</label>
                </div>
                <div class="button-container">
                    <button
                        pButton
                        class="btn btn-primary"
                        [loading]="data.savingStatus?.saveAgent === 'loading'"
                        type="submit"
                    >
                        Save Changes
                    </button>
                </div>
            </form>
        </ng-template>
    </ng-container>
</div>
