<div class="container">
    <ng-container
        *ngIf="{
            status: status$ | async,
            video: video$ | async
        } as data"
    >
        <div class="main-container">
            <h2>Presentation video</h2>
            <div class="content-container">
                <div class="left-container">
                    <ng-container *ngIf="data.video; else emptyVideo">
                        <div class="video-content">
                            <button
                                class="delete-btn"
                                (click)="openRemoveTourVideoModal()"
                                [appPermission]="{
                                    features: [{
                                        feature:
                                            features.toursAndServicesEdit.name,
                                        page: features.toursAndServicesEdit.pages
                                            .video.name,
                                        pageFeature: [
                                            features.toursAndServicesEdit.pages
                                                .video
                                                .features.deleteVideo.name,
                                        ],
                                    }],
                                    mode: 'none'
                                }"
                            >
                                <i class="pi pi-times"></i>
                            </button>
                            <video controls="controls">
                                <source [src]="data.video" type="video/mp4" />
                                type
                            </video>
                        </div>
                    </ng-container>
                    <ng-template #emptyVideo>
                        <div class="empty-video-container">
                            <span>Tour has no video</span>
                        </div>
                    </ng-template>
                </div>
                <p-divider layout="vertical" class="desktop"></p-divider>
                <p-divider layout="horizontal" class="mobile"></p-divider>
                <div
                    class="right-container"
                    [appPermission]="{
                    features: [{
                        feature:
                            features.toursAndServicesEdit.name,
                        page: features.toursAndServicesEdit.pages
                            .video.name,
                        pageFeature: [
                            features.toursAndServicesEdit.pages
                                .video
                                .features.uploadVideo.name,
                        ],
                    }],
                    mode: 'none'
                }"
                >
                    <span class="h3">Upload new video</span>
                    <div class="file-input">
                        <p-fileUpload
                            mode="basic"
                            #videoUploadComponent
                            styleClass="full-width btn-primary-inverse"
                            chooseLabel="Choose File"
                            [multiple]="false"
                            name="file"
                            id="file"
                            (onSelect)="onVideoSelect($event)"
                        ></p-fileUpload>
                    </div>
                    <span class="body-s subtext">
                        Supported types: mp4, avi, mpg, wav, mid, asf, and mpeg
                    </span>
                </div>
            </div>
        </div>
        <div
            class="btn-container"
            [appPermission]="{
            features: [{
                feature:
                    features.toursAndServicesEdit.name,
                page: features.toursAndServicesEdit.pages
                    .video.name,
                pageFeature: [
                    features.toursAndServicesEdit.pages
                        .video
                        .features.uploadVideo.name,
                ],
            }],
            mode: 'none'
        }"
        >
            <ng-container *ngIf="data.status === 'error'">
                <span class="text-error">Unable to upload new video</span>
            </ng-container>
            <button
                (click)="save()"
                type="button"
                pButton
                class="btn btn-primary"
                [loading]="data.status === 'loading'"
                [disabled]="data.status === 'loading' || !videoToUpload"
            >
                Save Changes
            </button>
        </div>
    </ng-container>
</div>
<app-remove-video-modal></app-remove-video-modal>
