<div class="outer-container">
    <div class="main-content-container">
        <ng-container
            *ngIf="{
                payments: payments$ | async,
                paymentTypes: paymentTypes,
                status: status$ | async
            } as config"
        >
            <ng-container [ngSwitch]="config.status">
                <ng-container *ngSwitchCase="'loading'">
                    <app-loader-embed [isDisplayed]="true"></app-loader-embed>
                </ng-container>
                <ng-container *ngSwitchCase="'error'">
                    <div class="error-state">
                        <span>Error loading payments</span>
                        <button pButton>Retry</button>
                    </div>
                </ng-container>
                <ng-container *ngSwitchCase="'success'">
                    <div class="content-header-container">
                        <h2>Payments</h2>
                        <ng-container *ngIf="addPermission">
                            <button
                                [appPermission]="addPermission"
                                pButton
                                class="btn btn-primary add"
                                icon="pi pi-plus"
                                (click)="openPaymentModal()"
                            >
                                Post a Payment
                            </button>
                        </ng-container>
                    </div>
                    <form [formGroup]="paymentControls">
                        <div class="filter-items">
                            <div class="filter-item">
                                <label htmlFor="startDate">From</label>
                                <p-calendar
                                    #startDate
                                    appendTo="body"
                                    [showIcon]="true"
                                    styleClass="calendar-icon"
                                    dateFormat="mm/dd/yy"
                                    placeholder="Start date"
                                    formControlName="startDate"
                                    [selectOtherMonths]="true"
                                ></p-calendar>
                            </div>
                            <div class="filter-item">
                                <label htmlFor="endDate">To</label>
                                <p-calendar
                                    #endDate
                                    appendTo="body"
                                    [showIcon]="true"
                                    styleClass="calendar-icon"
                                    dateFormat="mm/dd/yy"
                                    placeholder="End date"
                                    formControlName="endDate"
                                    [selectOtherMonths]="true"
                                ></p-calendar>
                            </div>
                        </div>
                    </form>
                    <ng-container
                        *ngIf="
                            config.payments && config.payments.length > 0;
                            noPayments
                        "
                    >
                        <div class="table-container">
                            <p-table
                                #paymentsTable
                                [value]="config.payments"
                                styleClass="invoice-list-table"
                                [scrollable]="true"
                                dataKey="agentInvoicePaymentId"
                                [tableStyle]="{ width: '100%' }"
                                [rows]="50"
                                [rowsPerPageOptions]="[50, 100, 200]"
                                [paginator]="true"
                                [showCurrentPageReport]="true"
                                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                                [globalFilterFields]="[
                                    'notes',
                                    'paymentType',
                                    'createdDate'
                                ]"
                            >
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>Date</th>
                                        <th>Name</th>
                                        <th>Payment Type</th>
                                        <th>Payment Amount</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-item>
                                    <tr>
                                        <td>
                                            {{
                                                (item.paymentDate | date) ||
                                                    (item.createdDate | date) ||
                                                    '-'
                                            }}
                                        </td>
                                        <td>{{ item.agentName || '-' }}</td>
                                        <td>
                                            {{
                                                getPaymentName(item.paymentType)
                                            }}
                                        </td>
                                        <td>
                                            {{
                                                (item.amount
                                                    | currency : 'USD') || '-'
                                            }}
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </ng-container>
                    <ng-template #noPayments>
                        <div class="empty-state">
                            <span>You don't have any invoices.</span>
                        </div>
                    </ng-template>
                </ng-container>
            </ng-container>
        </ng-container>
    </div>
</div>

<!-- modals -->
<app-add-payment-modal></app-add-payment-modal>
