<ng-container *ngIf="tourItems">
    <div class="table-container">
        <p-table
            [value]="tourItems || []"
            styleClass="tour-included-table"
            [paginator]="true"
            [rows]="20"
            [rowsPerPageOptions]="[10, 20, 50]"
            [tableStyle]="{ width: '100%' }"
            [scrollable]="true"
            [showCurrentPageReport]="true"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        >
            <ng-template pTemplate="header">
                <tr>
                    <th>Items</th>
                    <th
                        alignFrozen="right"
                        pFrozenColumn
                        class="action"
                        [appPermission]="{
                        features: [{

                            feature:
                                features.toursAndServicesEdit.name,
                            page: features.toursAndServicesEdit.pages
                                .included.name,
                            pageFeature: [
                                features.toursAndServicesEdit.pages
                                    .included
                                    .features.editItem.name,
                                    features.toursAndServicesEdit.pages
                                    .included
                                    .features.deleteItem.name
                            ],
                            pageFeatureCheck: 'or',
                        }],
                        mode: 'none'
                    }"
                    ></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item>
                <tr>
                    <td>{{ item.description }}</td>
                    <td
                        alignFrozen="right"
                        pFrozenColumn
                        class="action"
                        [appPermission]="{
                        features: [{

                            feature:
                                features.toursAndServicesEdit.name,
                            page: features.toursAndServicesEdit.pages
                                .included.name,
                            pageFeature: [
                                features.toursAndServicesEdit.pages
                                    .included
                                    .features.editItem.name,
                                    features.toursAndServicesEdit.pages
                                    .included
                                    .features.deleteItem.name
                            ],
                            pageFeatureCheck: 'or',
                        }],
                        mode: 'none'
                    }"
                    >
                        <div class="action-column">
                            <button
                                pButton
                                class="btn btn-light-gray"
                                pTooltip="Edit"
                                tooltipPosition="left"
                                (click)="openEditTourIncludedModal(item)"
                                [appPermission]="{
                                    features: [{
            
                                        feature:
                                            features.toursAndServicesEdit.name,
                                        page: features.toursAndServicesEdit.pages
                                            .included.name,
                                        pageFeature: [
                                            features.toursAndServicesEdit.pages
                                                .included
                                                .features.editItem.name,
                                                
                                        ],
                                    }],
                                    mode: 'none'
                                }"
                            >
                                <i class="pi pi-pencil"></i>
                            </button>
                            <button
                                pButton
                                class="btn btn-red"
                                pTooltip="Delete"
                                tooltipPosition="left"
                                (click)="openRemoveTourIncludedModal(item)"
                                [appPermission]="{
                                    features: [{
            
                                        feature:
                                            features.toursAndServicesEdit.name,
                                        page: features.toursAndServicesEdit.pages
                                            .included.name,
                                        pageFeature: [
                                                features.toursAndServicesEdit.pages
                                                .included
                                                .features.deleteItem.name
                                        ],
                                    }],
                                    mode: 'none'
                                }"
                            >
                                <i class="pi pi-trash"></i>
                            </button>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</ng-container>
