<ng-container
    *ngIf="{
        isOpen: (isOpen$ | async) || false,
        context: context$ | async,
        status: status$ | async,
    } as data"
>
    <p-dialog
        [(visible)]="data.isOpen"
        (onHide)="close()"
        [modal]="true"
        [style]="{ width: '60vw', height: 'auto' }"
        styleClass="edit-tour-price-modal"
        [breakpoints]="{ '720px': '95vw' }"
        [showHeader]="false"
        [draggable]="false"
        [resizable]="false"
        [dismissableMask]="true"
        appendTo="body"
        [focusOnShow]="false"
    >
        <div class="modal-inner-container">
            <div class="modal-header">
                <h2>Edit Tour Price</h2>
            </div>
            <p-divider></p-divider>
            <form
                class="modal-body"
                [formGroup]="editTourPriceForm"
                (ngSubmit)="updateTourPrice()"
            >
                <div class="tour-price-items">
                    <div class="tour-price-item">
                        <label for="startDate">Start Date</label>
                        <p-calendar
                            id="startDate"
                            dateFormat="mm/dd/yy"
                            formControlName="startDate"
                            appendTo="body"
                            [showIcon]="true"
                            styleClass="calendar-icon"
                            [selectOtherMonths]="true"
                        >
                        </p-calendar>
                    </div>
                    <div class="tour-price-item">
                        <label for="adultPrice">Adult Price</label>
                        <div class="p-element p-inputgroup">
                            <div class="p-element p-inputgroup-addon">$</div>
                            <input
                                type="number"
                                id="adultPrice"
                                min="1"
                                formControlName="adultPrice"
                                pInputText
                            />
                        </div>
                    </div>
                    <div class="tour-price-item">
                        <label for="childPrice">Child Price</label>
                        <div class="p-element p-inputgroup">
                            <div class="p-element p-inputgroup-addon">$</div>
                            <input
                                type="number"
                                min="1"
                                id="childPrice"
                                formControlName="childPrice"
                                pInputText
                            />
                        </div>
                    </div>
                </div>
                <div class="btn-container">
                    <ng-container *ngIf="data.status === 'error'">
                        <div>
                            <span class="text-error"
                                >Failed to update tour price</span
                            >
                        </div>
                    </ng-container>

                    <button
                        pButton
                        type="button"
                        class="btn btn-primary-inverse"
                        [disabled]="data.status === 'loading'"
                        (click)="close()"
                    >
                        Cancel
                    </button>
                    <button
                        pButton
                        type="submit"
                        class="btn btn-primary"
                        [loading]="data.status === 'loading'"
                    >
                        Save
                    </button>
                </div>
            </form>
        </div>
    </p-dialog>
</ng-container>
