<ng-container *ngIf="day">
    <div class="date-number">
        <span> {{ day.date | date : 'dd' }}</span>
    </div>
    <div class="month-cell-container">
        <ng-container *ngIf="day.events | tourCount as tourCounts">
            <ng-container *ngIf="tourCounts.released > 0">
                <div
                    class="inventory-container released"
                    (click)="releasedInventoriesOverlay.toggle($event)"
                >
                    <span class="body-m">
                        {{ tourCounts.released }} Released Inventories
                    </span>
                </div>
                <p-overlayPanel #releasedInventoriesOverlay appendTo="body">
                    <ng-template pTemplate="content">
                        <div class="tour-overlay-container month">
                            <span class="body-l font-medium"
                                >Released Inventories</span
                            >
                            <ng-container
                                *ngFor="
                                    let tourDetails of tourCounts.releasedDetails
                                "
                            >
                                <div class="tour-container">
                                    <span class="body-m">{{
                                        tourDetails.startTime | date : 'hh:mm a'
                                    }}</span>
                                    <span class="body-m font-medium">{{
                                        tourDetails.tourName
                                    }}</span>
                                    <div
                                        class="allocation-container"
                                        [style.backgroundColor]="
                                            tourDetails.background
                                        "
                                        [style.borderColor]="tourDetails.color"
                                        [style.color]="tourDetails.color"
                                    >
                                        <ng-container
                                            *ngIf="
                                                tourDetails.shipId !== null;
                                                else bookDirectReleased
                                            "
                                        >
                                            <span class="body-m"
                                                >Released to
                                                {{ tourDetails.cruiseLineName }}
                                                <ng-container
                                                    *ngIf="tourDetails.extras"
                                                >
                                                    -
                                                    {{
                                                        tourDetails.extras
                                                            .seatsSold || '0'
                                                    }}/{{
                                                        tourDetails.extras
                                                            .seatsAllocated ||
                                                            '0'
                                                    }}
                                                    Sold
                                                </ng-container>
                                            </span>
                                        </ng-container>
                                        <ng-template #bookDirectReleased>
                                            <span class="body-m"
                                                >Released to Book Direct
                                                <ng-container
                                                    *ngIf="tourDetails.extras"
                                                >
                                                    -
                                                    {{
                                                        tourDetails.extras
                                                            .seatsSold || '0'
                                                    }}/{{
                                                        tourDetails.extras
                                                            .seatsAllocated ||
                                                            '0'
                                                    }}
                                                    Sold
                                                </ng-container></span
                                            >
                                        </ng-template>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </ng-template>
                </p-overlayPanel>
            </ng-container>
            <ng-container *ngIf="tourCounts.allocated > 0">
                <div
                    class="inventory-container allocated"
                    (click)="allocatedInventoriesOverlay.toggle($event)"
                >
                    <span class="body-m">
                        {{ tourCounts.allocated }} Allocated Inventories
                    </span>
                </div>
                <p-overlayPanel #allocatedInventoriesOverlay appendTo="body">
                    <ng-template pTemplate="content">
                        <div class="tour-overlay-container month">
                            <span class="body-l font-medium"
                                >Allocated Inventories</span
                            >
                            <ng-container
                                *ngFor="
                                    let tourDetails of tourCounts.allocatedDetails
                                "
                            >
                                <div class="tour-container">
                                    <span class="body-m">{{
                                        tourDetails.startTime | date : 'hh:mm a'
                                    }}</span>
                                    <span class="body-m font-medium">{{
                                        tourDetails.tourName
                                    }}</span>
                                    <div
                                        class="allocation-container"
                                        [style.borderColor]="tourDetails.color"
                                        [style.color]="tourDetails.color"
                                    >
                                        <ng-container
                                            *ngIf="
                                                tourDetails.shipId !== null;
                                                else bookDirectReleased
                                            "
                                        >
                                            <span class="body-m"
                                                >Allocated to
                                                {{ tourDetails.cruiseLineName }}
                                                <ng-container
                                                    *ngIf="
                                                        tourDetails.maxCapacity
                                                    "
                                                >
                                                    (Max:
                                                    {{
                                                        tourDetails.maxCapacity ||
                                                            '0'
                                                    }})
                                                </ng-container></span
                                            >
                                        </ng-container>
                                        <ng-template #bookDirectReleased>
                                            <span class="body-m"
                                                >Allocated to Book Direct
                                                <ng-container
                                                    *ngIf="
                                                        tourDetails.maxCapacity
                                                    "
                                                >
                                                    (Max:
                                                    {{
                                                        tourDetails.maxCapacity ||
                                                            '0'
                                                    }})
                                                </ng-container></span
                                            >
                                        </ng-template>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </ng-template>
                </p-overlayPanel>
            </ng-container>
            <ng-container *ngIf="tourCounts.unallocated > 0">
                <div
                    class="inventory-container unallocated"
                    (click)="unallocatedInventoriesOverlay.toggle($event)"
                >
                    <span class="body-m">
                        {{ tourCounts.unallocated }} Unallocated Inventories
                    </span>
                </div>
                <p-overlayPanel #unallocatedInventoriesOverlay appendTo="body">
                    <ng-template pTemplate="content">
                        <div class="tour-overlay-container month">
                            <span class="body-l font-medium"
                                >Unallocated Inventories</span
                            >
                            <ng-container
                                *ngFor="
                                    let tourDetails of tourCounts.unallocatedDetails
                                "
                            >
                                <div class="tour-container">
                                    <span class="body-m">{{
                                        tourDetails.startTime | date : 'hh:mm a'
                                    }}</span>
                                    <span class="body-m font-medium"
                                        >{{ tourDetails.tourName
                                        }}<ng-container
                                            *ngIf="tourDetails.maxCapacity"
                                        >
                                            <span class="body-m">
                                                (Max:
                                                {{
                                                    tourDetails.maxCapacity ||
                                                        '0'
                                                }})
                                            </span>
                                        </ng-container>
                                    </span>
                                </div>
                            </ng-container>
                        </div>
                    </ng-template>
                </p-overlayPanel>
            </ng-container>

            <!-- no inventory on that day -->
            <ng-container
                *ngIf="
                    tourCounts.released === 0 &&
                    tourCounts.allocated === 0 &&
                    tourCounts.unallocated === 0
                "
            >
                <div class="empty-container">
                    <span class="body-l font-medium"> 0 Inventory </span>
                    <ng-container
                        *ngIf="
                            displayAddUnallocatedButton &&
                            addUnallocatedPermission
                        "
                    >
                        <button
                            pButton
                            (click)="addUnallocatedInventory()"
                            class="btn btn-primary-inverse"
                            [appPermission]="addUnallocatedPermission"
                        >
                            <i class="pi pi-plus"></i>
                        </button>
                    </ng-container>
                </div>
            </ng-container>
        </ng-container></div
></ng-container>
