<ng-container
    *ngIf="{
        isOpen: (isOpen$ | async) || false,
        tour: tour$ | async,
        status: status$ | async,
    } as data"
>
    <p-dialog
        [(visible)]="data.isOpen"
        (onHide)="close()"
        [modal]="true"
        [style]="{ width: '60vw', height: 'auto', 'max-width': '640px' }"
        styleClass="delete-selected-tour-inventory-modal"
        [breakpoints]="{ '768px': '95vw' }"
        [showHeader]="false"
        [draggable]="false"
        [resizable]="false"
        [dismissableMask]="true"
        appendTo="body"
    >
        <div class="modal-inner-container">
            <ng-container
                *ngIf="
                    data.tour &&
                        data.tour.passengerSold &&
                        data.tour.passengerSold > 0;
                    else allowDelete
                "
            >
                <div class="modal-header modal-header-disabled">
                    <span class="h4">
                        <i class="pi pi-exclamation-circle"></i>
                        This departure may not be deleted as it contains active
                        bookings.
                    </span>
                    <span class="body"
                        >Please either move or cancel the associated bookings in
                        order to delete this departure</span
                    >
                    <p-divider></p-divider>
                </div>
            </ng-container>
            <ng-template #allowDelete>
                <div class="modal-header">
                    <h2>
                        Are you sure you want to delete the following inventory?
                    </h2>
                </div>
            </ng-template>
            <div class="content-container">
                <ng-container *ngIf="data.tour as tour">
                    <span class="h4">
                        {{ tour.tourName }}
                    </span>
                    <div class="row-container">
                        <ng-container *ngIf="tour.shipId === null">
                            <span class="body">Allocated to Book Direct</span>
                        </ng-container>
                        <ng-container
                            *ngIf="tour.shipId !== null && tour.shipId >= 1"
                        >
                            <span class="body"
                                >Allocated to {{ tour.cruiseShipName }}</span
                            >
                        </ng-container>
                        <ng-container
                            *ngIf="tour.shipId !== null && tour.shipId < 1"
                        >
                            <span class="body">Allocated to Book Direct</span>
                        </ng-container>
                    </div>
                    <div class="row-container">
                        <i class="pi pi-calendar"></i>
                        <span class="body">{{
                            tour.tourInventoryDateString
                        }}</span>
                    </div>
                    <div class="row-container">
                        <i class="pi pi-clock"></i>
                        <span class="body">{{
                            tour.tourInventoryTimeString
                        }}</span>
                    </div>
                    <div class="row-container">
                        <span><i class="pi pi-users"></i></span>
                        <span
                            >{{ tour.tourInventoryAllocatedSeats || '-' }} Seats
                            Allocated</span
                        >
                    </div>
                    <div class="row-container">
                        <span><i class="pi pi-receipt"></i></span>
                        <span
                            >{{ tour.passengerSold || '0' }} Seats Sold ({{
                                tour.percentageSold
                            }}%)</span
                        >
                    </div>
                </ng-container>
            </div>
            <ng-container *ngIf="data.tour">
                <ng-container
                    *ngIf="
                        data.tour.passengerSold && data.tour.passengerSold > 0;
                        else allowDeleteActions
                    "
                >
                    <div class="actions-container">
                        <button
                            pButton
                            class="btn btn-primary-inverse"
                            [disabled]="data.status === 'loading'"
                            (click)="close()"
                        >
                            Close
                        </button>
                    </div>
                </ng-container>
                <ng-template #allowDeleteActions>
                    <div class="actions-container">
                        <ng-container *ngIf="data.status === 'error'">
                            <span class="text-error"
                                >Failed to delete tour</span
                            >
                        </ng-container>
                        <button
                            pButton
                            class="btn btn-primary-inverse"
                            [disabled]="data.status === 'loading'"
                            (click)="close()"
                        >
                            Cancel
                        </button>
                        <button
                            pButton
                            class="btn btn-danger"
                            [loading]="data.status === 'loading'"
                            (click)="deleteTourInventory(data.tour)"
                        >
                            Delete Tour
                        </button>
                    </div>
                </ng-template>
            </ng-container>
        </div>
    </p-dialog>
</ng-container>
