<div class="inventory-list-container">
    <p-dataView [value]="inventories || []" [rows]="20" [paginator]="true">
        <ng-template let-inventories pTemplate="list">
            <ng-container *ngFor="let item of inventories">
                <div class="inventory-item">
                    <div class="item-content-container">
                        <div class="header-container">
                            <span class="h4">{{ item.tourName }}</span>
                            <div class="inventory-item-actions">
                                <button
                                    pButton
                                    aria-label="notify"
                                    pTooltip="Send notification"
                                    tooltipPosition="left"
                                    class="btn btn-light-gray"
                                    (click)="onNotify(item)"
                                    [appPermission]="{
                                        features: [{

                                            feature:
                                                features.inventoryManagement.name,
                                            page: features.inventoryManagement.pages
                                                .recentlyReleasedInventories.name,
                                            pageFeature: [
                                                features.inventoryManagement.pages
                                                    .recentlyReleasedInventories
                                                    .features.sendNotification.name
                                            ],
                                        }],
                                        mode: 'none'
                                    }"
                                >
                                    <i class="pi pi-envelope"></i>
                                </button>
                                <button
                                    pButton
                                    aria-label="dismiss"
                                    pTooltip="Dismiss"
                                    tooltipPosition="left"
                                    class="btn btn-red"
                                    (click)="onDismiss(item)"
                                    [appPermission]="{
                                        features: [{

                                            feature:
                                                features.inventoryManagement.name,
                                            page: features.inventoryManagement.pages
                                                .recentlyReleasedInventories.name,
                                            pageFeature: [
                                                features.inventoryManagement.pages
                                                    .recentlyReleasedInventories
                                                    .features.dismissNotification
                                                    .name
                                            ],
                                        }],
                                        mode: 'none'
                                    }"
                                >
                                    <i class="pi pi-trash"></i>
                                </button>
                            </div>
                        </div>
                        <span
                            >Released to {{ item.shipName }}
                            <ng-container *ngIf="item.shipCompanyName"
                                >({{ item.shipCompanyName }})</ng-container
                            ></span
                        >
                        <div class="field-container">
                            <i class="pi pi-map-marker"></i>
                            <span>{{ item.portName }}</span>
                        </div>
                        <div class="field-container">
                            <i class="pi pi-calendar"></i>
                            <span
                                >{{
                                    item.unallocatedTourInventoryDate
                                        | date : 'MM/dd/yyyy'
                                }}
                                {{ item.unallocatedTourInventoryTime }}</span
                            >
                        </div>
                        <div class="field-container">
                            <i class="pi pi-users"></i>
                            <span
                                >{{
                                    item.unallocatedTourInventoryAllocatedSeats
                                }}
                                Seats</span
                            >
                        </div>
                    </div>
                </div>
                <p-divider></p-divider>
            </ng-container>
        </ng-template>
    </p-dataView>
</div>
