<ng-container
    *ngIf="{
        tours: tours$ | async,
        tourDetails: tourDetails$ | async,
        status: status$ | async
    } as data"
>
    <div class="inventory-update-container">
        <ng-container *ngIf="data.tourDetails as tourDetails">
            <div class="tour-details-container">
                <span class="h4">
                    {{ tourDetails.tourName }}
                </span>
                <span
                    >{{ tourDetails.selectedInventoriesCount }}
                    {{
                        tourDetails.selectedInventoriesCount === 1
                            ? 'inventory'
                            : 'inventories'
                    }}
                    selected</span
                >
            </div>
        </ng-container>
        <form [formGroup]="editInventoryForm">
            <div class="form-item full-width">
                <label for="tour">Select Tour</label>
                <p-dropdown
                    styleClass="tour-dropdown"
                    formControlName="tour"
                    optionLabel="tourName"
                    placeholder="Select Tour"
                    optionValue="tourId"
                    [options]="data.tours || []"
                    appendTo="body"
                ></p-dropdown>
            </div>
            <div class="form-item">
                <label for="seats">Seats per Tour</label>
                <p-inputNumber
                    formControlName="seats"
                    placeholder="Seats per Tour"
                />
            </div>
            <div class="form-item">
                <label for="fromTime">Departure Time</label>
                <p-calendar
                    [defaultDate]="defaultTime"
                    [showIcon]="true"
                    [timeOnly]="true"
                    styleClass="p-calendar-timeonly"
                    formControlName="fromTime"
                    appendTo="body"
                    hourFormat="12"
                    [stepMinute]="5"
                    [selectOtherMonths]="true"
                    [selectOtherMonths]="true"
                    (onFocus)="focusFromTime()"
                ></p-calendar>
            </div>
        </form>

        <div class="update-action">
            <ng-container *ngIf="data.status === 'error'">
                <div>
                    <span class="text-error">Failed to delete inventory</span>
                </div>
            </ng-container>
            <button
                pButton
                class="btn btn-primary-inverse"
                [disabled]="data.status === 'loading'"
                (click)="onBack()"
            >
                Back
            </button>
            <button
                pButton
                class="btn btn-primary"
                [loading]="data.status === 'loading'"
                (click)="updateTour()"
            >
                Update
            </button>
        </div>
    </div>
</ng-container>
