<div class="container">
    <div class="header-container">
        <h1>
            <a [routerLink]="['../../main-page/agents']">Booking Management</a>
        </h1>
        <i class="pi pi-angle-right"></i>
        <h1 class="current">
            <ng-container *ngIf="agentEditState.agentDetails$ | async as agent">
                Agent Management - {{ agent.partnerName || '' }}
            </ng-container>
        </h1>
    </div>

    <div class="main-content-container">
        <div
            class="nav-container"
            [appPermission]="{
                features: [
                    {
                        feature: features.bookingManagementAgentEdit.name,
                        page: features.bookingManagementAgentEdit.pages.account.name,
                    },
                    {
                        feature: features.bookingManagementAgentEdit.name,
                        page: features.bookingManagementAgentEdit.pages.agreements.name,
                    },
                    {
                        feature: features.bookingManagementAgentEdit.name,
                        page: features.bookingManagementAgentEdit.pages.bookings.name,
                    },
                    {
                        feature: features.bookingManagementAgentEdit.name,
                        page: features.bookingManagementAgentEdit.pages.payments.name,
                    },
                    {
                        feature: features.bookingManagementAgentEdit.name,
                        page: features.bookingManagementAgentEdit.pages.statements.name,
                    },
                ],
                featureCheck: 'atleastOne',
                mode: 'none'
            }"
        >
            <ng-container
                *ngIf="
                    bookingManagementAgentEditNavOptions$
                        | async as bookingManagementAgentEditNavOptions
                "
            >
                <ng-container
                    *ngFor="let option of bookingManagementAgentEditNavOptions"
                >
                    <a
                        routerLinkActive="active"
                        #rla="routerLinkActive"
                        [routerLink]="option.path"
                    >
                        <span>{{ option.displayName }}</span>
                    </a>
                </ng-container>
            </ng-container>
        </div>
        <router-outlet></router-outlet>
    </div>
</div>
