<ng-container
    *ngIf="{
        isOpen: (isOpen$ | async) || false,
        tour: tour$ | async,
        submitStatus: submitStatus$ | async,
    } as data"
>
    <p-dialog
        [(visible)]="data.isOpen"
        (onHide)="close()"
        [modal]="true"
        [style]="{ width: '60vw', height: 'auto' }"
        styleClass="allocate-selected-inventory-modal"
        [breakpoints]="{ '768px': '100vw' }"
        [showHeader]="false"
        [draggable]="false"
        [resizable]="false"
        [dismissableMask]="true"
        appendTo="body"
    >
        <div class="modal-inner-container">
            <div class="modal-header">
                <h2>Select a ship to allocate the following inventory</h2>
            </div>
            <div class="content-container">
                <ng-container *ngIf="data.tour as tour">
                    <span class="h4">
                        {{ tour.description }}
                    </span>
                    <div class="row-container">
                        <i class="pi pi-calendar"></i>
                        <span class="body">{{
                            tour.start | date : 'MM/dd/yyyy'
                        }}</span>
                    </div>
                    <div class="row-container">
                        <i class="pi pi-clock"></i>
                        <span class="body">{{
                            tour.start | date : 'hh:mm a'
                        }}</span>
                    </div>
                    <div class="row-container">
                        <span><i class="pi pi-users"></i></span>
                        <span>{{ tour.capacity || '-' }} Seats Allocated</span>
                    </div>

                    <div class="row-container">
                        <form [formGroup]="allocateInventoryForm">
                            <ng-container
                                *ngIf="shipOptions$ | async as shipOptions"
                            >
                                <div class="info-container">
                                    <label>Select Ship</label>
                                    <p-dropdown
                                        id="ship"
                                        name="ship"
                                        formControlName="ship"
                                        autocomplete="off"
                                        optionLabel="label"
                                        styleClass="full-width"
                                        placeholder="Select a Ship"
                                        [autoDisplayFirst]="false"
                                        [options]="shipOptions || []"
                                        [showClear]="true"
                                        appendTo="body"
                                    ></p-dropdown>
                                </div>
                            </ng-container>
                        </form>
                    </div>
                </ng-container>
            </div>
            <ng-container *ngIf="data.submitStatus?.allocate === 'error'">
                <div>
                    <span class="text-error">Failed to allocate inventory</span>
                </div>
            </ng-container>
            <ng-container *ngIf="data.submitStatus?.release === 'error'">
                <div>
                    <span class="text-error">Failed to release inventory</span>
                </div>
            </ng-container>
            <ng-container *ngIf="data.tour">
                <div class="allocate-allocated-action">
                    <button
                        pButton
                        class="btn btn-primary-inverse"
                        [disabled]="
                            data.submitStatus?.allocate === 'loading' ||
                            data.submitStatus?.release === 'loading'
                        "
                        (click)="close()"
                    >
                        Cancel
                    </button>
                    <button
                        pButton
                        class="btn btn-primary"
                        [loading]="data.submitStatus?.allocate === 'loading'"
                        (click)="onAllocateInventory(data.tour)"
                    >
                        Allocate Inventory
                    </button>
                    <button
                        pButton
                        class="btn btn-primary"
                        [loading]="data.submitStatus?.release === 'loading'"
                        (click)="onReleaseInventory(data.tour)"
                    >
                        Release Inventory
                    </button>
                </div>
            </ng-container>
        </div>
    </p-dialog>
</ng-container>
