<ng-container *ngIf="userEvaluations">
    <div class="user-evaluations-container">
        <p-table
            [value]="userEvaluations || []"
            styleClass="user-evaluations-table"
            [tableStyle]="{ 'min-width': '50rem' }"
            [paginator]="true"
            [rows]="20"
            [rowsPerPageOptions]="[10, 20, 50]"
            [scrollable]="true"
            [showCurrentPageReport]="true"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        >
            <ng-template pTemplate="header">
                <tr>
                    <th>Type</th>
                    <th>Date</th>
                    <th>Active</th>
                    <th>Document</th>
                    <th
                        alignFrozen="right"
                        pFrozenColumn
                        [appPermission]="{
                            features: [{
                                feature: features.userManagementEdit.name,
                                page: features.userManagementEdit.pages.evaluations
                                    .name,
                                pageFeature: [
                                    features.userManagementEdit.pages.evaluations
                                        .features.evaluationsUpdate.name,
                                    features.userManagementEdit.pages.evaluations
                                        .features.evaluationsDelete.name
                                ],
                                pageFeatureCheck: 'or',
                            }],
                            mode: 'none'
                        }"
                    >
                        Action
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item>
                <tr>
                    <td>
                        <span class="evaluation-type">{{ item.type }}</span>
                    </td>
                    <td>{{ item.formDate | date : 'MM/dd/yyyy' }}</td>
                    <td>
                        <span class="evaluation-type">{{ item.isActive }}</span>
                    </td>
                    <td class="document-container">
                        <ng-container *ngIf="item.formPath; else noDocument">
                            <div class="link-container">
                                <div class="text-container">
                                    <a [href]="item.formPath" target="_blank"
                                        >{{ item.formPath.split('\/').pop() }}
                                    </a>
                                </div>
                                <i class="pi pi-external-link"></i>
                            </div>
                        </ng-container>
                        <ng-template #noDocument>
                            <span>No Document Uploaded</span>
                        </ng-template>
                    </td>
                    <td
                        alignFrozen="right"
                        pFrozenColumn
                        [appPermission]="{
                            features: [{
                                feature: features.userManagementEdit.name,
                                page: features.userManagementEdit.pages.evaluations
                                    .name,
                                pageFeature: [
                                    features.userManagementEdit.pages.evaluations
                                        .features.evaluationsUpdate.name,
                                    features.userManagementEdit.pages.evaluations
                                        .features.evaluationsDelete.name
                                ],
                                pageFeatureCheck: 'or',
                            }],
                            mode: 'none'
                        }"
                    >
                        <div class="action-column">
                            <button
                                pButton
                                icon="pi pi-pencil"
                                class="p-button-text edit"
                                pTooltip="Edit"
                                tooltipPosition="left"
                                (click)="openEditEvaluationModal(item)"
                                [appPermission]="{
                                features: [{
                                    feature: features.userManagementEdit.name,
                                    page: features.userManagementEdit.pages
                                        .evaluations.name,
                                    pageFeature: [
                                        features.userManagementEdit.pages
                                            .evaluations.features.evaluationsUpdate
                                            .name
                                    ],
                                    pageFeatureCheck: 'or',
                                }],
                                mode: 'none'
                            }"
                            ></button>
                            <button
                                pButton
                                icon="pi pi-trash"
                                class="p-button-text delete"
                                pTooltip="Delete"
                                tooltipPosition="left"
                                (click)="openRemoveEvaluationModal(item)"
                                [appPermission]="{
                                features: [{
                                    feature: features.userManagementEdit.name,
                                    page: features.userManagementEdit.pages
                                        .evaluations.name,
                                    pageFeature: [
                                        features.userManagementEdit.pages
                                            .evaluations.features.evaluationsDelete
                                            .name
                                    ],
                                    pageFeatureCheck: 'or',
                                }],
                                mode: 'none'
                            }"
                            ></button>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</ng-container>
