<ng-container
    *ngIf="{
        isOpen: (isOpen$ | async) || false,
        context: context$ | async,
        status: status$ | async,
        guides: guides$ | async,
        equipments: equipments$ | async
    } as data"
>
    <p-dialog
        [(visible)]="data.isOpen"
        (onHide)="close()"
        [modal]="true"
        [style]="{ width: '60vw', height: 'auto' }"
        styleClass="update-transportation-dialog"
        [breakpoints]="{ '720px': '95vw' }"
        [showHeader]="false"
        [draggable]="false"
        [resizable]="false"
        [dismissableMask]="true"
        position="center"
        appendTo="body"
    >
        <div class="modal-inner-container">
            <div class="modal-header">
                <h2>Transportation Details</h2>
            </div>
            <ng-container *ngIf="data.context && data.context.assignment">
                <app-modal-tour-details
                    [assignment]="data.context.assignment"
                    [tourDate]="data.context.tourDate"
                ></app-modal-tour-details>
                <form
                    [formGroup]="transportationForm"
                    (ngSubmit)="save(data.context.assignment)"
                >
                    <div class="field-row-container">
                        <!-- guide -->
                        <div class="field-container">
                            <label htmlFor="guideId">Guide</label>
                            <p-dropdown
                                [options]="
                                    data.guides && data.guides.length > 0
                                        ? data.guides
                                        : []
                                "
                                placeholder="Select Guide"
                                formControlName="guideId"
                                [autoDisplayFirst]="false"
                                [showClear]="true"
                                appendTo="body"
                                optionLabel="guideFirstNameNickname"
                                optionValue="guideId"
                                [appPermission]="{
                                    features: [{
                                        feature: features.dailyTourDispatch.name,
                                    page: features.dailyTourDispatch.pages
                                        .dailyTourDispatch.name,
                                    pageFeature: [
                                            features.dailyTourDispatch.pages
                                            .dailyTourDispatch.features
                                            .dockDriverUpdate.name,
                                    ],
                                    pageFeatureCheck: 'or',
                                    }],
                                    mode: 'childDisabled',
                                }"
                            >
                            </p-dropdown>
                        </div>
                    </div>
                    <!-- transportation -->
                    <div class="field-container">
                        <label htmlFor="transportationId">Transportation</label>
                        <p-dropdown
                            [options]="
                                data.equipments && data.equipments.length > 0
                                    ? data.equipments
                                    : []
                            "
                            placeholder="Select Transportation"
                            formControlName="transportationId"
                            [autoDisplayFirst]="false"
                            [showClear]="true"
                            appendTo="body"
                            optionLabel="displayName"
                            optionValue="equipmentID"
                            [appPermission]="{
                                features: [{
                                    feature: features.dailyTourDispatch.name,
                                page: features.dailyTourDispatch.pages
                                    .dailyTourDispatch.name,
                                pageFeature: [
                                        features.dailyTourDispatch.pages
                                        .dailyTourDispatch.features
                                        .transportationUpdate.name,
                                ],
                                pageFeatureCheck: 'or',
                                }],
                                mode: 'childDisabled',
                            }"
                        >
                        </p-dropdown>
                    </div>
                    <div class="action-container">
                        <ng-container *ngIf="data.status === 'error'">
                            <span class="text-error">
                                Unable to update transportation
                            </span>
                        </ng-container>
                        <button
                            pButton
                            type="button"
                            class="btn btn-primary-inverse"
                            (click)="close()"
                            [disabled]="data.status === 'loading'"
                        >
                            Cancel
                        </button>
                        <button
                            pButton
                            class="btn btn-primary"
                            type="submit"
                            [loading]="data.status === 'loading'"
                        >
                            Save
                        </button>
                    </div>
                </form>
            </ng-container>
        </div>
    </p-dialog>
</ng-container>
