<ng-container
    *ngIf="{
        cruiseLines: cruiseLines$ | async,
        cruiseShips: cruiseShips$ | async,
        tours: tours$ | async,
        ports: ports$ | async,
        inventoryManagementInventoryType:
            inventoryManagementInventoryType$ | async,
        filterLoading: filterLoading$ | async,
        allocationDataLoading: allocationDataLoading$ | async
    } as config"
>
    <div
        class="form-container"
        [class.p-disabled]="config.allocationDataLoading === true"
    >
        <button
            pButton
            type="button"
            class="btn btn-text-primary btn-clear"
            (click)="clearFilters()"
        >
            Clear Filters
        </button>
        <form [formGroup]="calendarControlsForm" (ngSubmit)="onSubmit()">
            <div class="tour-container">
                <label for="tours">Select Tours</label>
                <p-multiSelect
                    placeholder="Select all Tours"
                    name="tours"
                    [options]="config.tours || []"
                    [maxSelectedLabels]="50"
                    formControlName="tours"
                    placeholder="Select tours"
                    optionValue="tourId"
                    optionLabel="tourName"
                    filterPlaceHolder="Select All"
                    display="chip"
                    [dropdownIcon]="
                        config.filterLoading?.tours === true
                            ? 'pi pi-spinner pi-spin'
                            : 'pi pi-chevron-down'
                    "
                >
                </p-multiSelect>
            </div>
            <div class="column-container">
                <div class="row-container">
                    <!-- dates -->
                    <div class="control-container">
                        <label for="startDate">From</label>
                        <p-calendar
                            #startDate
                            appendTo="body"
                            [showIcon]="true"
                            styleClass="calendar-icon"
                            dateFormat="mm/dd/yy"
                            placeholder="Start date"
                            formControlName="startDate"
                            [selectOtherMonths]="true"
                        ></p-calendar>
                    </div>
                    <div class="control-container">
                        <label for="endDate">To</label>
                        <p-calendar
                            #endDate
                            appendTo="body"
                            [showIcon]="true"
                            styleClass="calendar-icon"
                            dateFormat="mm/dd/yy"
                            placeholder="End date"
                            formControlName="endDate"
                            [selectOtherMonths]="true"
                        ></p-calendar>
                    </div>
                </div>
                <!-- ships -->
                <div class="row-container">
                    <div class="control-container">
                        <label for="cruise">Select Cruise Line</label>
                        <p-dropdown
                            id="cruise"
                            name="cruise"
                            formControlName="cruiseLine"
                            autocomplete="off"
                            optionLabel="shipCompanyName"
                            optionValue="shipCompanyId"
                            [autoDisplayFirst]="false"
                            placeholder="Select Cruise Line"
                            [options]="config.cruiseLines || []"
                            [dropdownIcon]="
                                config.filterLoading?.cruiseLines === true
                                    ? 'pi pi-spinner pi-spin'
                                    : 'pi pi-chevron-down'
                            "
                        ></p-dropdown>
                    </div>
                    <div class="control-container">
                        <label for="ship">Select Cruise Ship</label>
                        <p-dropdown
                            id="ship"
                            name="ship"
                            formControlName="ship"
                            autocomplete="off"
                            optionLabel="shipName"
                            optionValue="shipId"
                            placeholder="Select Cruise Ship"
                            [autoDisplayFirst]="false"
                            [options]="config.cruiseShips || []"
                            [showClear]="true"
                            [dropdownIcon]="
                                config.filterLoading?.cruiseShips === true
                                    ? 'pi pi-spinner pi-spin'
                                    : 'pi pi-chevron-down'
                            "
                        ></p-dropdown>
                    </div>
                </div>
                <div class="row-container actions-container">
                    <div class="control-container">
                        <label for="port">Port</label>
                        <p-dropdown
                            id="port"
                            name="port"
                            optionValue="portId"
                            optionLabel="portName"
                            autocomplete="off"
                            placeholder="Select Port"
                            [autoDisplayFirst]="false"
                            [options]="config.ports || []"
                            formControlName="port"
                            [dropdownIcon]="
                                config.filterLoading?.ports === true
                                    ? 'pi pi-spinner pi-spin'
                                    : 'pi pi-chevron-down'
                            "
                        ></p-dropdown>
                    </div>
                    <div class="control-container">
                        <label for="type">Inventory Type</label>
                        <p-dropdown
                            id="type"
                            name="type"
                            class="form-control form-control-custom"
                            autocomplete="off"
                            placeholder="Select Type"
                            pInputText
                            optionValue="id"
                            optionLabel="label"
                            [autoDisplayFirst]="false"
                            [options]="
                                config.inventoryManagementInventoryType || []
                            "
                            formControlName="type"
                        ></p-dropdown>
                    </div>
                </div>
                <button class="btn btn-primary" pButton>Search</button>
            </div>
        </form>
    </div>
</ng-container>
