<nav class="navbar-container">
    <ng-container *ngIf="displayMenuButton">
        <div class="mobile">
            <p-button
                styleClass="p-button-sm btn-gray"
                (click)="onMenuButtonClick()"
            >
                <i class="pi pi-bars" style="font-size: 1rem"></i>
            </p-button>
        </div>
    </ng-container>

    <!-- logo -->
    <a [routerLink]="['/']">
        <img class="logo" [src]="headerLogo" alt="CruiseCode Logo" />
    </a>

    <!-- links -->
    <div class="links-container desktop">
        <ng-container *ngIf="user$ | async as user; else loggedOut">
            <p-button
                styleClass="btn-primary-inverse p-button-sm"
                (click)="logout()"
            >
                <div class="button-inner-container">
                    <i class="pi pi-sign-out"></i>
                    <span>Log Out</span>
                </div>
            </p-button>

            <p-divider layout="vertical"></p-divider>
            <ng-container
                *ngIf="{
                    hasProfileAccess: hasProfileAccess$ | async
                } as config"
            >
                <div
                    class="user-info-container"
                    [class.pointer]="config.hasProfileAccess"
                    (click)="config.hasProfileAccess && navigateToProfile()"
                >
                    <ng-container
                        *ngIf="
                            profilePicture$ | async as profilePicture;
                            else noProfilePicture
                        "
                    >
                        <img [src]="profilePicture" class="profile-picture" />
                    </ng-container>
                    <ng-template #noProfilePicture>
                        <div class="avatar-container">
                            <i class="pi pi-user"></i>
                        </div>
                    </ng-template>
                    <div class="text-container">
                        <span class="name"
                            >{{ user.firstName }} {{ user.lastName }}</span
                        >
                    </div>
                </div>
            </ng-container>
        </ng-container>
    </div>

    <div class="mobile">
        <ng-container *ngIf="mobileMenu$ | async as mobileMenu">
            <p-button
                styleClass="p-button-text p-button-sm padding-0 p-button-rounded"
                (click)="menu.toggle($event)"
            >
                <ng-container *ngIf="user$ | async as user">
                    <ng-container
                        *ngIf="user.profilePicturePath; else noProfilePicture"
                    >
                        <img
                            [src]="user.profilePicturePath"
                            class="profile-picture"
                        />
                    </ng-container>
                    <ng-template #noProfilePicture>
                        <div class="avatar-container">
                            <i class="pi pi-user"></i>
                        </div>
                    </ng-template>
                </ng-container>
            </p-button>
            <p-menu #menu [model]="mobileMenu" [popup]="true" appendTo="body">
            </p-menu>
        </ng-container>
    </div>

    <ng-template #loggedOut>
        <p-button
            styleClass="btn-primary-inverse p-button-sm"
            (click)="login()"
        >
            <div class="button-inner-container">
                <i class="pi pi-sign-in"></i>
                <span>Log In</span>
            </div>
        </p-button>
    </ng-template>
</nav>
