<ng-container
    *ngIf="{
        isOpen: (isOpen$ | async) || false,
        status: status$ | async,
        users: users$ | async,
        departmentInfo: departmentInfo$ | async,
        positionInfo: positionInfo$ | async
    } as data"
>
    <p-dialog
        [(visible)]="data.isOpen"
        (onHide)="close()"
        [modal]="true"
        [style]="{ width: '70vw', height: 'auto', 'max-width': '640px' }"
        styleClass="org-users-modal"
        [breakpoints]="{ '768px': '95vw' }"
        [showHeader]="false"
        [draggable]="false"
        [resizable]="false"
        [dismissableMask]="true"
        appendTo="body"
    >
        <div class="modal-inner-container">
            <ng-container *ngIf="data.departmentInfo">
                <div class="modal-header">
                    <div class="title-container">
                        <span class="h4">{{
                            data.departmentInfo.departmentName
                        }}</span>
                        <button
                            class="btn btn-text btn-close"
                            (click)="close()"
                        >
                            <i class="pi pi-times"></i>
                        </button>
                    </div>
                    <div class="stats-container">
                        <div class="stat-container">
                            <i class="pi pi-warehouse"></i>
                            <span
                                >{{
                                    data.departmentInfo.totalStaffNeeded
                                }}
                                Needed</span
                            >
                        </div>
                        <div
                            class="stat-container"
                            [class.alert]="
                                data.departmentInfo.staffHired <
                                data.departmentInfo.totalStaffNeeded
                            "
                        >
                            <i class="pi pi-users"></i>
                            <span
                                >{{
                                    data.departmentInfo.staffHired
                                }}
                                Hired</span
                            >
                        </div>
                    </div>
                    <p-divider></p-divider>
                </div>
            </ng-container>
            <ng-container *ngIf="data.positionInfo">
                <div class="modal-header">
                    <span class="h4">{{ data.positionInfo.positionName }}</span>
                    <div class="stats-container">
                        <div class="stat-container">
                            <i class="pi pi-warehouse"></i>
                            <span
                                >{{ data.positionInfo.staffCount }} Needed</span
                            >
                        </div>
                        <div
                            class="stat-container"
                            [class.alert]="
                                data.positionInfo.hiredStaffCount <
                                data.positionInfo.staffCount
                            "
                        >
                            <i class="pi pi-users"></i>
                            <span
                                >{{
                                    data.positionInfo.hiredStaffCount
                                }}
                                Hired</span
                            >
                        </div>
                    </div>
                    <p-divider></p-divider>
                </div>
            </ng-container>
            <div class="content-container">
                <ng-container *ngIf="data.status === 'loading'; else usersData">
                    <app-loader-embed [isDisplayed]="true"></app-loader-embed>
                </ng-container>
                <ng-template #usersData>
                    <ng-container
                        *ngIf="
                            data.users && data.users.length > 0;
                            else noUsers
                        "
                    >
                        <div class="users-container">
                            <ng-container *ngFor="let user of data.users">
                                <div class="user-container">
                                    <div class="image-container">
                                        <div class="initials-avatar">
                                            <span>{{ user.initials }}</span>
                                        </div>
                                        <!-- TODO: image doesnt' exist yet -->
                                        <!-- <img [src]=""/> -->
                                    </div>
                                    <div class="user-info-container">
                                        <div class="info-container">
                                            <span class="font-medium"
                                                >{{ user.firstName }}
                                                {{ user.lastName }}</span
                                            >
                                            <span class="body-s">{{
                                                user.email
                                            }}</span>
                                        </div>
                                        <div class="dep-pos-container">
                                            <span class="body-s font-medium">{{
                                                user.departmentName
                                            }}</span>
                                            <span class="body-s">{{
                                                user.positionName
                                            }}</span>
                                        </div>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </ng-container>
                    <ng-template #noUsers>
                        <div class="empty-container">
                            <span>No Users Found</span>
                        </div>
                    </ng-template>
                </ng-template>
            </div>
        </div>
    </p-dialog>
</ng-container>
