<div class="edit-booking-container">
    <ng-container *ngIf="{ status: status$ | async } as data">
        <ng-container
            *ngIf="{
            agentUsers: agentUsers$ | async,
            pickupLocations: pickupLocations$ | async,
            cruiseLines: cruiseLines$ | async,
            cruiseShips: cruiseShips$ | async,
                    } as formDropdowns"
        >
            <ng-container
                *ngIf="
                    formDropdowns.agentUsers &&
                    formDropdowns.pickupLocations &&
                    formDropdowns.cruiseLines
                "
            >
                <form [formGroup]="updateBookingForm" (ngSubmit)="save()">
                    <div class="field-container">
                        <label htmlFor="agent">Agent</label>
                        <p-dropdown
                            [options]="
                                formDropdowns.agentUsers.length > 0
                                    ? formDropdowns.agentUsers
                                    : []
                            "
                            placeholder="Select Agent"
                            formControlName="agent"
                            [autoDisplayFirst]="false"
                            appendTo="body"
                        >
                            <ng-template pTemplate="item" let-agentOption>
                                <span>
                                    {{ agentOption.uniqueName }}
                                </span>
                            </ng-template>
                            <ng-template pTemplate="selectedItem">
                                <span>
                                    {{
                                        updateBookingForm.controls.agent.value
                                            ?.uniqueName
                                    }}:
                                    {{
                                        updateBookingForm.controls.agent.value
                                            ?.contactPersonFirstName
                                    }}
                                    {{
                                        updateBookingForm.controls.agent.value
                                            ?.contactPersonLastName
                                    }}</span
                                >
                            </ng-template>
                        </p-dropdown>
                    </div>
                    <div class="field-container checkbox-container">
                        <p-checkbox
                            formControlName="isComplimentary"
                            inputId="isComplimentary"
                            [binary]="true"
                        ></p-checkbox>
                        <label htmlFor="isComplimentary"
                            >Is Complimentary?</label
                        >
                    </div>
                    <div class="field-outer-contaier">
                        <div class="field-col-container">
                            <div class="field-row-container">
                                <!-- first name -->
                                <div class="field-container">
                                    <label htmlFor="firstName"
                                        >First Name</label
                                    >
                                    <input
                                        pInputText
                                        name="firstName"
                                        label="firstName"
                                        formControlName="firstName"
                                    />
                                </div>

                                <!-- last name -->
                                <div class="field-container">
                                    <label htmlFor="lastName">Last Name</label>
                                    <input
                                        pInputText
                                        name="lastName"
                                        label="lastName"
                                        formControlName="lastName"
                                    />
                                </div>
                            </div>

                            <div class="field-row-container">
                                <!-- phone number -->
                                <div class="field-container">
                                    <label htmlFor="phoneNumber"
                                        >Phone Number</label
                                    >
                                    <app-phone-number
                                        formControlName="phoneNumber"
                                    ></app-phone-number>
                                </div>

                                <!-- email -->
                                <div class="field-container">
                                    <label htmlFor="email">Email</label>
                                    <input
                                        pInputText
                                        name="email"
                                        label="email"
                                        formControlName="email"
                                    />
                                </div>
                            </div>
                        </div>

                        <div class="field-col-container">
                            <div class="participant-fields-container">
                                <!-- adults -->
                                <div class="field-container">
                                    <label htmlFor="adults">Adults</label>
                                    <input
                                        pInputText
                                        name="adults"
                                        label="adults"
                                        type="number"
                                        formControlName="adults"
                                    />
                                </div>

                                <!-- children -->
                                <div class="field-container">
                                    <label htmlFor="children">Children</label>
                                    <input
                                        pInputText
                                        name="children"
                                        label="children"
                                        type="number"
                                        formControlName="children"
                                    />
                                </div>

                                <!-- infants -->
                                <div class="field-container">
                                    <label htmlFor="infants">Infants</label>
                                    <input
                                        pInputText
                                        name="infants"
                                        label="infants"
                                        type="number"
                                        formControlName="infants"
                                    />
                                </div>

                                <div class="field-container">
                                    <label htmlFor="total">Total</label>
                                    <input
                                        pInputText
                                        name="total"
                                        label="total"
                                        type="number"
                                        [disabled]="true"
                                        [value]="
                                            (updateBookingForm.value.adults ||
                                                0) +
                                            (updateBookingForm.value.children ||
                                                0) +
                                            (updateBookingForm.value.infants ||
                                                0)
                                        "
                                    />
                                </div>
                            </div>
                            <div class="field-row-container">
                                <!-- cruise ship -->
                                <div class="field-container">
                                    <label htmlFor="cruiseLine"
                                        >Cruise Line</label
                                    >
                                    <p-dropdown
                                        autocomplete="off"
                                        optionLabel="shipCompanyName"
                                        optionValue="shipCompanyId"
                                        [autoDisplayFirst]="false"
                                        placeholder="Select Cruise Line"
                                        [options]="
                                            formDropdowns.cruiseLines || []
                                        "
                                        [showClear]="true"
                                        formControlName="cruiseLine"
                                        [autoDisplayFirst]="false"
                                        appendTo="body"
                                    >
                                    </p-dropdown>
                                </div>

                                <div class="field-container">
                                    <label htmlFor="ship">Cruise Ship</label>
                                    <p-dropdown
                                        id="ship"
                                        name="ship"
                                        formControlName="ship"
                                        autocomplete="off"
                                        optionLabel="shipName"
                                        optionValue="shipId"
                                        placeholder="Select Cruise Ship"
                                        [autoDisplayFirst]="false"
                                        [options]="
                                            formDropdowns.cruiseShips || []
                                        "
                                        [showClear]="true"
                                        formControlName="shipId"
                                        appendTo="body"
                                    >
                                    </p-dropdown>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="field-row-container">
                        <!-- pickup location -->
                        <div class="field-container">
                            <label htmlFor="pickupLocation"
                                >Pickup Location</label
                            >
                            <p-dropdown
                                [options]="
                                    formDropdowns.pickupLocations.length > 0
                                        ? formDropdowns.pickupLocations
                                        : []
                                "
                                placeholder="Select Pickup Location"
                                optionLabel="pickupLocationName"
                                optionValue="pickupLocationID"
                                formControlName="pickupLocationId"
                                [autoDisplayFirst]="false"
                                [showClear]="true"
                                appendTo="body"
                            >
                            </p-dropdown>
                        </div>
                        <!-- notes -->
                        <div class="field-container">
                            <label htmlFor="notes">Notes</label>
                            <textarea
                                pInputTextarea
                                name="notes"
                                label="notes"
                                formControlName="notes"
                            ></textarea>
                        </div>
                    </div>

                    <div class="actions-container">
                        <ng-container *ngIf="data.status === 'error'">
                            <span class="text-error"
                                >Failed to update booking</span
                            >
                        </ng-container>
                        <button
                            pButton
                            class="btn btn-primary-inverse"
                            [disabled]="data.status === 'loading'"
                            (click)="close()"
                        >
                            Cancel
                        </button>
                        <button
                            pButton
                            class="btn btn-primary"
                            [loading]="data.status === 'loading'"
                            type="submit"
                        >
                            Save
                        </button>
                    </div>
                </form>
            </ng-container>
        </ng-container>
    </ng-container>
</div>
