<div class="main-content">
    <ng-container
        *ngIf="{
        status: status$ | async,
    } as data"
    >
        <div class="header-row">
            <h2>Usage</h2>
        </div>

        <ng-container [ngSwitch]="data.status">
            <ng-container *ngSwitchCase="'loading'">
                <app-loader-embed [isDisplayed]="true"></app-loader-embed>
            </ng-container>
            <ng-container *ngSwitchCase="'error'">
                <div class="error-state">
                    <span>Error loading usage</span>
                    <button pButton (click)="refresh()">Retry</button>
                </div>
            </ng-container>
            <ng-container *ngSwitchCase="'idle'">
                <!-- <ng-container
                    *ngIf="data.; else emptyFormsList"
                > -->
                <app-usage-table></app-usage-table>
                <!-- </ng-container> -->
                <ng-template #emptyFormsList>
                    <div>
                        <span
                            >Has no usage. Fill in the form above to add
                            usage.</span
                        >
                    </div>
                </ng-template>
            </ng-container>
        </ng-container>
    </ng-container>
</div>
<!-- modals -->
