<div class="container manage-allocation-container">
    <div class="manage-allocation-header-container">
        <span class="h2">Inventory Calendar</span>
        <div class="mobile">
            <div class="action-row">
                <button
                    pButton
                    class="btn btn-primary-inverse"
                    (click)="menu.toggle($event)"
                >
                    <i class="pi pi-ellipsis-h"></i>
                </button>
                <button
                    pButton
                    class="btn btn-primary btn-filter"
                    (click)="toggleFilterDrawer()"
                >
                    <i class="pi pi-sliders-v"></i>
                </button>
            </div>
        </div>
        <div class="action-row desktop">
            <div class="button-group">
                <button
                    pButton
                    class="btn"
                    (click)="openAddUnallocatedInventoryModal()"
                    [appPermission]="{
                        features: [{
                            feature: features.inventoryManagement.name,
                            page: features.inventoryManagement.pages
                                .manageAllocation.name,
                            pageFeature: [
                            features.inventoryManagement.pages
                            .manageAllocation.features.addUnallocatedInventory.name
                            ],
                            pageFeatureCheck: 'or',
                        }
                        ],
                        mode: 'none',
                    }"
                >
                    <i class="pi pi-plus"></i>
                    <span>Add Unallocated Inventory</span>
                </button>
                <div
                    [appPermission]="{
                        features: [{
                            feature: features.inventoryManagement.name,
                            page: features.inventoryManagement.pages
                                .manageAllocation.name,
                            pageFeature: [
                            features.inventoryManagement.pages
                            .manageAllocation.features.addUnallocatedInventory.name
                            ],
                            pageFeatureCheck: 'or',
                        }]
                    ,
                    mode: 'none',
                }"
                >
                    <p-divider styleClass="btn-divider"></p-divider>
                </div>
                <div
                    [appPermission]="{
                features: [{

                    feature: features.inventoryManagement.name,
                    page: features.inventoryManagement.pages
                        .manageAllocation.name,
                    pageFeature: [
                    features.inventoryManagement.pages
                    .manageAllocation.features.addUnallocatedInventory.name
                    ],
                    pageFeatureCheck: 'or',
                }],
            mode: 'none',
        }"
                >
                    <p-divider
                        layout="vertical"
                        styleClass="btn-divider"
                    ></p-divider>
                </div>
                <button
                    pButton
                    class="btn"
                    (click)="openAllocateInventoryModal()"
                    [appPermission]="{
                        features: [{

                            feature: features.inventoryManagement.name,
                            page: features.inventoryManagement.pages
                                .manageAllocation.name,
                            pageFeature: [
                            features.inventoryManagement.pages
                            .manageAllocation.features.allocateInventory.name
                            ],
                            pageFeatureCheck: 'or',
                        }],
                        mode: 'none',
                    }"
                >
                    <i class="pi pi-plus"></i>
                    <span>Add Allocated Inventory</span>
                </button>

                <div
                    [appPermission]="{
                        features: [{

                            feature: features.inventoryManagement.name,
                            page: features.inventoryManagement.pages
                                .manageAllocation.name,
                            pageFeature: [
                            features.inventoryManagement.pages
                            .manageAllocation.features.allocateInventory.name
                            ],
                            pageFeatureCheck: 'or',
                        }],
                    mode: 'none',
                }"
                >
                    <p-divider styleClass="btn-divider"></p-divider>
                </div>
                <div
                    [appPermission]="{
                    features: [{

                        feature: features.inventoryManagement.name,
                        page: features.inventoryManagement.pages
                            .manageAllocation.name,
                        pageFeature: [
                        features.inventoryManagement.pages
                        .manageAllocation.features.editInventory.name
                        ],
                        pageFeatureCheck: 'or',
                    }],
                mode: 'none',
            }"
                >
                    <p-divider
                        layout="vertical"
                        styleClass="btn-divider"
                    ></p-divider>
                </div>

                <button
                    pButton
                    class="btn"
                    (click)="openEditInventoryModal()"
                    [appPermission]="{
                        features: [{

                            feature: features.inventoryManagement.name,
                            page: features.inventoryManagement.pages
                                .manageAllocation.name,
                            pageFeature: [
                            features.inventoryManagement.pages
                            .manageAllocation.features.editInventory.name
                            ],
                            pageFeatureCheck: 'or',
                        }],
                        mode: 'none',
                    }"
                >
                    <i class="pi pi-pencil"></i>
                    <span>Edit Inventory</span>
                </button>

                <div
                    [appPermission]="{
                    features: [{
                        feature: features.inventoryManagement.name,
                    page: features.inventoryManagement.pages
                        .manageAllocation.name,
                    pageFeature: [
                    features.inventoryManagement.pages
                    .manageAllocation.features.releaseInventory.name
                    ],
                    pageFeatureCheck: 'or',
                    }],
                    mode: 'none',
                }"
                >
                    <p-divider
                        layout="vertical"
                        styleClass="btn-divider"
                    ></p-divider>
                </div>
                <button
                    pButton
                    class="btn"
                    (click)="openReleaseInventoryModal()"
                    [appPermission]="{
                        features: [{
                            feature: features.inventoryManagement.name,
                        page: features.inventoryManagement.pages
                            .manageAllocation.name,
                        pageFeature: [
                        features.inventoryManagement.pages
                        .manageAllocation.features.releaseInventory.name
                        ],
                        pageFeatureCheck: 'or',
                        }],
                        mode: 'none',
                    }"
                >
                    <i class="pi pi-check"></i>
                    <span>Release Inventory</span>
                </button>
            </div>
            <button
                pButton
                class="btn delete-btn"
                (click)="openDeleteInventoryModal()"
                [appPermission]="{
                    features: [{
                        feature: features.inventoryManagement.name,
                    page: features.inventoryManagement.pages
                        .manageAllocation.name,
                    pageFeature: [
                    features.inventoryManagement.pages
                    .manageAllocation.features.deleteInventory.name
                    ],
                    pageFeatureCheck: 'or',
                    }],
                    mode: 'none',
                }"
            >
                <i class="pi pi-trash"></i>
                <span>Delete Inventory</span>
            </button>
            <button
                pButton
                class="btn btn-primary btn-filter"
                (click)="toggleFilterDrawer()"
            >
                <i class="pi pi-sliders-v"></i>
            </button>
        </div>
    </div>
    <p-divider></p-divider>
    <p-accordion (onClose)="closeFilterDrawer()">
        <p-accordionTab [selected]="(filterIsOpen$ | async) === true">
            <ng-template pTemplate="header"> </ng-template>
            <div class="accordion-content-container">
                <app-calendar-controls></app-calendar-controls>
                <p-divider></p-divider>
            </div>
        </p-accordionTab>
    </p-accordion>

    <div class="secondary-header-container">
        <h2>Available Inventory</h2>
        <div class="view-controls-container">
            <button
                pButton
                class="btn btn-primary-inverse"
                [class.active]="selectedViewOption === 'table'"
                (click)="selectViewOption('table')"
            >
                <i class="pi pi-table"></i>
                Table
            </button>
            <button
                pButton
                class="btn btn-primary-inverse"
                [class.active]="selectedViewOption === 'calendar'"
                (click)="selectViewOption('calendar')"
            >
                <i class="pi pi-calendar"></i>
                Calendar
            </button>
        </div>
    </div>
    <div class="content-container">
        <ng-container *ngIf="manageAllocationInventories$ | async as config">
            <div [class.hidden]="config.status !== 'success'">
                <ng-container
                    *ngIf="
                        selectedViewOption === 'calendar';
                        else inventoryTable
                    "
                >
                    <ng-container
                        *ngIf="calendarConfig$ | async as calendarConfig"
                    >
                        <app-inventory-calendar
                            [config]="calendarConfig"
                            [defaultView]="defaultCalendarView"
                            [displayQuickActions]="true"
                            [displayAddUnallocatedButton]="true"
                            [allowDrag]="true"
                            (addClicked)="onAddClicked()"
                            (allocateInventory)="onAllocateInventory($event)"
                            (releaseInventory)="onReleaseInventory($event)"
                            (deleteInventory)="onDeleteInventory($event)"
                            (editInventory)="onEditInventory($event)"
                            (moveInventory)="onMoveInventory($event)"
                            (viewDateChange)="onViewDateChange($event)"
                            (viewChange)="onViewChange($event)"
                            [addUnallocatedPermission]="{
                                features: [{
                                    feature: features.inventoryManagement.name,
                                    page: features.inventoryManagement.pages
                                        .manageAllocation.name,
                                    pageFeature: [
                                    features.inventoryManagement.pages
                                    .manageAllocation.features.addUnallocatedInventory.name
                                    ],
                                    pageFeatureCheck: 'or',
                                }
                                ],
                                
                                mode: 'none',
                            }"
                            [allocatePermission]="{
                                features: [
                                {

                                    feature: features.inventoryManagement.name,
                                    page: features.inventoryManagement.pages
                                        .manageAllocation.name,
                                    pageFeature: [
                                    features.inventoryManagement.pages
                                    .manageAllocation.features.allocateInventory.name
                                    ],
                                    pageFeatureCheck: 'or',
                                }],
                                mode: 'none',
                            }"
                            [releasePermission]="{
                                features: [{

                                    feature: features.inventoryManagement.name,
                                    page: features.inventoryManagement.pages
                                        .manageAllocation.name,
                                    pageFeature: [
                                    features.inventoryManagement.pages
                                    .manageAllocation.features.releaseInventory.name
                                    ],
                                    pageFeatureCheck: 'or',
                                }],
                                mode: 'none',
                            }"
                            [deletePermission]="{features: [
                                {
        
                                    feature: features.inventoryManagement.name,
                                    page: features.inventoryManagement.pages
                                        .manageAllocation.name,
                                    pageFeature: [
                                    features.inventoryManagement.pages
                                    .manageAllocation.features.deleteInventory.name
                                    ],
                                    pageFeatureCheck: 'or',
                                }],
                                mode: 'none',
                            }"
                            [editPermission]="{
                                features: [
                                {
    
                                    feature: features.inventoryManagement.name,
                                    page: features.inventoryManagement.pages
                                        .manageAllocation.name,
                                    pageFeature: [
                                    features.inventoryManagement.pages
                                    .manageAllocation.features.editInventory.name
                                    ],
                                    pageFeatureCheck: 'or',
                                }],
                                mode: 'none',
                            }"
                        ></app-inventory-calendar>
                    </ng-container>
                </ng-container>
                <ng-template #inventoryTable>
                    <div class="table-container">
                        <app-available-inventory-table></app-available-inventory-table>
                    </div>
                    <div class="list-container">
                        <app-available-inventory-list></app-available-inventory-list>
                    </div>
                </ng-template>
            </div>
            <ng-container *ngIf="config.status === 'error'">
                <div class="error-state">
                    <i class="pi pi-exclamation-circle"></i>
                    <span class="body-xl font-medium"
                        >Error loading inventories</span
                    >
                    <span class="body"
                        >Try setting different search parameters.</span
                    >
                </div>
            </ng-container>
            <ng-container *ngIf="config.status === 'loading'">
                <div class="loader-container">
                    <div class="loader-inner-container">
                        <app-loader-embed
                            [isDisplayed]="true"
                        ></app-loader-embed>
                    </div>
                </div>
            </ng-container>
        </ng-container>
    </div>
</div>

<!-- modals -->
<app-add-unallocated-inventory-modal></app-add-unallocated-inventory-modal>
<app-allocate-inventory-modal></app-allocate-inventory-modal>
<app-delete-inventory-modal></app-delete-inventory-modal>
<app-edit-inventory-modal></app-edit-inventory-modal>
<app-release-inventory-modal></app-release-inventory-modal>
<app-delete-selected-inventory-modal></app-delete-selected-inventory-modal>
<app-release-selected-inventory-modal></app-release-selected-inventory-modal>
<app-allocate-selected-inventory-modal></app-allocate-selected-inventory-modal>
<app-edit-selected-allocated-inventory-modal></app-edit-selected-allocated-inventory-modal>
<app-edit-selected-unallocated-inventory-modal></app-edit-selected-unallocated-inventory-modal>
<app-move-selected-inventory-modal></app-move-selected-inventory-modal>

<p-menu #menu appendTo="body" [model]="dataOptions" [popup]="true"></p-menu>
