<ng-container
    *ngIf="{
        isOpen: (isOpen$ | async) || false,
        status: status$ | async,
    } as data"
>
    <p-dialog
        [(visible)]="data.isOpen"
        (onHide)="close()"
        [modal]="true"
        [style]="{ width: '60vw', height: 'auto' }"
        styleClass="edit-qualification-modal"
        [breakpoints]="{ '700px': '100vw' }"
        [showHeader]="false"
        [draggable]="false"
        [resizable]="false"
        [dismissableMask]="true"
        appendTo="body"
    >
        <div class="modal-inner-container">
            <div class="modal-header">
                <h2>Edit Qualification</h2>
            </div>
            <p-divider></p-divider>
            <form [formGroup]="editQualificationForm">
                <div class="row-container">
                    <div class="col-container">
                        <label for="qualificationName">Name</label>
                        <input
                            pInputText
                            name="qualificationName"
                            formControlName="qualificationName"
                        />
                    </div>
                </div>
                <div class="col-container">
                    <label for="qualificationType">Type</label>
                    <p-dropdown
                        name="qualificationType"
                        formControlName="qualificationType"
                        appendTo="body"
                        autocomplete="off"
                        styleClass="full-width"
                        [autoDisplayFirst]="false"
                        [options]="qualificationType || []"
                        appendTo="body"
                    >
                    </p-dropdown>
                </div>
                <div class="checkbox-container">
                    <p-checkbox
                        [binary]="true"
                        formControlName="hasExpiry"
                    ></p-checkbox>
                    <label for="hasExpiry">Has Expiration Date</label>
                </div>
                <div class="row-container">
                    <div class="col-container">
                        <label for="firstNotificationDate"
                            >First Notification Days</label
                        >
                        <input
                            type="number"
                            pInputText
                            name="firstNotificationDate"
                            formControlName="firstNotificationDate"
                        />
                    </div>
                    <div class="col-container">
                        <label for="secondNotificationDate"
                            >Second Notification Days</label
                        >
                        <input
                            type="number"
                            pInputText
                            name="secondNotificationDate"
                            formControlName="secondNotificationDate"
                        />
                    </div>
                    <div
                        *ngIf="
                            editQualificationForm.hasError('invalidDaysRange')
                        "
                        class="col-container"
                    >
                        <span class="error-message">
                            Value of the second notification needs to be greater
                            than the value of the first.
                        </span>
                    </div>
                </div>
                <div class="btn-container">
                    <ng-container *ngIf="data.status === 'error'">
                        <div>
                            <span class="text-error"
                                >Failed to add qualification</span
                            >
                        </div>
                    </ng-container>

                    <button
                        pButton
                        class="btn btn-primary"
                        class="btn btn-primary-inverse"
                        [disabled]="data.status === 'loading'"
                        (click)="close()"
                    >
                        Cancel
                    </button>
                    <button
                        pButton
                        class="btn btn-primary"
                        [loading]="data.status === 'loading'"
                        [disabled]="data.status === 'loading'"
                        (click)="save()"
                    >
                        Save
                    </button>
                </div>
            </form>
        </div>
    </p-dialog>
</ng-container>
