.modal-inner-container {
    display: flex;
    flex-direction: column;
    position: relative;
    .modal-header {
        position: sticky;
        top: 0;
        display: flex;
        flex-direction: column;
        gap: var(--spacing-2xs);
        background-color: var(--color-white);
        padding-bottom: 0;
        padding-top: var(--spacing-sm);
    }
    h2 {
        margin-bottom: 0;
    }

    .main-content {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-sm);
        width: 100%;
        flex-grow: 1;
        form {
            display: flex;
            flex-direction: column;
            gap: var(--spacing-sm);
            .section-container {
                display: flex;
                flex-direction: row;
                gap: var(--spacing-xs);
                flex-wrap: wrap;
                @media screen and (max-width: 720px) {
                    flex-direction: column;
                    .textfield-container-half,
                    .textfield-container-third,
                    .textfield-container-fourth {
                        width: 100% !important;
                    }
                }
                h4 {
                    width: 100%;
                    margin: 0;
                }
                .textfield-container-half {
                    display: flex;
                    flex-direction: column;
                    flex-grow: 1;
                    width: calc(50% - var(--spacing-2xs));
                    gap: var(--spacing-2xs);

                    div {
                        input {
                            width: 100%;
                        }
                    }
                }
                .textfield-container-full {
                    display: flex;
                    flex-direction: column;
                    flex-grow: 1;
                    width: 100%;
                    gap: var(--spacing-2xs);
                }
                .textfield-container-third {
                    display: flex;
                    flex-direction: column;
                    flex-grow: 1;
                    width: calc(33% - var(--spacing-2xs));
                    gap: var(--spacing-2xs);
                }
                .textfield-container-fourth {
                    display: flex;
                    flex-direction: column;
                    flex-grow: 1;
                    width: calc(24.9% - var(--spacing-2xs));
                    gap: var(--spacing-2xs);
                }
            }

            .button-container {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-end;
                gap: var(--spacing-xs);
                button {
                    padding: var(--spacing-xs) var(--spacing-base);
                }
            }
        }
    }
}

::ng-deep .add-new-user-modal > .p-dialog-content {
    border-top: 5px solid var(--color-blue-300);
    // match bottom radiuses
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
