<ng-container
    *ngIf="{
        isOpen: (isOpen$ | async) || false,
        userRoles: userRoles$ | async,
        status: status$ | async
    } as data"
>
    <p-dialog
        [(visible)]="data.isOpen"
        (onHide)="close()"
        [modal]="true"
        [style]="{ width: '60vw', height: 'auto' }"
        styleClass="add-new-user-modal"
        [breakpoints]="{ '768px': '95vw' }"
        [showHeader]="false"
        [draggable]="false"
        [resizable]="false"
        [dismissableMask]="true"
        appendTo="body"
    >
        <div class="modal-inner-container">
            <div class="modal-header">
                <h2>Add New User</h2>
            </div>
            <p-divider></p-divider>
            <div class="main-content">
                <form
                    [formGroup]="userForm"
                    class="add-new-user-container"
                    (ngSubmit)="save()"
                >
                    <div class="section-container">
                        <div class="textfield-container-half">
                            <label for="firstName" class="form-control-label"
                                >First Name</label
                            >
                            <input
                                formControlName="firstName"
                                id="firstName"
                                name="firstName"
                                type="text"
                                class="form-control form-control-custom"
                                autocomplete="off"
                                pInputText
                            />
                        </div>
                        <div class="textfield-container-half">
                            <label for="lastName" class="form-control-label"
                                >Last Name</label
                            >
                            <input
                                formControlName="lastName"
                                id="lastName"
                                name="lastName"
                                type="text"
                                class="form-control form-control-custom"
                                autocomplete="off"
                                pInputText
                            />
                        </div>
                    </div>
                    <div class="section-container">
                        <div class="textfield-container-full">
                            <label for="userRole" class="form-control-label"
                                >User Role</label
                            >
                            <ng-container
                                *ngIf="
                                    data.userRoles && data.userRoles.length > 0
                                "
                            >
                                <p-dropdown
                                    id="userRole"
                                    [options]="data.userRoles"
                                    optionLabel="name"
                                    optionValue="id"
                                    placeholder="Select a Role"
                                    formControlName="userRole"
                                    [autoDisplayFirst]="false"
                                    appendTo="body"
                                >
                                </p-dropdown>
                            </ng-container>
                        </div>
                    </div>
                    <div class="section-container">
                        <div class="textfield-container-half">
                            <label for="email" class="form-control-label"
                                >Email</label
                            >

                            <input
                                formControlName="email"
                                id="email"
                                name="email"
                                type="text"
                                class="form-control form-control-custom"
                                autocomplete="off"
                                pInputText
                            />
                        </div>
                        <div class="textfield-container-half">
                            <label for="phoneNumber" class="form-control-label"
                                >Phone Number</label
                            >
                            <!-- <input
                                formControlName="phoneNumber"
                                id="email"
                                name="email"
                                type="text"
                                class="form-control form-control-custom"
                                autocomplete="off"
                                pInputText
                            /> -->
                            <app-phone-number
                                [required]="true"
                                formControlName="phoneNumber"
                            ></app-phone-number>
                        </div>
                    </div>
                    <div class="section-container">
                        <h4>Address</h4>
                        <div class="textfield-container-third">
                            <label for="address" class="form-control-label"
                                >Address Line 1</label
                            >
                            <input
                                formControlName="address"
                                id="address"
                                name="address"
                                type="text"
                                class="form-control form-control-custom"
                                autocomplete="off"
                                pInputText
                            />
                        </div>
                        <div class="textfield-container-third">
                            <label for="address2" class="form-control-label"
                                >Address Line 2</label
                            >
                            <input
                                formControlName="address2"
                                id="address2"
                                name="address2"
                                type="text"
                                class="form-control form-control-custom"
                                autocomplete="off"
                                pInputText
                            />
                        </div>
                        <div class="textfield-container-third">
                            <label for="city" class="form-control-label"
                                >City</label
                            >
                            <input
                                formControlName="city"
                                id="city"
                                name="city"
                                type="text"
                                class="form-control form-control-custom"
                                autocomplete="off"
                                pInputText
                            />
                        </div>
                        <div class="textfield-container-third">
                            <label for="countryId" class="form-control-label"
                                >Country</label
                            >
                            <p-dropdown
                                id="countryId"
                                [options]="
                                    countries.length > 0 ? countries : []
                                "
                                optionLabel="countryName"
                                optionValue="countryId"
                                placeholder="Select a Country"
                                formControlName="countryId"
                                [autoDisplayFirst]="false"
                                appendTo="body"
                            >
                            </p-dropdown>
                        </div>
                        <div class="textfield-container-third">
                            <label for="stateId" class="form-control-label"
                                >State</label
                            >
                            <p-dropdown
                                id="stateId"
                                [options]="states.length ? states : []"
                                optionLabel="stateName"
                                optionValue="stateId"
                                placeholder="Select a State"
                                formControlName="stateId"
                                [autoDisplayFirst]="false"
                                appendTo="body"
                            ></p-dropdown>
                        </div>
                        <div class="textfield-container-third">
                            <label for="zipcode" class="form-control-label"
                                >Zip/Postal Code</label
                            >
                            <input
                                formControlName="zipcode"
                                id="zipcode"
                                name="zipcode"
                                type="text"
                                class="form-control form-control-custom"
                                autocomplete="off"
                                pInputText
                            />
                        </div>
                    </div>
                    <ng-container *ngIf="data.status === 'error'">
                        <div class="error-message">
                            <span class="text-error"
                                >Failed to add new user</span
                            >
                        </div>
                    </ng-container>
                    <div class="button-container">
                        <button
                            pButton
                            class="btn btn-primary-inverse"
                            type="button"
                            [disabled]="data.status === 'loading'"
                            (click)="close()"
                        >
                            Close
                        </button>
                        <button
                            pButton
                            class="btn btn-primary"
                            type="submit"
                            [loading]="data.status === 'loading'"
                        >
                            Save Changes
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </p-dialog>
</ng-container>
