<app-booking-manage
    [updatePermission]="{features: [{
    feature: features.bookingManagementAgentEdit.name,
    page: features.bookingManagementAgentEdit.pages
        .bookingEdit.name,
    pageFeature: [
        features.bookingManagementAgentEdit.pages
            .bookingEdit.features
            .bookingUpdate.name
    ],
    pageFeatureCheck: 'and',
}], mode: 'disabled',}"
    [deletePermission]="{features: [{
    feature: features.bookingManagementAgentEdit.name,
    page: features.bookingManagementAgentEdit.pages
        .bookingEdit.name,
    pageFeature: [
        features.bookingManagementAgentEdit.pages
            .bookingEdit.features
            .bookingDelete.name
    ],
    pageFeatureCheck: 'and',
}], mode: 'none',}"
    [reservationBookingId]="reservationBookingId$ | async"
></app-booking-manage>
