<ng-container
    *ngIf="{
        isOpen: (isOpen$ | async) || false,
        context: (context$ | async)?.booking,
        isLoading: isLoading$ | async,
        status: status$ | async
    } as data"
>
    <p-dialog
        [(visible)]="data.isOpen"
        (onHide)="close()"
        [modal]="true"
        [style]="{ width: '50vw', height: 'auto' }"
        [breakpoints]="{ '768px': '95vw' }"
        styleClass="delete-dialog"
        [showHeader]="false"
        [draggable]="false"
        [resizable]="false"
        [dismissableMask]="true"
        appendTo="body"
    >
        <div class="header">
            <span class="h3">Cancel Booking</span>
        </div>

        <div class="booking-details-container">
            <span class="prompt"
                >Would you like to cancel the following booking?</span
            >

            <ng-container *ngIf="data.context">
                <span>Booking Number: {{ data.context.bookingNumber }}</span>
                <span
                    >Name: {{ data.context.firstName }}
                    {{ data.context.lastName }}</span
                >
            </ng-container>
        </div>
        <div class="action-row">
            <ng-container *ngIf="data.status === 'error'">
                <span class="text-error">Failed to cancel booking</span>
            </ng-container>
            <button
                pButton
                type="button"
                class="btn-primary-inverse"
                (click)="close()"
            >
                No
            </button>
            <button
                pButton
                type="button"
                class="btn btn-danger"
                [disabled]="!data.context?.bookingId"
                [loading]="data.status === 'loading'"
                (click)="delete(data.context?.bookingId)"
            >
                Yes
            </button>
        </div>
    </p-dialog>
</ng-container>
