<ng-container
    *ngIf="{
        isOpen: (isOpen$ | async) || false,
        context: context$ | async,
        guestCounts: guestCounts$ | async,
        steps: steps$ | async
    } as data"
>
    <p-dialog
        [(visible)]="data.isOpen"
        (onHide)="close()"
        [modal]="true"
        [style]="{ width: '80vw', height: 'auto', maxWidth: '900px' }"
        styleClass="form-dialog"
        [breakpoints]="{ '768px': '95vw' }"
        [showHeader]="false"
        [draggable]="false"
        [resizable]="false"
        [dismissableMask]="true"
        position="center"
        appendTo="body"
    >
        <ng-container *ngIf="data.context">
            <div class="modal-inner-container">
                <ng-container *ngIf="data.steps === 'guestCounts'">
                    <app-guest-counts
                        [guestCounts]="data.guestCounts"
                        [assignment]="data.context.assignment"
                        [tourDate]="data.context.tourDate"
                        [displayNotesSection]="
                            !!data.context.displayNotesSection
                        "
                        (next)="submitGuestCounts($event)"
                        (cancel)="close()"
                    ></app-guest-counts>
                </ng-container>
                <ng-container *ngIf="data.steps === 'bookingList'">
                    <app-booking-list
                        [assignment]="data.context.assignment"
                        [tourDate]="data.context.tourDate"
                        [onNext]="submitParticipantsInfo"
                        (back)="displayGuestCounts()"
                    ></app-booking-list>
                </ng-container>
            </div>
        </ng-container>
    </p-dialog>
</ng-container>
