<ng-container
    *ngIf="{
        isOpen: (isOpen$ | async) || false,
        context: context$ | async,
        isLoading: isLoading$ | async,
        bookings: bookings$ | async,
        bookingImages: bookingImages$ | async,
        status: checkinStatus$ | async,
        bookingToEdit: bookingToEdit$ | async
    } as data"
>
    <p-dialog
        [(visible)]="data.isOpen"
        (onHide)="close()"
        [modal]="true"
        [style]="{ width: '90vw', height: 'auto' }"
        styleClass="booking-list-dialog"
        [breakpoints]="{ '720px': '95vw' }"
        [showHeader]="false"
        [draggable]="false"
        [resizable]="false"
        [dismissableMask]="true"
        appendTo="body"
    >
        <div class="modal-inner-container booking-list-modal-container">
            <ng-container *ngIf="data.context && data.context.assignment">
                <div class="modal-header">
                    <h2>Bookings</h2>
                    <div class="top-actions-container">
                        <ng-container
                            *ngIf="data.bookingToEdit?.bookingId as bookingId"
                        >
                            <div class="actions-container">
                                <ng-container
                                    *ngIf="data.bookingToEdit && !manageTicket"
                                >
                                    <ng-container
                                        *ngIf="
                                            data.bookingImages &&
                                                data.bookingImages.length > 0;
                                            else uploadTicketTmpl
                                        "
                                    >
                                        <button
                                            pButton
                                            class="btn btn-primary-inverse btn-ticket"
                                            (click)="
                                                viewTickets(data.bookingToEdit)
                                            "
                                        >
                                            <i class="pi pi-receipt"></i>
                                            <span>View Ticket</span>
                                        </button>
                                    </ng-container>
                                    <ng-template #uploadTicketTmpl>
                                        <button
                                            pButton
                                            class="btn btn-primary-inverse btn-ticket"
                                            (click)="
                                                allowEmbeddedCamera
                                                    ? openEmbeddedCamera(
                                                          data.bookingToEdit
                                                      )
                                                    : fileInput.click()
                                            "
                                        >
                                            <i class="pi pi-camera"></i>
                                            <span> Upload Ticket </span>
                                        </button>
                                        <input
                                            class="file-input"
                                            #fileInput
                                            accept="image/*"
                                            type="file"
                                            (change)="
                                                onImageSelect(
                                                    $event,
                                                    data.bookingToEdit
                                                )
                                            "
                                        />
                                    </ng-template>
                                </ng-container>

                                <ng-container
                                    *ngIf="
                                        data.bookingToEdit?.isCheckedIn;
                                        else notCheckedIn
                                    "
                                >
                                    <div class="checkedin-badge">
                                        <span>Checked In</span>
                                        <i class="pi pi-check-circle"></i>
                                    </div>
                                </ng-container>
                                <ng-template #notCheckedIn>
                                    <button
                                        pButton
                                        class="btn btn-primary"
                                        [loading]="data.status === 'loading'"
                                        (click)="checkinBooking(bookingId)"
                                    >
                                        Check-In
                                    </button>
                                    <ng-container
                                        *ngIf="data.status === 'error'"
                                    >
                                        <span class="text-error"
                                            >Unable to check-in guest</span
                                        >
                                    </ng-container>
                                </ng-template>
                            </div>
                        </ng-container>
                        <button
                            class="btn btn-text btn-close"
                            (click)="close()"
                        >
                            <i class="pi pi-times"></i>
                        </button>
                    </div>
                </div>

                <app-modal-tour-details
                    [assignment]="data.context.assignment"
                    [tourDate]="data.context.tourDate"
                ></app-modal-tour-details>

                <div class="tour-details-container">
                    <ng-container
                        *ngIf="
                            assignment && data.bookingToEdit;
                            else bookingList
                        "
                    >
                        <ng-container *ngIf="manageTicket; else editBooking">
                            <app-tickets
                                [booking]="manageTicket"
                                [bookingImages]="data.bookingImages || []"
                                (exit)="onExitManageBookingTicket($event)"
                            ></app-tickets>
                        </ng-container>
                        <ng-template #editBooking>
                            <app-modal-edit-booking
                                [assignment]="assignment"
                                [tourDate]="data.context.tourDate"
                                [booking]="data.bookingToEdit"
                                exitText="Back"
                                (deleted)="onDeleteBooking()"
                                (saved)="onSaveBooking()"
                                (exit)="onExitEditBoking()"
                            ></app-modal-edit-booking>
                        </ng-template>
                    </ng-container>
                    <ng-template #bookingList>
                        <ng-container *ngIf="data.isLoading; else table">
                            <app-loader-embed
                                [isDisplayed]="true"
                            ></app-loader-embed>
                        </ng-container>
                        <ng-template #table>
                            <ng-container
                                *ngIf="
                                    data.bookings && data.bookings.length > 0;
                                    else noBookings
                                "
                            >
                                <div class="table-container">
                                    <p-table
                                        #bookingTable
                                        [value]="data.bookings || []"
                                        [scrollable]="true"
                                        [tableStyle]="{ width: '100%' }"
                                        dataKey="bookingId"
                                    >
                                        <ng-template pTemplate="header">
                                            <tr>
                                                <!-- <th
                                                    alignFrozen="left"
                                                    pFrozenColumn
                                                    class="ellipsis-col"
                                                    [appPermission]="{
                                                        features: [{
                                                            feature: features.dailyTourDispatch.name,
                                                        page: features.dailyTourDispatch.pages
                                                            .dailyTourDispatch.name,
                                                        pageFeature: [
                                                            features.dailyTourDispatch.pages
                                                                .dailyTourDispatch.features
                                                                .bookingUpdate.name,
                                                                features.dailyTourDispatch.pages
                                                                .dailyTourDispatch.features
                                                                .bookingDelete.name,
                                                        ],
                                                        pageFeatureCheck: 'or',
                                                        }],
                                                        mode: 'none',
                                                    }"
                                                ></th> -->
                                                <th
                                                    alignFrozen="left"
                                                    pFrozenColumn
                                                    pSortableColumn="firstName"
                                                >
                                                    Name
                                                </th>
                                                <th>
                                                    <i
                                                        pTooltip="Checked-In"
                                                        tooltipPosition="right"
                                                        class="pi pi-check-circle"
                                                    ></i>
                                                </th>
                                                <th
                                                    pSortableColumn="totalBooked"
                                                >
                                                    Total Booked
                                                </th>
                                                <th pSortableColumn="pickUp">
                                                    Pick up Location
                                                </th>
                                                <th pSortableColumn="shipName">
                                                    Ship
                                                </th>

                                                <th
                                                    pSortableColumn="primaryPhoneNumber"
                                                >
                                                    Phone Number
                                                </th>
                                            </tr>
                                        </ng-template>

                                        <ng-template
                                            pTemplate="body"
                                            let-booking
                                            let-index="rowIndex"
                                        >
                                            <tr
                                                class="pointer"
                                                (click)="editBooking(booking)"
                                                [appPermission]="{
                                                features: [{
                                                    feature: features.dailyTourDispatch.name,
                                                page: features.dailyTourDispatch.pages
                                                    .dailyTourDispatch.name,
                                                pageFeature: [
                                                    features.dailyTourDispatch.pages
                                                        .dailyTourDispatch.features
                                                        .bookingView.name,
                                                        features.dailyTourDispatch.pages
                                                        .dailyTourDispatch.features
                                                        .bookingUpdate.name,
                                                ],
                                                pageFeatureCheck: 'or',
                                                }],
                                                mode: 'disabledNoStyling',
                                            }"
                                            >
                                                <!-- <td
                                                    alignFrozen="left"
                                                    pFrozenColumn
                                                    class="ellipsis-col"
                                                    [appPermission]="{
                                                        features: [{
                                                            feature: features.dailyTourDispatch.name,
                                                        page: features.dailyTourDispatch.pages
                                                            .dailyTourDispatch.name,
                                                        pageFeature: [
                                                            features.dailyTourDispatch.pages
                                                                .dailyTourDispatch.features
                                                                .bookingUpdate.name,
                                                                features.dailyTourDispatch.pages
                                                                .dailyTourDispatch.features
                                                                .bookingDelete.name,
                                                        ],
                                                        pageFeatureCheck: 'or',
                                                        }],
                                                        mode: 'none',
                                                    }"
                                                >
                                                    <div>
                                                        <button
                                                            pButton
                                                            icon="pi pi-ellipsis-v"
                                                            pTooltip="In Progress"
                                                            tooltipPosition="right"
                                                            class="menu-button"
                                                            (click)="
                                                                menuSelectedBooking =
                                                                    booking;
                                                                menu.toggle(
                                                                    $event
                                                                )
                                                            "
                                                        ></button>
                                                    </div>
                                                </td> -->
                                                <td
                                                    alignFrozen="left"
                                                    pFrozenColumn
                                                >
                                                    <span class="font-medium">
                                                        {{
                                                            booking.leadFirstName
                                                                | titlecase
                                                        }}
                                                        {{
                                                            booking.leadLastName
                                                                | titlecase
                                                        }}
                                                        <ng-container
                                                            *ngIf="
                                                                booking.notes
                                                            "
                                                        >
                                                            <ng-container
                                                                *ngIf="
                                                                    touchDevice;
                                                                    else nonTouchDevice
                                                                "
                                                            >
                                                                <i
                                                                    class="pi pi-comment"
                                                                    [pTooltip]="
                                                                        booking.notes
                                                                    "
                                                                    tooltipPosition="right"
                                                                    tooltipEvent="focus"
                                                                    [tabindex]="
                                                                        0
                                                                    "
                                                                    [appPermission]="{
                                                                        features: [{
                                                                            feature: features.dailyTourDispatch.name,
                                                                        page: features.dailyTourDispatch.pages
                                                                            .dailyTourDispatch.name,
                                                                        pageFeature: [
                                                                                features.dailyTourDispatch.pages
                                                                                .dailyTourDispatch.features
                                                                                .bookingNotesView.name,
                                                                        ],
                                                                        pageFeatureCheck: 'or',
                                                                        }],
                                                                        mode: 'none',
                                                                    }"
                                                                ></i>
                                                            </ng-container>
                                                            <ng-template
                                                                #nonTouchDevice
                                                            >
                                                                <i
                                                                    class="pi pi-comment"
                                                                    [pTooltip]="
                                                                        booking.notes
                                                                    "
                                                                    tooltipPosition="right"
                                                                    [appPermission]="{
                                                                        features: [{
                                                                            feature: features.dailyTourDispatch.name,
                                                                        page: features.dailyTourDispatch.pages
                                                                            .dailyTourDispatch.name,
                                                                        pageFeature: [
                                                                                features.dailyTourDispatch.pages
                                                                                .dailyTourDispatch.features
                                                                                .bookingNotesView.name,
                                                                        ],
                                                                        pageFeatureCheck: 'or',
                                                                        }],
                                                                        mode: 'none',
                                                                    }"
                                                                ></i>
                                                            </ng-template>
                                                        </ng-container>
                                                    </span>
                                                </td>
                                                <td>
                                                    <ng-container
                                                        *ngIf="
                                                            booking.isCheckedIn
                                                        "
                                                    >
                                                        <i
                                                            class="pi pi-check-circle text-success"
                                                        ></i>
                                                    </ng-container>
                                                </td>

                                                <td>
                                                    <span>
                                                        {{
                                                            booking.totalBooked
                                                        }}
                                                    </span>
                                                </td>
                                                <td>
                                                    <span>
                                                        {{
                                                            booking.pickupLocationName
                                                        }}
                                                    </span>
                                                </td>
                                                <td>
                                                    <span
                                                        >{{ booking.shipName }}
                                                    </span>
                                                </td>

                                                <td>
                                                    <span>{{
                                                        booking.phoneNumber
                                                    }}</span>
                                                </td>
                                            </tr>
                                        </ng-template>
                                    </p-table>
                                </div>
                            </ng-container>
                            <ng-template #noBookings>
                                <div class="empty-container">
                                    <div class="icon-container">
                                        <app-icon-booking-search
                                            [width]="50"
                                            [height]="50"
                                            color="#676767"
                                        ></app-icon-booking-search>
                                    </div>
                                    <span class="body font-medium"
                                        >No bookings found</span
                                    >
                                </div>
                            </ng-template>
                        </ng-template>
                    </ng-template>
                </div>
            </ng-container>
        </div>
    </p-dialog>
</ng-container>

<p-menu
    #menu
    appendTo="body"
    [model]="(dataOptions$ | async) || []"
    [popup]="true"
></p-menu>
