<div class="content-container">
    <div class="header-action-container">
        <div class="search-container">
            <input
                type="text"
                autocomplete="off"
                pInputText
                placeholder="Search ..."
                (input)="dt1.filterGlobal($event.target.value, 'contains')"
            />
            <button pButton class="btn-primary" icon="pi pi-search"></button>
        </div>
        <div class="actions-container">
            <button
                pButton
                class="btn btn-primary add"
                icon="pi pi-plus"
                (click)="openAddNewUsage()"
            >
                Add New
            </button>
        </div>
    </div>
    <p-table
        #dt1
        styleClass="forms-table"
        [scrollable]="true"
        dataKey="user"
        [tableStyle]="{ width: '100%' }"
        [rows]="20"
        [rowsPerPageOptions]="[50, 100, 200]"
        [paginator]="true"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [globalFilterFields]="['user']"
    >
        <ng-template pTemplate="header">
            <tr>
                <th>Service Date</th>
                <th>Maintenance Activity</th>
                <th>Milage/Hours</th>
                <th>Service Tech</th>
                <th>Notes</th>
                <th alignFrozen="right" pFrozenColumn>Action</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
            <tr></tr>
        </ng-template>
    </p-table>
</div>
