<div class="container">
    <h2>Details</h2>
    <ng-container
        *ngIf="{
            tour: tourDetails$ | async,
            faqCategories: faqCategories$ | async,
            addOns: addOns$ | async,
            status: status$ | async
        } as config"
    >
        <ng-container *ngIf="config.status === 'loading'; else mainContent">
            <app-loader-embed [isDisplayed]="true"></app-loader-embed>
        </ng-container>
        <ng-template #mainContent>
            <div class="tour-details-container">
                <form
                    [formGroup]="tourDetailsForm"
                    (ngSubmit)="openEditTourModal()"
                    [appPermission]="{
                        features: [{
                            feature:
                                features.toursAndServicesEdit.name,
                            page: features.toursAndServicesEdit.pages
                                .details.name,
                            pageFeature: [
                                features.toursAndServicesEdit.pages
                                    .details
                                    .features.editTourDetails.name
                            ],
                        }],
                        mode: 'disabledNoStyling'
                    }"
                >
                    <div class="sub-section">
                        <div class="section-wrapper">
                            <div class="section-header">
                                <span class="h3"> Tour Information </span>
                            </div>
                            <div class="form-field full-width">
                                <label for="tourName">Tour Name</label>
                                <input
                                    type="text"
                                    id="tourName"
                                    formControlName="tourName"
                                    pInputText
                                />
                            </div>
                            <div class="form-field third-width">
                                <label for="tourShortName"
                                    >Tour Short Name</label
                                >
                                <input
                                    type="text"
                                    id="tourShortName"
                                    formControlName="tourShortName"
                                    pInputText
                                />
                            </div>
                            <div class="form-field third-width">
                                <label for="physicalLevel"
                                    >Physical Level</label
                                >
                                <p-dropdown
                                    id="physicalLevel"
                                    formControlName="physicalLevel"
                                    [options]="tourPhysicalLevel || []"
                                    [autoDisplayFirst]="false"
                                    placeholder="Select Physical Level"
                                >
                                </p-dropdown>
                            </div>
                            <div class="form-field third-width">
                                <label for="hours">Tour Duration</label>
                                <div class="two-inputs">
                                    <div>
                                        <p-iconField iconPosition="right">
                                            <p-inputIcon> h </p-inputIcon>
                                            <input
                                                type="text"
                                                pInputText
                                                placeholder="Search"
                                                formControlName="hours"
                                            />
                                        </p-iconField>
                                    </div>
                                    <div>
                                        <p-iconField iconPosition="right">
                                            <p-inputIcon> min </p-inputIcon>
                                            <input
                                                type="text"
                                                pInputText
                                                placeholder="Search"
                                                formControlName="minutes"
                                            />
                                        </p-iconField>
                                    </div>
                                </div>
                            </div>
                            <div class="form-field half-width">
                                <label for="port"> Port </label>
                                <ng-container *ngIf="ports$ | async as ports">
                                    <p-dropdown
                                        id="port"
                                        formControlName="portId"
                                        [options]="ports || []"
                                        optionLabel="portName"
                                        optionValue="portId"
                                        [autoDisplayFirst]="false"
                                        placeholder="Select Port"
                                    ></p-dropdown>
                                </ng-container>
                            </div>
                            <div class="form-field half-width">
                                <label for="faqs"> FAQs Category</label>
                                <p-multiSelect
                                    placeholder="Select FAQs Category"
                                    name="faqs"
                                    [maxSelectedLabels]="50"
                                    [options]="config.faqCategories || []"
                                    formControlName="faqCategoryList"
                                    optionValue="faqCategoryId"
                                    optionLabel="categoryName"
                                    display="chip"
                                    [showClear]="true"
                                >
                                </p-multiSelect>
                            </div>
                            <div class="form-field full-width calendar-content">
                                <label for="calendarColor"
                                    >Calendar Color :
                                </label>
                                <p-colorPicker
                                    formControlName="calendarColor"
                                />
                                <span>{{
                                    tourDetailsForm.get('calendarColor')?.value
                                }}</span>
                            </div>
                        </div>
                    </div>
                    <p-divider></p-divider>
                    <div class="sub-section">
                        <div class="section-wrapper">
                            <div class="section-header">
                                <span class="h3"> Guest Requirements </span>
                            </div>

                            <div class="form-field third-width">
                                <label for="minWeight">Min Weight</label>
                                <div class="p-element p-inputgroup">
                                    <input
                                        type="text"
                                        id="minWeight"
                                        formControlName="minWeight"
                                        pInputText
                                    />
                                    <div class="p-element p-inputgroup-addon">
                                        Ibs
                                    </div>
                                </div>
                            </div>
                            <div class="form-field third-width">
                                <label for="maxWeight">Max Weight</label>
                                <div class="p-element p-inputgroup">
                                    <input
                                        type="text"
                                        id="maxWeight"
                                        formControlName="maxWeight"
                                        pInputText
                                    />
                                    <div class="p-element p-inputgroup-addon">
                                        Ibs
                                    </div>
                                </div>
                            </div>
                            <div class="form-field third-width">
                                <label for="minHeight">Min Height</label>
                                <div class="p-element p-inputgroup">
                                    <input
                                        type="text"
                                        id="minHeight"
                                        formControlName="minHeight"
                                        pInputText
                                    />
                                    <div class="p-element p-inputgroup-addon">
                                        in"
                                    </div>
                                </div>
                            </div>
                            <div class="form-field third-width">
                                <label for="minAge">Min Age</label>
                                <input
                                    type="text"
                                    id="minAge"
                                    formControlName="minAge"
                                    pInputText
                                />
                            </div>
                            <div class="form-field third-width">
                                <label for="minCapacity">Min Capacity : </label>
                                <input
                                    type="text"
                                    id="minCapacity"
                                    formControlName="minCapacity"
                                    pInputText
                                />
                            </div>
                            <div class="form-field third-width">
                                <label for="maxCapacity">Max Capacity : </label>
                                <input
                                    type="text"
                                    id="maxCapacity"
                                    formControlName="maxCapacity"
                                    pInputText
                                />
                            </div>
                            <div class="checkbox-field">
                                <div>
                                    <label>
                                        <p-checkbox
                                            [binary]="true"
                                            formControlName="isLiabilityReleaseRequired"
                                        >
                                        </p-checkbox>
                                        <span>Liability release required </span>
                                    </label>
                                </div>
                                <div>
                                    <label>
                                        <p-checkbox
                                            [binary]="true"
                                            formControlName="isParticipantCannotHaveaBackInjury"
                                        >
                                        </p-checkbox>
                                        <span
                                            >Participant cannot have a back
                                            injury</span
                                        >
                                    </label>
                                </div>
                                <div>
                                    <label>
                                        <p-checkbox
                                            [binary]="true"
                                            formControlName="isParticipantCannotBePregnant"
                                        >
                                        </p-checkbox>
                                        <span
                                            >Participant cannot be
                                            pregnant</span
                                        >
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p-divider></p-divider>
                    <div class="sub-section">
                        <div class="section-wrapper">
                            <div class="section-header">
                                <span class="h3"> Price </span>
                            </div>

                            <div class="form-field fourth-width">
                                <label for="adultPrice">Adult Price</label>
                                <div class="p-element p-inputgroup">
                                    <div class="p-element p-inputgroup-addon">
                                        $
                                    </div>
                                    <input
                                        type="number"
                                        min="0"
                                        id="adultPrice"
                                        formControlName="adultPrice"
                                        pInputText
                                    />
                                    <div class="p-element p-inputgroup-addon">
                                        .00
                                    </div>
                                </div>
                            </div>
                            <div class="form-field fourth-width">
                                <label for="childPrice">Child Price</label>
                                <div class="p-element p-inputgroup">
                                    <div class="p-element p-inputgroup-addon">
                                        $
                                    </div>
                                    <input
                                        type="number"
                                        min="0"
                                        id="childPrice"
                                        formControlName="childPrice"
                                        pInputText
                                    />
                                    <div class="p-element p-inputgroup-addon">
                                        .00
                                    </div>
                                </div>
                            </div>
                            <div class="form-field fourth-width">
                                <label for="salesTax">Sales Tax</label>
                                <div class="p-element p-inputgroup">
                                    <input
                                        type="number"
                                        min="0"
                                        id="salesTax"
                                        formControlName="salesTax"
                                        pInputText
                                    />
                                    <div class="p-element p-inputgroup-addon">
                                        %
                                    </div>
                                </div>
                            </div>
                            <div class="form-field fourth-width">
                                <label for="faqs">add-ons</label>
                                <p-multiSelect
                                    placeholder=""
                                    name="faqs"
                                    [maxSelectedLabels]="50"
                                    [options]="config.addOns || []"
                                    formControlName="addOns"
                                    optionValue="addonsId"
                                    optionLabel="name"
                                    display="chip"
                                    [showClear]="true"
                                >
                                </p-multiSelect>
                            </div>
                        </div>
                    </div>
                    <p-divider></p-divider>
                    <div class="sub-section">
                        <div class="section-wrapper">
                            <div class="section-header">
                                <span class="h3"> Tour Copy </span>
                            </div>
                            <div class="form-field full-width">
                                <label for="shortDescription"
                                    >Short Description</label
                                >
                                <textarea
                                    rows="5"
                                    id="shortDescription"
                                    formControlName="shortDescription"
                                    pInputTextarea
                                >
                                </textarea>
                            </div>
                            <div class="form-field full-width">
                                <label for="description">Description</label>
                                <textarea
                                    rows="5"
                                    id="description"
                                    formControlName="description"
                                    pInputTextarea
                                >
                                </textarea>
                            </div>
                        </div>
                    </div>
                    <div class="btn-group">
                        <button
                            type="submit"
                            pButton
                            class="btn btn-primary"
                            [appPermission]="{
                                features: [{
                                    feature:
                                        features.toursAndServicesEdit.name,
                                    page: features.toursAndServicesEdit.pages
                                        .details.name,
                                    pageFeature: [
                                        features.toursAndServicesEdit.pages
                                            .details
                                            .features.editTourDetails.name
                                    ],
                                }],
                                mode: 'none'
                            }"
                        >
                            Save Changes
                        </button>
                    </div>
                </form>
            </div>
        </ng-template>
    </ng-container>
</div>
<app-save-tour-details-modal></app-save-tour-details-modal>
