<div class="outer-container">
    <h2>Users</h2>

    <div class="main-content-container">
        <ng-container
            *ngIf="{ users: users$ | async, status: status$ | async } as config"
        >
            <div class="content-header-container">
                <div class="search-container">
                    <input
                        type="text"
                        autocomplete="off"
                        pInputText
                        placeholder="Search ..."
                        [(ngModel)]="keyword"
                        (ngModelChange)="search()"
                    />
                </div>
                <div class="secondary-actions-container">
                    <div class="show-inactive">
                        <p-inputSwitch
                            name="showInactive"
                            [(ngModel)]="showInactive"
                            (ngModelChange)="showInactiveChange()"
                        ></p-inputSwitch>
                        <label for="showInactive">Show Inactive</label>
                    </div>
                    <button
                        pButton
                        class="btn btn-primary add"
                        icon="pi pi-plus"
                        (click)="openAddNewUserModal()"
                        [appPermission]="{
                        features: [{
                            feature:
                            features.userManagement
                                .name,
                        page: features.userManagement
                            .pages.userList.name,
                        pageFeature: [
                            features.userManagement
                                .pages.userList.features
                                .userCreate.name
                        ],
                        }],
                        mode: 'none'
                    }"
                    >
                        <span class="long"> Add New User </span>
                        <span class="short"> Add </span>
                    </button>
                </div>
            </div>
            <ng-container [ngSwitch]="config.status">
                <ng-container *ngSwitchCase="'loading'">
                    <app-loader-embed [isDisplayed]="true"></app-loader-embed>
                </ng-container>
                <ng-container *ngSwitchCase="'error'">
                    <div class="error-state">
                        <span>Error loading users</span>
                        <button pButton>Retry</button>
                    </div>
                </ng-container>
                <ng-container *ngSwitchCase="'success'">
                    <ng-container
                        *ngIf="config.users && config.users.length > 0; noUsers"
                    >
                        <div class="table-container">
                            <p-table
                                [value]="config.users"
                                styleClass="users-list-table"
                                [scrollable]="true"
                                dataKey="userEmail"
                                [tableStyle]="{ width: '100%' }"
                                [rows]="20"
                                [rowsPerPageOptions]="[50, 100, 200]"
                                [paginator]="true"
                                [showCurrentPageReport]="true"
                                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                                [globalFilterFields]="[
                                    'userName',
                                    'userRole',
                                    'firstName',
                                    'lastName'
                                ]"
                            >
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>Email</th>
                                        <th>Role</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Phone</th>
                                        <th
                                            alignFrozen="right"
                                            pFrozenColumn
                                            [appPermission]="{
                                                features: displayActionColumn,
                                                featureCheck: 'or',
                                                mode: 'none'
                                            }"
                                        >
                                            Actions
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-item>
                                    <tr>
                                        <td>{{ item.email || '-' }}</td>
                                        <td>
                                            <ng-container
                                                *ngIf="
                                                    item.userRole;
                                                    else noRole
                                                "
                                            >
                                                <div
                                                    class="role-tag"
                                                    [ngClass]="item.userRole"
                                                >
                                                    <span>{{
                                                        item.userRole
                                                    }}</span>
                                                </div>
                                            </ng-container>
                                            <ng-template #noRole>
                                                <span>No Role Associated</span>
                                            </ng-template>
                                        </td>
                                        <td>{{ item.firstName || '-' }}</td>
                                        <td>{{ item.lastName || '-' }}</td>
                                        <td>{{ item.phoneNumber || '-' }}</td>
                                        <td
                                            alignFrozen="right"
                                            pFrozenColumn
                                            [appPermission]="{
                                                features: displayActionColumn,
                                                featureCheck: 'or',
                                                mode: 'none'
                                            }"
                                        >
                                            <div class="actions-container">
                                                <button
                                                    pButton
                                                    [routerLink]="[
                                                        '/operator/user-management/users/' +
                                                            item.userId
                                                    ]"
                                                    class="p-button-text edit"
                                                    icon="pi pi-user-edit"
                                                    [appPermission]="{
                                                        features:
                                                            editUserFeatures,
                                                        featureCheck: 'or',
                                                        mode: 'none'
                                                    }"
                                                ></button>
                                                <ng-container
                                                    *ngIf="
                                                        !showInactive;
                                                        else restoreUser
                                                    "
                                                >
                                                    <button
                                                        pButton
                                                        (click)="
                                                            openDeleteUserModal(
                                                                item
                                                            )
                                                        "
                                                        class="p-button-text delete"
                                                        icon="pi pi-trash"
                                                        [appPermission]="{
                                                            features: [{
                                                                feature:
                                                                features
                                                                    .userManagement
                                                                    .name,
                                                            page: features
                                                                .userManagement
                                                                .pages.userList
                                                                .name,
                                                            pageFeature: [
                                                                features
                                                                    .userManagement
                                                                    .pages.userList
                                                                    .features
                                                                    .userDelete.name
                                                            ],
                                                            pageFeatureCheck: 'or',
                                                            }],
                                                            mode: 'none'
                                                        }"
                                                    ></button>
                                                </ng-container>
                                                <ng-template #restoreUser>
                                                    <button
                                                        pButton
                                                        (click)="
                                                            openRestoreUserModal(
                                                                item
                                                            )
                                                        "
                                                        class="p-button-text delete"
                                                        icon="pi pi-replay"
                                                        [appPermission]="{
                                                        features: [{
                                                            feature:
                                                            features
                                                                .userManagement
                                                                .name,
                                                        page: features
                                                            .userManagement
                                                            .pages.userList
                                                            .name,
                                                        pageFeature: [
                                                            features
                                                                .userManagement
                                                                .pages.userList
                                                                .features
                                                                .userRestore.name
                                                        ],
                                                        pageFeatureCheck: 'or',
                                                        }],
                                                        mode: 'none'
                                                    }"
                                                    ></button>
                                                </ng-template>
                                            </div>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                        <div class="cards-container">
                            <ng-container *ngFor="let user of config.users">
                                <div class="card-container">
                                    <div class="card-header-container">
                                        <ng-container *ngIf="user.userRole">
                                            <div
                                                class="role-tag"
                                                [ngClass]="user.userRole"
                                            >
                                                <span>{{ user.userRole }}</span>
                                            </div>
                                        </ng-container>
                                        <div class="actions-container">
                                            <button
                                                pButton
                                                class="p-button-text edit"
                                                [routerLink]="[
                                                    '/operator/user-management/users/' +
                                                        user.userId
                                                ]"
                                                icon="pi pi-user-edit"
                                                [appPermission]="{
                                                    features: editUserFeatures,
                                                    featureCheck: 'or',
                                                    mode: 'none'
                                                }"
                                            ></button>
                                            <ng-container
                                                *ngIf="
                                                    !showInactive;
                                                    else restoreUserMobile
                                                "
                                            >
                                                <button
                                                    pButton
                                                    class="p-button-text delete"
                                                    icon="pi pi-trash"
                                                    (click)="
                                                        openDeleteUserModal(
                                                            user
                                                        )
                                                    "
                                                    [appPermission]="{
                                                        features: [{
                                                            feature:
                                                            features.userManagement
                                                                .name,
                                                        page: features
                                                            .userManagement.pages
                                                            .userList.name,
                                                        pageFeature: [
                                                            features.userManagement
                                                                .pages.userList
                                                                .features.userDelete
                                                                .name
                                                        ],
                                                        pageFeatureCheck: 'or',
                                                        }],
                                                        mode: 'none'
                                                    }"
                                                ></button>
                                            </ng-container>
                                            <ng-template #restoreUserMobile>
                                                <button
                                                    pButton
                                                    (click)="
                                                        openRestoreUserModal(
                                                            user
                                                        )
                                                    "
                                                    class="p-button-text delete"
                                                    icon="pi pi-replay"
                                                    [appPermission]="{
                                                    features: [{
                                                        feature:
                                                        features
                                                            .userManagement
                                                            .name,
                                                    page: features
                                                        .userManagement
                                                        .pages.userList
                                                        .name,
                                                    pageFeature: [
                                                        features
                                                            .userManagement
                                                            .pages.userList
                                                            .features
                                                            .userRestore.name
                                                    ],
                                                    pageFeatureCheck: 'or',
                                                    }],
                                                    mode: 'none'
                                                }"
                                                ></button>
                                            </ng-template>
                                        </div>
                                    </div>
                                    <span class="font-medium"
                                        >{{ user.firstName }}
                                        {{ user.lastName }}</span
                                    >
                                    <span class="body-m"
                                        >Email: {{ user.userName || '-' }}</span
                                    >
                                    <span class="body-m"
                                        >Phone:
                                        {{ user.phoneNumber || '-' }}</span
                                    >
                                    <p-divider></p-divider>
                                </div>
                            </ng-container>
                        </div>
                    </ng-container>
                    <ng-template #noUsers>
                        <div class="empty-state">
                            <span>You don't have any users.</span>
                            <button
                                pButton
                                (click)="openAddNewUserModal()"
                                [appPermission]="{
                                    features: [{
                                        feature: features.userManagement.name,
                                        page: features.userManagement.pages.userList
                                            .name,
                                        pageFeature: [
                                            features.userManagement.pages.userList
                                                .features.userCreate.name
                                        ],
                                        pageFeatureCheck: 'or', 
                                    }],
                                    mode: 'none'
                                }"
                            >
                                Add New User
                            </button>
                        </div>
                    </ng-template>
                </ng-container>
            </ng-container>
        </ng-container>
    </div>
</div>

<app-add-new-user></app-add-new-user>
<app-remove-user-modal></app-remove-user-modal>
<app-restore-user-modal></app-restore-user-modal>
