<ng-container
    *ngIf="{
        status: status$ | async,
            tourDetails: tourDetails$ | async,
        } as data"
>
    <div class="container">
        <div class="main-content">
            <div class="header-row">
                <h2>Itinerary</h2>
                <button
                    pButton
                    class="btn btn-primary"
                    (click)="openAddItineraryModal()"
                    [appPermission]="{
                        features: [{
                            feature:
                                features.toursAndServicesEdit.name,
                            page: features.toursAndServicesEdit.pages
                                .itinerary.name,
                            pageFeature: [
                                features.toursAndServicesEdit.pages
                                    .itinerary
                                    .features.addItinerary.name
                            ],
                        }],
                        mode: 'none'
                    }"
                >
                    <i class="pi pi-plus"></i>
                    Add itinerary
                </button>
            </div>
        </div>
        <ng-container [ngSwitch]="data.status">
            <ng-container *ngSwitchCase="'loading'">
                <app-loader-embed [isDisplayed]="true"></app-loader-embed>
            </ng-container>
            <ng-container *ngSwitchCase="'error'">
                <div class="error-state">
                    <span>Error loading itineraries</span>
                    <button pButton (click)="refresh()">Retry</button>
                </div>
            </ng-container>
            <ng-container *ngSwitchCase="'success'">
                <ng-container *ngIf="data.tourDetails; else emptyTourPrices">
                    <ng-container
                        *ngIf="
                            data.tourDetails.totalItineraryDurationMinutes ===
                                data.tourDetails.durationMinutes;
                            else notMatch
                        "
                    >
                        <span class="duration matched"
                            ><i class="pi pi-check"></i> The tour itinerary
                            duration added up to
                            {{ data.tourDetails.totalItineraryDuration }} &
                            matches the tour time.</span
                        >
                    </ng-container>
                    <ng-template #notMatch>
                        <span class="duration notMatch"
                            ><i class="pi pi-exclamation-triangle"></i> Current
                            itinerary duration mismatches tour time: (<strong>
                                {{ data.tourDetails.tourDuration }} </strong
                            >) | Current Itinerary Duration Sum:
                            <strong>
                                {{
                                    data.tourDetails.totalItineraryDuration
                                }}</strong
                            ></span
                        >
                    </ng-template>

                    <ng-container *ngIf="data.tourDetails.tourItineraryList">
                        <app-itinerary-table
                            [tourItineraryList]="
                                data.tourDetails.tourItineraryList
                            "
                        ></app-itinerary-table>
                    </ng-container>
                </ng-container>
                <ng-template #emptyTourPrices>
                    <div>
                        <span>This tour doesn't have any itineraries</span>
                    </div>
                </ng-template>
            </ng-container>
        </ng-container>
    </div>
</ng-container>
<app-add-new-tour-itinerary-modal></app-add-new-tour-itinerary-modal>
<app-edit-tour-itinerary-modal></app-edit-tour-itinerary-modal>
<app-remove-tour-itinerary-modal></app-remove-tour-itinerary-modal>
