<div class="container">
    <div class="main-content">
        <ng-container
            *ngIf="{
                status: status$ | async,
                included: included$ | async,
                notIncluded: notIncluded$ | async,
        } as data"
        >
            <div class="header-row">
                <h2>What is included?</h2>
                <button
                    (click)="openAddTourIncludedModal('isIncluded')"
                    pButton
                    class="btn btn-primary"
                    [appPermission]="{
                        features: [{

                            feature:
                                features.toursAndServicesEdit.name,
                            page: features.toursAndServicesEdit.pages
                                .included.name,
                            pageFeature: [
                                features.toursAndServicesEdit.pages
                                    .included
                                    .features.addItem.name,
                            ],
                        }],
                        mode: 'none'
                    }"
                >
                    <i class="pi pi-plus"></i>
                    Add Item
                </button>
            </div>

            <ng-container [ngSwitch]="data.status">
                <ng-container *ngSwitchCase="'loading'">
                    <app-loader-embed [isDisplayed]="true"></app-loader-embed>
                </ng-container>
                <ng-container *ngSwitchCase="'error'">
                    <div class="error-state">
                        <span>Error loading included items</span>
                        <button pButton (click)="refresh()">Retry</button>
                    </div>
                </ng-container>
                <ng-container *ngSwitchCase="'success'">
                    <ng-container
                        *ngIf="data.included; else emptyTourIncludedItems"
                    >
                        <app-tour-item-table
                            [tourItems]="data.included"
                        ></app-tour-item-table>
                    </ng-container>
                    <ng-template #emptyTourIncludedItems>
                        <div>
                            <span
                                >Tour has no included item. Fill in the form
                                above to add items included in the tour.</span
                            >
                        </div>
                    </ng-template>
                </ng-container>
            </ng-container>

            <div class="header-row not-included">
                <h2>What is not included?</h2>
                <button
                    (click)="openAddTourIncludedModal('notIncluded')"
                    pButton
                    class="btn btn-primary"
                    [appPermission]="{
                        features: [{

                            feature:
                                features.toursAndServicesEdit.name,
                            page: features.toursAndServicesEdit.pages
                                .included.name,
                            pageFeature: [
                                features.toursAndServicesEdit.pages
                                    .included
                                    .features.addItem.name,
                            ],
                        }],
                        mode: 'none'
                    }"
                >
                    <i class="pi pi-plus"></i>
                    Add Item
                </button>
            </div>

            <ng-container [ngSwitch]="data.status">
                <ng-container *ngSwitchCase="'loading'">
                    <app-loader-embed [isDisplayed]="true"></app-loader-embed>
                </ng-container>
                <ng-container *ngSwitchCase="'error'">
                    <div class="error-state">
                        <span
                            >Error loading items not included in the tour</span
                        >
                        <button pButton (click)="refresh()">Retry</button>
                    </div>
                </ng-container>
                <ng-container *ngSwitchCase="'success'">
                    <ng-container
                        *ngIf="data.notIncluded; else emptyTourNotIncludedItems"
                    >
                        <app-tour-item-table
                            [tourItems]="data.notIncluded"
                        ></app-tour-item-table>
                    </ng-container>
                    <ng-template #emptyTourNotIncludedItems>
                        <div>
                            <span
                                >Tour has no excluded items. Fill in the form
                                above to add excluded items.</span
                            >
                        </div>
                    </ng-template>
                </ng-container>
            </ng-container>
        </ng-container>
    </div>
</div>
<app-add-included-modal></app-add-included-modal>
<app-edit-included-modal></app-edit-included-modal>
<app-remove-included-modal></app-remove-included-modal>
