<ng-container *ngIf="specialLicenses">
    <div class="special-licenses-container">
        <p-table
            [value]="specialLicenses || []"
            styleClass="special-licenses-table"
            [tableStyle]="{ 'min-width': '50rem' }"
            [paginator]="true"
            [rows]="20"
            [rowsPerPageOptions]="[10, 20, 50]"
            [scrollable]="true"
            [showCurrentPageReport]="true"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        >
            <ng-template pTemplate="header">
                <tr>
                    <th>Type</th>
                    <th>Valid From Date</th>
                    <th>Expiry Date</th>
                    <th>Document</th>
                    <th
                        alignFrozen="right"
                        pFrozenColumn
                        [appPermission]="{
                            features: [{

                                feature: features.userManagementEdit.name,
                                page: features.userManagementEdit.pages
                                    .specialLicenses.name,
                                pageFeature: [
                                    features.userManagementEdit.pages
                                        .specialLicenses.features.licenseUpdate
                                        .name,
                                    features.userManagementEdit.pages
                                        .specialLicenses.features.licenseDelete.name
                                ],
                                pageFeatureCheck: 'or',
                            }],
                            mode: 'none'
                        }"
                    >
                        Action
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item>
                <tr>
                    <td>
                        {{ item.typeName }}
                    </td>
                    <td>{{ item.fromDate | date : 'MM/dd/yyyy' }}</td>

                    <td>
                        {{ item.expireDate | date : 'MM/dd/yyyy' }}
                    </td>
                    <td class="document-container">
                        <ng-container
                            *ngIf="item.documentPath; else noDocument"
                        >
                            <div class="link-container">
                                <div class="text-container">
                                    <a
                                        [href]="item.documentPath"
                                        target="_blank"
                                    >
                                        {{
                                            item.documentPath.split('\/').pop()
                                        }}
                                    </a>
                                </div>
                                <i class="pi pi-external-link"></i>
                            </div>
                        </ng-container>
                        <ng-template #noDocument>
                            <span>No Document Uploaded</span>
                        </ng-template>
                    </td>
                    <td
                        alignFrozen="right"
                        pFrozenColumn
                        class="action-column"
                        [appPermission]="{
                            features: [{

                                feature: features.userManagementEdit.name,
                                page: features.userManagementEdit.pages
                                    .specialLicenses.name,
                                pageFeature: [
                                    features.userManagementEdit.pages
                                        .specialLicenses.features.licenseUpdate
                                        .name,
                                    features.userManagementEdit.pages
                                        .specialLicenses.features.licenseDelete.name
                                ],
                                pageFeatureCheck: 'or',
                            }],
                            mode: 'none'
                        }"
                    >
                        <button
                            pButton
                            icon="pi pi-pencil"
                            class="p-button-text edit"
                            pTooltip="Edit"
                            tooltipPosition="left"
                            (click)="openEditLicenseModal(item)"
                            [appPermission]="{
                                features: [{

                                    feature: features.userManagementEdit.name,
                                    page: features.userManagementEdit.pages
                                        .specialLicenses.name,
                                    pageFeature: [
                                        features.userManagementEdit.pages
                                            .specialLicenses.features.licenseUpdate
                                            .name
                                    ],
                                    pageFeatureCheck: 'or',
                                }],
                                mode: 'none'
                            }"
                        ></button>
                        <button
                            pButton
                            icon="pi pi-trash"
                            class="p-button-text delete"
                            pTooltip="Delete"
                            tooltipPosition="left"
                            (click)="openRemoveLicenseModal(item)"
                            [appPermission]="{
                                features: [{

                                    feature: features.userManagementEdit.name,
                                    page: features.userManagementEdit.pages
                                        .specialLicenses.name,
                                    pageFeature: [
                                        features.userManagementEdit.pages
                                            .specialLicenses.features.licenseDelete
                                            .name
                                    ],
                                    pageFeatureCheck: 'or',
                                }],
                                mode: 'none'
                            }"
                        ></button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</ng-container>
