<div class="main-content">
    <ng-container
        *ngIf="{
            locations: locations$ | async,
            status: status$ | async,
        } as data"
    >
        <ng-container [ngSwitch]="data.status?.loadHousingData">
            <ng-container *ngSwitchCase="'loading'">
                <app-loader-embed [isDisplayed]="true"></app-loader-embed>
            </ng-container>
            <ng-container *ngSwitchCase="'error'">
                <div class="error-state">
                    <span>Error loading inventories</span>
                    <button pButton (click)="refresh()">Retry</button>
                </div>
            </ng-container>
            <ng-container *ngSwitchCase="'success'">
                <h2>Housing</h2>
                <form
                    (ngSubmit)="saveHousingData()"
                    [formGroup]="housingDataForm"
                    [appPermission]="{
                        features: [{

                            feature: features.profile.name,
                            page: features.profile.pages.housing.name,
                            pageFeature: [
                                features.profile.pages.housing.features
                                    .housingUpdate.name
                            ],
                            pageFeatureCheck: 'or',
                        }],
                        mode: 'childDisabled'
                    }"
                >
                    <div class="row-container">
                        <div class="control-container">
                            <label class="form-control-label"
                                >Housing location</label
                            >
                            <p-dropdown
                                formControlName="housingLocation"
                                autocomplete="off"
                                optionLabel="location"
                                optionValue="locationId"
                                [autoDisplayFirst]="true"
                                [options]="data.locations || []"
                                appendTo="body"
                            ></p-dropdown>
                        </div>
                        <div class="control-container">
                            <label class="form-control-label"
                                >Weekly rent</label
                            >
                            <input
                                class="full-width"
                                type="text"
                                pInputText
                                formControlName="weeklyRent"
                            />
                        </div>
                    </div>

                    <div class="row-container">
                        <div class="control-container">
                            <label class="form-control-label"
                                >Pets number</label
                            >
                            <input
                                class="full-width"
                                type="text"
                                pInputText
                                formControlName="numberOfPets"
                            />
                        </div>
                        <div class="control-container">
                            <label class="form-control-label"
                                >Pet Deposit Amt</label
                            >
                            <input
                                class="full-width"
                                type="text"
                                pInputText
                                formControlName="petsDeposit"
                            />
                        </div>
                    </div>

                    <div class="row-container">
                        <div class="control-container">
                            <label class="form-control-label"
                                >Move in Date*</label
                            >
                            <p-calendar
                                #startDate
                                appendTo="body"
                                [showIcon]="true"
                                styleClass="calendar-icon"
                                dateFormat="mm/dd/yy"
                                formControlName="moveInDate"
                                [selectOtherMonths]="true"
                            ></p-calendar>
                        </div>
                        <div class="control-container">
                            <label class="form-control-label">Note</label>
                            <textarea
                                class="full-width"
                                rows="5"
                                cols="30"
                                pInputTextarea
                                formControlName="notes"
                            ></textarea>
                        </div>
                    </div>
                    <div class="row-container">
                        <div class="btn-container">
                            <ng-container
                                *ngIf="data.status?.saveHousingData === 'error'"
                            >
                                <span class="text-error"
                                    >Failed to Save User Housing</span
                                >
                            </ng-container>
                            <ng-container
                                *ngIf="
                                    data.status?.saveHousingData === 'success'
                                "
                            >
                                <span class="text-success"
                                    >User Housing Saved successfully!</span
                                >
                            </ng-container>
                            <div class="btn-group">
                                <button
                                    type="submit"
                                    pButton
                                    class="btn btn-primary"
                                    [loading]="
                                        data.status?.saveHousingData ===
                                        'loading'
                                    "
                                    [disabled]="
                                        data.status?.saveHousingData ===
                                            'loading' || housingDataForm.invalid
                                    "
                                    [appPermission]="{
                                        features: [{

                                            feature:
                                                features.profile.name,
                                            page: features.profile.pages
                                                .housing.name,
                                            pageFeature: [
                                                features.profile.pages
                                                    .housing.features.housingUpdate
                                                    .name
                                            ],
                                            pageFeatureCheck: 'or',
                                        }],
                                        mode: 'disabled'
                                    }"
                                >
                                    Save
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </ng-container>
        </ng-container>
    </ng-container>
</div>
