<div class="main-content">
    <div>
        <h2>Certifications</h2>
    </div>
    <div class="section-container">
        <div class="top-section">
            <button
                pButton
                class="btn btn-primary"
                (click)="openAddNewCertificationsModal()"
                [appPermission]="{
                    features: [{
                        feature: features.userManagementEdit.name,
                        page: features.userManagementEdit.pages.certifications.name,
                        pageFeature: [
                            features.userManagementEdit.pages.certifications
                                .features.certificationCreate.name
                        ],
                        pageFeatureCheck: 'or',
                    }],
                    mode: 'none'
                }"
            >
                <i class="pi pi-plus"></i>
                Add New
            </button>
        </div>
    </div>
</div>
<app-certification-table></app-certification-table>

<!-- modals -->
<app-add-new-certifications-modal></app-add-new-certifications-modal>
<app-edit-certifications-modal></app-edit-certifications-modal>
<app-remove-certifications-modal></app-remove-certifications-modal>
