<ng-container
    *ngIf="{
        isOpen: (isOpen$ | async) || false,
        tours: tours$ | async,
        status: status$ | async
    } as data"
>
    <p-dialog
        [(visible)]="data.isOpen"
        (onHide)="close()"
        [modal]="true"
        [style]="{ width: '60vw', height: 'auto' }"
        styleClass="add-unallocated-inventory-modal"
        [breakpoints]="{ '768px': '100vw' }"
        [showHeader]="false"
        [draggable]="false"
        [resizable]="false"
        [dismissableMask]="true"
        appendTo="body"
    >
        <div class="modal-inner-container">
            <div class="modal-header">
                <h2>Add Unallocated Inventory</h2>
            </div>
            <p-divider></p-divider>
            <form
                [formGroup]="addUnallocatedInventoryForm"
                class="add-unallocated-inventory-container"
                (ngSubmit)="save()"
            >
                <div class="form-item">
                    <label for="tour">Select Tour</label>
                    <p-dropdown
                        styleClass="tour-dropdown"
                        formControlName="tour"
                        optionLabel="tourName"
                        placeholder="Select Tour"
                        optionValue="tourId"
                        [options]="data.tours || []"
                    ></p-dropdown>
                </div>
                <div class="form-item">
                    <label for="seats">Seats per Tour</label>
                    <input
                        pInputText
                        formControlName="seats"
                        placeholder="Seats per Tour"
                    />
                </div>
                <div class="form-item full-width">
                    <label for="frequency">Recurrence</label>
                    <div class="radio-row">
                        <ng-container *ngFor="let option of options">
                            <div class="radio-item">
                                <p-radioButton
                                    [inputId]="option.value"
                                    formControlName="frequency"
                                    [value]="option.value"
                                ></p-radioButton>
                                <label [for]="option.value">{{
                                    option.label
                                }}</label>
                            </div>
                        </ng-container>
                    </div>
                </div>

                <ng-container
                    *ngIf="
                        addUnallocatedInventoryForm.value.frequency !==
                            'OneTime' &&
                        addUnallocatedInventoryForm.value.frequency !== 'Daily'
                    "
                >
                    <div class="form-item full-width">
                        <label for="selectedDays">Days</label>
                        <div class="checkbox-container">
                            <ng-container
                                *ngFor="let option of dayOfWeekOptions"
                            >
                                <p-checkbox
                                    name="selectedDays"
                                    formControlName="selectedDays"
                                    [label]="option.label"
                                    [value]="option.value"
                                >
                                </p-checkbox>
                            </ng-container>
                        </div>
                    </div>
                </ng-container>

                <div class="add-unallocated-inventory-container">
                    <div class="form-item">
                        <label for="fromDate"
                            >{{
                                addUnallocatedInventoryForm.value.frequency ===
                                'OneTime'
                                    ? 'Departure Date'
                                    : 'From Date'
                            }}
                        </label>
                        <p-calendar
                            [showIcon]="true"
                            appendTo="body"
                            formControlName="fromDate"
                        ></p-calendar>
                    </div>
                    <ng-container
                        *ngIf="
                            addUnallocatedInventoryForm.value.frequency !==
                            'OneTime'
                        "
                    >
                        <div class="form-item">
                            <label for="toDate">To Date</label>
                            <p-calendar
                                [showIcon]="true"
                                appendTo="body"
                                formControlName="toDate"
                            ></p-calendar>
                        </div>
                    </ng-container>
                    <div class="form-item">
                        <label for="fromTime">{{
                            addUnallocatedInventoryForm.value.frequency ===
                            'OneTime'
                                ? 'Departure Time'
                                : 'From Time'
                        }}</label>
                        <p-calendar
                            [defaultDate]="defaultTime"
                            [showIcon]="true"
                            [timeOnly]="true"
                            styleClass="p-calendar-timeonly"
                            formControlName="fromTime"
                            appendTo="body"
                            hourFormat="12"
                            [stepMinute]="5"
                            (onFocus)="focusFromTime()"
                        ></p-calendar>
                    </div>
                    <ng-container
                        *ngIf="
                            addUnallocatedInventoryForm.value.frequency !==
                            'OneTime'
                        "
                    >
                        <div class="form-item">
                            <label for="toTime">To Time</label>
                            <p-calendar
                                [defaultDate]="defaultTime"
                                [showIcon]="true"
                                [timeOnly]="true"
                                styleClass="p-calendar-timeonly"
                                formControlName="toTime"
                                appendTo="body"
                                hourFormat="12"
                                [stepMinute]="5"
                                (onFocus)="focusToTime()"
                                [selectOtherMonths]="true"
                            ></p-calendar>
                        </div>

                        <div class="full-width">
                            <span class="label"
                                >Time Interval between events</span
                            >
                        </div>
                        <div class="form-item time-row">
                            <label for="hours">Hrs.</label>
                            <input
                                inputId="hours"
                                pInputText
                                formControlName="hours"
                                placeholder="Hours"
                            />
                        </div>
                        <div class="form-item time-row">
                            <label for="mins">Mins.</label>
                            <input
                                inputId="mins"
                                pInputText
                                placeholder="Minutes"
                                formControlName="minutes"
                            />
                        </div>
                    </ng-container>
                </div>

                <ng-container *ngIf="data.status === 'error'">
                    <div>
                        <span class="text-error">Failed to save inventory</span>
                    </div>
                </ng-container>
                <div class="button-row">
                    <button
                        pButton
                        class="btn btn-primary-inverse"
                        [disabled]="data.status === 'loading'"
                        (click)="close()"
                    >
                        Close
                    </button>
                    <button
                        pButton
                        class="btn btn-primary"
                        [loading]="data.status === 'loading'"
                        type="submit"
                    >
                        Save
                    </button>
                </div>
            </form>
        </div>
    </p-dialog>
</ng-container>
