<ng-container *ngIf="bookings">
    <ng-container *ngIf="bookings && bookings.length > 0; else noBookings">
        <div class="table-container">
            <p-table
                #bookingTable
                [value]="bookings || []"
                [scrollable]="true"
                [tableStyle]="{ width: '100%' }"
                dataKey="bookingId"
            >
                <ng-template pTemplate="header">
                    <tr>
                        <th
                            alignFrozen="left"
                            pFrozenColumn
                            pSortableColumn="firstName"
                        >
                            Name
                        </th>
                        <th>
                            <i
                                pTooltip="Checked-In"
                                tooltipPosition="right"
                                class="pi pi-check-circle"
                            ></i>
                        </th>
                        <th pSortableColumn="totalBooked">Total Booked</th>
                        <th pSortableColumn="pickUp">Pick up Location</th>
                        <th pSortableColumn="shipName">Ship</th>

                        <th pSortableColumn="primaryPhoneNumber">
                            Phone Number
                        </th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-booking let-index="rowIndex">
                    <tr>
                        <td alignFrozen="left" pFrozenColumn>
                            <span class="font-medium">
                                {{ booking.leadFirstName | titlecase }}
                                {{ booking.leadLastName | titlecase }}
                                <ng-container *ngIf="booking.notes">
                                    <ng-container
                                        *ngIf="touchDevice; else nonTouchDevice"
                                    >
                                        <i
                                            class="pi pi-comment"
                                            [pTooltip]="booking.notes"
                                            tooltipPosition="right"
                                            tooltipEvent="focus"
                                            [tabindex]="0"
                                        ></i>
                                    </ng-container>
                                    <ng-template #nonTouchDevice>
                                        <i
                                            class="pi pi-comment"
                                            [pTooltip]="booking.notes"
                                            tooltipPosition="right"
                                        ></i>
                                    </ng-template>
                                </ng-container>
                            </span>
                        </td>
                        <td>
                            <ng-container *ngIf="booking.isCheckedIn">
                                <i class="pi pi-check-circle text-success"></i>
                            </ng-container>
                        </td>

                        <td>
                            <span>
                                {{ booking.totalBooked }}
                            </span>
                        </td>
                        <td>
                            <span>
                                {{ booking.pickupLocationName }}
                            </span>
                        </td>
                        <td>
                            <span>{{ booking.shipName }} </span>
                        </td>

                        <td>
                            <span>{{ booking.phoneNumber }}</span>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </ng-container>
    <ng-template #noBookings>
        <div class="empty-container">
            <div class="icon-container">
                <app-icon-booking-search
                    [width]="50"
                    [height]="50"
                    color="#676767"
                ></app-icon-booking-search>
            </div>
            <span class="body font-medium">No bookings found</span>
        </div>
    </ng-template>
</ng-container>
