<ng-container *ngIf="id && calendarData">
    <div class="full-day-container">
        <div
            class="ships-container"
            [style.width]="
                calendarData.ships[id] && calendarData.ships[id].length > 0
                    ? calendarData.ships[id].length * 65 + 'px'
                    : '100px'
            "
        >
            <ng-container
                *ngIf="calendarData.ships?.[id] as ships; else noShips"
            >
                <ng-container *ngIf="ships && ships.length > 0; else noShips">
                    <ng-container *ngFor="let ship of ships; let i = index">
                        <div
                            class="ship-container"
                            [style.top]="ship.start | shipPosition : 5"
                            [style.height]="ship.end | shipHeight : ship.start"
                            [style.width]="'65px'"
                            [style.left]="i * 65 + 'px'"
                            [style.backgroundColor]="ship.background"
                            [style.borderColor]="ship.color"
                            [style.color]="ship.color"
                        >
                            <div class="inner-container">
                                <span class="body font-medium"
                                    >{{ ship.description }}
                                    <ng-container *ngIf="ship.portName">
                                        - {{ ship.portName }}
                                    </ng-container>
                                    <ng-container *ngIf="ship.shipCapacity">
                                        ({{ ship.shipCapacity }} pass)
                                    </ng-container>
                                </span>
                                <span class="body-m"
                                    >Arrival:
                                    {{ ship.start | date : 'hh:mm a' }}
                                    / Departure:

                                    {{
                                        ship.end
                                            ? (ship.end | date : 'hh:mm a')
                                            : '-'
                                    }}</span
                                >
                            </div>
                        </div>
                    </ng-container>
                </ng-container>
            </ng-container>
            <ng-template #noShips>
                <div class="no-ship-container">
                    <div class="inner-container">
                        <span class="body-xl font-medium"
                            >No Scheduled Ship Arrivals</span
                        >
                    </div>
                </div>
            </ng-template>
        </div>
        <ng-container *ngIf="calendarData.tours?.[id] as tours">
            <div
                class="tours-container"
                (drop)="onDrop($event)"
                (dragover)="onDragOver($event)"
            >
                <ng-container *ngFor="let hour of tours | keyvalue : tourSort">
                    <div
                        class="hour-container"
                        [style.top]="hour.value.start | tourHoursPosition : 5"
                    >
                        <div class="hour-inner-container">
                            <ng-container *ngFor="let tour of hour.value.tours">
                                <p-overlayPanel
                                    #tourDetailsOverlay
                                    appendTo="body"
                                >
                                    <ng-template pTemplate="content">
                                        <app-tour-details
                                            [tour]="tour"
                                            [editPermission]="editPermission"
                                            [allocatePermission]="
                                                allocatePermission
                                            "
                                            [releasePermission]="
                                                releasePermission
                                            "
                                            [deletePermission]="
                                                deletePermission
                                            "
                                            [allowModifyReleaseInv]="
                                                allowModifyReleaseInv
                                            "
                                            [displayQuickActions]="
                                                displayQuickActions
                                            "
                                            (allocateInventory)="
                                                onAllocateInventory($event)
                                            "
                                            (releaseInventory)="
                                                releaseInventory.emit($event)
                                            "
                                            (deleteInventory)="
                                                deleteInventory.emit($event)
                                            "
                                            (editInventory)="
                                                onEditInventory($event)
                                            "
                                        ></app-tour-details>
                                    </ng-template>
                                </p-overlayPanel>
                                <div
                                    [draggable]="
                                        allowDrag && tour.isUnallocated
                                    "
                                    (dragstart)="onDragStart($event, tour)"
                                    (dragend)="onDragEnd($event)"
                                    (click)="tourDetailsOverlay.toggle($event)"
                                    class="tour-container"
                                    [style.width]="
                                        (1 / hour.value.tours.length) * 100 +
                                        '%'
                                    "
                                    [style.top]="
                                        tour.start
                                            | tourMinutesPosition
                                                : hour.value.start
                                    "
                                    [style.background]="
                                        (tour.isReleased === true
                                            ? 'linear-gradient(' +
                                              tour.background +
                                              ',' +
                                              tour.background +
                                              '), '
                                            : '') +
                                        '
                                        linear-gradient(#fff, #fff)'
                                    "
                                    [style.borderColor]="tour.color"
                                    [style.color]="tour.color"
                                    [class.unallocated]="tour.isUnallocated"
                                    [class.allocated]="
                                        !tour.isUnallocated && !tour.isReleased
                                    "
                                >
                                    <span
                                        >{{ tour.description }},
                                        {{ tour.cruiseShipName }}
                                        <ng-container
                                            *ngTemplateOutlet="seatsAllocation"
                                        ></ng-container>
                                    </span>
                                </div>
                                <ng-template #seatsAllocation>
                                    <ng-container
                                        *ngIf="tour.isReleased && tour.extras"
                                    >
                                        -
                                        {{ tour.extras.seatsSold || '0' }}/{{
                                            tour.extras.seatsAllocated || '0'
                                        }}
                                        Sold
                                    </ng-container>
                                </ng-template>
                            </ng-container>
                        </div>
                    </div>
                </ng-container>
            </div>
        </ng-container>
    </div>
</ng-container>
