<div class="container">
    <div class="header-container">
        <h1 class="current">User Management</h1>
    </div>

    <div class="main-content-container">
        <div
            class="nav-container"
            [appPermission]="{
            features: [{
                feature: features.userManagement.name,
            page: 
                features.userManagement.pages.userList.name,
            },
            {
                feature: features.userManagement.name,
            page: 
                features.userManagement.pages.userRoles.name,
            }],
            featureCheck: 'atleastOne',
            mode: 'none'
        }"
        >
            <ng-container
                *ngIf="
                    userManagementNavOptions$
                        | async as userManagementNavOptions
                "
            >
                <ng-container *ngFor="let option of userManagementNavOptions">
                    <a
                        routerLinkActive="active"
                        #rla="routerLinkActive"
                        [routerLink]="option.path"
                    >
                        <span>{{ option.displayName }}</span>
                    </a>
                </ng-container>
                <a
                    routerLinkActive="active"
                    #rla="routerLinkActive"
                    routerLink="communications"
                >
                    <span>Communications</span>
                </a>
            </ng-container>
        </div>
        <router-outlet></router-outlet>
    </div>
</div>
