.calendar-view-header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .day-indicator {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        span {
            &.weekend {
                color: var(--color-error);
            }
        }
    }
}
