<ng-container
    *ngIf="{
        tours: tours$ | async,
        ports: ports$ | async,
        filterLoading: filterLoading$ | async,
        allocationDataLoading: allocationDataLoading$ | async
    } as config"
>
    <div
        class="needing-allocation-form-container"
        [class.p-disabled]="config.allocationDataLoading === true"
    >
        <button
            pButton
            type="button"
            class="btn btn-text-primary btn-clear"
            (click)="clearFilters()"
        >
            Clear Filters
        </button>
        <form [formGroup]="allocationControls" (ngSubmit)="submit()">
            <div class="filter-left-container">
                <div class="filter-item">
                    <label htmlFor="startDate">From</label>
                    <p-calendar
                        #startDate
                        appendTo="body"
                        [showIcon]="true"
                        styleClass="calendar-icon"
                        dateFormat="mm/dd/yy"
                        placeholder="Start date"
                        formControlName="startDate"
                        [selectOtherMonths]="true"
                    ></p-calendar>
                </div>
                <div class="filter-item">
                    <label htmlFor="endDate">To</label>
                    <p-calendar
                        #endDate
                        appendTo="body"
                        [showIcon]="true"
                        styleClass="calendar-icon"
                        dateFormat="mm/dd/yy"
                        placeholder="End date"
                        formControlName="endDate"
                        [selectOtherMonths]="true"
                    ></p-calendar>
                </div>
                <div class="filter-item">
                    <label htmlFor="toDate">Select Port</label>
                    <p-dropdown
                        id="port"
                        name="port"
                        optionValue="portId"
                        optionLabel="portName"
                        autocomplete="off"
                        placeholder="All"
                        [autoDisplayFirst]="false"
                        [options]="config.ports || []"
                        formControlName="port"
                        [dropdownIcon]="
                            config.filterLoading?.ports === true
                                ? 'pi pi-spinner pi-spin'
                                : 'pi pi-chevron-down'
                        "
                    ></p-dropdown>
                </div>
                <div class="desktop">
                    <ng-container
                        *ngTemplateOutlet="radioFilters"
                    ></ng-container>
                </div>
            </div>
            <div class="filter-right-container">
                <div class="filter-item">
                    <label class="form-control-label" for="tours"
                        >Select Tours</label
                    >
                    <p-multiSelect
                        placeholder="Select all Tours"
                        name="tours"
                        [maxSelectedLabels]="50"
                        [options]="config.tours || []"
                        formControlName="tours"
                        appendTo="body"
                        placeholder="Select tours"
                        optionValue="tourId"
                        optionLabel="tourName"
                        display="chip"
                        [dropdownIcon]="
                            config.filterLoading?.tours === true
                                ? 'pi pi-spinner pi-spin'
                                : 'pi pi-chevron-down'
                        "
                    >
                    </p-multiSelect>
                </div>
                <div class="mobile">
                    <ng-container
                        *ngTemplateOutlet="radioFilters"
                    ></ng-container>
                </div>
                <div class="buttons-container">
                    <button
                        pButton
                        type="button"
                        class="btn btn-primary-inverse"
                        (click)="savePreference()"
                    >
                        Save Preference
                    </button>
                    <button pButton type="submit" class="btn btn-primary">
                        Search
                    </button>
                </div>
            </div>

            <ng-template #radioFilters>
                <div class="radio-filters">
                    <div class="radio-filter-item">
                        <p-radioButton
                            name="optionRadio"
                            inputId="threshold"
                            value="threshold"
                            formControlName="optionRadio"
                        ></p-radioButton>
                        <label for="threshold" class="ml-2"
                            >Ships that have sold at or above the current
                            threshold of
                            <p-inputNumber
                                formControlName="thresholdPercentage"
                                inputId="thresholdPercentages"
                                suffix=" %"
                            >
                            </p-inputNumber>
                        </label>
                    </div>
                    <div class="radio-filter-item">
                        <p-radioButton
                            name="optionRadio"
                            inputId="seats"
                            value="seats"
                            formControlName="optionRadio"
                        ></p-radioButton>
                        <label for="seats" class="ml-2"
                            >Use when less than
                            <p-inputNumber
                                inputId="seatsAvailables"
                                formControlName="seatsAvailable"
                            >
                            </p-inputNumber>
                            seats are available</label
                        >
                    </div>
                </div>
            </ng-template>
        </form>
    </div>
</ng-container>
