<ng-container *ngIf="{ agentUsers: agentUsers$ | async } as data">
    <div class="agent-information-container">
        <form class="form-container" [formGroup]="agentInfoForm">
            <!-- <label htmlFor="agent">Agent</label> -->
            <p-dropdown
                [options]="
                    data.agentUsers && data.agentUsers.length > 0
                        ? data.agentUsers
                        : []
                "
                placeholder="Select Agent"
                formControlName="agent"
                [autoDisplayFirst]="false"
                appendTo="body"
            >
                <ng-template pTemplate="item" let-agentOption>
                    <span>
                        {{ agentOption.uniqueName }}
                    </span>
                </ng-template>
                <ng-template pTemplate="selectedItem">
                    <span>
                        {{ agentInfoForm.controls.agent.value?.uniqueName }}:
                        {{
                            agentInfoForm.controls.agent.value
                                ?.contactPersonFirstName
                        }}
                        {{
                            agentInfoForm.controls.agent.value
                                ?.contactPersonLastName
                        }}</span
                    >
                </ng-template>
            </p-dropdown>
        </form>

        <!-- last modified -->
        <ng-container *ngIf="lastModifiedBy$ | async as lastModifiedBy">
            <div class="last-modified-container">
                <span class="">Last Modified By:</span>
                <span class="font-medium">{{ lastModifiedBy }}</span>
            </div>
        </ng-container>
    </div>
</ng-container>
