<ng-container
    *ngIf="{
        isOpen: (isOpen$ | async) || false,
        context: context$ | async,
        status: status$ | async,
    } as data"
>
    <p-dialog
        [(visible)]="data.isOpen"
        (onHide)="close()"
        [modal]="true"
        [style]="{ width: '60vw', height: 'auto' }"
        styleClass="edit-tour-included"
        [breakpoints]="{ '768px': '100vw' }"
        [showHeader]="false"
        [draggable]="false"
        [resizable]="false"
        [dismissableMask]="true"
        appendTo="body"
    >
        <div class="modal-inner-container">
            <div class="modal-header">
                <h2>Edit User Training</h2>
            </div>
            <p-divider></p-divider>
            <form [formGroup]="editTourIncludedForm" (ngSubmit)="save()">
                <div class="form-container">
                    <div class="form-field third-width">
                        <label for="description">Description</label>
                        <input
                            type="text"
                            id="description"
                            formControlName="description"
                            pInputText
                        />
                    </div>
                </div>
                <div class="btn-container">
                    <ng-container *ngIf="data.status === 'error'">
                        <span class="text-error">Failed to update item</span>
                    </ng-container>
                    <button
                        pButton
                        class="btn btn-primary-inverse"
                        type="button"
                        (click)="close()"
                        [disabled]="data.status === 'loading'"
                    >
                        Cancel
                    </button>
                    <button
                        pButton
                        class="btn btn-primary"
                        type="submit"
                        [loading]="data.status === 'loading'"
                    >
                        Save
                    </button>
                </div>
            </form>
        </div>
    </p-dialog>
</ng-container>
