<ng-container
    *ngIf="{   
    allocationData: allocationData$ | async,
} as config"
>
    <div class="allocation-container">
        <p-table
            [value]="config.allocationData || []"
            styleClass="allocation-table"
            [scrollable]="true"
            [tableStyle]="{ width: '100%' }"
            [rows]="50"
            [rowsPerPageOptions]="[50, 100, 200]"
            [paginator]="true"
            [showCurrentPageReport]="true"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        >
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="tourInventoryDateString">
                        Date
                        <p-sortIcon
                            field="tourInventoryDateString"
                        ></p-sortIcon>
                    </th>
                    <th pSortableColumn="shipName">
                        Ship <p-sortIcon field="shipName"></p-sortIcon>
                    </th>
                    <th pSortableColumn="tourName">
                        Tour <p-sortIcon field="tourName"></p-sortIcon>
                    </th>
                    <th>Threshold</th>
                    <th>Seats Sold</th>
                    <th>Seat Allocation</th>
                    <th
                        pFrozenColumn
                        alignFrozen="right"
                        [appPermission]="{
                            features: [{

                                feature: features.inventoryManagement.name,
                                page: features.inventoryManagement.pages
                                    .needingAllocation.name,
                                pageFeature: [
                                    features.inventoryManagement.pages
                                        .needingAllocation.features.editInventory
                                        .name,
                                    features.inventoryManagement.pages
                                        .needingAllocation.features.setReminder
                                        .name,
                                    features.inventoryManagement.pages
                                        .needingAllocation.features.ignoreReminder
                                        .name
                                ],
                                pageFeatureCheck: 'or',
                            }],
                            mode: 'none'
                        }"
                    >
                        Action
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item>
                <tr>
                    <td>{{ item.tourInventoryDateString }}</td>
                    <td>{{ item.shipName }}</td>
                    <td>{{ item.tourName }}</td>
                    <td>{{ item.threshold }}</td>
                    <td>{{ item.seatSold }}</td>
                    <td>{{ item.seatAllocated }}</td>
                    <td pFrozenColumn alignFrozen="right">
                        <div
                            class="action-column"
                            [appPermission]="{
                                features: [{

                                    feature: features.inventoryManagement.name,
                                    page: features.inventoryManagement.pages
                                        .needingAllocation.name,
                                    pageFeature: [
                                        features.inventoryManagement.pages
                                            .needingAllocation.features
                                            .editInventory.name,
                                        features.inventoryManagement.pages
                                            .needingAllocation.features.setReminder
                                            .name,
                                        features.inventoryManagement.pages
                                            .needingAllocation.features
                                            .ignoreReminder.name
                                    ],
                                    pageFeatureCheck: 'or',
                                }],
                                mode: 'none'
                            }"
                        >
                            <button
                                pButton
                                aria-label="Edit"
                                pTooltip="Edit Tour Inventory"
                                tooltipPosition="left"
                                class="btn btn-light-gray"
                                (click)="openEditPage(item)"
                                [appPermission]="{
                                    features: [{

                                        feature: features.inventoryManagement.name,
                                        page: features.inventoryManagement.pages
                                            .needingAllocation.name,
                                        pageFeature: [
                                            features.inventoryManagement.pages
                                                .needingAllocation.features
                                                .editInventory.name
                                        ],
                                    }],
                                    mode: 'none'
                                }"
                            >
                                <i class="pi pi-pencil"></i>
                            </button>
                            <button
                                pButton
                                aria-label="Edit"
                                pTooltip="Set Reminder"
                                tooltipPosition="left"
                                class="btn btn-light-gray"
                                (click)="openSetReminderModal(item)"
                                [appPermission]="{
                                    features: [{

                                        feature: features.inventoryManagement.name,
                                        page: features.inventoryManagement.pages
                                            .needingAllocation.name,
                                        pageFeature: [
                                            features.inventoryManagement.pages
                                                .needingAllocation.features
                                                .setReminder.name
                                        ],
                                    }],
                                    mode: 'none'
                                }"
                            >
                                <i class="pi pi-bell"></i>
                                <ng-container *ngIf="item.isRemindLater">
                                    <div class="active-indicator"></div>
                                </ng-container>
                            </button>
                            <button
                                pButton
                                aria-label="Edit"
                                pTooltip="Ignore Tour Inventory"
                                tooltipPosition="left"
                                class="btn btn-light-gray"
                                (click)="openIgnoreModal(item)"
                                [appPermission]="{
                                    features: [{

                                        feature: features.inventoryManagement.name,
                                        page: features.inventoryManagement.pages
                                            .needingAllocation.name,
                                        pageFeature: [
                                            features.inventoryManagement.pages
                                                .needingAllocation.features
                                                .ignoreReminder.name
                                        ],
                                    }],
                                    mode: 'none'
                                }"
                            >
                                <img src="/assets/icons/ic_bell_cross.svg" />
                                <ng-container *ngIf="item.isIgnored">
                                    <div class="active-indicator"></div>
                                </ng-container>
                            </button>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</ng-container>
