<ng-container
    *ngIf="{
        isOpen: (isOpen$ | async) || false,
        context: context$ | async,
        status: status$ | async,
        cancellationReasons: cancellationReasons$ | async,
        displayCancelledForm: displayCancelledForm$ | async
    } as data"
>
    <p-dialog
        [(visible)]="data.isOpen"
        (onHide)="close()"
        [modal]="true"
        [style]="{ width: '60vw', height: 'auto' }"
        styleClass="form-dialog"
        [breakpoints]="{ '720px': '95vw' }"
        [showHeader]="false"
        [draggable]="false"
        [resizable]="false"
        [dismissableMask]="true"
        appendTo="body"
    >
        <div class="modal-inner-container">
            <div class="modal-header">
                <h2>Tour Booking Status</h2>
            </div>
            <ng-container *ngIf="data.context">
                <div class="tour-details-container">
                    <app-modal-tour-details
                        [assignment]="data.context"
                        [tourDate]="data.context.tourDate"
                    ></app-modal-tour-details>
                    <ng-container *ngIf="!data.context.isOpen">
                        <div class="tour-status-description">
                            <span
                                >This departure is not open for bookings, are
                                you sure you want to proceed?</span
                            >
                        </div>
                    </ng-container>

                    <form
                        [formGroup]="tourStatusForm"
                        (ngSubmit)="save(data.context)"
                    >
                        <div class="option-container">
                            <p-radioButton
                                name="tourStatus"
                                value="open"
                                formControlName="tourStatus"
                                inputId="open"
                            ></p-radioButton>
                            <label for="open">Open Tour</label>
                        </div>
                        <div class="option-container">
                            <p-radioButton
                                name="tourStatus"
                                value="close"
                                formControlName="tourStatus"
                                inputId="close"
                            ></p-radioButton>
                            <label for="close">Close Tour</label>
                        </div>
                        <div class="option-container">
                            <p-radioButton
                                name="tourStatus"
                                value="unopened"
                                formControlName="tourStatus"
                                inputId="unopened"
                            ></p-radioButton>
                            <label for="unopened">Unopened Tour</label>
                        </div>
                        <div class="option-container">
                            <p-radioButton
                                name="tourStatus"
                                value="cancelled"
                                formControlName="tourStatus"
                                inputId="cancelled"
                            ></p-radioButton>
                            <label for="cancelled">Cancel Tour</label>
                        </div>

                        <!-- cancel form -->
                        <ng-container *ngIf="data.displayCancelledForm">
                            <div class="cancel-form-container">
                                <span class="h4">Cancellation Reason</span>
                                <div class="cancellation-reasons-container">
                                    <ng-container
                                        *ngFor="
                                            let cancellationReason of data.cancellationReasons
                                        "
                                    >
                                        <div class="option-container">
                                            <p-radioButton
                                                name="cancellationReason"
                                                [inputId]="
                                                    cancellationReason.cancellationReasonID +
                                                    ''
                                                "
                                                [value]="
                                                    cancellationReason.cancellationReasonID
                                                "
                                                formControlName="cancellationReason"
                                            ></p-radioButton>
                                            <label
                                                [for]="
                                                    cancellationReason.cancellationReasonID +
                                                    ''
                                                "
                                                >{{
                                                    cancellationReason.cancellationReasonName
                                                }}</label
                                            >
                                        </div>
                                    </ng-container>
                                </div>

                                <div class="field-container">
                                    <label for="cancellationReasonNotes"
                                        >Notes</label
                                    >
                                    <textarea
                                        name="cancellationReasonNotes"
                                        pInputTextarea
                                        formControlName="cancellationReasonNotes"
                                    ></textarea>
                                </div>
                            </div>
                        </ng-container>

                        <div class="action-container">
                            <ng-container *ngIf="data.status === 'error'">
                                <span class="text-error">
                                    Unable to update tour
                                </span>
                            </ng-container>
                            <button
                                pButton
                                class="btn btn-primary"
                                type="submit"
                                [loading]="data.status === 'loading'"
                            >
                                Save
                            </button>
                        </div>
                    </form>
                </div>
            </ng-container>
        </div>
    </p-dialog>
</ng-container>
