<div class="cardtype-container" [ngSwitch]="cardType">
    <ng-container *ngSwitchCase="'visa'">
        <img src="/assets/icons/ic_visa.svg" alt="Visa Icon" />
    </ng-container>
    <ng-container *ngSwitchCase="'amex'">
        <img src="/assets/icons/ic_amex.svg" alt="Amex Icon" />
    </ng-container>
    <ng-container *ngSwitchCase="'mastercard'">
        <img src="/assets/icons/ic_mastercard.svg" alt="Mastercard Icon" />
    </ng-container>
    <ng-container *ngSwitchCase="'discover'">
        <img src="/assets/icons/ic_discover.svg" alt="Discover Icon" />
    </ng-container>
    <ng-container *ngSwitchCase="'dinersclub'">
        <img src="/assets/icons/ic_diners_club.svg" alt="Diners Club Icon" />
    </ng-container>
    <ng-container *ngSwitchCase="'jcb'">
        <img src="/assets/icons/ic_jcb.svg" alt="JCB Icon" />
    </ng-container>
    <span *ngSwitchCase="'invoicelater'">Invoice Later</span>
    <span *ngSwitchDefault>Other</span>
</div>
