<ng-container
    *ngIf="{
        isOpen: (isOpen$ | async) || false,
        context: context$ | async,
        status: status$ | async,
    } as data"
>
    <p-dialog
        [(visible)]="data.isOpen"
        (onHide)="close()"
        [modal]="true"
        [style]="{ width: '60vw', height: 'auto' }"
        styleClass="assignment-notes-dialog"
        [breakpoints]="{ '720px': '95vw' }"
        [showHeader]="false"
        [draggable]="false"
        [resizable]="false"
        [dismissableMask]="true"
        position="center"
        appendTo="body"
    >
        <div class="modal-inner-container">
            <div class="modal-header">
                <h2>Notes</h2>
            </div>
            <ng-container
                *ngIf="data.context && data.context.assignment as assignment"
            >
                <app-modal-tour-details
                    [assignment]="assignment"
                    [tourDate]="data.context.tourDate"
                ></app-modal-tour-details>
                <form (ngSubmit)="save(data.context.assignment)">
                    <textarea
                        pInputTextarea
                        [ngModelOptions]="{ standalone: true }"
                        [(ngModel)]="notes"
                        class="notes-textarea"
                        [appPermission]="{
                    features: [{
                        feature: features.dailyTourDispatch.name,
                    page: features.dailyTourDispatch.pages
                        .dailyTourDispatch.name,
                    pageFeature: [
                            features.dailyTourDispatch.pages
                            .dailyTourDispatch.features
                            .notesUpdate.name,
                    ],
                    pageFeatureCheck: 'or',
                    }],
                    mode: 'childDisabled',
                }"
                    ></textarea>
                    <div class="action-container">
                        <ng-container *ngIf="data.status === 'error'">
                            <span class="text-error">
                                Unable to update notes
                            </span>
                        </ng-container>
                        <button
                            pButton
                            type="button"
                            class="btn btn-primary-inverse"
                            (click)="close()"
                            [disabled]="data.status === 'loading'"
                        >
                            Cancel
                        </button>
                        <button
                            pButton
                            class="btn btn-primary"
                            type="submit"
                            [loading]="data.status === 'loading'"
                        >
                            Save
                        </button>
                    </div>
                </form>
            </ng-container>
        </div>
    </p-dialog>
</ng-container>
