<ng-container
    *ngIf="{
        isOpen: (isOpen$ | async) || false,
        context: context$ | async,
        booking: booking$ | async,
        status: checkinStatus$ | async
    } as data"
>
    <p-dialog
        [(visible)]="data.isOpen"
        (onHide)="close()"
        [modal]="true"
        [style]="{ width: '80vw', height: 'auto', maxWidth: '900px' }"
        styleClass="edit-booking-dialog"
        [breakpoints]="{ '720px': '95vw' }"
        [showHeader]="false"
        [draggable]="false"
        [resizable]="false"
        [dismissableMask]="true"
        position="center"
        appendTo="body"
    >
        <div class="modal-inner-container">
            <div class="modal-header">
                <h2>Update Booking</h2>
                <ng-container
                    *ngIf="
                        data.context?.assignment
                            ?.tourInventoryId as tourInventoryId
                    "
                >
                    <ng-container
                        *ngIf="data.context?.booking?.bookingId as bookingId"
                    >
                        <div class="actions-container">
                            <ng-container
                                *ngIf="
                                    data.booking?.isCheckedIn;
                                    else notCheckedIn
                                "
                            >
                                <div class="checkedin-badge">
                                    <span>Checked In</span>
                                    <i class="pi pi-check-circle"></i>
                                </div>
                            </ng-container>
                            <ng-template #notCheckedIn>
                                <button
                                    pButton
                                    class="btn btn-primary"
                                    [loading]="data.status === 'loading'"
                                    (click)="
                                        checkinBooking(
                                            tourInventoryId,
                                            bookingId
                                        )
                                    "
                                >
                                    Check-In
                                </button>
                                <ng-container *ngIf="data.status === 'error'">
                                    <span class="text-error"
                                        >Unable to check-in guest</span
                                    >
                                </ng-container>
                            </ng-template>
                        </div>
                    </ng-container>
                </ng-container>
            </div>
            <ng-container
                *ngIf="data.isOpen && data.context && data.context.assignment"
            >
                <app-modal-tour-details
                    [assignment]="data.context.assignment"
                    [tourDate]="data.context.tourDate"
                ></app-modal-tour-details>
                <app-modal-edit-booking
                    [assignment]="data.context.assignment"
                    [tourDate]="data.context.tourDate"
                    [booking]="data.context.booking"
                    exitText="Close"
                    (saved)="modifiedAndClose()"
                    (deleted)="modifiedAndClose()"
                    (exit)="close()"
                ></app-modal-edit-booking>
            </ng-container>
        </div>
    </p-dialog>
</ng-container>
