<ng-container
    *ngIf="{
        isOpen: (isOpen$ | async) || false,
        context: context$ | async,
        status: status$ | async
    } as data"
>
    <p-dialog
        [(visible)]="data.isOpen"
        (onHide)="close()"
        [modal]="true"
        [style]="{ width: '60vw', height: 'auto' }"
        styleClass="remove-certification-modal"
        [breakpoints]="{ '720px': '95vw' }"
        [showHeader]="false"
        [draggable]="false"
        [resizable]="false"
        [dismissableMask]="true"
        appendTo="body"
    >
        <ng-container *ngIf="data.context">
            <div class="modal-inner-container">
                <div class="modal-header">
                    <h2>Would you like to Delete this tour price?</h2>
                </div>
                <p-divider></p-divider>
                <div class="certification-details-container">
                    <div class="row-container">
                        <div class="cell-container">
                            <span class="h4">Description</span>
                            <span>
                                <ng-container *ngIf="data.context">
                                    {{ data.context.description }}
                                </ng-container>
                            </span>
                        </div>
                        <p-divider layout="vertical"></p-divider>
                        <div class="cell-container">
                            <span class="h4">Transportation</span>
                            <span>
                                <ng-container *ngIf="data.context">
                                    {{ data.context.transportationType }}
                                </ng-container>
                            </span>
                        </div>
                        <p-divider layout="vertical"></p-divider>
                        <div class="cell-container">
                            <span class="h4">Time</span>
                            <span>
                                <ng-container *ngIf="data.context">
                                    {{ data.context.time }}
                                </ng-container>
                            </span>
                        </div>
                        <p-divider layout="vertical"></p-divider>
                        <div class="cell-container">
                            <span class="h4">Step order</span>
                            <span>
                                <ng-container *ngIf="data.context">
                                    {{ data.context.orderNo }}
                                </ng-container>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="btn-container">
                    <ng-container *ngIf="data.status === 'error'">
                        <div>
                            <span class="text-error"
                                >Failed to delete tour itinerary</span
                            >
                        </div>
                    </ng-container>
                    <button
                        pButton
                        class="btn btn-primary-inverse"
                        type="button"
                        [disabled]="data.status === 'loading'"
                        (click)="close()"
                    >
                        Cancel
                    </button>
                    <button
                        pButton
                        class="btn btn-danger"
                        (click)="delete(data.context)"
                        [loading]="data.status === 'loading'"
                    >
                        Delete
                    </button>
                </div>
            </div>
        </ng-container>
    </p-dialog>
</ng-container>
