<ng-container
    *ngIf="{
        isOpen: (isOpen$ | async) || false,
        status: status$ | async,
        stateStatus: stateStatus$ | async,
        cruiseLineDetails: cruiseLineDetails$ | async,
        tourServiceList: tourServiceList$ | async,
        cruiseShipList: cruiseShipList$ | async,
        shipScheduleList: shipScheduleList$ | async,
    } as data"
>
    <p-dialog
        [(visible)]="data.isOpen"
        (onHide)="close()"
        [modal]="true"
        [style]="{ width: '70vw', height: 'auto' }"
        styleClass="edit-cruise-line-modal"
        [breakpoints]="{ '700px': '100vw' }"
        [showHeader]="false"
        [draggable]="false"
        [resizable]="false"
        [dismissableMask]="true"
        appendTo="body"
    >
        <div class="modal-inner-container">
            <div class="modal-header">
                <h2>Edit Cruise Line</h2>
            </div>
            <p-divider></p-divider>
            <div class="modal-body">
                <form [formGroup]="editCruiseLineForm">
                    <div class="row-container">
                        <div class="column-container">
                            <div class="cell-container full-width">
                                <label for="shipCompanyName"
                                    >Cruise Line Name</label
                                >
                                <input
                                    pInputText
                                    inputId="shipCompanyName"
                                    name="shipCompanyName"
                                    formControlName="shipCompanyName"
                                />
                            </div>
                            <div class="cell-container full-width">
                                <label>Cruise Line Logo</label>
                                <img
                                    src="{{
                                        data.cruiseLineDetails?.shipCompanyLogo
                                    }}"
                                />
                            </div>
                        </div>
                        <div class="column-container">
                            <div class="cell-container full-width">
                                <label for="invMgrFname"
                                    >Inventory Manager First Name</label
                                >
                                <input
                                    pInputText
                                    inputId="invMgrFname"
                                    name="invMgrFname"
                                    formControlName="invMgrFname"
                                />
                            </div>
                            <div class="cell-container full-width">
                                <label for="invMgrLname"
                                    >Inventory Manager Last Name</label
                                >
                                <input
                                    pInputText
                                    inputId="invMgrLname"
                                    name="invMgrLname"
                                    formControlName="invMgrLname"
                                />
                            </div>
                            <div class="cell-container full-width">
                                <label for="invMgrEmail">Email</label>
                                <input
                                    pInputText
                                    inputId="invMgrEmail"
                                    name="invMgrEmail"
                                    formControlName="invMgrEmail"
                                />
                            </div>
                            <div class="cell-container full-width">
                                <label for="invMgrPhone">Phone</label>
                                <input
                                    pInputText
                                    inputId="invMgrPhone"
                                    name="invMgrPhone"
                                    formControlName="invMgrPhone"
                                />
                            </div>
                        </div>
                    </div>
                    <div class="row-container">
                        <div class="column-container full-width">
                            <div class="cell-container">
                                <label for="shipCompanyColor">Is Live</label>
                                <p-inputSwitch formControlName="isLive" />
                            </div>
                            <div class="cell-container">
                                <label for="shipCompanyColor"
                                    >Ship Company Color<br />
                                    (ex: #000000)</label
                                >
                                <input
                                    pInputText
                                    inputId="shipCompanyColor"
                                    name="shipCompanyColor"
                                    formControlName="shipCompanyColor"
                                />
                            </div>
                            <div class="cell-container">
                                <label for="shipCompanyBackgroundColor"
                                    >Ship Company Background<br />
                                    Color (ex: #000000)</label
                                >
                                <input
                                    pInputText
                                    inputId="shipCompanyBackgroundColor"
                                    name="shipCompanyBackgroundColor"
                                    formControlName="shipCompanyBackgroundColor"
                                />
                            </div>
                        </div>
                    </div>
                </form>
                <div class="btn-container">
                    <ng-container *ngIf="data.status === 'error'">
                        <div>
                            <span class="text-error"
                                >Failed to save qualification</span
                            >
                        </div>
                    </ng-container>

                    <button
                        pButton
                        class="btn btn-primary-inverse"
                        [disabled]="data.status === 'loading'"
                        (click)="close()"
                    >
                        Cancel
                    </button>
                    <button
                        pButton
                        class="btn btn-primary"
                        [loading]="data.status === 'loading'"
                        [disabled]="
                            editCruiseLineForm.invalid ||
                            data.status === 'loading'
                        "
                        (click)="save()"
                    >
                        Save
                    </button>
                </div>
                <p-divider></p-divider>
                <p-tabView>
                    <p-tabPanel header="Tours/Services">
                        <div class="content-header-container">
                            <h3>Tours/Services</h3>
                            <input
                                type="text"
                                autocomplete="off"
                                pInputText
                                placeholder="Search ..."
                                [(ngModel)]="tourKeyword"
                                (ngModelChange)="searchTour()"
                            />
                        </div>
                        <ng-container
                            [ngSwitch]="data.stateStatus?.loadToursServices"
                        >
                            <ng-container *ngSwitchCase="'loading'">
                                <app-loader-embed
                                    [isDisplayed]="true"
                                ></app-loader-embed>
                            </ng-container>
                            <ng-container *ngSwitchCase="'error'">
                                <div class="error-state">
                                    <span>Error loading Tours/Services</span>
                                    <button pButton>Retry</button>
                                </div>
                            </ng-container>
                            <ng-container *ngSwitchCase="'success'">
                                <ng-container *ngIf="data.tourServiceList">
                                    <app-tours-services-table
                                        [keyword]="tourKeyword"
                                        [tourServiceList]="data.tourServiceList"
                                    ></app-tours-services-table>
                                </ng-container>
                            </ng-container>
                        </ng-container>
                    </p-tabPanel>
                    <p-tabPanel header="Cruise Ships">
                        <div class="content-header-container">
                            <h3>Cruise Ships</h3>
                            <input
                                type="text"
                                autocomplete="off"
                                pInputText
                                placeholder="Search ..."
                                [(ngModel)]="shipKeyword"
                                (ngModelChange)="searchShip()"
                            />
                        </div>
                        <ng-container
                            [ngSwitch]="data.stateStatus?.loadCruiseShipList"
                        >
                            <ng-container *ngSwitchCase="'loading'">
                                <app-loader-embed
                                    [isDisplayed]="true"
                                ></app-loader-embed>
                            </ng-container>
                            <ng-container *ngSwitchCase="'error'">
                                <div class="error-state">
                                    <span>Error loading Cruise Ships</span>
                                    <button pButton>Retry</button>
                                </div>
                            </ng-container>
                            <ng-container *ngSwitchCase="'success'">
                                <ng-container *ngIf="data.cruiseShipList">
                                    <app-cruise-ships-table
                                        [keyword]="shipKeyword"
                                        [cruiseShipList]="data.cruiseShipList"
                                    ></app-cruise-ships-table>
                                </ng-container>
                            </ng-container>
                        </ng-container>
                    </p-tabPanel>
                    <p-tabPanel header="Ship Schedules">
                        <div class="content-header-container">
                            <h3>Ship Schedules</h3>
                            <input
                                type="text"
                                autocomplete="off"
                                pInputText
                                placeholder="Search ..."
                                [(ngModel)]="scheduleKeyword"
                                (ngModelChange)="searchSchedule()"
                            />
                        </div>
                        <ng-container
                            [ngSwitch]="data.stateStatus?.loadShipScheduleList"
                        >
                            <ng-container *ngSwitchCase="'loading'">
                                <app-loader-embed
                                    [isDisplayed]="true"
                                ></app-loader-embed>
                            </ng-container>
                            <ng-container *ngSwitchCase="'error'">
                                <div class="error-state">
                                    <span>Error loading Ship Schedules</span>
                                    <button pButton>Retry</button>
                                </div>
                            </ng-container>
                            <ng-container *ngSwitchCase="'success'">
                                <ng-container *ngIf="data.shipScheduleList">
                                    <app-ship-schedule-list-table
                                        [keyword]="scheduleKeyword"
                                        [shipScheduleList]="
                                            data.shipScheduleList
                                        "
                                    ></app-ship-schedule-list-table>
                                </ng-container>
                            </ng-container>
                        </ng-container>
                    </p-tabPanel>
                </p-tabView>
            </div>
        </div>
    </p-dialog>
</ng-container>
