<div class="container">
    <div class="header-container">
        <h1 class="current">Fleet Management</h1>
    </div>

    <div class="main-content-container">
        <div
            class="nav-container"
            [appPermission]="{
            features: [{
                feature: features.userManagement.name,
            page: 
                features.userManagement.pages.userList.name,
            },
            {
                feature: features.userManagement.name,
            page: 
                features.userManagement.pages.userRoles.name,
            }],
            featureCheck: 'atleastOne',
            mode: 'none'
        }"
        >
            <ng-container
                *ngIf="
                    fleetManagementNavOptions$
                        | async as fleetManagementNavOptions
                "
            >
                <ng-container *ngIf="fleetManagementNavOptions.length > 1">
                    <ng-container
                        *ngFor="let option of fleetManagementNavOptions"
                    >
                        <a
                            routerLinkActive="active"
                            #rla="routerLinkActive"
                            [routerLink]="option.path"
                        >
                            <span>{{ option.displayName }}</span>
                        </a>
                    </ng-container>
                </ng-container>
            </ng-container>
        </div>
        <div class="sub-pages-container">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
