<ng-container
    *ngIf="{
        isOpen: (isOpen$ | async) || false,
        context: context$ | async,
        status: status$ | async
    } as data"
>
    <p-dialog
        [(visible)]="data.isOpen"
        (onHide)="close()"
        [modal]="true"
        [style]="{ width: '60vw', height: 'auto' }"
        styleClass="remove-certification-modal"
        [breakpoints]="{ '768px': '100vw' }"
        [showHeader]="false"
        [draggable]="false"
        [resizable]="false"
        [dismissableMask]="true"
        appendTo="body"
    >
        <ng-container *ngIf="data.context">
            <div class="modal-inner-container">
                <div class="modal-header">
                    <h2>Would you like to Delete this certification?</h2>
                </div>
                <p-divider></p-divider>
                <div class="certification-details-container">
                    <div class="row-container">
                        <div class="cell-container">
                            <span class="h4">Type</span>
                            <span>
                                <ng-container *ngIf="data.context.typeName">
                                    {{ data.context.typeName }}
                                </ng-container>
                            </span>
                        </div>
                        <p-divider layout="vertical"></p-divider>
                        <div class="cell-container">
                            <span class="h4">Start Date</span>
                            <span>
                                <ng-container *ngIf="data.context">
                                    {{
                                        data.context.fromDate
                                            | date : 'MM/dd/yyyy'
                                    }}
                                </ng-container>
                            </span>
                        </div>
                    </div>
                    <p-divider layout="horizontal"></p-divider>
                    <div class="row-container">
                        <div class="cell-container">
                            <span class="h4">Expiry Date</span>
                            <span>
                                <ng-container *ngIf="data.context">
                                    <ng-container
                                        *ngIf="
                                            data.context.isNeverExpire;
                                            else noExpireDate
                                        "
                                    >
                                        Does Not Expire
                                    </ng-container>
                                    <ng-template #noExpireDate>
                                        {{
                                            data.context.expireDate
                                                | date : 'MM/dd/yyyy'
                                        }}
                                    </ng-template>
                                </ng-container>
                            </span>
                        </div>
                        <p-divider layout="vertical"></p-divider>
                        <div class="cell-container">
                            <span class="h4">Document</span>
                            <span>
                                <ng-container
                                    *ngIf="
                                        data.context?.documentPath;
                                        else noDocument
                                    "
                                >
                                    {{
                                        data.context.documentPath
                                            .split('\/')
                                            .pop()
                                    }}
                                </ng-container>
                                <ng-template #noDocument>
                                    No document uploaded
                                </ng-template>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="btn-container">
                    <button
                        pButton
                        class="btn btn-primary-inverse"
                        type="button"
                        (click)="close()"
                        [disabled]="data.status === 'loading'"
                    >
                        Cancel
                    </button>
                    <button
                        pButton
                        class="btn btn-danger"
                        (click)="delete(data.context)"
                        [loading]="data.status === 'loading'"
                    >
                        Delete
                    </button>
                </div>
            </div>
        </ng-container>
    </p-dialog>
</ng-container>
