.home-container {
    background-image: url('https://auth.cruisecode.com/Content/assets/media/bg/cruisedusk.jpg');
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .content-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: var(--spacing-md);
        background-color: var(--color-white);
        padding: var(--spacing-md);
        border-radius: var(--border-radius-base);
        box-shadow: var(--shadow-base-1);
        width: 60%;
        img {
            width: 70%;
        }
        p {
            text-align: center;
        }
        button {
            width: 100%;
            max-width: 130px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }
    }
}
