<ng-container
    *ngIf="{
        capturedPhoto: capturedPhoto$ | async,
        cameraAttr: cameraAttr$ | async
    } as data"
>
    <div class="camera-container">
        <div class="video-container" [class.hidden]="data.capturedPhoto">
            <video
                #videoFeed
                [width]="data.cameraAttr?.width || 0"
                [height]="data.cameraAttr?.height || 0"
            >
                Video stream not available.
            </video>
            <canvas
                #previewCanvas
                [width]="data.cameraAttr?.width || 0"
                [height]="data.cameraAttr?.height || 0"
            >
            </canvas>

            <button pButton class="btn btn-capture" (click)="capture()">
                <div class="button-inner"></div>
            </button>
        </div>
        <div *ngIf="data.capturedPhoto" class="output-container" @container>
            <img
                [src]="data.capturedPhoto.src"
                alt="The screen capture will appear in this box."
            />

            <div class="actions-container" @fadeSlideInOut>
                <ng-container *ngIf="uploadStatus === 'error'">
                    <span class="text-error"> Unable to update </span>
                </ng-container>
                <button
                    pButton
                    class="btn btn-primary-inverse"
                    [disabled]="uploadStatus === 'loading'"
                    (click)="reset()"
                >
                    <i class="pi pi-camera"></i>
                    Retake Photo
                </button>

                <button
                    pButton
                    class="btn btn-primary btn-upload"
                    [loading]="uploadStatus === 'loading'"
                    (click)="uploadPhoto()"
                >
                    <ng-container *ngIf="uploadStatus !== 'loading'">
                        <i class="pi pi-upload"></i>
                    </ng-container>
                    Upload Photo
                </button>
            </div>
        </div>
    </div>
</ng-container>
