<ng-container
    *ngIf="{
        isOpen: (isOpen$ | async) || false,
        status: status$ | async,
    } as data"
>
    <p-dialog
        [(visible)]="data.isOpen"
        (onHide)="close()"
        [modal]="true"
        [style]="{ width: '60vw', height: 'auto' }"
        styleClass="add-equipment-type-modal"
        [breakpoints]="{ '700px': '100vw' }"
        [showHeader]="false"
        [draggable]="false"
        [resizable]="false"
        [dismissableMask]="true"
        appendTo="body"
    >
        <div class="modal-inner-container">
            <div class="modal-header">
                <h2>Add New Usage</h2>
            </div>
            <p-divider></p-divider>
            <div class="modal-body">
                <form [formGroup]="addNewUsageForm">
                    <div class="row-container">
                        <div class="cell-container">
                            <label for="description">Equipment Type</label>
                            <input
                                pInputText
                                inputId="description"
                                name="description"
                            />
                        </div>
                        <div class="cell-container">
                            <label for="engineOilChangeevery"
                                >Equipment ID</label
                            >
                            <input
                                pInputText
                                type="number"
                                inputId="engineOilChangeevery"
                                name="engineOilChangeevery"
                            />
                        </div>
                        <div class="cell-container">
                            <label for="equipmentType">Date</label>
                            <p-calendar
                                dateFormat="mm/dd/yy"
                                styleClass="calendar-icon"
                                autocomplete="off"
                                appendTo="body"
                                [showIcon]="true"
                                [showClear]="true"
                            >
                            </p-calendar>
                        </div>
                        <div class="cell-container">
                            <label for="dailyMaxUsageLimit">User</label>
                            <input
                                pInputText
                                type="number"
                                inputId="dailyMaxUsageLimit"
                                name="dailyMaxUsageLimit"
                            />
                        </div>
                        <div class="cell-container one-third-width">
                            <label for="transmissionOilChangeevery"
                                >Odometer Mileage/Engine Hours</label
                            >
                            <input
                                pInputText
                                type="number"
                                inputId="transmissionOilChangeevery"
                                name="transmissionOilChangeevery"
                            />
                        </div>
                        <div class="cell-container two-third-width">
                            <label class="form-control-label">Note</label>
                            <textarea
                                class="full-width"
                                rows="5"
                                cols="30"
                                pInputTextarea
                            ></textarea>
                        </div>
                    </div>
                </form>
                <div class="btn-container">
                    <ng-container *ngIf="data.status === 'error'">
                        <div>
                            <span class="text-error"
                                >Failed to save qualification</span
                            >
                        </div>
                    </ng-container>

                    <button
                        pButton
                        class="btn btn-primary"
                        class="btn btn-primary-inverse"
                        [disabled]="data.status === 'loading'"
                        (click)="close()"
                    >
                        Cancel
                    </button>
                    <button
                        pButton
                        class="btn btn-primary"
                        [loading]="data.status === 'loading'"
                        [disabled]="
                            addNewUsageForm.invalid || data.status === 'loading'
                        "
                        (click)="save()"
                    >
                        Add
                    </button>
                </div>
            </div>
        </div>
    </p-dialog>
</ng-container>
