.modal-inner-container {
    display: flex;
    flex-direction: column;
    position: relative;
    .modal-header {
        position: sticky;
        top: 0;
        display: flex;
        flex-direction: column;
        gap: var(--spacing-2xs);
        background-color: var(--color-white);
        padding-bottom: 0;
        padding-top: var(--spacing-sm);
        z-index: 20;
    }
    h2 {
        margin-bottom: 0;
    }

    .tour-details-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        form {
            display: flex;
            flex-direction: column;
            gap: var(--spacing-base);
            .sub-section {
                display: flex;
                flex-direction: column;
                gap: var(--spacing-base);
                .section-wrapper {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    gap: var(--spacing-2xs);

                    .section-header {
                        width: 100%;
                    }

                    .form-field {
                        display: flex;
                        flex-direction: column;
                        flex-grow: 1;
                        gap: var(--spacing-2xs);

                        &.calendar-content {
                            flex-direction: row !important;
                            align-items: center;
                        }
                        &.full-width {
                            width: 100%;
                        }
                        &.half-width {
                            width: calc(50% - var(--spacing-2xs));
                        }
                        &.third-width {
                            width: calc(33% - var(--spacing-2xs));

                            div.two-inputs {
                                display: flex;
                                flex-direction: row;
                                gap: var(--spacing-2xs);
                                justify-content: space-between;

                                div {
                                    width: calc(50% - var(--spacing-2xs));
                                    display: flex;

                                    input {
                                        width: 100%;
                                    }

                                    ::ng-deep .p-input-icon {
                                        margin-top: -12px;
                                    }
                                }
                            }
                        }
                        &.fourth-width {
                            width: calc(25% - var(--spacing-2xs));
                        }
                        ::ng-deep p-multiselect {
                            height: 50px;
                        }
                        ::ng-deep .p-multiselect {
                            width: 100%;
                            height: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            .p-multiselect-label {
                                max-height: 100%;
                                padding: 0.2rem 0.75rem;
                            }
                            .p-multiselect-token {
                                color: var(--color-gray-600);
                                background: var(--color-gray-300);
                                height: min-content;
                            }
                        }
                    }

                    .checkbox-field {
                        display: flex;
                        flex-direction: row;
                        flex-grow: 1;
                        gap: var(--spacing-xs);
                        div label {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            gap: var(--spacing-3xs);
                        }
                    }
                }
            }
            .btn-group {
                display: flex;
                align-self: flex-end;
                gap: var(--gap-xs);
            }
        }
    }
}

::ng-deep .add-new-tour > .p-dialog-content {
    border-top: 5px solid var(--color-blue-300);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

@media screen and (max-width: 768px) {
    form {
        .sub-section {
            .section-wrapper {
                .form-field {
                    &.half-width,
                    &.third-width,
                    &.fourth-width {
                        width: 100% !important;
                    }
                }
                .checkbox-field {
                    display: flex;
                    flex-direction: column !important;
                    div {
                        width: 100% !important;
                    }
                }
            }
        }
    }
}
