<div class="main-content">
    <ng-container
        *ngIf="{
            status: status$ | async,
            equipmentTypeList: equipmentTypeList$ | async,
            locations: locations$ | async,
        } as data"
    >
        <ng-container [ngSwitch]="data.status?.loadEquipmentDetail">
            <ng-container *ngSwitchCase="'loading'">
                <app-loader-embed [isDisplayed]="true"></app-loader-embed>
            </ng-container>
            <ng-container *ngSwitchCase="'error'">
                <div class="error-state">
                    <span>Error loading inventories</span>
                    <button pButton (click)="refresh()">Retry</button>
                </div>
            </ng-container>
            <ng-container *ngSwitchCase="'success'">
                <h2>Equipment Information</h2>
                <form [formGroup]="equipmentInfoForm">
                    <div class="row-container">
                        <div class="cell-container">
                            <label for="equipmentType">Equipment Type</label>
                            <p-dropdown
                                formControlName="equipmentTypeID"
                                autocomplete="off"
                                optionLabel="equipmentName"
                                optionValue="equipmentTypeID"
                                styleClass="full-width"
                                [options]="data.equipmentTypeList || []"
                                [showClear]="true"
                                appendTo="body"
                            ></p-dropdown>
                        </div>
                        <div class="cell-container">
                            <label for="licensePlate">License No</label>
                            <input
                                pInputText
                                inputId="licensePlate"
                                name="licensePlate"
                                formControlName="licensePlate"
                            />
                        </div>
                        <div class="cell-container">
                            <label for="equipmentNumber">Equipment ID</label>
                            <input
                                pInputText
                                inputId="equipmentNumber"
                                name="equipmentNumber"
                                formControlName="equipmentNumber"
                            />
                        </div>
                        <div class="cell-container">
                            <label for="serialNo">Serial No</label>
                            <input
                                pInputText
                                inputId="serialNo"
                                name="serialNo"
                                formControlName="serialNo"
                            />
                        </div>
                        <div class="cell-container two-third-width">
                            <label for="equipmentDescription"
                                >Description</label
                            >
                            <input
                                pInputText
                                inputId="equipmentDescription"
                                name="equipmentDescription"
                                formControlName="equipmentDescription"
                            />
                        </div>
                        <div class="cell-container">
                            <label for="vinNo">VIN</label>
                            <input
                                pInputText
                                inputId="vinNo"
                                name="vinNo"
                                formControlName="vinNo"
                            />
                        </div>
                        <div class="cell-container">
                            <label for="make">Make</label>
                            <input
                                pInputText
                                inputId="make"
                                name="make"
                                formControlName="make"
                            />
                        </div>
                        <div class="cell-container">
                            <label for="isOperable">Status</label>
                            <p-dropdown
                                formControlName="isOperable"
                                autocomplete="off"
                                optionLabel="isOperable"
                                optionValue="value"
                                styleClass="full-width"
                                [options]="statusOption || []"
                                [showClear]="true"
                                appendTo="body"
                            ></p-dropdown>
                        </div>
                        <div class="cell-container">
                            <label for="model">Model</label>
                            <input
                                pInputText
                                inputId="model"
                                name="model"
                                formControlName="model"
                            />
                        </div>
                        <div class="cell-container">
                            <label for="locationId">Location Deployed</label>
                            <p-dropdown
                                formControlName="locationId"
                                autocomplete="off"
                                optionLabel="location"
                                optionValue="locationId"
                                styleClass="full-width"
                                [options]="data.locations || []"
                                [showClear]="true"
                                appendTo="body"
                            ></p-dropdown>
                        </div>
                        <div class="cell-container">
                            <label for="year">Year</label>
                            <input
                                pInputText
                                inputId="year"
                                name="year"
                                formControlName="year"
                            />
                        </div>
                        <div class="cell-container">
                            <label for="lastDateOfOperation"
                                >Last Date Of Operation</label
                            >
                            <p-calendar
                                dateFormat="mm/dd/yy"
                                formControlName="lastDateOfOperation"
                                appendTo="body"
                                [showIcon]="true"
                                styleClass="calendar-icon"
                            >
                            </p-calendar>
                        </div>
                        <div class="cell-container">
                            <label for="maxCapacity">Max Capacity</label>
                            <input
                                pInputText
                                inputId="maxCapacity"
                                name="maxCapacity"
                                formControlName="maxCapacity"
                            />
                        </div>
                        <div class="cell-container">
                            <label for="odometerMileageHours"
                                >Last Odometer Mileage</label
                            >
                            <input
                                pInputText
                                inputId="odometerMileageHours"
                                name="odometerMileageHours"
                                formControlName="odometerMileageHours"
                            />
                        </div>
                    </div>
                    <h3 class="nofi-label">
                        Set Notification Intervals For Mechanics
                    </h3>
                    <div class="row-container">
                        <div class="cell-container half-width">
                            <label for="engineOilInterval"
                                >Engine Oil Interval
                            </label>
                            <input
                                pInputText
                                inputId="engineOilInterval"
                                name="engineOilInterval"
                                formControlName="engineOilInterval"
                            />
                        </div>
                        <div class="cell-container half-width">
                            <label for="engineOilChange"
                                >Engine Oil Changed</label
                            >
                            <p-calendar
                                dateFormat="mm/dd/yy"
                                formControlName="engineOilChange"
                                appendTo="body"
                                [showIcon]="true"
                                styleClass="calendar-icon"
                            >
                            </p-calendar>
                        </div>
                        <div class="cell-container half-width">
                            <label for="differentialGearOil"
                                >Differential Gear Oil Interval
                            </label>
                            <input
                                pInputText
                                inputId="differentialGearOil"
                                name="differentialGearOil"
                                formControlName="differentialGearoil"
                            />
                        </div>
                        <div class="cell-container half-width">
                            <label for="differentialGearOilChange"
                                >Differential Gear Oil Changed</label
                            >
                            <p-calendar
                                dateFormat="mm/dd/yy"
                                formControlName="differentialGearOilChange"
                                appendTo="body"
                                [showIcon]="true"
                                styleClass="calendar-icon"
                            >
                            </p-calendar>
                        </div>
                        <div class="cell-container half-width">
                            <label for="transmissionOilInterval"
                                >Transmission Oil Interval
                            </label>
                            <input
                                pInputText
                                inputId="transmissionOilInterval"
                                name="transmissionOilInterval"
                                formControlName="transmissionOilInterval"
                            />
                        </div>
                        <div class="cell-container half-width">
                            <label for="transmissionOilChange"
                                >Transmission Oil Changed</label
                            >
                            <p-calendar
                                dateFormat="mm/dd/yy"
                                formControlName="transmissionOilChange"
                                appendTo="body"
                                [showIcon]="true"
                                styleClass="calendar-icon"
                            >
                            </p-calendar>
                        </div>
                        <div class="cell-container half-width">
                            <label for="batteryChangeInterval"
                                >Battery Change Interval
                            </label>
                            <input
                                pInputText
                                inputId="batteryChangeInterval"
                                name="batteryChangeInterval"
                                formControlName="batteryChangeInterval"
                            />
                        </div>
                        <div class="cell-container half-width">
                            <label for="batteryChange">Battery Changed</label>
                            <p-calendar
                                dateFormat="mm/dd/yy"
                                formControlName="batteryChange"
                                appendTo="body"
                                [showIcon]="true"
                                styleClass="calendar-icon"
                            >
                            </p-calendar>
                        </div>
                        <div class="cell-container half-width">
                            <label for="hydraulicOilInterval"
                                >Hydraulic Oil Interval
                            </label>
                            <input
                                pInputText
                                inputId="hydraulicOilInterval"
                                name="hydraulicOilInterval"
                                formControlName="hydraulicOilInterval"
                            />
                        </div>
                        <div class="cell-container half-width">
                            <label for="hydraulicOilChange"
                                >Hydraulic Oil Changed</label
                            >
                            <p-calendar
                                dateFormat="mm/dd/yy"
                                formControlName="hydraulicOilChange"
                                appendTo="body"
                                [showIcon]="true"
                                styleClass="calendar-icon"
                            >
                            </p-calendar>
                        </div>
                        <div class="cell-container half-width">
                            <label for="coolantFlushChangeInterval"
                                >Coolant Flush Change Interval (months)
                            </label>
                            <input
                                pInputText
                                inputId="coolantFlushChangeInterval"
                                name="coolantFlushChangeInterval"
                                formControlName="coolantFlushChangeInterval"
                            />
                        </div>
                        <div class="cell-container half-width">
                            <label for="coolantFlushChange"
                                >Coolant Flush Changed</label
                            >
                            <p-calendar
                                dateFormat="mm/dd/yy"
                                formControlName="coolantFlushChange"
                                appendTo="body"
                                [showIcon]="true"
                                styleClass="calendar-icon"
                            >
                            </p-calendar>
                        </div>
                    </div>
                    <div class="row-container">
                        <div class="btn-container">
                            <ng-container
                                *ngIf="
                                    data.status?.saveEquipmentDetail === 'error'
                                "
                            >
                                <span class="text-error"
                                    >Failed to Save Equipment Info</span
                                >
                            </ng-container>
                            <ng-container
                                *ngIf="
                                    data.status?.saveEquipmentDetail ===
                                    'success'
                                "
                            >
                                <span class="text-success"
                                    >Equipment Info Saved successfully!</span
                                >
                            </ng-container>
                            <div class="btn-group">
                                <button
                                    pButton
                                    class="btn btn-primary"
                                    (click)="saveEquipmentInfo()"
                                    [loading]="
                                        data.status?.saveEquipmentDetail ===
                                        'loading'
                                    "
                                    [disabled]="
                                        data.status?.saveEquipmentDetail ===
                                            'loading' ||
                                        equipmentInfoForm.invalid
                                    "
                                >
                                    Save
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </ng-container>
        </ng-container>
    </ng-container>
</div>
