<ng-container
    *ngIf="{
        isOpen: (isOpen$ | async) || false,
        status: status$ | async
    } as data"
>
    <p-dialog
        [(visible)]="data.isOpen"
        (onHide)="close()"
        [modal]="true"
        [style]="{ width: '60vw', height: 'auto' }"
        styleClass="form-dialog"
        [breakpoints]="{ '768px': '95vw' }"
        [showHeader]="false"
        [draggable]="false"
        [resizable]="false"
        [dismissableMask]="true"
        appendTo="body"
    >
        <div class="modal-inner-container">
            <div class="modal-header">
                <h2>Share PDF</h2>
                <button
                    pButton
                    icon="pi pi-times"
                    class="p-button-rounded p-button-text p-button-secondary"
                    (click)="close()"
                ></button>
            </div>
            <form [formGroup]="emailPdf" (ngSubmit)="save()">
                <div class="field-row-container">
                    <!-- email -->
                    <div class="field-container">
                        <label htmlFor="email">Email</label>
                        <input
                            pInputText
                            name="email"
                            label="email"
                            formControlName="email"
                        />
                    </div>
                </div>
                <div class="action-container">
                    <ng-container *ngIf="data.status === 'error'">
                        <span class="text-error">Failed to send PDF</span>
                    </ng-container>
                    <ng-container *ngIf="data.status === 'success'">
                        <span class="text-success">PDF sent</span>
                    </ng-container>
                    <button
                        pButton
                        type="submit"
                        class="btn btn-primary"
                        [disabled]="!emailPdf.valid"
                        [loading]="data.status === 'loading'"
                    >
                        Send PDF
                    </button>
                </div>
            </form>
        </div>
    </p-dialog>
</ng-container>
