<ng-container
    *ngIf="{   
    allocationData: allocationData$ | async,
} as config"
>
    <div class="allocation-list-container">
        <ng-container *ngIf="config.allocationData?.inventories as inventories">
            <p-dataView
                [value]="inventories || []"
                [rows]="20"
                [paginator]="true"
            >
                <ng-template let-inventories pTemplate="list">
                    <ng-container *ngFor="let item of inventories">
                        <div class="item-content-container">
                            <div class="header-container">
                                <span class="h4">{{ item.tourName }}</span>
                                <button
                                    pButton
                                    icon="pi pi-ellipsis-h"
                                    aria-label="View Options"
                                    class="btn-light-gray"
                                    (click)="
                                        activeMenuInventory = item;
                                        menu.toggle($event)
                                    "
                                    [appPermission]="{
                                        features: [{

                                            feature: features.inventoryManagement.name,
                                            page: features.inventoryManagement.pages
                                                .needingAllocation.name,
                                            pageFeature: [
                                                features.inventoryManagement.pages
                                                    .needingAllocation.features
                                                    .editInventory.name,
                                                    features.inventoryManagement.pages
                                                    .needingAllocation.features
                                                    .setReminder.name,
                                                    features.inventoryManagement.pages
                                                    .needingAllocation.features
                                                    .ignoreReminder.name,
                                            ],
                                            pageFeatureCheck: 'or',
                                        }],
                                        mode: 'none',
                                    }"
                                ></button>
                            </div>

                            <div class="field-container">
                                <i class="pi pi-map-marker"></i>
                                <span>{{ item.portName }}</span>
                            </div>
                            <div class="field-container">
                                <i class="pi pi-calendar"></i>
                                <span
                                    >{{
                                        item.tourInventoryDateString
                                            | date : 'MM/dd/yyyy'
                                    }}
                                </span>
                            </div>
                            <div class="field-container">
                                <i class="pi pi-map-marker"></i>
                                <span>: </span>
                                <span>{{ item.shipName }}</span>
                            </div>
                            <div class="field-container">
                                <i class="pi pi-percentage"></i>
                                <span>Threshold</span>
                                <span>{{ item.threshold }}</span>
                            </div>
                            <div class="field-container">
                                <i class="pi pi-users"></i>
                                <span
                                    >{{ item.seatSold }} Seats Sold /
                                    {{ item.seatAllocated }} Seats
                                    Allocated</span
                                ><span></span>
                            </div>

                            <p-divider></p-divider>
                        </div>
                    </ng-container>
                </ng-template>
            </p-dataView>
        </ng-container>
    </div>
</ng-container>

<p-menu
    #menu
    appendTo="body"
    [model]="(dataOptions$ | async) || []"
    [popup]="true"
>
    <ng-template pTemplate="item" let-item>
        <a
            *ngIf="!item?.url"
            [attr.tabindex]="-1"
            class="menu-option"
            (click)="item.command()"
        >
            <div>
                <ng-container *ngIf="item.customIcon">
                    <img [src]="item.customIcon" />
                </ng-container>
                <ng-container *ngIf="item.icon">
                    <span [class]="item.icon"></span>
                </ng-container>
                <span> {{ item.label }}</span>
            </div>
        </a>
    </ng-template>
</p-menu>
