<ng-container
    *ngIf="{
        isOpen: (isOpen$ | async) || false,
        tourDetails: tourDetails$ | async,
        status: status$ | async
    } as data"
>
    <p-dialog
        [(visible)]="data.isOpen"
        (onHide)="close()"
        [modal]="true"
        [style]="{ width: '85vw', height: 'auto' }"
        styleClass="add-new-tour"
        [breakpoints]="{ '768px': '100vw' }"
        [showHeader]="false"
        [draggable]="false"
        [resizable]="false"
        [dismissableMask]="true"
        appendTo="body"
    >
        <ng-container *ngIf="data.tourDetails as tourDetails">
            <div class="modal-inner-container">
                <div class="modal-header">
                    <h2>Would you like to save the changes?</h2>
                </div>
                <p-divider></p-divider>
                <div class="sub-section">
                    <div class="section-header">
                        <span class="h3"> Tour Information </span>
                    </div>
                    <div class="content">
                        <div class="content-field">
                            <label>Tour Name</label>
                            <div>{{ tourDetails.tourName }}</div>
                        </div>
                        <p-divider class="vertical-divider" layout="vertical" />
                        <div class="content-field">
                            <label>Physical Level</label>
                            <div>{{ tourDetails.physicalLevel }}</div>
                        </div>
                        <p-divider class="vertical-divider" layout="vertical" />
                        <div class="content-field">
                            <label>our Duration</label>
                            <div>{{ tourDetails.duration }}</div>
                        </div>
                        <p-divider class="vertical-divider" layout="vertical" />
                        <div class="content-field">
                            <label>Port</label>
                            <div>{{ tourDetails.portNameDisp }}</div>
                        </div>
                        <p-divider class="vertical-divider" layout="vertical" />
                        <div class="content-field">
                            <label>FAQs Category</label>
                            <div class="round-content">
                                <ng-container
                                    *ngFor="let faq of tourDetails.faqsDisp"
                                >
                                    <div class="round">{{ faq }}</div>
                                </ng-container>
                            </div>
                        </div>
                        <p-divider class="vertical-divider" layout="vertical" />
                        <div class="content-field">
                            <label>Calendar Color</label>
                            <div class="calendar-content">
                                <p-colorPicker
                                    [(ngModel)]="tourDetails.calendarColor"
                                    [disabled]="true"
                                />
                                <div>{{ tourDetails.calendarColor }}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <p-divider></p-divider>
                <div class="sub-section">
                    <div class="section-header">
                        <span class="h3"> Guests requirements </span>
                    </div>
                    <div class="content">
                        <div class="content-field">
                            <label>Min Weight</label>
                            <div>{{ tourDetails.minWeight }} Ibs</div>
                        </div>
                        <p-divider class="vertical-divider" layout="vertical" />
                        <div class="content-field">
                            <label>Max Weight</label>
                            <div>{{ tourDetails.maxWeight }} Ibs</div>
                        </div>
                        <p-divider class="vertical-divider" layout="vertical" />
                        <div class="content-field">
                            <label>Min Height</label>
                            <div>{{ tourDetails.minHeight }} iches</div>
                        </div>
                        <p-divider class="vertical-divider" layout="vertical" />
                        <div class="content-field">
                            <label>Min Age</label>
                            <div>{{ tourDetails.minAge }}</div>
                        </div>
                        <p-divider class="vertical-divider" layout="vertical" />
                        <div class="content-field">
                            <label>Min Capacity</label>
                            <div>{{ tourDetails.minCapacity }}</div>
                        </div>
                        <p-divider class="vertical-divider" layout="vertical" />
                        <div class="content-field">
                            <label>Max Capacity</label>
                            <div>{{ tourDetails.maxCapacity }}</div>
                        </div>
                    </div>
                </div>
                <p-divider></p-divider>
                <div class="sub-section">
                    <div class="section-header">
                        <span class="h3"> Price </span>
                    </div>
                    <div class="content">
                        <div class="content-field">
                            <label>Adult Price</label>
                            <div>
                                {{ tourDetails.adultPrice | currency : 'USD' }}
                            </div>
                        </div>
                        <p-divider class="vertical-divider" layout="vertical" />
                        <div class="content-field">
                            <label>Child Price</label>
                            <div>
                                {{ tourDetails.childPrice | currency : 'USD' }}
                            </div>
                        </div>
                        <p-divider class="vertical-divider" layout="vertical" />
                        <div class="content-field">
                            <label>Sales Tax</label>
                            <div>{{ tourDetails.salesTax }}%</div>
                        </div>
                        <p-divider class="vertical-divider" layout="vertical" />
                        <div class="content-field">
                            <label>Add-ons</label>
                            <div class="round-content">
                                <div class="round-content">
                                    <ng-container
                                        *ngFor="
                                            let addOns of tourDetails.addOnsDisp
                                        "
                                    >
                                        <div class="round">{{ addOns }}</div>
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <p-divider></p-divider>
                <div class="sub-section">
                    <div class="content">
                        <div class="content-field">
                            <label>Short Description</label>
                            <div>
                                {{ tourDetails.shortDescription }}
                            </div>
                        </div>
                    </div>
                </div>
                <p-divider></p-divider>
                <div class="sub-section">
                    <div class="content">
                        <div class="content-field">
                            <label>Description</label>
                            <div>
                                {{ tourDetails.description }}
                            </div>
                        </div>
                    </div>
                </div>
                <p-divider></p-divider>
                <div class="btn-group">
                    <button
                        pButton
                        class="btn btn-primary-inverse"
                        type="button"
                        (click)="close()"
                        [disabled]="data.status === 'loading'"
                    >
                        Cancel
                    </button>
                    <button
                        (click)="save()"
                        [loading]="data.status === 'loading'"
                        [disabled]="data.status === 'loading'"
                        pButton
                        class="btn btn-primary"
                    >
                        Save Changes
                    </button>
                </div>
            </div>
        </ng-container>
    </p-dialog>
</ng-container>
