<ng-container
    *ngIf="{
        isOpen: (isOpen$ | async) || false,
        context: context$ | async,
        status: status$ | async,
    } as data"
>
    <p-dialog
        [(visible)]="data.isOpen"
        (onHide)="close()"
        [modal]="true"
        [style]="{ width: '60vw', height: 'auto' }"
        styleClass="save-refund-policy-modal"
        [breakpoints]="{ '720px': '95vw' }"
        [showHeader]="false"
        [draggable]="false"
        [resizable]="false"
        [dismissableMask]="true"
        appendTo="body"
    >
        <div class="modal-inner-container">
            <div class="modal-header">
                <h2>Are you sure you want to update the refund policy?</h2>
            </div>
            <div class="button-container">
                <ng-container *ngIf="data.status === 'error'">
                    <span class="text-error"
                        >Unable to update refund policy</span
                    >
                </ng-container>
                <button
                    pButton
                    class="btn btn-primary-inverse"
                    [disabled]="data.status === 'loading'"
                    (click)="close()"
                >
                    Cancel
                </button>
                <button
                    pButton
                    class="btn btn-primary"
                    [loading]="data.status === 'loading'"
                    (click)="save()"
                >
                    Update Refund Policy
                </button>
            </div>
        </div>
    </p-dialog>
</ng-container>
