<ng-container
    *ngIf="{
        isOpen: (isOpen$ | async) || false,
        status: status$ | async,
        context: context$ | async,
        authRoles: authRoles$ | async,
    } as data"
>
    <p-dialog
        [(visible)]="data.isOpen"
        (onHide)="close()"
        [modal]="true"
        [style]="{ width: '500px', height: 'auto' }"
        styleClass="create-role"
        [breakpoints]="{ '768px': '80vw' }"
        [showHeader]="false"
        [draggable]="false"
        [resizable]="false"
        [dismissableMask]="true"
        appendTo="body"
    >
        <div class="modal-inner-container">
            <div class="modal-header">
                <h2>
                    Update Role -
                    <ng-container
                        *ngIf="data.context && data.context.name as roleName"
                    >
                        {{ roleName | titlecase }}
                    </ng-container>
                </h2>
            </div>
            <p-divider></p-divider>

            <form [formGroup]="updateRoleForm" (ngSubmit)="save()">
                <div class="field-container">
                    <label for="roleName">Role Name</label>
                    <input
                        pInputText
                        formControlName="roleName"
                        name="roleName"
                    />
                </div>
                <div class="field-container">
                    <label for="authRoles">Auth Roles</label>
                    <p-multiSelect
                        placeholder="Select Auth Roles"
                        name="authRoles"
                        [maxSelectedLabels]="10"
                        [options]="data.authRoles || []"
                        formControlName="authRoles"
                        optionValue="id"
                        optionLabel="name"
                        display="chip"
                        appendTo="body"
                    >
                        <!-- [dropdownIcon]="
                                    status.filterLoading?.tours === true
                                        ? 'pi pi-spinner pi-spin'
                                        : 'pi pi-chevron-down'
                                " -->
                    </p-multiSelect>
                </div>
                <div class="field-container">
                    <label for="isActive">Active</label>
                    <p-checkbox
                        [binary]="true"
                        name="isActive"
                        formControlName="isActive"
                    ></p-checkbox>
                </div>
                <ng-container *ngIf="data.status === 'error'">
                    <div class="error-message">
                        <span class="text-error">Failed to update role</span>
                    </div>
                </ng-container>

                <div class="buttons-container">
                    <button
                        pButton
                        class="btn btn-primary-inverse"
                        type="button"
                        (click)="close()"
                    >
                        Cancel
                    </button>
                    <button
                        pButton
                        class="btn btn-primary"
                        type="submit"
                        [loading]="data.status === 'loading'"
                    >
                        Save
                    </button>
                </div>
            </form>
        </div>
    </p-dialog>
</ng-container>
