<div class="main-content">
    <ng-container
        *ngIf="{
            status: status$ | async,
            licenses: licenses$ | async,
        } as data"
    >
        <div class="header-row">
            <h2>Licenses</h2>
            <button
                (click)="openAddLicenseModal()"
                pButton
                class="btn btn-primary"
                [appPermission]="{
                    features: [{

                        feature: features.profile.name,
                        page: features.profile.pages.specialLicenses
                            .name,
                        pageFeature: [
                            features.profile.pages.specialLicenses
                                .features.licenseCreate.name
                        ],
                        pageFeatureCheck: 'or',
                    }],
                    mode: 'none'
                }"
            >
                <i class="pi pi-plus"></i>
                Add New
            </button>
        </div>

        <ng-container [ngSwitch]="data.status">
            <ng-container *ngSwitchCase="'loading'">
                <app-loader-embed [isDisplayed]="true"></app-loader-embed>
            </ng-container>
            <ng-container *ngSwitchCase="'error'">
                <div class="error-state">
                    <span>Error loading inventories</span>
                    <button pButton (click)="refresh()">Retry</button>
                </div>
            </ng-container>
            <ng-container *ngSwitchCase="'success'">
                <ng-container *ngIf="data.licenses; else emptyLicenses">
                    <app-special-licenses-table
                        [specialLicenses]="data.licenses"
                    ></app-special-licenses-table>
                </ng-container>
                <ng-template #emptyLicenses>
                    <div>
                        <span
                            >User has no licenses. Fill in the form above to add
                            special licenses.</span
                        >
                    </div>
                </ng-template>
            </ng-container>
        </ng-container>
    </ng-container>
</div>
<app-add-license-modal></app-add-license-modal>
<app-edit-license-modal></app-edit-license-modal>
<app-remove-license-modal></app-remove-license-modal>
