<ng-container *ngIf="{ actionIsLoading: actionIsLoading$ | async } as config">
    <div class="container recently-released-container">
        <div class="header-container">
            <h2>Recently Released Inventories</h2>
        </div>
        <div class="content-header-container">
            <div class="search-container">
                <input
                    type="text"
                    autocomplete="off"
                    pInputText
                    placeholder="Search ..."
                    [(ngModel)]="keyword"
                    (ngModelChange)="search()"
                />
            </div>
            <div class="actions-container">
                <button
                    pButton
                    class="btn btn-primary"
                    [disabled]="
                        selectedInventories.length === 0 ||
                        config.actionIsLoading
                    "
                    (click)="bulkNotify()"
                    [appPermission]="{
                        features: [{

                            feature: features.inventoryManagement.name,
                            page: features.inventoryManagement.pages
                                .recentlyReleasedInventories.name,
                            pageFeature: [
                                features.inventoryManagement.pages
                                    .recentlyReleasedInventories.features
                                    .sendNotification.name
                            ],
                        }],
                        mode: 'none'
                    }"
                >
                    <i class="pi pi-envelope"></i>
                    Notify
                </button>
                <button
                    pButton
                    class="btn btn-red"
                    [disabled]="
                        selectedInventories.length === 0 ||
                        config.actionIsLoading
                    "
                    (click)="bulkDismiss()"
                    [appPermission]="{
                        features: [{

                            feature: features.inventoryManagement.name,
                            page: features.inventoryManagement.pages
                                .recentlyReleasedInventories.name,
                            pageFeature: [
                                features.inventoryManagement.pages
                                    .recentlyReleasedInventories.features
                                    .dismissNotification.name
                            ],
                        }],
                        mode: 'none'
                    }"
                >
                    <i class="pi pi-trash"></i>
                    Dismiss
                </button>
            </div>
        </div>

        <ng-container [ngSwitch]="recentlyReleasedInventoriesStatus$ | async">
            <ng-container *ngSwitchCase="'loading'">
                <app-loader-embed [isDisplayed]="true"></app-loader-embed>
            </ng-container>
            <ng-container *ngSwitchCase="'error'">
                <div class="error-state">
                    <i class="pi pi-exclamation-circle"></i>
                    <span class="body-xl font-medium"
                        >Error loading inventories</span
                    >
                </div>
            </ng-container>
            <ng-container *ngSwitchCase="'success'">
                <ng-container *ngIf="config.actionIsLoading; else dataGrid">
                    <app-loader-embed [isDisplayed]="true"></app-loader-embed>
                </ng-container>
                <ng-template #dataGrid>
                    <ng-container
                        *ngIf="
                            recentlyReleasedInventories$
                                | async as recentlyReleasedInventories
                        "
                    >
                        <div class="list-container">
                            <app-inventory-list
                                [inventories]="recentlyReleasedInventories"
                                (notify)="notify($event)"
                                (dismiss)="dismiss($event)"
                            ></app-inventory-list>
                        </div>
                        <div class="table-container">
                            <app-inventory-table
                                [inventories]="recentlyReleasedInventories"
                                [selectedInventory]="selectedInventories"
                                (selectedInventoryChange)="
                                    onInventoriesSelected($event)
                                "
                                (notify)="notify($event)"
                                (dismiss)="dismiss($event)"
                            ></app-inventory-table>
                        </div>
                    </ng-container>
                </ng-template>
            </ng-container>
        </ng-container>
    </div>
</ng-container>
