<ng-container
    *ngIf="{
        isOpen: (isOpen$ | async) || false,
        status: status$ | async,
        equipmentTypeList: equipmentTypeList$ | async,
        locations: locations$ | async,
    } as data"
>
    <p-dialog
        [(visible)]="data.isOpen"
        (onHide)="close()"
        [modal]="true"
        [style]="{ width: '60vw', height: 'auto' }"
        styleClass="add-equipment-modal"
        [breakpoints]="{ '700px': '100vw' }"
        [showHeader]="false"
        [draggable]="false"
        [resizable]="false"
        [dismissableMask]="true"
        appendTo="body"
    >
        <div class="modal-inner-container">
            <div class="modal-header">
                <h2>Add New Equipment</h2>
            </div>
            <p-divider></p-divider>
            <form class="modal-body" [formGroup]="addEquipmentForm">
                <div class="row-container">
                    <div class="cell-container">
                        <label for="equipmentType">Equipment Type</label>
                        <p-dropdown
                            formControlName="equipmentType"
                            autocomplete="off"
                            optionLabel="equipmentName"
                            optionValue="equipmentTypeID"
                            styleClass="full-width"
                            [options]="data.equipmentTypeList || []"
                            [showClear]="true"
                            appendTo="body"
                        ></p-dropdown>
                    </div>
                    <div class="cell-container two-third-width">
                        <label for="description">Description</label>
                        <input
                            pInputText
                            inputId="description"
                            name="description"
                            formControlName="description"
                        />
                    </div>
                    <div class="cell-container">
                        <label for="equipmentID">Equipment ID</label>
                        <input
                            pInputText
                            inputId="equipmentID"
                            name="equipmentID"
                            formControlName="equipmentID"
                        />
                    </div>
                    <div class="cell-container">
                        <label for="make">Make</label>
                        <input
                            pInputText
                            inputId="make"
                            name="make"
                            formControlName="make"
                        />
                    </div>
                    <div class="cell-container">
                        <label for="model">Model</label>
                        <input
                            pInputText
                            inputId="model"
                            name="model"
                            formControlName="model"
                        />
                    </div>
                    <div class="cell-container">
                        <label for="year">Year</label>
                        <input
                            pInputText
                            inputId="year"
                            name="year"
                            formControlName="year"
                        />
                    </div>
                    <div class="cell-container">
                        <label for="maxCapacity">Max Capacity</label>
                        <input
                            pInputText
                            inputId="maxCapacity"
                            name="maxCapacity"
                            formControlName="maxCapacity"
                        />
                    </div>
                    <div class="cell-container">
                        <label for="odometerHours">Odometer/Hours</label>
                        <input
                            pInputText
                            inputId="odometerHours"
                            name="odometerHours"
                            formControlName="odometerHours"
                        />
                    </div>
                    <div class="cell-container">
                        <label for="status">Status</label>
                        <p-dropdown
                            formControlName="status"
                            autocomplete="off"
                            optionLabel="isOperable"
                            optionValue="value"
                            [options]="statusOption || []"
                            [autoDisplayFirst]="false"
                            [showClear]="true"
                        ></p-dropdown>
                    </div>
                    <div class="cell-container">
                        <label for="locationDeployed">Location Deployed</label>
                        <p-dropdown
                            formControlName="locationDeployed"
                            autocomplete="off"
                            optionLabel="location"
                            optionValue="locationId"
                            styleClass="full-width"
                            [options]="data.locations || []"
                            [showClear]="true"
                            appendTo="body"
                        ></p-dropdown>
                    </div>
                    <div class="cell-container">
                        <label for="lastDate">Last Date Of Operation</label>
                        <p-calendar
                            dateFormat="mm/dd/yy"
                            formControlName="lastDate"
                            appendTo="body"
                            [showIcon]="true"
                            styleClass="calendar-icon"
                        >
                        </p-calendar>
                    </div>
                </div>
                <br />
                <div class="isAvailable-container">
                    <p-checkbox
                        [binary]="true"
                        inputId="isAvailable"
                        formControlName="isAvailable"
                    ></p-checkbox>
                    <label for="isAvailable">Is Available</label>
                </div>

                <div class="btn-container">
                    <ng-container *ngIf="data.status === 'error'">
                        <div>
                            <span class="text-error"
                                >Failed to add Equipment</span
                            >
                        </div>
                    </ng-container>

                    <button
                        pButton
                        class="btn btn-primary"
                        class="btn btn-primary-inverse"
                        [disabled]="data.status === 'loading'"
                        (click)="close()"
                    >
                        Cancel
                    </button>
                    <button
                        pButton
                        class="btn btn-primary"
                        [loading]="data.status === 'loading'"
                        [disabled]="
                            data.status === 'loading' ||
                            addEquipmentForm.invalid
                        "
                        (click)="add()"
                    >
                        Add
                    </button>
                </div>
            </form>
        </div>
    </p-dialog>
</ng-container>
