.main-content-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--color-white);
    border-radius: var(--border-radius-base);
    overflow: hidden;
    box-shadow: var(--shadow-base-1);
    .nav-container {
        display: flex;
        flex-direction: row;
        gap: var(--spacing-sm);
        flex-wrap: wrap;
        background-color: var(--color-gray-200);
        a {
            color: var(--color-gray-600);
            font-size: var(--font-size-body);
            border-top-width: 5px;
            border-top-style: solid;
            border-top-color: transparent;
            &.active {
                color: var(--color-blue-500);
                border-top-color: var(--color-blue-500);
                background-color: var(--color-blue-100);
            }
        }
    }
}
