<ng-container
    *ngIf="{
        isOpen: (isOpen$ | async) || false,
        status: status$ | async,
        qualifications: qualifications$ | async,
    } as data"
>
    <p-dialog
        [(visible)]="data.isOpen"
        (onHide)="close()"
        [modal]="true"
        [style]="{ width: '60vw', height: 'auto' }"
        styleClass="add-certifications-modal"
        [breakpoints]="{ '700px': '100vw' }"
        [showHeader]="false"
        [draggable]="false"
        [resizable]="false"
        [dismissableMask]="true"
        appendTo="body"
    >
        <div class="modal-inner-container">
            <div class="modal-header">
                <h2>Add Qualification</h2>
            </div>
            <p-divider></p-divider>
            <h4>Qualifications Information</h4>
            <form class="modal-body" [formGroup]="certificationsStatusForm">
                <div class="certifications-items">
                    <div class="certifications-item">
                        <label for="certification">Type</label>
                        <p-dropdown
                            id="certification"
                            name="certification"
                            formControlName="certificationType"
                            autocomplete="off"
                            optionLabel="qualificationName"
                            [options]="data.qualifications || []"
                            placeholder="Select Qualification"
                            [autoDisplayFirst]="false"
                            [showClear]="true"
                        ></p-dropdown>
                    </div>
                    <div class="certifications-item">
                        <label for="startDate">Start Date</label>
                        <p-calendar
                            id="startDate"
                            dateFormat="mm/dd/yy"
                            placeholder="Select Dates"
                            formControlName="startDate"
                            appendTo="body"
                            [showIcon]="true"
                            styleClass="calendar-icon"
                            [selectOtherMonths]="true"
                        >
                        </p-calendar>
                    </div>
                    <div class="certifications-item">
                        <label for="expiryDate">Expiry Date</label>
                        <p-calendar
                            id="expiryDate"
                            dateFormat="mm/dd/yy"
                            placeholder="Select Dates"
                            formControlName="expiryDate"
                            appendTo="body"
                            [showIcon]="true"
                            styleClass="calendar-icon"
                        >
                        </p-calendar>
                    </div>
                    <div
                        *ngIf="
                            certificationsStatusForm.hasError(
                                'invalidDateRange'
                            )
                        "
                        class="full-width"
                    >
                        <span class="error-message">
                            Expiration date must be after start date</span
                        >
                    </div>
                </div>
                <br />
                <div class="noexpiry-container">
                    <p-checkbox
                        [binary]="true"
                        inputId="noExpiryDate"
                        formControlName="noExpiryDate"
                    ></p-checkbox>
                    <label for="noExpiryDate">No expiry date</label>
                </div>
                <div class="file-upload">
                    <label for="file">Upload File</label>
                    <p-fileUpload
                        mode="basic"
                        #fileUploadComponent
                        styleClass="full-width btn-primary"
                        chooseLabel="Choose File"
                        [multiple]="false"
                        name="file"
                        id="file"
                        (onSelect)="onFileSelect($event)"
                    ></p-fileUpload>
                </div>
                <div class="btn-container">
                    <ng-container *ngIf="data.status === 'error'">
                        <div>
                            <span class="text-error"
                                >Failed to save qualification</span
                            >
                        </div>
                    </ng-container>

                    <button
                        pButton
                        class="btn btn-primary"
                        class="btn btn-primary-inverse"
                        [disabled]="data.status === 'loading'"
                        (click)="close()"
                    >
                        Cancel
                    </button>
                    <button
                        pButton
                        class="btn btn-primary"
                        [loading]="data.status === 'loading'"
                        (click)="addCertification()"
                    >
                        Add
                    </button>
                </div>
            </form>
        </div>
    </p-dialog>
</ng-container>
