<ng-container *ngIf="assignment">
    <div class="tour-details-container">
        <span class="body-xl font-medium">{{ assignment.tourName }}</span>
        <div class="assignment-details-container">
            <ng-container *ngIf="assignment.shipName as shipName">
                <div class="info-container">
                    <app-icon-cruise
                        [width]="15"
                        color="#272727"
                    ></app-icon-cruise>
                    <span class="body-m font-medium">
                        {{ shipName }}
                    </span>
                </div>
                <div class="custom-divider"></div>
            </ng-container>
            <ng-container
                *ngIf="assignment.tourInventoryTime as tourInventoryTime"
            >
                <div class="info-container">
                    <i class="pi pi-clock"></i>
                    <span class="body-m font-medium"
                        >{{ tourInventoryTime | tourInventoryTime }}
                    </span>
                </div>
                <div class="custom-divider"></div>
            </ng-container>
            <ng-container *ngIf="tourDate">
                <div class="info-container">
                    <i class="pi pi-calendar"></i>
                    <span class="body-m font-medium"
                        >{{ tourDate | date }}
                    </span>
                </div>
            </ng-container>
        </div>
    </div>
</ng-container>
