<div class="dtd-condensed-table-container" [class.hide]="!isVisible">
    <ng-container *ngIf="assignments$ | async as assignments">
        <p-table
            #assignmentsTable
            [value]="assignments"
            [scrollable]="true"
            [tableStyle]="{ width: '100%' }"
            dataKey="tourInventoryId"
            [rows]="assignments.length"
        >
            <ng-template pTemplate="header">
                <tr>
                    <!-- <th class="ellipsis-col"></th> -->
                    <th class="time">Time</th>
                    <th pSortableColumn="tourName">Tour</th>
                    <th class="count">Total</th>
                    <th class="count">Actual</th>
                    <th class="driver">Driver</th>
                    <th class="status">Status</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-assignment let-index="rowIndex">
                <tr
                    [id]="'assignment-' + index"
                    class="assignment"
                    [ngClass]="{
                        'cancelled-assignment': assignment.isCancelled,
                        'open-assignment':
                            assignment.isOpen && !assignment.isCancelled,
                        'closed-assignment':
                            assignment.isClosed && !assignment.isCancelled,
                        'confirmed-assignment':
                            (assignment.actualTotal !== null &&
                                !assignment.isOpen) ||
                            (assignment.actualTotal !== null &&
                                assignment.isClosed) ||
                            (assignment.actualTotal !== null &&
                                assignment.isCancelled)
                    }"
                    (click)="
                        activeMenuAssignment$.next(assignment);
                        menu.toggle($event)
                    "
                >
                    <!-- <td class="ellipsis-col">
                        <div>
                            <button
                                pButton
                                icon="pi pi-ellipsis-v"
                                class="menu-button"
                                (click)="
                                    activeMenuAssignment$.next(assignment);
                                    menu.toggle($event)
                                "
                            ></button>
                        </div>
                    </td> -->
                    <td class="time">
                        <span>
                            {{
                                assignment.tourInventoryTime | tourInventoryTime
                            }}
                        </span>
                    </td>
                    <td>
                        <div class="tourname-container">
                            <ng-container
                                *ngIf="
                                    (assignment.tourInventoryFromId ||
                                        assignment.tourInventoryToId) &&
                                    assignment.jointDepartureIndicatorColor
                                "
                            >
                                <app-icon-joint-departure
                                    [color]="
                                        assignment.jointDepartureIndicatorColor
                                    "
                                    [height]="20"
                                    [width]="20"
                                ></app-icon-joint-departure>
                            </ng-container>
                            <span class="font-medium">
                                {{
                                    assignment.tourShortName ||
                                        assignment.tourName
                                }}
                            </span>
                            <ng-container *ngIf="assignment.specialNotes">
                                <ng-container
                                    *ngIf="touchDevice; else nonTouchDevice"
                                >
                                    <i
                                        class="pi pi-comment"
                                        [pTooltip]="assignment.specialNotes"
                                        tooltipPosition="right"
                                        tooltipEvent="focus"
                                        [tabindex]="0"
                                        [appPermission]="{
                                    features: [{
                                     feature: features.dailyTourDispatch.name,
                                     page: features.dailyTourDispatch.pages
                                         .dailyTourDispatch.name,
                                     pageFeature: [
                                         features.dailyTourDispatch.pages
                                             .dailyTourDispatch.features
                                             .notesView.name,
                                     ],
                                     pageFeatureCheck: 'or',
                                    }],
                                     mode: 'none',
                                 }"
                                    ></i>
                                </ng-container>
                                <ng-template #nonTouchDevice>
                                    <i
                                        class="pi pi-comment"
                                        [pTooltip]="assignment.specialNotes"
                                        tooltipPosition="right"
                                        [appPermission]="{
                                    features: [{
                                     feature: features.dailyTourDispatch.name,
                                     page: features.dailyTourDispatch.pages
                                         .dailyTourDispatch.name,
                                     pageFeature: [
                                         features.dailyTourDispatch.pages
                                             .dailyTourDispatch.features
                                             .notesView.name,
                                     ],
                                     pageFeatureCheck: 'or',
                                    }],
                                     mode: 'none',
                                 }"
                                    ></i>
                                </ng-template>
                            </ng-container>
                        </div>
                    </td>

                    <td class="count">
                        <ng-container
                            *ngIf="
                                assignment.final !== null &&
                                    assignment.final >= 0;
                                else prelim
                            "
                        >
                            <span class="total final">
                                {{
                                    (assignment.totalBooked || 0) +
                                        assignment.final
                                }}</span
                            >
                        </ng-container>
                        <ng-template #prelim>
                            <span class="total">
                                {{
                                    (assignment.totalBooked || 0) +
                                        (assignment.preLim || 0)
                                }}
                            </span>
                        </ng-template>
                    </td>
                    <td class="count">
                        <ng-container
                            *ngIf="
                                !assignment.isOpen &&
                                    !assignment.isClosed &&
                                    assignment.actualTotal !== null &&
                                    assignment.actualTotal >= 0;
                                else noActuals
                            "
                        >
                            <span class="actual">{{
                                assignment.actualTotal
                            }}</span>
                        </ng-container>
                        <ng-template #noActuals> </ng-template>
                    </td>
                    <td class="driver">
                        <div>
                            <ng-container *ngIf="assignment.transportationName">
                                <span>{{ assignment.transportationName }}</span>
                            </ng-container>
                            <ng-container
                                *ngIf="assignment.guideFirstNameNickname"
                            >
                                <span>{{
                                    assignment.guideFirstNameNickname
                                }}</span>
                            </ng-container>
                        </div>
                    </td>
                    <td class="status">
                        <!-- status chip -->
                        <ng-container
                            *ngIf="
                                assignment.isOpen ||
                                assignment.isClosed ||
                                assignment.isCancelled ||
                                (assignment.actualTotal !== null &&
                                    !assignment.isOpen) ||
                                (assignment.actualTotal !== null &&
                                    assignment.isClosed)
                            "
                        >
                            <div class="status-chip">
                                <ng-container
                                    *ngIf="assignment.isCancelled; else isOpen"
                                >
                                    <span>Cancelled</span>
                                </ng-container>
                                <ng-template #isOpen>
                                    <ng-container
                                        *ngIf="assignment.isOpen; else isClosed"
                                    >
                                        <span>Open</span>
                                    </ng-container>
                                    <ng-template #isClosed>
                                        <ng-container
                                            *ngIf="
                                                assignment.isClosed;
                                                else isConfirmed
                                            "
                                        >
                                            <span>Closed</span>
                                        </ng-container>
                                        <ng-template #isConfirmed>
                                            <ng-container
                                                *ngIf="
                                                    (assignment.actualTotal !==
                                                        null &&
                                                        !assignment.isOpen) ||
                                                    (assignment.actualTotal !==
                                                        null &&
                                                        assignment.isClosed) ||
                                                    (assignment.actualTotal !==
                                                        null &&
                                                        assignment.isCancelled)
                                                "
                                            >
                                                <ng-container
                                                    *ngIf="
                                                        assignment.adjustedDepartureTime;
                                                        else noActualDepartureTime
                                                    "
                                                >
                                                    <app-icon-departed
                                                        [width]="16"
                                                        [color]="'#000'"
                                                    ></app-icon-departed>
                                                    <span>
                                                        {{
                                                            assignment.adjustedDepartureTime
                                                                | date : 'H:mm'
                                                        }}
                                                    </span>
                                                </ng-container>
                                                <ng-template
                                                    #noActualDepartureTime
                                                >
                                                    <span>Confirmed</span>
                                                </ng-template>
                                            </ng-container>
                                        </ng-template>
                                    </ng-template>
                                </ng-template>
                            </div>
                        </ng-container>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="12">No assignment found.</td>
                </tr>
            </ng-template>
        </p-table>
    </ng-container>
</div>

<p-menu
    #menu
    appendTo="body"
    [model]="(dataOptions$ | async) || []"
    [popup]="true"
>
    <ng-template pTemplate="item" let-item>
        <a
            *ngIf="!item?.url"
            [attr.tabindex]="-1"
            class="dtd-condensed-table-menu-option"
            (click)="item.command()"
        >
            <div class="menu-option-inner-container">
                <ng-container *ngIf="item.customIcon">
                    <ng-container *ngIf="item.customIcon === 'joint-departure'">
                        <app-icon-add-joint-departure
                            [height]="20"
                            [width]="20"
                            color="#000"
                        ></app-icon-add-joint-departure>
                    </ng-container>
                </ng-container>
                <ng-container *ngIf="item.icon">
                    <i [class]="item.icon"></i>
                </ng-container>
                <span>
                    {{ item.label }}
                    <ng-container *ngIf="item.displayIndicator">
                        <div class="indicator"></div>
                    </ng-container>
                </span>
            </div>
        </a>
    </ng-template>
</p-menu>
