<div class="container">
    <div class="header-container">
        <h1 class="current">Cruise Ships</h1>
    </div>

    <div class="content-container">
        <ng-container
            *ngIf="{
                status: status$ | async,
                cruiseShipList: cruiseShipList$ | async,
            } as config"
        >
            <div class="content-header-container">
                <div class="search-container">
                    <input
                        type="text"
                        autocomplete="off"
                        pInputText
                        placeholder="Search ..."
                        [(ngModel)]="keyword"
                        (ngModelChange)="search()"
                    />
                </div>
                <div class="additional-controls-container">
                    <div class="show-inactive">
                        <p-inputSwitch
                            name="showInactive"
                            [(ngModel)]="showInactive"
                            (ngModelChange)="showInactiveChange()"
                        ></p-inputSwitch>
                        <label for="showInactive">Show Inactive</label>
                    </div>
                </div>
            </div>
            <ng-container [ngSwitch]="config.status?.loadCruiseShipList">
                <ng-container *ngSwitchCase="'loading'">
                    <app-loader-embed [isDisplayed]="true"></app-loader-embed>
                </ng-container>
                <ng-container *ngSwitchCase="'error'">
                    <div class="error-state">
                        <span>Error loading Cruise Ships</span>
                        <button pButton>Retry</button>
                    </div>
                </ng-container>
                <ng-container *ngSwitchCase="'success'">
                    <ng-container
                        *ngIf="
                            config.cruiseShipList &&
                                config.cruiseShipList.length > 0;
                            noCruiseShip
                        "
                    >
                        <div class="table-container">
                            <p-table
                                #cruiseShipsTable
                                [value]="config.cruiseShipList || []"
                                [scrollable]="true"
                                dataKey="userEmail"
                                [tableStyle]="{ width: '100%' }"
                                [rows]="20"
                                [rowsPerPageOptions]="[20, 50, 100]"
                                [paginator]="true"
                                [showCurrentPageReport]="true"
                                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                                [globalFilterFields]="[
                                    'shipCompanyName',
                                    'shipName'
                                ]"
                            >
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>Cruise Line</th>
                                        <th>Ship Name</th>
                                        <th>Capacity</th>
                                        <th>Status</th>
                                        <th>Data Source</th>
                                        <th alignFrozen="right" pFrozenColumn>
                                            Action
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-item>
                                    <tr>
                                        <td>{{ item.shipCompanyName }}</td>
                                        <td>{{ item.shipName }}</td>
                                        <td>{{ item.capacity }}</td>
                                        <td>{{ item.shipStatus }}</td>
                                        <td>{{ item.dataSource }}</td>
                                        <td alignFrozen="right" pFrozenColumn>
                                            <div class="actions-container">
                                                <button
                                                    pButton
                                                    icon="pi pi-pencil"
                                                    class="p-button-text edit"
                                                    pTooltip="Edit"
                                                    tooltipPosition="left"
                                                    (click)="
                                                        openEditCruiseShipModal(
                                                            item
                                                        )
                                                    "
                                                ></button>
                                                <ng-container
                                                    *ngIf="
                                                        !showInactive;
                                                        else restoreTem
                                                    "
                                                >
                                                    <button
                                                        pButton
                                                        icon="pi pi-trash"
                                                        class="p-button-text delete"
                                                        pTooltip="Delete"
                                                        tooltipPosition="left"
                                                        (click)="
                                                            openRemoveCruiseShipModal(
                                                                item
                                                            )
                                                        "
                                                    ></button>
                                                </ng-container>
                                                <ng-template #restoreTem>
                                                    <button
                                                        pButton
                                                        icon="pi pi-replay"
                                                        class="p-button-text delete"
                                                        pTooltip="Restore"
                                                        tooltipPosition="left"
                                                        (click)="
                                                            openRestoreCruiseShipModal(
                                                                item
                                                            )
                                                        "
                                                    ></button>
                                                </ng-template>
                                            </div>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </ng-container>
                    <ng-template #noCruiseShip>
                        <div class="empty-state">
                            <span>You don't have any Cruise Ship.</span>
                        </div>
                    </ng-template>
                </ng-container>
            </ng-container>
        </ng-container>
    </div>
</div>

<!-- modals -->
<app-edit-cruise-ship-modal></app-edit-cruise-ship-modal>
<app-remove-cruise-ship-modal></app-remove-cruise-ship-modal>
<app-restore-cruise-ship-modal></app-restore-cruise-ship-modal>
