<ng-container
    *ngIf="{
        isOpen: (isOpen$ | async) || false,
        status: status$ | async,
        context: context$ | async,
    } as data"
>
    <p-dialog
        [(visible)]="data.isOpen"
        (onHide)="close()"
        [modal]="true"
        [style]="{ width: '50vw', height: 'auto' }"
        styleClass="remove-pay-rate-modal"
        [breakpoints]="{ '768px': '95vw' }"
        [showHeader]="false"
        [draggable]="false"
        [resizable]="false"
        [dismissableMask]="true"
        appendTo="body"
    >
        <ng-container *ngIf="data.context">
            <div class="modal-confirmation-container">
                <div class="modal-header">
                    <h2>Would you like to Delete this Pay Rate?</h2>
                </div>
                <p-divider></p-divider>
                <div class="row-container">
                    <div class="col-container">
                        <span class="h4">Year</span>
                        <span>
                            {{ data.context.payrateYear }}
                        </span>
                    </div>
                    <p-divider layout="vertical"></p-divider>
                    <div class="col-container">
                        <span class="h4">Base Pay Rate</span>
                        <span>
                            {{ data.context.payRateAmount }}
                        </span>
                    </div>
                    <p-divider layout="vertical"></p-divider>
                    <div class="col-container">
                        <span class="h4">Base Pay Type</span>
                        <span>
                            {{ data.context.payType }}
                        </span>
                    </div>
                    <p-divider layout="vertical"></p-divider>
                    <div class="col-container">
                        <span class="h4">Max Pay Rate</span>
                        <span>
                            {{ data.context.maxPayRateAmount }}
                        </span>
                    </div>
                    <p-divider layout="vertical"></p-divider>
                    <div class="col-container">
                        <span class="h4">Max Pay Type</span>
                        <span>
                            {{ data.context.maxPayType }}
                        </span>
                    </div>
                </div>
                <div class="button-container">
                    <ng-container *ngIf="data.status === 'error'">
                        <span class="text-error"
                            >Unable to delete Pay Rate</span
                        >
                    </ng-container>
                    <button
                        pButton
                        class="btn btn-primary-inverse"
                        [disabled]="data.status === 'loading'"
                        (click)="close()"
                    >
                        Cancel
                    </button>
                    <button
                        pButton
                        class="btn btn-danger"
                        [disabled]="data.status === 'loading'"
                        [loading]="data.status === 'loading'"
                        (click)="remove(data.context.payRateMasterId)"
                    >
                        Delete
                    </button>
                </div>
            </div>
        </ng-container>
    </p-dialog>
</ng-container>
