<ng-container
    *ngIf="{
        isOpen: (isOpen$ | async) || false,
        context: context$ | async,
        deleteNoteStatus: deleteNoteStatus$ | async
    } as data"
>
    <p-dialog
        [(visible)]="data.isOpen"
        (onHide)="close()"
        [modal]="true"
        [style]="{ width: '40vw', height: 'auto' }"
        styleClass="add-sales-report"
        [breakpoints]="{ '768px': '80vw' }"
        [showHeader]="false"
        [draggable]="false"
        [resizable]="false"
        [dismissableMask]="true"
        appendTo="body"
    >
        <div class="modal-confirmation-container">
            <div class="modal-header">
                <h2>Are you sure you want to delete this note?</h2>
            </div>
            <span>You will not be able to undo this action.</span>
            <div class="button-container">
                <ng-container *ngIf="data.deleteNoteStatus === 'error'">
                    <span class="text-error">Unable to delete note</span>
                </ng-container>

                <button (click)="close()" pButton class="btn btn-primary">
                    Cancel
                </button>
                <button
                    (click)="deleteNote(data.context ?? 0)"
                    pButton
                    [loading]="data.deleteNoteStatus === 'loading'"
                    class="btn btn-primary-inverse"
                >
                    Delete Note
                </button>
            </div>
        </div>
    </p-dialog>
</ng-container>
