<configuration>
    <system.webServer>
      <rewrite>
        <rules>
          <rule name="Angular" stopProcessing="true">
            <match url=".*" />
            <conditions logicalGrouping="MatchAll">
              <add
                            input="{REQUEST_FILENAME}"
                            matchType="IsFile"
                            negate="true"
                        />
              <add
                            input="{REQUEST_FILENAME}"
                            matchType="IsDirectory"
                            negate="true"
                        />
            </conditions>
            <action type="Rewrite" url="/" />
          </rule> 
        <rule name="Https*" patternSyntax="Wildcard" stopProcessing="true">
          <match url="*" />
          <serverVariables />
          <action
                        type="Redirect"
                        url="https://{HTTP_HOST}{REQUEST_URI}"
                        redirectType="Permanent"
                    />
          <conditions>
            <add input="{HTTPS}" pattern="OFF" />
          </conditions>
        </rule>
        <rule name="Https" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="^OFF$" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/R:1" />
        </rule>
      </rules>
      </rewrite>
    </system.webServer>
</configuration>
