<ng-container
    *ngIf="{
        isOpen: (isOpen$ | async) || false,
        status: status$ | async,
        cruiseLineDetails: cruiseLineDetails$ | async,
    } as data"
>
    <p-dialog
        [(visible)]="data.isOpen"
        (onHide)="close()"
        [modal]="true"
        [style]="{ width: '50vw', height: 'auto' }"
        styleClass="edit-cruise-line-tour-modal"
        [breakpoints]="{ '700px': '100vw' }"
        [showHeader]="false"
        [draggable]="false"
        [resizable]="false"
        [dismissableMask]="true"
        appendTo="body"
    >
        <div class="modal-inner-container">
            <div class="modal-header">
                <h2>Edit Cruise Line Tour</h2>
            </div>
            <p-divider></p-divider>
            <div class="modal-body">
                <form [formGroup]="editCruiseLineTourForm">
                    <div class="row-container">
                        <div class="cell-container">
                            <label>Cruise Line Tour Name</label>
                            <input
                                pInputText
                                inputId="cruiseLineTourName"
                                name="cruiseLineTourName"
                                formControlName="cruiseLineTourName"
                            />
                        </div>
                        <div class="cell-container">
                            <label>Cruise Line Tour Code</label>
                            <input
                                pInputText
                                inputId="cruiseLineTourCode"
                                name="cruiseLineTourCode"
                                formControlName="cruiseLineTourCode"
                            />
                        </div>
                        <div class="cell-container">
                            <button
                                pButton
                                class="btn btn-primary update"
                                (click)="updateLineTourCodeName()"
                                [loading]="data.status === 'loading'"
                                [disabled]="data.status === 'loading'"
                            >
                                Update Name & Code
                            </button>
                        </div>
                        <div class="cell-container">
                            <label>Start Date</label>
                            <p-calendar
                                dateFormat="mm/dd/yy"
                                formControlName="startDate"
                                appendTo="body"
                                [showIcon]="true"
                                styleClass="calendar-icon"
                            >
                            </p-calendar>
                        </div>
                        <div class="cell-container">
                            <label>Net Adult Rate</label>
                            <input
                                type="number"
                                pInputText
                                inputId="netRateAdult"
                                name="netRateAdult"
                                formControlName="netRateAdult"
                            />
                        </div>
                        <div class="cell-container">
                            <label>Net Child Rate</label>
                            <input
                                type="number"
                                pInputText
                                inputId="netRateChild"
                                name="netRateChild"
                                formControlName="netRateChild"
                            />
                        </div>
                    </div>
                    <div class="row-container">
                        <div class="cell-container">
                            <label>Is Live</label>
                            <p-inputSwitch formControlName="isOffered" />
                        </div>
                    </div>
                </form>
                <div class="btn-container">
                    <ng-container *ngIf="data.status === 'error'">
                        <div>
                            <span class="text-error"
                                >Failed to save Cruise Line Tour</span
                            >
                        </div>
                    </ng-container>
                    <button
                        pButton
                        class="btn btn-primary"
                        [loading]="data.status === 'loading'"
                        [disabled]="data.status === 'loading'"
                        (click)="save()"
                    >
                        Save
                    </button>
                    <button
                        pButton
                        class="btn btn-primary-inverse"
                        [disabled]="data.status === 'loading'"
                        (click)="close()"
                    >
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    </p-dialog>
</ng-container>
