<ng-container
    *ngIf="{
        departments: departments$ | async,
        positions: positions$ | async,
        users: users$ | async,
        statuses: statuses$ | async
    } as data"
>
    <div class="main-container">
        <h2>Communications</h2>
        <ng-container>
            <form [formGroup]="communicationsForm" class="content-container">
                <div class="filter-container">
                    <span>Filter By :</span>
                    <div class="filters">
                        <div class="switch-container">
                            <p-inputSwitch
                                formControlName="isHired"
                                (onChange)="loadUsers()"
                            ></p-inputSwitch>
                            <label>Is Hired</label>
                        </div>
                        <div class="switch-container">
                            <p-inputSwitch
                                formControlName="isActive"
                                (onChange)="loadUsers()"
                            ></p-inputSwitch>
                            <label>Is Active</label>
                        </div>
                        <div class="switch-container">
                            <p-inputSwitch name="showInactive"></p-inputSwitch>
                            <label>Is Archived</label>
                        </div>
                    </div>
                </div>
                <div class="select-container">
                    <div class="col-container">
                        <div class="select-content">
                            <label for="faqs">Select Department(s)</label>
                            <p-multiSelect
                                formControlName="departmentId"
                                autocomplete="off"
                                optionLabel="departmentName"
                                optionValue="departmentId"
                                styleClass="full-width"
                                [options]="data.departments || []"
                                [showClear]="true"
                                [dropdownIcon]="
                                    data.statuses?.departments === 'loading'
                                        ? 'pi pi-spinner pi-spin'
                                        : 'pi pi-chevron-down'
                                "
                                appendTo="body"
                                display="chip"
                                (onChange)="loadPositions()"
                            >
                                <ng-template let-department pTemplate="item">
                                    <div
                                        class="department-option"
                                        [ngClass]="{
                                            first: department.tier === 'first',
                                            second:
                                                department.tier === 'second',
                                            third: department.tier === 'third',
                                            fourth: department.tier === 'fourth'
                                        }"
                                    >
                                        <span>{{
                                            department.departmentName
                                        }}</span>
                                    </div>
                                </ng-template></p-multiSelect
                            >
                        </div>
                    </div>
                    <div class="col-container">
                        <div class="select-content">
                            <label for="faqs">Select Position(s)</label>
                            <p-multiSelect
                                formControlName="positionId"
                                autocomplete="off"
                                [options]="data.positions || []"
                                optionLabel="positionName"
                                optionValue="positionId"
                                styleClass="full-width"
                                [showClear]="true"
                                [dropdownIcon]="
                                    data.statuses?.users === 'loading'
                                        ? 'pi pi-spinner pi-spin'
                                        : 'pi pi-chevron-down'
                                "
                                appendTo="body"
                                display="chip"
                                (onChange)="loadUsers()"
                            >
                                <ng-template let-position pTemplate="item">
                                    <div
                                        class="position-option"
                                        [ngClass]="{
                                            first: position.children,
                                            second:
                                                position.children,
                                        }"
                                    >
                                        <span class="first"
                                            >{{ position.positionName }}
                                        </span>
                                        <span class="second"
                                            >({{
                                                position.departmentName
                                            }})</span
                                        >
                                    </div>
                                </ng-template>
                            </p-multiSelect>
                        </div>
                        <div class="switch-container">
                            <p-inputSwitch name="showInactive"></p-inputSwitch>
                            <label for="showInactive"
                                >Managerial Positions Only</label
                            >
                        </div>
                    </div>
                    <div class="col-container">
                        <div class="select-content">
                            <label for="faqs">Select User(s)</label>
                            <p-multiSelect
                                formControlName="users"
                                autocomplete="off"
                                [options]="data.users || []"
                                optionLabel="firstName"
                                optionValue="email"
                                styleClass="full-width"
                                [showClear]="true"
                                [dropdownIcon]="
                                    data.statuses?.users === 'loading'
                                        ? 'pi pi-spinner pi-spin'
                                        : 'pi pi-chevron-down'
                                "
                                appendTo="body"
                                display="chip"
                            >
                                <ng-template let-user pTemplate="item">
                                    <div>
                                        <span
                                            >{{ user.firstName }}
                                            {{ user.lastName }}</span
                                        >
                                    </div>
                                </ng-template>
                            </p-multiSelect>
                        </div>
                        <div class="switch-container">
                            <p-inputSwitch name="showInactive"></p-inputSwitch>
                            <label for="showInactive"
                                >Include Logged In User</label
                            >
                        </div>
                    </div>
                </div>
                <div class="input-container">
                    <div class="col-container">
                        <label for="subject">Email Subject Line</label>
                        <input
                            type="text"
                            formControlName="subject"
                            pInputText
                        />
                    </div>
                    <div class="col-container">
                        <label for="content">Content</label>
                        <textarea
                            class="full-width"
                            rows="7"
                            pInputTextarea
                            formControlName="content"
                        ></textarea>
                    </div>
                </div>
                <div class="action-container">
                    <button
                        pButton
                        class="btn btn-primary-inverse"
                        type="button"
                        [disabled]="data.statuses?.save === 'loading'"
                        (click)="clear()"
                    >
                        Clear
                    </button>
                    <button
                        type="submit"
                        pButton
                        class="btn btn-primary"
                        (click)="sendMessage()"
                        [loading]="data.statuses?.save === 'loading'"
                        [disabled]="data.statuses?.save === 'loading'"
                    >
                        Send Message
                    </button>
                </div>
            </form>
        </ng-container>
    </div>
</ng-container>
