<div class="container">
    <div class="header-container">
        <h1 class="current">Advanced Inventory Management</h1>
    </div>

    <div class="main-content-container">
        <div
            class="nav-container"
            [appPermission]="{
                features: [{
                    feature: features.inventoryManagement.name,
                page: 
                    features.inventoryManagement.pages.manageAllocation.name,
                },
                {
                    feature: features.inventoryManagement.name,
                page: 
                    features.inventoryManagement.pages.needingAllocation.name,
                }, 
                {
                    feature: features.inventoryManagement.name,
                page: 
                    features.inventoryManagement.pages
                        .recentlyReleasedInventories.name,
                },
                {
                    feature: features.inventoryManagement.name,
                page: 
                    features.inventoryManagement.pages.salesAndReports.name
                }],
                featureCheck: 'atleastOne',
                mode: 'none'
            }"
        >
            <ng-container
                *ngIf="inventoryNavOptions$ | async as inventoryNavOptions"
            >
                <ng-container *ngFor="let option of inventoryNavOptions">
                    <a
                        routerLinkActive="active"
                        #rla="routerLinkActive"
                        [routerLink]="option.path"
                    >
                        <span>{{ option.displayName }}</span>
                        <ng-container *ngIf="option.badge">
                            <p-badge [value]="option.badge + ''"></p-badge>
                        </ng-container>
                    </a>
                </ng-container>
            </ng-container>
        </div>
        <router-outlet></router-outlet>
    </div>
</div>
