<ng-container
    *ngIf="{
        departments: departments$ | async,
        positions: positions$ | async,
        statuses: statuses$ | async
    } as data"
>
    <div class="position-container">
        <h3>Position</h3>
        <button
            class="btn btn-primary-inverse btn-add-position"
            pButton
            [appPermission]="{
        features: [{

            feature: features.userManagementEdit.name,
            page: features.userManagementEdit.pages.payroll
                .name,
            pageFeature: [
                features.userManagementEdit.pages.payroll
                    .features.positionCreate.name
            ],
            pageFeatureCheck: 'or',
        }],
        mode: 'none'
    }"
            (click)="addNewPosition()"
            [disabled]="false"
        >
            <i class="pi pi-plus"></i>
            Add Position
        </button>

        <form [formGroup]="positionForm">
            <ng-container formArrayName="positions">
                <ng-container
                    *ngFor="
                        let position of positionForm.controls.positions
                            .controls;
                        let i = index
                    "
                >
                    <div class="row-container" [formGroupName]="i">
                        <div class="field-container">
                            <label for="departmentId">Department</label>
                            <p-dropdown
                                formControlName="departmentId"
                                autocomplete="off"
                                optionLabel="departmentName"
                                optionValue="departmentId"
                                styleClass="full-width"
                                [autoDisplayFirst]="false"
                                [options]="data.departments || []"
                                [showClear]="true"
                                [dropdownIcon]="
                                    data.statuses?.departments === 'loading'
                                        ? 'pi pi-spinner pi-spin'
                                        : 'pi pi-chevron-down'
                                "
                                appendTo="body"
                            >
                                <ng-template let-department pTemplate="item">
                                    <div
                                        class="department-option"
                                        [ngClass]="{
                                            first: department.tier === 'first',
                                            second:
                                                department.tier === 'second',
                                            third: department.tier === 'third',
                                            fourth: department.tier === 'fourth'
                                        }"
                                    >
                                        <span>{{
                                            department.departmentName
                                        }}</span>
                                    </div>
                                </ng-template></p-dropdown
                            >
                        </div>
                        <div class="field-container">
                            <label for="positionId">Position</label>
                            <p-dropdown
                                formControlName="positionId"
                                autocomplete="off"
                                optionLabel="positionName"
                                optionValue="positionId"
                                styleClass="full-width"
                                [autoDisplayFirst]="false"
                                [showClear]="true"
                                [options]="data.positions?.[positionForm.controls.positions.controls[i].value.departmentId]"
                                [dropdownIcon]="
                                    data.statuses?.positions === 'loading'
                                        ? 'pi pi-spinner pi-spin'
                                        : 'pi pi-chevron-down'
                                "
                                appendTo="body"
                            ></p-dropdown>
                        </div>
                        <div class="field-container">
                            <label class="form-control-label" for="payRate"
                                >Pay Rate</label
                            >
                            <p-inputNumber
                                formControlName="payRate"
                                styleClass="full-width"
                                mode="currency"
                                currency="USD"
                            />
                        </div>
                        <button
                            pButton
                            class="btn btn-danger"
                            (click)="removePosition(i)"
                            [disabled]="
                                positionForm.controls.positions.length === 1
                            "
                        >
                            <i class="pi pi-trash"></i>
                        </button>
                        <div class="divider-container mobile">
                            <p-divider></p-divider>
                        </div>
                    </div>
                </ng-container>
            </ng-container>
        </form>
    </div>
</ng-container>
