<ng-container *ngIf="tour">
    <div class="day-details-container">
        <div class="detail-item">
            <div class="img-container">
                <!-- Placeholder -->
                <img [src]="tourImage || ''" />
                <span class="img-overlay body-xl">{{
                    tour.tourDate | date : 'MM/dd/yyyy'
                }}</span>
            </div>
            <div class="item-details">
                <span class="h2">{{ tour.tourName }}</span>
                <span class="subdetails">
                    <i class="pi pi-map"></i>
                    <!--TODO: Need to change this to the ship icon when it's made-->
                    <span class="body-xl">
                        {{ tour.shipName }}
                    </span>
                </span>
                <span class="subdetails">
                    <i class="pi pi-users"></i>
                    <span class="body-xl">
                        {{ tour.seatSold || 0 }} out of
                        {{ tour.seatAllocated || 0 }}
                        seats sold
                    </span>
                </span>
                <ng-container *ngIf="tour.threshold >= 0">
                    <span class="subdetails">
                        <i class="pi pi-percentage"></i>
                        <span class="body-xl">
                            Threshold at
                            {{ tour.threshold }} %
                        </span>
                    </span>
                </ng-container>
            </div>
        </div>
    </div>
</ng-container>
