<ng-container
    *ngIf="{
        isOpen: (isOpen$ | async) || false,
        cruiseLines: cruiseLines$ | async,
        cruiseShips: cruiseShips$ | async,
        filterLoading: filterLoading$ | async,
        inventoryManagementInventoryType:
            inventoryManagementInventoryType$ | async,
        inventory: inventory$ | async,
        tours: tours$ | async,
        ports: ports$ | async,
        submitStatus: submitStatus$ | async,
        searchStatus: searchStatus$ | async
    } as data"
>
    <p-dialog
        [(visible)]="data.isOpen"
        (onHide)="close()"
        [modal]="true"
        [style]="{ width: '60vw', height: 'auto' }"
        styleClass="delete-inventory-modal"
        [breakpoints]="{ '720px': '95vw' }"
        [showHeader]="false"
        [draggable]="false"
        [resizable]="false"
        [dismissableMask]="true"
        appendTo="body"
    >
        <div class="modal-inner-container">
            <div class="modal-header">
                <h2>
                    Delete Inventory - (UnAllocated and Allocated Inventory
                    only)
                </h2>
            </div>
            <p-divider></p-divider>
            <form [formGroup]="deleteInventoryForm" (ngSubmit)="search()">
                <div class="info-container">
                    <div class="info-item full-width">
                        <label>Inventory Type</label>
                        <p-dropdown
                            id="searchBy"
                            name="searchBy"
                            styleClass="full-width"
                            autocomplete="off"
                            placeholder="Select Type"
                            pInputText
                            optionValue="id"
                            optionLabel="label"
                            [autoDisplayFirst]="false"
                            [options]="
                                data.inventoryManagementInventoryType || []
                            "
                            formControlName="searchBy"
                        ></p-dropdown>
                    </div>
                </div>
                <div class="info-container">
                    <div class="info-item">
                        <label>Select Cruise Line</label>
                        <p-dropdown
                            id="ship"
                            name="ship"
                            formControlName="cruiseLine"
                            autocomplete="off"
                            optionLabel="shipCompanyName"
                            optionValue="shipCompanyId"
                            styleClass="full-width"
                            placeholder="Select a Cruise Line"
                            [autoDisplayFirst]="false"
                            [options]="data.cruiseLines || []"
                            [showClear]="true"
                            [dropdownIcon]="
                                data.filterLoading?.cruiseLines === true
                                    ? 'pi pi-spinner pi-spin'
                                    : 'pi pi-chevron-down'
                            "
                            appendTo="body"
                        ></p-dropdown>
                    </div>
                    <div class="info-item">
                        <label>Select Cruise Ship</label>
                        <p-dropdown
                            id="ship"
                            name="ship"
                            formControlName="cruiseShip"
                            autocomplete="off"
                            optionLabel="shipName"
                            optionValue="shipId"
                            styleClass="full-width"
                            placeholder="Select a Ship"
                            [autoDisplayFirst]="false"
                            [options]="data.cruiseShips || []"
                            [showClear]="true"
                            [dropdownIcon]="
                                data.filterLoading?.cruiseShips === true
                                    ? 'pi pi-spinner pi-spin'
                                    : 'pi pi-chevron-down'
                            "
                            appendTo="body"
                        ></p-dropdown>
                    </div>
                    <div class="info-item">
                        <label>Select Tour</label>
                        <p-dropdown
                            name="tour"
                            [options]="data.tours || []"
                            formControlName="tour"
                            placeholder="Select Tour"
                            placeholder="Select a Tour"
                            optionValue="tourId"
                            styleClass="full-width"
                            optionLabel="tourName"
                            [autoDisplayFirst]="false"
                            [dropdownIcon]="
                                data.filterLoading?.tours === true
                                    ? 'pi pi-spinner pi-spin'
                                    : 'pi pi-chevron-down'
                            "
                            appendTo="body"
                        >
                        </p-dropdown>
                    </div>
                    <div class="info-item">
                        <label>Select Port</label>
                        <p-dropdown
                            id="port"
                            name="port"
                            formControlName="port"
                            optionValue="portId"
                            optionLabel="portName"
                            autocomplete="off"
                            styleClass="full-width"
                            placeholder="Select Port"
                            [showClear]="true"
                            [autoDisplayFirst]="false"
                            [options]="data.ports || []"
                            [dropdownIcon]="
                                data.filterLoading?.ports === true
                                    ? 'pi pi-spinner pi-spin'
                                    : 'pi pi-chevron-down'
                            "
                            appendTo="body"
                        ></p-dropdown>
                    </div>
                </div>

                <div class="frequency-container">
                    <div class="form-item full-width">
                        <label for="frequency">Recurrence</label>
                        <div class="radio-row">
                            <ng-container *ngFor="let option of options">
                                <div class="radio-item">
                                    <p-radioButton
                                        [inputId]="option.value"
                                        formControlName="frequency"
                                        [value]="option.value"
                                    ></p-radioButton>
                                    <label [for]="option.value">{{
                                        option.label
                                    }}</label>
                                </div>
                            </ng-container>
                        </div>
                    </div>

                    <ng-container
                        *ngIf="
                            deleteInventoryForm.value.frequency !== 'OneTime' &&
                            deleteInventoryForm.value.frequency !== 'Daily'
                        "
                    >
                        <div class="days-container">
                            <span>Days</span>
                            <div class="checkbox-container">
                                <ng-container
                                    *ngFor="let option of dayOfWeekOptions"
                                >
                                    <p-checkbox
                                        name="selectedDays"
                                        formControlName="selectedDays"
                                        [label]="option.label"
                                        [value]="option.value"
                                    >
                                    </p-checkbox>
                                </ng-container>
                            </div>
                        </div>
                    </ng-container>
                    <ng-template #departureDate>
                        <div class="date-item">
                            <label>{{
                                deleteInventoryForm.value.frequency ===
                                'OneTime'
                                    ? 'Departure Date'
                                    : 'From Date'
                            }}</label>
                            <p-calendar
                                #startDate
                                appendTo="body"
                                [readonlyInput]="true"
                                [showIcon]="true"
                                styleClass="calendar-icon"
                                dateFormat="mm/dd/yy"
                                placeholder="Start date"
                                formControlName="fromDate"
                            ></p-calendar>
                        </div>
                    </ng-template>
                    <ng-container
                        *ngIf="
                            deleteInventoryForm.value.frequency !== 'OneTime'
                        "
                    >
                        <div class="date-container">
                            <ng-container
                                *ngTemplateOutlet="departureDate"
                            ></ng-container>
                            <div class="date-item">
                                <label>To Date</label>
                                <p-calendar
                                    #endDate
                                    appendTo="body"
                                    [readonlyInput]="true"
                                    [showIcon]="true"
                                    styleClass="calendar-icon"
                                    dateFormat="mm/dd/yy"
                                    placeholder="End date"
                                    formControlName="toDate"
                                ></p-calendar>
                            </div>
                        </div>
                    </ng-container>
                </div>
                <div class="time-container">
                    <ng-container
                        *ngIf="
                            deleteInventoryForm.value.frequency === 'OneTime'
                        "
                    >
                        <ng-container
                            *ngTemplateOutlet="departureDate"
                        ></ng-container>
                    </ng-container>
                    <div class="time-item">
                        <label>Time Range Start</label>
                        <p-calendar
                            [defaultDate]="defaultTime"
                            appendTo="body"
                            styleClass="p-calendar-timeonly"
                            #startTime
                            [timeOnly]="true"
                            [showIcon]="true"
                            styleClass="calendar-icon"
                            placeholder="Start Time"
                            formControlName="fromTime"
                            hourFormat="12"
                            [stepMinute]="5"
                            [selectOtherMonths]="true"
                            (onFocus)="focusFromTime()"
                        ></p-calendar>
                    </div>
                    <ng-container
                        *ngIf="
                            deleteInventoryForm.value.frequency !== 'OneTime'
                        "
                    >
                        <div class="time-item">
                            <label>Time Range End</label>
                            <p-calendar
                                [defaultDate]="defaultTime"
                                appendTo="body"
                                styleClass="p-calendar-timeonly"
                                #startTime
                                [timeOnly]="true"
                                [showIcon]="true"
                                styleClass="calendar-icon"
                                placeholder="End Time"
                                formControlName="toTime"
                                hourFormat="12"
                                [stepMinute]="5"
                                (onFocus)="focusToTime()"
                            ></p-calendar>
                        </div>
                    </ng-container>
                    <div class="btn-container">
                        <button
                            pButton
                            class="btn btn-primary"
                            [loading]="data.searchStatus === 'loading'"
                            type="submit"
                        >
                            Search
                        </button>
                    </div>
                </div>
            </form>
            <div class="table-container">
                <ng-container
                    *ngIf="data.searchStatus === 'loading'; else inventoryTable"
                >
                    <app-loader-embed [isDisplayed]="true"></app-loader-embed>
                </ng-container>
                <ng-template #inventoryTable>
                    <ng-container *ngIf="data.inventory">
                        <app-delete-inventory-table
                            [availableInventory]="data.inventory || []"
                            (selectedInventory)="onSelectInventory($event)"
                        ></app-delete-inventory-table>
                    </ng-container>
                </ng-template>
            </div>
            <ng-container *ngIf="data.submitStatus === 'error'">
                <div>
                    <span class="text-error">Failed to delete inventory</span>
                </div>
            </ng-container>
            <ng-container *ngIf="data.inventory">
                <div class="delete-allocated-action">
                    <button
                        pButton
                        class="btn btn-primary-inverse"
                        [disabled]="data.submitStatus === 'loading'"
                        (click)="close()"
                    >
                        Cancel
                    </button>
                    <button
                        pButton
                        class="btn btn-primary"
                        [disabled]="selectedInventoriesToDelete.length === 0"
                        [loading]="data.submitStatus === 'loading'"
                        (click)="deleteInventory()"
                    >
                        Delete Inventory
                    </button>
                </div>
            </ng-container>
        </div>
    </p-dialog>
</ng-container>
