<ng-container
    *ngIf="{
        isOpen: (isOpen$ | async) || false,
        status: status$ | async,
        context: context$ | async,
        cruiseShipDetails: cruiseShipDetails$ | async,
        scheduleStatus: scheduleStatus$ | async,
        cruiseLineList: cruiseLineList$ | async,
        shipScheduleList: shipScheduleList$ | async,
    } as data"
>
    <p-dialog
        [(visible)]="data.isOpen"
        (onHide)="close()"
        [modal]="true"
        [style]="{ width: '70vw', height: 'auto' }"
        styleClass="edit-cruise-ship-modal"
        [breakpoints]="{ '700px': '100vw' }"
        [showHeader]="false"
        [draggable]="false"
        [resizable]="false"
        [dismissableMask]="true"
        appendTo="body"
    >
        <div class="modal-inner-container">
            <div class="modal-header">
                <h2>Edit Cruise Ship</h2>
            </div>
            <p-divider></p-divider>
            <form class="modal-body" [formGroup]="editCruiseShipForm">
                <div class="row-container">
                    <div class="cell-container half-width">
                        <label for="shipName">Cruise Ship Name</label>
                        <input
                            pInputText
                            inputId="shipName"
                            name="shipName"
                            formControlName="shipName"
                        />
                    </div>
                    <div class="cell-container half-width">
                        <label for="shipCompanyId">Cruise Line</label>
                        <p-dropdown
                            formControlName="shipCompanyId"
                            autocomplete="off"
                            optionLabel="shipCompanyName"
                            optionValue="shipCompanyId"
                            styleClass="full-width"
                            [options]="data.cruiseLineList || []"
                            [showClear]="true"
                            appendTo="body"
                        ></p-dropdown>
                    </div>
                    <div class="cell-container half-width">
                        <label for="capacity">Capacity</label>
                        <input
                            pInputText
                            inputId="capacity"
                            name="capacity"
                            formControlName="capacity"
                        />
                    </div>
                    <div class="cell-container half-width">
                        <label for="crew_count">Crew Count</label>
                        <input
                            pInputText
                            inputId="crew_count"
                            name="crew_count"
                            formControlName="crew_count"
                        />
                    </div>
                    <div class="cell-container">
                        <label for="launch_year">Launch Year</label>
                        <input
                            pInputText
                            inputId="launch_year"
                            name="launch_year"
                            formControlName="launch_year"
                        />
                    </div>
                    <div class="cell-container">
                        <label for="gross_tonnage">Gross Tonnage</label>
                        <input
                            pInputText
                            inputId="gross_tonnage"
                            name="gross_tonnage"
                            formControlName="gross_tonnage"
                        />
                    </div>
                    <div class="cell-container">
                        <label for="length">Length (meters)</label>
                        <input
                            pInputText
                            inputId="length"
                            name="length"
                            formControlName="length"
                        />
                    </div>
                    <div class="cell-container">
                        <label for="width">Width (meters)</label>
                        <input
                            pInputText
                            inputId="width"
                            name="width"
                            formControlName="width"
                        />
                    </div>
                    <div class="cell-container">
                        <label for="speed">Cruising Speed (knots)</label>
                        <input
                            pInputText
                            inputId="speed"
                            name="speed"
                            formControlName="speed"
                        />
                    </div>
                    <div class="cell-container">
                        <label for="deck_count">Deck Count</label>
                        <input
                            pInputText
                            inputId="deck_count"
                            name="deck_count"
                            formControlName="deck_count"
                        />
                    </div>
                    <div class="cell-container">
                        <label for="cabin_count">Cabin Count</label>
                        <input
                            pInputText
                            inputId="cabin_count"
                            name="cabin_count"
                            formControlName="cabin_count"
                        />
                    </div>
                    <div class="cell-container">
                        <label for="language">Language used on board</label>
                        <input
                            pInputText
                            inputId="language"
                            name="language"
                            formControlName="language"
                        />
                    </div>
                    <div class="cell-container">
                        <label for="shipStatus">Status</label>
                        <p-dropdown
                            formControlName="shipStatus"
                            autocomplete="off"
                            [options]="statusOption || []"
                            optionLabel="label"
                            optionValue="value"
                            [showClear]="true"
                            appendTo="body"
                        ></p-dropdown>
                    </div>
                </div>
                <div class="btn-container">
                    <ng-container *ngIf="data.status === 'error'">
                        <div>
                            <span class="text-error"
                                >Failed to save Cruise Ship</span
                            >
                        </div>
                    </ng-container>

                    <button
                        pButton
                        class="btn btn-primary"
                        class="btn btn-primary-inverse"
                        [disabled]="data.status === 'loading'"
                        (click)="close()"
                    >
                        Cancel
                    </button>
                    <button
                        pButton
                        class="btn btn-primary"
                        [loading]="data.status === 'loading'"
                        [disabled]="
                            data.context?.dataSource === 'WIDGETY-API' ||
                            data.status === 'loading' ||
                            editCruiseShipForm.invalid
                        "
                        (click)="save()"
                    >
                        Save
                    </button>
                </div>
            </form>
            <div class="table-container">
                <div class="header-container">
                    <h4>Upcoming Ship Schedule</h4>
                    <button
                        pButton
                        class="btn btn-primary"
                        (click)="openAddNewShipScheduleModal()"
                    >
                        <i class="pi pi-plus"></i>
                        Add New Ship Schedule
                    </button>
                </div>
                <div class="search-container">
                    <div class="cell-container">
                        <label for="fromDate">Search : </label>
                        <input
                            type="text"
                            autocomplete="off"
                            pInputText
                            placeholder="Search ..."
                            [(ngModel)]="keyword"
                            (ngModelChange)="search()"
                        />
                    </div>
                    <form [formGroup]="searchForm" class="search-form">
                        <div class="cell-container">
                            <label for="fromDate">From : </label>
                            <p-calendar
                                dateFormat="mm/dd/yy"
                                formControlName="fromDate"
                                appendTo="body"
                                [showIcon]="true"
                                styleClass="calendar-icon"
                            >
                            </p-calendar>
                        </div>
                        <div class="cell-container">
                            <label for="toDate">To : </label>
                            <p-calendar
                                dateFormat="mm/dd/yy"
                                formControlName="toDate"
                                appendTo="body"
                                [showIcon]="true"
                                styleClass="calendar-icon"
                            >
                            </p-calendar>
                        </div>
                    </form>
                </div>
                <ng-container
                    [ngSwitch]="data.scheduleStatus?.loadShipScheduleList"
                >
                    <ng-container *ngSwitchCase="'loading'">
                        <app-loader-embed
                            [isDisplayed]="true"
                        ></app-loader-embed>
                    </ng-container>
                    <ng-container *ngSwitchCase="'error'">
                        <div class="error-state">
                            <span>Error loading Ship Schedule</span>
                            <button pButton>Retry</button>
                        </div>
                    </ng-container>
                    <ng-container *ngSwitchCase="'success'">
                        <ng-container *ngIf="data.shipScheduleList">
                            <app-ship-schedule-list-table
                                [keyword]="keyword"
                                [shipScheduleList]="data.shipScheduleList"
                            ></app-ship-schedule-list-table>
                        </ng-container>
                    </ng-container>
                </ng-container>
            </div>
        </div>
    </p-dialog>
</ng-container>
<!-- modal -->
<app-add-new-ship-schedule-modal></app-add-new-ship-schedule-modal>
