<ng-container
    *ngIf="{
        isOpen: (isOpen$ | async) === true,
        agents: filteredAgentList$ | async,
        paymentTypes: paymentTypes,
        context: context$ | async,
        isLoading: isLoading$ | async
    } as data"
>
    <p-dialog
        [(visible)]="data.isOpen"
        (onHide)="close()"
        [modal]="true"
        [style]="{ width: '60vw', height: 'auto' }"
        [breakpoints]="{ '768px': '90vw' }"
        [draggable]="false"
        [resizable]="false"
    >
        <ng-template pTemplate="header">
            <h2>Add Payment</h2>
        </ng-template>
        <ng-container *ngIf="data.context">
            <div class="modal-inner-container">
                <form class="modal-body" [formGroup]="paymentForm">
                    <div class="payment-items">
                        <div class="payment-item">
                            <label for="agent">Agent</label>
                            <p-dropdown
                                id="agent"
                                name="agent"
                                formControlName="agentId"
                                autocomplete="off"
                                optionLabel="partnerName"
                                optionValue="partnerId"
                                [options]="data.agents || []"
                                placeholder="Select Agent"
                                [autoDisplayFirst]="false"
                                [showClear]="true"
                            ></p-dropdown>
                        </div>
                        <div class="payment-item">
                            <label for="paymentDate">Payment Date</label>
                            <p-calendar
                                id="paymentDate"
                                dateFormat="mm/dd/yy"
                                placeholder="Select Date"
                                formControlName="paymentDate"
                                appendTo="body"
                                [showIcon]="true"
                                styleClass="calendar-icon"
                                [selectOtherMonths]="true"
                            >
                            </p-calendar>
                        </div>
                    </div>
                    <br />
                    <div class="payment-items">
                        <div class="payment-item">
                            <label for="agent">Payment Type</label>
                            <p-dropdown
                                id="paymentType"
                                name="paymentType"
                                formControlName="paymentType"
                                autocomplete="off"
                                optionLabel="name"
                                optionValue="paymentType"
                                [options]="data.paymentTypes || []"
                                placeholder="Select Payment Type"
                                [autoDisplayFirst]="false"
                                [showClear]="true"
                            ></p-dropdown>
                        </div>

                        <div class="payment-item">
                            <label for="amount" class="form-control-label"
                                >Amount</label
                            >
                            <input
                                formControlName="amount"
                                id="amount"
                                name="amount"
                                type="text"
                                class="form-control form-control-custom"
                                autocomplete="off"
                                pInputText
                            />
                        </div>
                    </div>
                    <br />
                    <ng-container *ngIf="!data.context.agentId">
                        <div class="show-only-cruiselines-container">
                            <p-checkbox
                                formControlName="showOnlyCruiseLines"
                                [binary]="true"
                                inputId="showOnlyCruiseLines"
                                (ngModelChange)="toggleFilterOnlyCruiseLines()"
                            ></p-checkbox>
                            <label for="showOnlyCruiseLines">
                                Show Only Cruise Lines
                            </label>
                        </div>
                    </ng-container>

                    <div class="btn-container">
                        <button
                            pButton
                            [disabled]="data.isLoading === true"
                            class="btn-primary-inverse"
                            (click)="close()"
                        >
                            Close
                        </button>
                        <button
                            pButton
                            [loading]="data.isLoading === true"
                            class="btn-primary"
                            (click)="addPayment()"
                        >
                            Add
                        </button>
                    </div>
                </form>
            </div>
        </ng-container>
    </p-dialog>
</ng-container>
