<ng-container
    *ngIf="{
        locations: locations$ | async
    } as data"
>
    <form [formGroup]="payrollForm">
        <h3>Employment Information</h3>
        <div class="row-container">
            <div class="field-container">
                <label for="companyEmail">Company email</label>
                <input
                    pInputText
                    inputId="companyEmail"
                    name="companyEmail"
                    formControlName="companyEmail"
                />
            </div>
            <div class="field-container">
                <label htmlFor="employeeFirstDay"
                    >Date First Employed With Company</label
                >
                <p-calendar
                    #employeeFirstDay
                    appendTo="body"
                    [readonlyInput]="true"
                    [showIcon]="true"
                    styleClass="calendar-icon"
                    dateFormat="mm/dd/yy"
                    formControlName="employeeFirstDay"
                ></p-calendar>
            </div>
            <div class="field-container">
                <label htmlFor="employeeLastDay">Employee Last day</label>
                <p-calendar
                    #employeeLastDay
                    appendTo="body"
                    [readonlyInput]="false"
                    [showIcon]="true"
                    styleClass="calendar-icon"
                    dateFormat="mm/dd/yy"
                    formControlName="employeeLastDay"
                ></p-calendar>
            </div>
            <div
                *ngIf="payrollForm.hasError('invalidDateRange')"
                class="field-container full-width"
            >
                <span class="error-message">
                    Employee first day must be before employee last day.</span
                >
            </div>
        </div>

        <div class="row-container">
            <div class="field-container">
                <label class="form-control-label" for="location"
                    >Location</label
                >
                <p-dropdown
                    formControlName="locationId"
                    autocomplete="off"
                    optionLabel="location"
                    optionValue="locationId"
                    [autoDisplayFirst]="false"
                    [options]="data.locations || []"
                    appendTo="body"
                ></p-dropdown>
            </div>
            <div class="field-container">
                <label htmlFor="startDate">Start Date</label>
                <p-calendar
                    #startDate
                    formControlName="startDate"
                    appendTo="body"
                    [readonlyInput]="true"
                    [showIcon]="true"
                    styleClass="calendar-icon"
                    dateFormat="mm/dd/yy"
                ></p-calendar>
            </div>
            <div class="field-container">
                <label htmlFor="arrivalDate">Arrival Date</label>
                <p-calendar
                    #arrivalDate
                    formControlName="arrivalDate"
                    appendTo="body"
                    [readonlyInput]="true"
                    [showIcon]="true"
                    styleClass="calendar-icon"
                    dateFormat="mm/dd/yy"
                    [selectOtherMonths]="true"
                ></p-calendar>
            </div>
        </div>

        <div class="checkbox-container">
            <div
                class="field-container"
                [appPermission]="{
                features: [{
                    feature: features.profile.name,
                    page: features.profile.pages.payroll.name,
                    pageFeature: [
                        features.profile.pages.payroll.features
                            .eligibleForHireView.name
                    ],
                    pageFeatureCheck: 'or',
                }],
                mode: 'none'
            }"
            >
                <label
                    [appPermission]="{
                    features: [{
                        feature: features.profile.name,
                        page: features.profile.pages.payroll.name,
                        pageFeature: [
                            features.profile.pages.payroll.features
                                .eligibleForHireUpdate.name
                        ],
                        pageFeatureCheck: 'or',
                    }],
                    mode: 'childDisabled'
                }"
                >
                    <p-checkbox
                        [binary]="true"
                        formControlName="isEligibleForRehire"
                    >
                    </p-checkbox>
                    <span>Eligible for rehire</span>
                </label>
            </div>
            <div
                class="field-container"
                [appPermission]="{
                features: [{
                    feature: features.profile.name,
                    page: features.profile.pages.payroll.name,
                    pageFeature: [
                        features.profile.pages.payroll.features
                            .isHiredView.name
                    ],
                    pageFeatureCheck: 'or',
                }],
                mode: 'none'
            }"
            >
                <label
                    [appPermission]="{
                    features: [{
                        feature: features.profile.name,
                        page: features.profile.pages.payroll.name,
                        pageFeature: [
                            features.profile.pages.payroll.features
                                .isHiredUpdate.name
                        ],
                        pageFeatureCheck: 'or',
                    }],
                    mode: 'childDisabled'
                }"
                >
                    <p-checkbox [binary]="true" formControlName="isHired">
                    </p-checkbox>
                    <span
                        >Is Hired
                        <i
                            class="pi pi-question-circle"
                            pTooltip="If an employee is currently working, or will be working during the next season, select this box. They will be included in organization chart for staff count for their department"
                            tooltipPosition="bottom"
                        >
                        </i>
                    </span>
                </label>
            </div>
        </div>
    </form>
</ng-container>
