<div class="container">
    <div class="outer-container">
        <div class="header-container">
            <h1><a [routerLink]="['../']">Fleet Management</a></h1>
            <i class="pi pi-angle-right" style="font-size: 2rem"></i>
            <h1 class="current">
                <ng-container
                    *ngIf="equipmentDetail$ | async as equipmentDetail"
                >
                    {{ equipmentDetail.equipmentNumber }}
                </ng-container>
            </h1>
        </div>

        <div class="main-content-container">
            <div
                class="nav-container"
                [appPermission]="{
                    features: editUserFeatures,
                    featureCheck: 'atleastOne',
                    mode: 'none'
                }"
            >
                <ng-container
                    *ngIf="equipmentEditNavOptions$ | async as navOptions"
                >
                    <ng-container *ngIf="navOptions.length > 1">
                        <ng-container *ngFor="let option of navOptions">
                            <a
                                routerLinkActive="active"
                                #rla="routerLinkActive"
                                [routerLink]="option.path"
                            >
                                <span>{{ option.displayName }}</span>
                            </a>
                        </ng-container>
                    </ng-container>
                </ng-container>
            </div>

            <ng-container *ngIf="false; else content">
                <app-loader-embed [isDisplayed]="true"></app-loader-embed>
            </ng-container>
            <ng-template #content>
                <div class="sub-pages-container">
                    <router-outlet></router-outlet>
                </div>
            </ng-template>
        </div>
    </div>
</div>
