<div class="container">
    <ng-container
        *ngIf="{
            status: status$ | async,
            tourPrices: tourPrices$ | async,
            tourId: tourId$ | async
        } as data"
    >
        <div class="main-content">
            <div class="header-row">
                <h2>Tour Price</h2>
                <button
                    pButton
                    class="btn btn-primary"
                    (click)="
                        data.tourId && openAddNewTourPriceModal(data.tourId)
                    "
                    [appPermission]="{
                        features: [{
                            feature:
                                features.toursAndServicesEdit.name,
                            page: features.toursAndServicesEdit.pages
                                .price.name,
                            pageFeature: [
                                features.toursAndServicesEdit.pages
                                    .price
                                    .features.addPrice.name
                            ],
                        }],
                        mode: 'none'
                    }"
                >
                    <i class="pi pi-plus"></i>
                    Add New
                </button>
            </div>

            <ng-container [ngSwitch]="data.status">
                <ng-container *ngSwitchCase="'loading'">
                    <app-loader-embed [isDisplayed]="true"></app-loader-embed>
                </ng-container>
                <ng-container *ngSwitchCase="'error'">
                    <div class="error-state">
                        <span>Error loading tour prices</span>
                        <button pButton (click)="refresh()">Retry</button>
                    </div>
                </ng-container>
                <ng-container *ngSwitchCase="'success'">
                    <ng-container
                        *ngIf="
                            data.tourPrices && data.tourPrices.length > 0;
                            else emptyTourPrices
                        "
                    >
                        <app-price-table
                            [tourPrices]="data.tourPrices"
                        ></app-price-table>
                    </ng-container>
                    <ng-template #emptyTourPrices>
                        <div class="empty-container">
                            <span class="body">Tour has no prices set</span>
                        </div>
                    </ng-template>
                </ng-container>
            </ng-container>
        </div>
    </ng-container>
</div>
<!-- modals -->
<app-add-new-tour-price-modal></app-add-new-tour-price-modal>
<app-edit-tour-price-modal></app-edit-tour-price-modal>
<app-remove-tour-price-modal></app-remove-tour-price-modal>
