<div class="container">
    <div class="header-container">
        <h1 class="current">Cruise Lines</h1>
    </div>

    <div class="content-container">
        <ng-container
            *ngIf="{
                status: status$ | async,
                cruiseLineList: cruiseLineList$ | async,
            } as config"
        >
            <div class="content-header-container">
                <div class="search-container">
                    <input
                        type="text"
                        autocomplete="off"
                        pInputText
                        placeholder="Search ..."
                        [(ngModel)]="keyword"
                        (ngModelChange)="search()"
                    />
                </div>
                <div class="additional-controls-container">
                    <div class="show-inactive">
                        <p-inputSwitch
                            name="showInactive"
                            [(ngModel)]="showInactive"
                            (ngModelChange)="showInactiveChange()"
                        ></p-inputSwitch>
                        <label for="showInactive">Show Inactive</label>
                    </div>
                    <button
                        pButton
                        class="btn btn-primary"
                        (click)="openAddNewCruiseLineModal()"
                    >
                        <i class="pi pi-plus"></i>
                        Add New Cruise Line
                    </button>
                </div>
            </div>
            <ng-container [ngSwitch]="config.status?.loadCruiseLineList">
                <ng-container *ngSwitchCase="'loading'">
                    <app-loader-embed [isDisplayed]="true"></app-loader-embed>
                </ng-container>
                <ng-container *ngSwitchCase="'error'">
                    <div class="error-state">
                        <span>Error loading Cruise Lines</span>
                        <button pButton>Retry</button>
                    </div>
                </ng-container>
                <ng-container *ngSwitchCase="'success'">
                    <ng-container
                        *ngIf="
                            config.cruiseLineList &&
                                config.cruiseLineList.length > 0;
                            noTours
                        "
                    >
                        <div class="table-container">
                            <p-table
                                #cruiseLinesTable
                                [value]="config.cruiseLineList || []"
                                [scrollable]="true"
                                dataKey="userEmail"
                                [tableStyle]="{ width: '100%' }"
                                [rows]="20"
                                [rowsPerPageOptions]="[20, 50, 100]"
                                [paginator]="true"
                                [showCurrentPageReport]="true"
                                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                                [globalFilterFields]="['shipCompanyName']"
                            >
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>Cruise Line</th>
                                        <th>Logo</th>
                                        <th>
                                            Number of ships scheduled<br />
                                            for Active Port List
                                        </th>
                                        <th>Data Source</th>
                                        <th>Is Live</th>
                                        <th alignFrozen="right" pFrozenColumn>
                                            Action
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-item>
                                    <tr>
                                        <td>{{ item.shipCompanyName }}</td>
                                        <td>
                                            <img
                                                src="{{ item.shipCompanyLogo }}"
                                            />
                                        </td>
                                        <td>{{ item.shipCounts }}</td>
                                        <td>{{ item.dataSource }}</td>
                                        <td>
                                            <ng-container
                                                *ngIf="item.isLive; else isLive"
                                            >
                                                Yes
                                            </ng-container>
                                            <ng-template #isLive>
                                                No
                                            </ng-template>
                                        </td>
                                        <td alignFrozen="right" pFrozenColumn>
                                            <div class="actions-container">
                                                <button
                                                    pButton
                                                    icon="pi pi-pencil"
                                                    class="p-button-text edit"
                                                    pTooltip="Edit"
                                                    tooltipPosition="left"
                                                    (click)="
                                                        openEditCruiseLineModal(
                                                            item
                                                        )
                                                    "
                                                ></button>
                                                <button
                                                    pButton
                                                    icon="pi pi-list"
                                                    class="p-button-text edit"
                                                    pTooltip="Tour/Service"
                                                    tooltipPosition="left"
                                                    (click)="
                                                        openTourServiceListModal(
                                                            item
                                                        )
                                                    "
                                                ></button>
                                                <ng-container
                                                    *ngIf="
                                                        !showInactive;
                                                        else restoreTem
                                                    "
                                                >
                                                    <button
                                                        pButton
                                                        icon="pi pi-trash"
                                                        class="p-button-text delete"
                                                        pTooltip="Delete"
                                                        tooltipPosition="left"
                                                        (click)="
                                                            openRemoveCruiseLineModal(
                                                                item
                                                            )
                                                        "
                                                    ></button>
                                                </ng-container>
                                                <ng-template #restoreTem>
                                                    <button
                                                        pButton
                                                        icon="pi pi-replay"
                                                        class="p-button-text delete"
                                                        pTooltip="Restore"
                                                        tooltipPosition="left"
                                                        (click)="
                                                            openRestoreCruiseLineModal(
                                                                item
                                                            )
                                                        "
                                                    ></button>
                                                </ng-template>
                                            </div>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </ng-container>
                    <ng-template #noUsers>
                        <div class="empty-state">
                            <span>You don't have any Cruise Line.</span>
                        </div>
                    </ng-template>
                </ng-container>
            </ng-container>
        </ng-container>
    </div>
</div>

<!-- modals -->
<app-add-new-cruise-line-modal></app-add-new-cruise-line-modal>
<app-edit-cruise-line-modal></app-edit-cruise-line-modal>
<app-cruise-line-tour-list-modal></app-cruise-line-tour-list-modal>
<app-remove-cruise-line-modal></app-remove-cruise-line-modal>
<app-restore-cruise-line-modal></app-restore-cruise-line-modal>
