<ng-container
    *ngIf="{
        isOpen: (isOpen$ | async) || false,
        status: status$ | async,
    } as data"
>
    <p-dialog
        [(visible)]="data.isOpen"
        (onHide)="close()"
        [modal]="true"
        [style]="{ width: '60vw', height: 'auto' }"
        styleClass="add-equipment-type-modal"
        [breakpoints]="{ '700px': '100vw' }"
        [showHeader]="false"
        [draggable]="false"
        [resizable]="false"
        [dismissableMask]="true"
        appendTo="body"
    >
        <div class="modal-inner-container">
            <div class="modal-header">
                <h2>Add New Equipment Type</h2>
            </div>
            <p-divider></p-divider>
            <div class="modal-body">
                <form [formGroup]="addEquipmentTypeForm">
                    <div class="row-container">
                        <div class="cell-container">
                            <label for="equipmentType"
                                >Equipment Type Name</label
                            >
                            <input
                                pInputText
                                inputId="equipmentType"
                                name="equipmentType"
                                formControlName="equipmentType"
                            />
                        </div>
                        <div class="cell-container">
                            <label for="dailyMaxUsageLimit"
                                >Daily Max Usage Limit</label
                            >
                            <input
                                pInputText
                                type="number"
                                inputId="dailyMaxUsageLimit"
                                name="dailyMaxUsageLimit"
                                formControlName="dailyMaxUsageLimit"
                            />
                        </div>
                        <div class="cell-container full-width">
                            <label for="description">Description</label>
                            <input
                                pInputText
                                inputId="description"
                                name="description"
                                formControlName="description"
                            />
                        </div>
                        <div class="cell-container">
                            <label for="engineOilChangeevery"
                                >Engine Oil Change every(miles)</label
                            >
                            <input
                                pInputText
                                type="number"
                                inputId="engineOilChangeevery"
                                name="engineOilChangeevery"
                                formControlName="engineOilChangeevery"
                            />
                        </div>
                        <div class="cell-container">
                            <label for="differentialOilChangeevery"
                                >Differential Oil Change every(miles)</label
                            >
                            <input
                                pInputText
                                type="number"
                                inputId="differentialOilChangeevery"
                                name="differentialOilChangeevery"
                                formControlName="differentialOilChangeevery"
                            />
                        </div>
                        <div class="cell-container">
                            <label for="transmissionOilChangeevery"
                                >Transmission Oil Change every(miles)</label
                            >
                            <input
                                pInputText
                                type="number"
                                inputId="transmissionOilChangeevery"
                                name="transmissionOilChangeevery"
                                formControlName="transmissionOilChangeevery"
                            />
                        </div>
                        <div class="cell-container">
                            <label for="hydraulicOilChangeevery"
                                >Hydraulic Oil Change every(miles)</label
                            >
                            <input
                                pInputText
                                type="number"
                                inputId="hydraulicOilChangeevery"
                                name="hydraulicOilChangeevery"
                                formControlName="hydraulicOilChangeevery"
                            />
                        </div>
                        <div class="cell-container">
                            <label for="batteryChangeCheckevery"
                                >Battery Change/Check every(months)</label
                            >
                            <input
                                pInputText
                                type="number"
                                inputId="batteryChangeCheckevery"
                                name="batteryChangeCheckevery"
                                formControlName="batteryChangeCheckevery"
                            />
                        </div>
                        <div class="cell-container">
                            <label for="coolantFlushChangeevery"
                                >Coolant Flush/Change every(months)</label
                            >
                            <input
                                pInputText
                                type="number"
                                inputId="coolantFlushChangeevery"
                                name="coolantFlushChangeevery"
                                formControlName="coolantFlushChangeevery"
                            />
                        </div>
                    </div>
                    <div class="row-container">
                        <label class="radio-btns-label">
                            Select how usage is tracked with this equipment
                            type:
                        </label>
                        <div class="radio-container">
                            <p-radioButton
                                value="lastOdometerMileage"
                                formControlName="usage"
                            />
                            <label> Last Odometer Mileage </label>
                        </div>
                        <div class="radio-container">
                            <p-radioButton
                                value="hoursMeter"
                                formControlName="usage"
                            />
                            <label> Hours Meter </label>
                        </div>
                    </div>
                </form>
                <form [formGroup]="equipmentTypeFieldForm">
                    <ng-container formArrayName="equipmentTypeFields">
                        <div class="row-container">
                            <ng-container
                                *ngFor="
                                    let list of equipmentTypeFieldForm.controls
                                        .equipmentTypeFields.controls;
                                    let i = index
                                "
                            >
                                <div
                                    class="checkbox-container"
                                    [formGroupName]="i"
                                >
                                    <p-checkbox
                                        formControlName="isActive"
                                        [binary]="true"
                                        [value]="list?.get('isActive')?.value"
                                    ></p-checkbox>
                                    <label>
                                        {{
                                            list?.get('equipmentTypeFieldName')
                                                ?.value
                                        }}</label
                                    >
                                </div>
                            </ng-container>
                        </div>
                    </ng-container>
                </form>
                <div class="btn-container">
                    <ng-container *ngIf="data.status === 'error'">
                        <div>
                            <span class="text-error"
                                >Failed to add Equipment Type</span
                            >
                        </div>
                    </ng-container>

                    <button
                        pButton
                        class="btn btn-primary"
                        class="btn btn-primary-inverse"
                        [disabled]="data.status === 'loading'"
                        (click)="close()"
                    >
                        Cancel
                    </button>
                    <button
                        pButton
                        class="btn btn-primary"
                        [loading]="data.status === 'loading'"
                        [disabled]="
                            addEquipmentTypeForm.invalid ||
                            data.status === 'loading'
                        "
                        (click)="save()"
                    >
                        Add
                    </button>
                </div>
            </div>
        </div>
    </p-dialog>
</ng-container>
