<ng-container
    *ngIf="{
        isOpen: (isOpen$ | async) || false,
        status: status$ | async,
        roles: roles$ | async
    } as data"
>
    <p-dialog
        [(visible)]="data.isOpen"
        (onHide)="close()"
        [modal]="true"
        [style]="{ width: '400px', height: 'auto' }"
        styleClass="create-role"
        [breakpoints]="{ '768px': '80vw' }"
        [showHeader]="false"
        [draggable]="false"
        [resizable]="false"
        [dismissableMask]="true"
        appendTo="body"
    >
        <div class="modal-inner-container">
            <div class="modal-header">
                <h2>Add Role</h2>
            </div>
            <p-divider></p-divider>

            <form [formGroup]="newRoleForm" (ngSubmit)="save()">
                <div class="field-container">
                    <label for="roleName">Role Name</label>
                    <input
                        pInputText
                        formControlName="roleName"
                        name="roleName"
                    />
                </div>
                <div class="field-container">
                    <label for="copyFromRoleId">Copy Settings From</label>
                    <p-dropdown
                        formControlName="copyFromRoleId"
                        name="copyFromRoleId"
                        autocomplete="off"
                        optionLabel="name"
                        optionValue="id"
                        [autoDisplayFirst]="false"
                        placeholder="Select Existing Role"
                        [options]="data.roles || []"
                        appendTo="body"
                    ></p-dropdown>
                </div>
                <ng-container *ngIf="data.status === 'error'">
                    <div class="error-message">
                        <span class="text-error">Failed to add new role</span>
                    </div>
                </ng-container>
                <div class="buttons-container">
                    <button
                        pButton
                        class="btn btn-primary-inverse"
                        type="button"
                        (click)="close()"
                    >
                        Cancel
                    </button>
                    <button
                        pButton
                        class="btn btn-primary"
                        type="submit"
                        [loading]="data.status === 'loading'"
                    >
                        Add
                    </button>
                </div>
            </form>
        </div>
    </p-dialog>
</ng-container>
