.modal-inner-container {
    display: flex;
    flex-direction: column;
    position: relative;
    .modal-header {
        position: sticky;
        top: 0;
        display: flex;
        flex-direction: column;
        gap: var(--spacing-2xs);
        background-color: var(--color-white);
        padding-bottom: 0;
        padding-top: var(--spacing-sm);
        z-index: 20;
    }
    h2 {
        margin-bottom: 0;
    }

    form {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-xs);

        .info-container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: var(--gap-sm);
            width: 100%;

            .info-item {
                display: flex;
                flex-direction: column;
                width: calc(50% - var(--gap-sm));

                ::ng-deep .full-width {
                    width: 100%;
                }
                input[type='file'] {
                    border: 1px solid var(--color-gray-300) !important;
                    border-radius: var(--border-radius-base) !important;
                }
                input[type='file']::file-selector-button {
                    margin-right: 20px;
                    font-size: 1rem;
                    background-color: var(--color-blue-500);
                    padding: 0.85rem 1.25rem;
                    border-radius: var(--border-radius-base) !important;
                    color: #fff;
                    cursor: pointer;
                    transition: background-color 0.2s ease-in-out;
                }

                input[type='file']::file-selector-button:hover {
                    background-color: var(--color-blue-600);
                }
            }
            .date-item {
                display: flex;
                flex-direction: column;
                width: calc(50% - var(--gap-sm));
            }
            .note-textarea {
                display: flex;
                flex-direction: column;
                width: calc(50% - var(--gap-sm));
                label {
                    align-items: left !important;
                }
            }
        }

        .btn-container {
            display: flex;
            align-self: flex-end;
            gap: var(--gap-xs);
        }
    }
}

::ng-deep .edit-user-training > .p-dialog-content {
    border-top: 5px solid var(--color-blue-300);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
